﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;
@Html.AntiForgeryToken()

@{
    if (ViewBag.Id > 0)
    {
        ViewBag.Title = "Edit CuratedList";

    }
    else
    {
        ViewBag.Title = "Create CuratedList";
    }
}

<div class="content container-fluid">


    <div class="row align-items-center justify-content-between mb-2">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.CuratedList)" style="color: #0596F8;">Curated List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
            <h3 class="fw-bold">@ViewBag.Title</h3>
        </div>

    </div>


    <div class="row">
        <div class="col-12">
            <div class="card-body p-0">
                <form id="frmCuratedList" name="frmCuratedList" method="post" enctype="multipart/form-data" action="javascript:SaveCuratedListData();">
                    <div class="row">
                        <div class="col-12 mb-2">
                            <label>CuratedList Name</label>
                            <input type="hidden" id="CuratedListId" name="CuratedListId" value="@ViewBag.Id" />
                            <input type="text" id="CuratedListName" name="CuratedListName" class="form-control" placeholder="Please enter curatedlist name" />
                        </div>

                        <div class="col-12 mb-2">
                            <label>Description</label>
                            <input type="text" id="Description" name="Description" class="form-control" placeholder="Please enter description" />
                        </div>
                        <div class="col-12 mb-4">
                            <label>Product Tags</label>
                            <input type="text" name="Tags" id="Tags" class="form-control w-100"/>
                        </div>
                        <div class="col-12 mb-4">
                            <div class="card table-responsive">
                                <div class="card-body">
                                    <div class="table-responsive" id="ShopDataDiv">
                                        <table class="table border rounded w-100" id="ShopData"></table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="  col-12 text-right p-4">
                            <input type="submit" value="Save" class="btn btn-primary saveBtn" />
                            <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Saving...
                            </button>
                            <a href="@Url.Action(Actions.Index,Controllers.CuratedList)" class="btn btn-danger closeBtn">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    @*<script src="~/assets/vendors/jQuery-tagEditor-master/jQuery-tagEditor-master/jquery.caret.min.js"></script>
        <link href="~/assets/vendors/jQuery-tagEditor-master/jQuery-tagEditor-master/jquery.tag-editor.css" rel="stylesheet" />
        <script src="~/assets/vendors/jQuery-tagEditor-master/jQuery-tagEditor-master/jquery.tag-editor.js"></script>*@

    <script src="~/assets/vendors/jQuery-JSON-TagEditor-master/jquery.caret.min.js"></script>
    <link href="~/assets/vendors/jQuery-JSON-TagEditor-master/jquery.json-tag-editor.css" rel="stylesheet" />
    <script src="~/assets/vendors/jQuery-JSON-TagEditor-master/jquery.json-tag-editor.js"></script>

    <script>
        $(document).ready(() => {

            $("#frmCuratedList").validate({
                rules: {
                    CuratedListName: "required",
                    Description: "required",
                    Tags: "required"
                },
                messages: {
                    CuratedListName: {
                        required: "Curated name is required",
                    },
                    Description: {
                        required: "Description is required",
                    },
                    Tags: {
                        required: "Tags is required",
                    }
                },

                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents(".form-group"));
                    } else {
                        // This is the default behavior
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    SaveCuratedListData();
                }
            });

            ShopDataShow.init();

            if (@ViewBag.Id > 0) {
                BindData();
            }

            $('#Tags').jsonTagEditor({ placeholder: 'Enter tags ...' });
        });

        function BindData()
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetData, Controllers.CuratedList)',
                data: {Id : @ViewBag.Id },
                dataType: 'json',
                async: true,

                success: function (response) {

                    if (response.Code == 200) {
                        $("#CuratedListName").val(response.Item.CuratedListName);
                        $("#Description").val(response.Item.Description);
                        //$("#Tags").val(response.Item.Tags);
                        $("#ShopIdList").val(response.Item.ShopIdList);
                        var CuratedShopList = response.Item.ShopIdList;
                        $('.chk_shops[type="checkbox"]').map(function () {
                            CuratedShopList.includes($(this).val()) ? $(this).prop('checked', true) : $(this).prop('checked', false)
                        });

                        var str = response.Item.Tags;
                        var temp = new Array();
                        // This will return an array with strings "1", "2", etc.
                        temp = str.split(",");

                        for (var i = 0; i < temp.length; i++) {
                            $('#Tags').jsonTagEditor('addTag', temp[i]);
                        }


                        //$('#Tags').jsonTagEditor({
                        //    initialTags: [response.Item.Tags]
                        //});
                    } else {

                        toastr["error"](response.Message);
                    }
                    },
                    error: function (error) {
                        toastr["error"]("Something went wrong");
                    }
                });
        }

        function SaveCuratedListData()
        {
            $(".saveBtn").hide();
            $(".loading").show();
            $(".closeBtn").hide();

            var arr = [];
            $('input.chk_shops:checkbox:checked').each(function () {
                arr.push($(this).val());
            });
            var formdata = new FormData();
            formdata.append("Id", $("#CuratedListId").val());
            formdata.append("CuratedListName", $("#CuratedListName").val());
            formdata.append("Tags", $("#Tags").val());
            formdata.append("Description", $("#Description").val());
            formdata.append("ShopIdList", arr.toString());

            var countChk = $('.chk_shops:checked').length;

            if (countChk > 0) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.SaveCuratedList, Controllers.CuratedList)',
                    data: formdata,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.Code == 200) {
                            toastr["success"](response.Message);
                            window.location.href = "@Url.Action(Actions.Index,Controllers.CuratedList)";
                        } else {
                            toastr["error"](response.Message);
                        }
                        $(".saveBtn").show();
                        $(".loading").hide();
                        $(".closeBtn").show();
                    },
                    error: function (error) {
                        toastr["error"]("Something went wrong");
                        $(".saveBtn").show();
                        $(".loading").hide();
                        $(".closeBtn").show();
                    }
                });
            }
            else {
                toastr["error"]('Please Select At Least One Shop');
                $(".saveBtn").show();
                $(".loading").hide();
                $(".closeBtn").show();
            }

        }

        var ShopDataShow = function () {
            let initTable1 = function () {
                let table = $('#ShopData');

                    let oTable = table.dataTable({
                    "stateSave": false,
                    "autoWidth": false,
                    "paging": true,
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.ViewAllDataShop, Controllers.Shop)',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                    "columns": [
                        {
                            "title": "Shop ID", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `<input type="checkbox" class='chk_shops' id='chk_${row["Id"]}' value='${row["Id"]}'>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                    {
                        "title": "Shop ID", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["Id"] == "" || row["Id"] == null ? '-' : row["Id"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Shop Name", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["ShopName"] == "" || row["ShopName"] == null ? '-' : row["ShopName"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },

                    {
                        "title": "Primary Category", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["CategoryName"] == "" || row["CategoryName"] == null ? '-' : row["CategoryName"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "All Category", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["SubCategoryName"] == "" || row["SubCategoryName"] == null ? '-' : row["SubCategoryName"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    }

                ],
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#ShopData")) {
                        $('#ShopData').dataTable().fnDestroy();
                        $('#ShopDataDiv').html('<table class="table border rounded w-100" id="ShopData"></table>');
                    }
                    initTable1();
                }
            };
        }();



        function BuildSearchCriteria() {
            try {
                var param = {};
                //param["Id"] = $("#ShopId").val();
                //param["ShopName"] = $("#ShopName").val();
                //param["ShopOwnerName"] = $("#OwnerName").val();
                //param["MobileNumber"] = $("#PhoneNumber").val();
                param["CityId"] = $("#ShopCity").val();
                param["CategoryId"] = $("#PrimaryCategory").val();
                param["SubCategoryId"] = $("#AllCategory").val();
                param["ShopRatingsId"] = $("#ShopRating").val();
                param["ShopStatus"] = $("#ShopOBStatus").val();
                param["DraftStatus"] = $("#DraftStatus").val();
                return addRequestVerificationToken(param);
            } catch (e) { }
        }
        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }
    </script>
}