﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Download";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="content container-fluid">


    <div class="row align-items-center justify-content-between mb-2">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="download">Download </li>
                </ol>
            </nav>
        </div>
    </div>
    <form id="frmTableList">
        <h3 class="fw-bold">Download</h3>
        <div class="row">
            <div class="col-12">
                <div class="card table-responsive">
                    <div class="card-body">
                        <div class="row justify-content-end">
                            <div class="col-auto">
                                @*<button role="button" class="btn btn-primary btn-wide m-1" onclick="showSearchmodal();"><i class="tio-filter-outlined"></i> Filter</button>
                                    <button role="button" class="btn btn-outline-secondary m-1" onclick="SearchReset(true);">Clear filters</button>*@
                            </div>
                        </div>
                        <div class="table-responsive" id="divtableDownload">
                            <table class="table border rounded w-100" id="tableDownload"></table>
                        </div>

                        <!--<div class="modal-footer">
                            <button id="addNewproducttypebtn" type="button" onclick="ExportTable();" class="btn btn-primary saveBtn">Download</button>-->
                            @*<input type="submit" value="Download" class="btn btn-primary saveBtn" />*@
                            <!--<button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Saving...
                            </button>

                        </div>-->
                    </div>
                </div>
            </div>


        </div>
    </form>
    @section Scripts{
        <script>
        $(document).ready(function () {
            DownloadDataTable.init();
        });

        //DownloadDataTable DataTable Bind
        var DownloadDataTable = function () {
            let initTable1 = function () {
                let table = $('#tableDownload');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.GetAllDownload, Controllers.Download)',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                "columns": [
                    {
                        "title": "Table Name", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["TABLE_NAME"] == "" || row["TABLE_NAME"] == null ? '-' : row["TABLE_NAME"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Action", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a href="/Download/ExportTable?tablename=${row["TABLE_NAME"]}">Download</a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },

               ],
                // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                        //{
                        //    "extend": 'csv',
                        //    className: 'them-btn btn-info tbtn1',
                        //    "action": newexportaction
                        //},
                    ],


                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500] // change per page values here
                    ],
                    // set the initial value
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#tableDownload")) {
                        $('#tableDownload').dataTable().fnDestroy();
                        $('#divtableDownload').html('<table class="table border rounded w-100" id="tableDownload"></table>');
                    }
                    initTable1();
                }
            };
        }();
        function closeModal() {
            $('#EditPagePopup').modal('hide');
        }

        function ExportTable()
        {
            $(".saveBtn").hide();
            $(".loading").show();
            $(".closeBtn").hide();

            if ($(".radio_tables").val() != undefined && $(".radio_tables").val() != null && $(".radio_tables").val() != "") {
                
                $.ajax({
                    url: '@Url.Action(Actions.ExportTable, Controllers.Download)',
                    type: "POST",
                    data: { tablename: $(".radio_tables").val()},
                    dataType: 'json',
                    async: true,
                    success: function (response) {
                        if (response.Code == 200) {
                            toastr["success"](response.Message);
                            window.location.href = "@Url.Action(Actions.Index,Controllers.Download)";
                        } else {
                            toastr["error"](response.Message);
                        }
                        $(".saveBtn").show();
                        $(".loading").hide();
                        $(".closeBtn").show();
                    },
                    error: function (error) {
                        toastr["error"]("Something went wrong");
                        $(".saveBtn").show();
                        $(".loading").hide();
                        $(".closeBtn").show();
                    }
                });
            }
            else {
                toastr["error"]('Please Select At Least One Shop');
                $(".saveBtn").show();
                $(".loading").hide();
                $(".closeBtn").show();
            }

        }
        //Data fillter function
        function BuildSearchCriteria() {
            try {
                var param = {};

                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        function EditPromoCode(id)
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetPromoCodeById, Controllers.Pages)',
                data: { Id: id },
                dataType: 'json',
                success: function (response) {
                    $('#Id').val(response.Item.Id)
                    $('#Name').val(response.Item.Name)
                    $('#SubPageAction').val(response.Item.SubPageAction)
                    $('#OrderNo').val(response.Item.OrderNo)
                    $('#EditPagePopup').modal('show');
                },
                error: function (error) {
                    toastr["error"]("Something went wrong !");
                }
            });
        }
        </script>
    }
