﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Pages";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="content container-fluid">


    <div class="row align-items-center justify-content-between mb-2">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Pages </li>
                </ol>
            </nav>
        </div>

        @*<div class="col-auto">
            <button class="btn btn-primary" data-target="#addNewPage" data-toggle="modal" role="button" onclick="AddPageCode();"><i class="tio-add"></i> Add new Page</button>
        </div>*@

    </div>

    <h3 class="fw-bold">Pages</h3>
    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            @*<button role="button" class="btn btn-primary btn-wide m-1" onclick="showSearchmodal();"><i class="tio-filter-outlined"></i> Filter</button>
                                <button role="button" class="btn btn-outline-secondary m-1" onclick="SearchReset(true);">Clear filters</button>*@
                        </div>
                    </div>
                    <div class="table-responsive" id="divtableBanner">
                        <table class="table border rounded w-100" id="tableBanner"></table>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>
<div class="modal" id="EditPagePopup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">
                   
                </h6>
            </div>
            <form method="post" id="frmProductype">
                <div class="modal-body">
                    <div class="row clearfix">
                        <input type="hidden" id="Id" name="Id" />
                        <div class="col-sm-12">
                            <label>Name</label>
                            <div class="form-group">
                                <input type="text" id="Name" name="Name" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label>Sub Page Action</label>
                            <div class="form-group">
                                <input type="text" id="SubPageAction" name="SubPageAction" class="form-control" />
                            </div>
                        </div>
                        <div class="col-12">
                            <label>Order No</label>
                            <input type="number" class="form-control" placeholder="OrderNo" id="OrderNo" name="OrderNo" required />
                        </div>
                        <div class="col-12">
                            <label>IsActive</label>
                            <select id="IsActive" name="IsActive" class="form-control" required>
                                <option selected value="">Select Status</option>
                                <option value="true">Active</option>
                                <option value="false">InActive</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addNewproducttypebtn" type="button" onclick="EditPageCode();" class="btn btn-primary saveBtn">Save</button>
                    <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Saving...
                    </button>
                    <button type="button" class="btn btn-secondary closeBtn" onclick="closeModal();">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            ActiveOfferDataTable.init();
        });

        //Orders DataTable Bind
        var ActiveOfferDataTable = function () {
            let initTable1 = function () {
                let table = $('#tableBanner');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.GetAllPages, Controllers.Pages)',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                "columns": [
                    {
                        "title": "Page Name", "data": "Name",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["Name"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "13%"
                    },
                    {
                        "title": "Sub Page Action", "data": "SubPageAction",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["SubPageAction"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    //{
                    //    "title": "OrderNo", "data": "OrderNo",
                    //    "render": function (data, type, row) {
                    //        let htmlData = "";
                    //        htmlData = `${row["OrderNo"]}`;
                    //        return htmlData;
                    //    }
                    //    , "orderable": false, "width": "3%"
                    //},
                    {
                        "title": "Shift Up", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a title="Shift Up" onclick="UpdateShifting(${row["Id"]},true);" class="btn btn-outline-secondary btn-sm"><span class="fa fa-arrow-up"></span></a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Shift Down", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a title="Shift Down" onclick="UpdateShifting(${row["Id"]},false);" class="btn btn-outline-secondary btn-sm"><span class="fa fa-arrow-down"></span></a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Action", "data": "CreatedDate",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData += `<a class="btn btn-sm btn-outline-secondary mr-1" title="Edit Pages" onclick="EditPromoCode('${row["Id"]}');"><i class="fa fa-edit"></i></a>`;
                            htmlData += `<a title="Delete Pages" class="btn btn-outline-secondary btn-sm" onclick="ConfirmDelete(${row["Id"]})"><i class="fa fa-trash"></i></a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
               ],
                // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                        {
                            text: "Add new Page",
                            className: "them-btn btn-primary tbtn",
                            action: openModal
                        },
                        {
                            "extend": 'csv',
                            className: 'them-btn btn-info tbtn1',
                            "action": newexportaction
                        },
                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500] // change per page values here
                    ],
                    // set the initial value
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#tableBanner")) {
                        $('#tableBanner').dataTable().fnDestroy();
                        $('#divtableBanner').html('<table class="table border rounded w-100" id="tableBanner"></table>');
                    }
                    initTable1();
                }
            };
        }();


        function UpdateShifting(id,isUp)
         {
             id = parseInt(id);
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.UpdateDisplayOrderNo, Controllers.Pages)',
                data: { Id: id, IsUp: isUp },
                dataType: 'json',
                async: false,
                success: function (response) {
                    ActiveOfferDataTable.init();
                },
                error: function (error) {
                    toastr["error"]("Something Went Wrong");
                }
            });
        }
        function openModal() {
            $('#EditPagePopup').modal('show');
        }
        function closeModal() {
            $("#Name").val("");
            $("#SubPageAction").val("");
            $("#OrderNo").val("");
            $("#IsActive").val("");
            $('#EditPagePopup').modal('hide');
        }
        //function AddPageCode() {
        //    

        //    $("#Id").val("");
        //    $("#Name").val("");
        //    $("#SubPageAction").val("");
        //    $("#OrderNo").val("");
        //    //$("#IsAvtive").val("");
        //    $('#defaultModalLabel').text('Add New Page Information');
        //    $('#EditPagePopup').modal('show');
        //}
        function EditPageCode() {

            $('#EditPagePopup').modal('hide');
            
            $(".loading").show();
            $(".saveBtn").hide();
            $(".closeBtn").hide();

            var ObjectAddDevice = {
                Id: $("#Id").val(),
                Name: $("#Name").val(),
                SubPageAction: $("#SubPageAction").val(),
                OrderNo: $("#OrderNo").val(),
                IsActive: $("#IsActive").val()
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.PagesEdit, Controllers.Pages)',
                data: ObjectAddDevice,
                dataType: 'json',
                success: function (response) {
                    if (response.Code == 200) {
                        $("#Name").val("");
                        $("#SubPageAction").val("");
                        $("#OrderNo").val("");
                        $("#IsActive").val("");
                        toastr["success"](response.Message);
                        ActiveOfferDataTable.init();
                        $('#EditPagePopup').modal('hide');
                    } else {
                        toastr["error"](response.Message);
                    }
                    $(".loading").hide();
                    $(".closeBtn").show();
                    $(".saveBtn").show();

                },
                error: function (error) {
                    $(".loading").hide();
                    $(".closeBtn").show();
                    $(".saveBtn").show();
                }
            });
        }

        //Data fillter function
        function BuildSearchCriteria() {
            try {
                var param = {};

                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        function EditPromoCode(id)
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetPromoCodeById, Controllers.Pages)',
                data: { Id: id },
                dataType: 'json',
                success: function (response) {
                    $('#Id').val(response.Item.Id)
                    $('#Name').val(response.Item.Name)
                    $('#SubPageAction').val(response.Item.SubPageAction)
                    $('#OrderNo').val(response.Item.OrderNo)
                    $('#defaultModalLabel').text('Edit Page Information');
                    $('#EditPagePopup').modal('show');
                },
                error: function (error) {
                    toastr["error"]("Something went wrong !");
                }
            });
        }


        function ConfirmDelete(id)
        {
            id = parseInt(id);
            let confirmBox = confirm("Are You Sure You want to Delete this Page ?");
            if (confirmBox) {
                DeletePages(id);
            }
        }
        function DeletePages(id)
        {
            $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.DeletePages, Controllers.Pages)',
                data: { Id: id },
                    dataType: 'json',
                    async: false,
                success: function (response) {

                    toastr["success"](response.Message);
                    ActiveOfferDataTable.init();
                    },
                    error: function (error) {
                        toastr["error"]("Something Went Wrong");
                    }
                });
        }
    </script>
}
