﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;
@Html.AntiForgeryToken()

@{
    if (ViewBag.Id > 0)
    {
        ViewBag.Title = "Edit Page";
    }
    else
    {
        ViewBag.Title = "Create Page";
    }
}

<style>
    .new-meows {
        
        width: 97%;
        display: flex;
    }

        .new-meows input {
            flex: 1
        }

        .new-meows button {
            width: 80px;
        }
</style>
<div class="content container-fluid">


    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="#">Manage Page</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
            <h3 class="fw-bold">@ViewBag.Title</h3>
        </div>

    </div>


    <div class="row">
        <div class="col-12">

            <div class="card-body p-0">
                <form id="frmBanner" name="frmBanner" method="post" enctype="multipart/form-data" action="javascript:SavePageData();">
                    <div class="row">
                        <div class="col-12">
                            <label>ShopId</label>
                            <input type="hidden" id="PageId" name="PageId" value="@ViewBag.Id" />
                        </div>

                        <div class="col-12">
                            <label>Page Name</label>
                            <input type="text" id="Name" name="Name" placeholder="Page Name" class="form-control" required readonly />
                        </div>
                        <div class="col-12">
                            <label>Page Action</label>
                            <input type="text" class="form-control" placeholder="Page Action" id="SubPageAction" name="SubPageAction" required />
                        </div>
                        <div class="col-12">
                            <label>OrderNo</label>
                            <input type="number" class="form-control" placeholder="OrderNo" id="OrderNo" name="OrderNo" required />
                        </div>

                        <div class="col-12">
                            <label>IsActive</label>
                            <select id="IsActive" name="IsActive" class="form-control" required>
                                <option selected>Select Status</option>
                                <option value="true">Active</option>
                                <option value="false">InActive</option>
                            </select>
                        </div>

                        <div class="  col-12 text-right p-4">
                            <input type="submit" value="Save" onsubmit="SavePageData();" class="btn btn-primary" />
                            <a href="@Url.Action(Actions.Index,Controllers.Pages)" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(() => {

            BindData();

            // Datepicker
            $('.single-date-picker').daterangepicker({
                "singleDatePicker": true,
                "showDropdowns": true,
                locale: {
                    format: 'YYYY-MM-DD'
                },
            });
        });

        function BindData()
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetData, Controllers.Pages)',
                data: {Id : @ViewBag.Id},
                    dataType: 'json',
                async: true,

                success: function (response) {

                    if (response.Code == 200) {
                        $("#Id").val(response.Item.Id);
                        $("#Name").val(response.Item.Name);
                        $("#SubPageAction").val(response.Item.SubPageAction);
                        $("#OrderNo").val(moment(response.Item.OrderNo));
                        $("#IsActive").val(response.Item.IsActive.toString());
                    } else {

                        toastr["error"](response.Message);
                    }
                    },
                    error: function (error) {
                        toastr["error"]("Something went wrong");
                    }
                });
        }

        function SavePageData()
        {
            var formdata = new FormData();
            formdata.append("Id", $("#PageId").val());
            formdata.append("Name", $("#Name").val());
            formdata.append("SubPageAction", $("#SubPageAction").val());
            formdata.append("OrderNo", $("#OrderNo").val());
            formdata.append("IsActive", $("#IsActive").val());
            $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.SaveBanner, Controllers.Pages)',
                data: formdata,
                    dataType: 'json',
                async: false,
                contentType: false,
                processData: false,
                success: function (response) {

                    if (response.Code == 200) {
                        toastr["success"](response.Message);
                        setTimeout(() => {
                            window.location.href = "@Url.Action(Actions.Index,Controllers.Pages)";
                        }, 2000);
                    } else {
                        toastr["error"](response.Message);
                    }
                    },
                    error: function (error) {
                        toastr["error"]("Something went wrong");
                    }
                });
        }

        function getFormattedDate(date) {
            var year = date.getFullYear();

            var month = (1 + date.getMonth()).toString();
            month = month.length > 1 ? month : '0' + month;

            var day = date.getDate().toString();
            day = day.length > 1 ? day : '0' + day;

            return month + '/' + day + '/' + year;
        }

        $('#ShopId').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            $("#ShopName").val(optionSelected[0].getAttribute("name"));
});

        function FindShopNameById(name) {
            debugger
            //$("#ShopName").val(name);

             @*$.ajax({
                type: "POST",
                url: '@Url.Action(Actions.findShopNameById, Controllers.Page)',
                data: { Id: parseInt($("#ShopId").val())},
                dataType: 'json',
                async: true,

                success: function (response) {

                    if (response.Code == 200) {
                        $("#ShopName").val(response.Item.ShopName);
                    } else {

                        toastr["error"](response.Message);
                    }
                    },
                    error: function (error) {
                        toastr["error"]("Something went wrong");
                    }
             });*@
        }
    </script>
}