﻿@using yudooappAdmin.Pages;

@{
    Layout = null;
}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Yudoo | Forgot Password?</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <style>
        body {
            background: #38e7f3;
        }

        .forget-pwd > a {
            color: #dc3545;
            font-weight: 500;
        }

        .forget-password .panel-default {
            padding: 31%;
            margin-top: -27%;
        }

        .forget-password .panel-body {
            padding: 15%;
            margin-bottom: -50%;
            background: #fff;
            border-radius: 5px;
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        img {
            width: 40%;
            margin-bottom: 10%;
        }

        .btnForget {
            background: #46ec30;
            border: none;
        }

        .forget-password .dropdown {
            width: 100%;
            border: 1px solid #ced4da;
            border-radius: .25rem;
        }

            .forget-password .dropdown button {
                width: 100%;
            }

            .forget-password .dropdown ul {
                width: 100%;
            }

        #newsletter i {
            padding: 5px;
            min-width: 10px;
        }

        .error {
            color: red;
            margin-bottom: 0 !important;
        }
    </style>
</head>
<body>
    <div class="container forget-password">
        <div class="row">
            <div class="col-md-12 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <img src="https://i.ibb.co/rshckyB/car-key.png" alt="car-key" border="0">
                            <h2 class="text-center">Forgot Password?</h2>
                            <p>Enter your email and we'll send you a link to reset password. </p>
                            <form id="forgotPSW-form" role="form" autocomplete="off" class="form" method="post">
                                <div class="form-group ">

                                    <div class="input-group">
                                        <!-- <div class="input-group-addon">
                                          <i class="fa fa-envelope-o"></i>
                                        </div>
                                        <input class="form-control" id="email" name="email" type="email" /> -->
                                        <section id="newsletter">
                                            @*<i class="fa fa-envelope icon"></i>*@
                                            <input type="email" class="form-control col-md-12" id="email"  name="email" placeholder="Enter E-Mail Address" />
                                        </section>
                                    </div>
                                </div>
                                <div class="form-group OTPText">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input id="forgetOTP" name="OTP" placeholder="OTP" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input name="btnForget" class="btn btn-lg btn-primary btn-block btnForget" value="Reset Password" type="submit">
                                </div>
                                <div>
                                    <div class="form-group">
                                        <a class="btn btn-lg btn btn-primary btn-block" href="@Url.Action("SignIn","Account")">Back to Sign In</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Menu Backdrop -->
    <div class="backdrop d-none"></div>

    <!-- Scripts -->
    <script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
    <script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
    <script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
    <script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/vendors/apexcharts/dist/apexcharts.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-html5-1.7.1/b-print-1.7.1/r-2.2.9/datatables.min.js"></script>

    <!-- Main Js -->
    <script src="~/assets/js/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
</body>
</html>

<script>
    $(document).ready(function ($) {
        
        $(".OTPText").hide();
            $("#forgotPSW-form").validate({
                rules: {
                    email: {
                        required: true,
                        email: true,
                    }
                },
                messages: {
                    email: {
                        required: "Please enter your email",
                    }
                },
                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents('.form-group'));
                    }
                    else { // This is the default behavior
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    
                    if ($("#forgetOTP").val() != null && $("#forgetOTP").val() != undefined && $("#forgetOTP").val() != "") {
                        $.ajax({
                        url: '@Url.Action(Actions.ConfrimOTP, Controllers.Account)',
                            data: {
                                email: $("#email").val(),
                                OTP: $("#forgetOTP").val()
                            },
                        type: "POST",
                        dataType: "json",
                            success: function (result) {
                                
                                if (result == true) {
                                    
                                toastr["success"](result.Message);
                                    $(".OTPText").hide();
                                    var UserName = $("#email").val();
                                    window.location.href = '@Url.Action(Actions.ResetPassword, Controllers.Account)?UserName=' + $("#email").val();
                            }
                            else if (result.Code == 400)
                            {
                                toastr["error"](result.Message)
                            }
                        },
                        error: function (error) {
                            console.log('result', error);
                        }
                    });
                    }
                    else {
                        $.ajax({
                        url: '@Url.Action(Actions.ForGotPassword, Controllers.Account)',
                        data: { email: $("#email").val() },
                        type: "POST",
                        dataType: "json",
                        success: function (result) {
                            if (result.Code == 200) {
                                toastr["success"](result.Message);
                                $(".OTPText").show();

                                //window.location.href = '@Url.Action(Actions.ForGotPassword,Controllers.Account)';
                            }
                            else if (result.Code == 400)
                            {
                                toastr["error"](result.Message)
                            }
                        },
                        error: function (error) {
                            console.log('result', error);
                        }
                    });
                    }
                }

            });
        });
</script>