﻿@using yudooappAdmin.Pages;

@{
    ViewBag.Title = "ResetPassword";
    Layout = null;
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />

<style>
    .error {
        color: #e73d4a
    }
    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }
</style>

<div class="content Container-fluid">
    <div class="col-md-6 offset-md-3">
        <span class="anchor" id="formResetPassword"></span>
        <hr class="mb-5">

        <!-- form card change password -->
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h3 class="mb-0">Reset Password</h3>
            </div>
            <div class="card-body">
                <form id="ResetPasswordForm" name="ResetPasswordForm">
                    <div class="form-group">
                        <label for="UserName">UserName </label>
                        <input type="text" class="form-control" readonly="readonly" name="UserName" id="UserName" placeholder="Enter Current Email">
                    </div>
                    <div class="form-group">
                        <label for="NewPassword">New Password</label>
                        <input type="password" class="form-control" id="NewPassword" name="NewPassword" placeholder="Enter New Password">
                    </div>
                    <div class="form-group">
                        <label for="ConfirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="Enter Confirm Password" >
                    </div>
                    <div class="form-group">
                        <a href="@Url.Action(Actions.ForGotPassword,Controllers.Account)" class="btn btn-secondary float-right closeBtn" id="userClose">Cancel</a>
                        <button type="submit" id="btnResetPassword" class="btn btn-primary float-right saveBtn mr-1" style="background-color: #71984a;">Reset Password</button>
                        <button class="btn Gbutton float-right loading" type="button" disabled style="display:none;float:right;">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Saving...
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /form card change password -->
    </div>
</div>


<!-- Scripts -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
@*<script src="~/Content/assets/js/jquery/jquery-3.6.0.min.js"></script>*@

<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
<script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
<script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
<script src="~/assets/vendors/apexcharts/dist/apexcharts.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-html5-1.7.1/b-print-1.7.1/r-2.2.9/datatables.min.js"></script>

<!-- Main Js -->
<script src="~/assets/js/main.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>




<script>

    $(document).ready(function () {
            
            $("#UserName").val('@Session["ResetUserName"].ToString()');
        });

        $(function () {
            
            $("form[name='ResetPasswordForm']").validate({
                rules: {
                    UserName: {
                        required: true,
                    },
                    NewPassword: {
                        required: true,
                    },
                    ConfirmPassword: {
                        required: true,
                    }
                },
                messages: {
                    UserName: {
                        required: "UserName is required",
                    },
                    NewPassword: {
                        required: "New Password is required",
                    },
                    ConfirmPassword: {
                        required: "Confirm Password is required",
                    },
                },
                submitHandler: function (form) {
                    
                    resetpasswordEmail();

                }
            });
        });

    function resetpasswordEmail() {
        
        $.ajax({
            url: '@Url.Action(Actions.ResetPassword, Controllers.Account)',
                data: {
                    email: $("#UserName").val(),
                    Password: $("#NewPassword").val(),
                    ConfirmPassword: $("#ConfirmPassword").val()
                },
            type: "POST",
            dataType: "json",
            success: function (result) {
                
                if (result.Code == 200) {
                    toastr["success"](result.Message);

                    window.location.href = '@Url.Action(Actions.SignIn, Controllers.Account)';
                }
                else if (result.Code == 403)
                {
                    toastr["error"](result.Message)
                }
            },
            error: function (error) {
                console.log('result', error);
            }
        });
    }
                //jQuery(document).ready(function () {
                //    FormuserValidation.init();
                //});


                //var FormuserValidation = function () {


                //    var handleValidation = function () {

                //        var form1 = $('#ChangePasswordForm');
                //        var error1 = $('.alert-danger', form1);

                //        form1.validate({
                //            errorElement: 'span',
                //            errorClass: 'help-block help-block-error',
                //            focusInvalid: false,
                //            ignore: "",
                //            rules: {
                //                OldPassword: {
                //                    required: true

                //                },
                //                NewPassword: {
                //                    required: true,
                //                    minlength: 4
                //                },
                //                ConfirmPassword: {
                //                    required: true,
                //                    minlength: 4
                //                }
                //            },
                //            messages: {
                //                OldPassword: {
                //                    required: "Current Password is required",
                //                },
                //                NewPassword: {
                //                    required: "New Password is required",
                //                },
                //                ConfirmPassword: {
                //                    required: "Confirm Password is required",
                //                },
                //            },

                //            invalidHandler: function (event, validator) {
                //                error1.show();
                //                App.scrollTo(error1, -200);
                //            },

                //            errorPlacement: function (error, element) {
                //                var cont = $(element).parent('.input-group');
                //                if (cont.size() > 0) {
                //                    cont.after(error);
                //                } else {
                //                    element.after(error);
                //                }
                //            },

                //            highlight: function (element) {
                //                $(element)
                //                    .closest('.form-group').addClass('has-error');
                //            },

                //            unhighlight: function (element) {
                //                $(element)
                //                    .closest('.form-group').removeClass('has-error');
                //            },

                //            success: function (label) {
                //                label
                //                    .closest('.form-group').removeClass('has-error');
                //            },

                //            submitHandler: function (form) {
                //                Adituser();
                //            }
                //        });
                //    }
                //    return {
                //        init: function () {
                //            handleValidation();
                //        }
                //    };
                //}();

</script>