﻿@{
    Layout = null;
}
@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- SEO & Metatags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no" /> <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="subject" content="">
    <meta name="copyright" content="">
    <meta name=author content="">

    <title>Yudoo | Sign In</title>



    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- Stylesheets -->

    <link rel="stylesheet" href="~/assets/fonts/style.css">
    <link rel="stylesheet" href="~/assets/vendors/simplebar/dist/simplebar.min.css">
    <link rel="stylesheet" href="~/assets/vendors/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-html5-1.7.1/b-print-1.7.1/r-2.2.9/datatables.min.css" />
    <link rel="stylesheet" href="~/assets/css/main.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <style>
        .main-background {
            content: '';
            position: relative;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: url(https://cdn.shopify.com/s/files/1/0256/4594/0810/files/slideshow-1_f9506a0f-cd22-46e1-89e6-dfb216eda48b_1920x950.jpg?v=1617703696) no-repeat center center fixed;
            background-size: cover;
        }

        .error {
            color: red;
            margin-bottom: 0 !important;
        }
    </style>

</head>

<body>
    <!-- Main Content -->
    <main class="main-background">
        <div class="content container">
            <div class="row justify-content-left" style="min-height: 85vh; align-items: center; ">
                <div class="col-xxl-3 col-lg-4 col-md-6 col-12 mb-4">
                    <div class="card">
                        <div class="card-body py-5">
                            <div class="text-center">
                                <h3 class="fw-bold">Sign In</h3>
                                <p>Sign In to your account</p>
                            </div>
                            <form action="" method="post" id="signin_form" novalidate="novalidate" class="row align-items-center">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                    <div class="form-group mb-3">
                                        <label for="emailAddress">E-mail</label>
                                        <input type="text" class="form-control" placeholder="" id="UserEmailAddress" name="UserEmailAddress">
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                    <div class="form-group mb-3">
                                        <label for="emailAddress">Password</label>
                                        <input type="password" class="form-control" placeholder="" id="UserPassword" name="UserPassword">
                                    </div>
                                </div>
                                <div class="col-xl-12 mt-2">
                                    <a style="text-decoration: none; color: #0596F8; float: right;" href="@Url.Action("ForGotPassword","Account")" id="forgotPassButton">Forgot password?</a>
                                </div>
                                <div class="col-xl-12 mt-2">
                                    <input class="btn btn-primary w-100" type="submit" name="submit" id="signInButton" value="Sign In">
                                    <button style="display: none;" class="btn btn-primary w-100 loading" type="button" id="signInLoading" disabled="">
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        Sign In to your account...
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Menu Backdrop -->
    <div class="backdrop d-none"></div>

    <!-- Scripts -->
    <script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
    <script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
    <script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
    <script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/vendors/apexcharts/dist/apexcharts.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-html5-1.7.1/b-print-1.7.1/r-2.2.9/datatables.min.js"></script>

    <!-- Main Js -->
    <script src="~/assets/js/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script>
        $(document).ready(function ($) {

            $("#signin_form").validate({
                rules: {
                    UserEmailAddress: {
                        required: true,
                        email: true,
                    },
                    UserPassword: {
                        required: true,
                        minlength: 4
                    }
                },
                messages: {
                    UserEmailAddress: {
                        required: "Please enter your email",
                    },
                    UserPassword: {
                        required: "Please enter you password",
                    }
                },
                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents('.form-group'));
                    }
                    else { // This is the default behavior
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {

                    $('#signInButton').hide();
                    $('#signInLoading').show();

                    $.ajax({
                        url: '@Url.Action(Actions.AdminSignIn, Controllers.Account)',
                        data: { username: $("#UserEmailAddress").val(), password: $("#UserPassword").val() },
                        type: "POST",
                        dataType: "json",
                        success: function (result) {
                            if (result.Code == 200) {
                                toastr["success"](result.Message);
                                 window.location.href = '@Url.Action(Actions.Index,Controllers.Home)';
                            } else if (result.Code == 400) {
                                toastr["error"](result.Message)
                            }
                            $('#signInButton').show();
                            $('#signInLoading').hide();
                        },
                        error: function (error) {
                            console.log('result', error);
                        }
                    });
                }

            });
        });
    </script>

</body>

</html>
