﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Dashboard";
}
<body>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <div class="content container-fluid">

        <div id="OfflineStores">
            <h3 class="fw-bold">Offline Stores</h3>
            <div class="row">
                <div class="col-12">
                    <div class="card table-responsive">
                        <div class="card-body">
                            @*<div class="row justify-content-end">
                            <div class="col-auto">
                                <button role="button" class="btn btn-outline-secondary m-1" onclick="SearchReset(true);">Add Shop</button>
                            </div>
                        </div>*@
                            <div class="table-responsive" id="divtable1">
                                <table class="table border rounded w-100" id="table1"></table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />
        
        <div id="UnansweredCalls">
            <h3 class="fw-bold">Unanswered calls</h3>
            <div class="row">
                <div class="col-12">
                    <div class="card table-responsive">
                        <div class="card-body">
                            @*<div class="row justify-content-end">
                            <div class="col-auto">
                                <button role="button" class="btn btn-outline-secondary m-1" onclick="SearchReset(true);">Add Shop</button>
                            </div>
                        </div>*@
                            <div class="table-responsive" id="divtable2">
                                <table class="table border rounded w-100" id="table2"></table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div id="RequestCallBack">
            <h3 class="fw-bold">Request CallBack</h3>
            <div class="row">
                <div class="col-12">
                    <div class="card table-responsive">
                        <div class="card-body">

                            <div class="table-responsive" id="divtablePage">
                                <table class="table border rounded w-100" id="tablePage"></table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

@section Scripts{
    <script>
        //setCookie
        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        //getCookie
        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        $(window).scroll(function () {
            setCookie("Position", $(document).scrollTop(), 30);
        });

        

       


        $(document).ready(function () {
            ReloadDashboardTime();
            table1DataTable.init();
            Table2DataTable.init();
            RequestCallBackAdminDataTable.init();
            PositionScrollStops();
            //OffersDataTable.init();
        });


        function ReloadDashboardTime() {
            window.setInterval(function () {
                ReloadDashboardTime();
                table1DataTable.init();
                Table2DataTable.init();
            }, 60000);
        }
        var PositionPixel = getCookie("Position");
      
        
        var PositionScrollStop = "";
        function PositionScrollStops() {
            PositionScrollStop = window.setInterval(function () {
                $(this).scrollTop(PositionPixel);
                clearTimeout(PositionScrollStop);
            }, 2000);
        }
        var table1DataTable = function () {
            let initTable1 = function () {
                let table = $('#table1');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.CurrentyOfflineShops_All, Controllers.Home)',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                "columns": [
                    {
                        "title": "Shop Id", "data": "ShopId",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["ShopId"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Shop Name", "data": "ShopName",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["ShopName"] == "" || row["ShopName"] == null ? '-' : row["ShopName"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Owner PhoneNumber", "data": "MobileNumber",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["MobileNumber"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Online Time", "data": "FromTime",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["FromTime"] == "" || row["FromTime"] == null ? '-' : row["FromTime"]}`;
                            if (htmlData == '-') {
                                return '-';
                            }
                            return moment(row.FromTime).format('hh:mm');
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Offline Time", "data": "ToTime",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["ToTime"] == "" || row["ToTime"] == null ? '-' : row["ToTime"]}`;
                            if (htmlData == '-') {
                                return '-';
                            }
                            return moment(row.FromTime).format('hh:mm');
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Offline Since", "data": "LastLogOutStr",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["LastLogOutStr"] == "" || row["LastLogOutStr"] == null || row["LastLogOutStr"] == "01-Jan-0001" ? '-' : row["LastLogOutStr"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    //{
                    //    "title": "Action", "data": "IsActive",
                    //    "render": function (data, type, row) {
                    //        let htmlData = "";
                    //        htmlData += `<div style="cursor:pointer;" class="badge badge-soft-info">Approve</div>`;
                    //        htmlData += `<div style="cursor:pointer;" class="badge badge-soft-danger">Reject</div>`;
                    //        return htmlData;
                    //    }
                    //    , "orderable": false, "width": "10%"
                    //},
                ],

                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500] // change per page values here
                    ],
                    // set the initial value
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#table1")) {
                        $('#table1').dataTable().fnDestroy();
                        $('#divtable1').html('<table class="table border rounded w-100" id="table1"></table>');
                    }
                    initTable1();
                }
            };
        }();


        //Orders DataTable Bind
        var Table2DataTable = function () {
            let initTable2 = function () {
                let table = $('#table2');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.GetUnansweredcall, Controllers.Home)',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                "columns": [
                    {
                        "title": "Date-Time", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["LocalCallStartTimeStr"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "5%"
                    },
                    {
                        "title": "Shop Id", "data": "ShopId",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["ShopId"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Shop Name", "data": "ShopName",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["ShopName"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Owner Phone Number", "data": "MobileNumber",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["MobileNumber"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Shop Action", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["ShopAction"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Customer Name", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["CustomerName"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Customer Mobile Number", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["CustomerMobileNumber"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },

                ],
                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500] // change per page values here
                    ],
                    // set the initial value
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#table2")) {
                        $('#table2').dataTable().fnDestroy();
                        $('#divtable2').html('<table class="table border rounded w-100" id="table2"></table>');
                    }
                    initTable2();
                }
            };
        }();

        //Data fillter function
        function BuildSearchCriteria() {
            try {
                var param = {};

                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }


        //Request call back
         //Orders DataTable Bind
        var RequestCallBackAdminDataTable = function () {
            let initTable1 = function () {
                let table = $('#tablePage');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.Request_CallBack_Admin, Controllers.Request_CallBack_Admin)',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                    "columns": [
                    {
                        "title": "Shop Name", "data": "ShopName",
                        "render": function (data, type, row) {
                            let htmlData = "";

                            htmlData = `<p class="mb-0">${row["ShopName"] == "" || row["ShopName"] == null ? "-" : row["ShopName"]}</p>`;

                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "No Answer Count", "data": "NoAnswerCount",
                        "render": function (data, type, row) {
                            let htmlData = "";

                            htmlData = `<b class="mb-0">${row["NoAnswerCount"] == "" || row["NoAnswerCount"] == null ? "-" : row["NoAnswerCount"]}</b>`;

                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    //{
                    //    "title": "Shop Id", "data": "ShopId",
                    //    "render": function (data, type, row) {
                    //        let htmlData = "";

                    //        htmlData = `<p class="mb-0">${row["ShopId"] == "" || row["ShopId"] == null ? "-" : row["ShopId"]}</p>`;

                    //        return htmlData;
                    //    }
                    //    , "orderable": false, "width": "10%"
                    //},

               ],
                // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                    ],
                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,
                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500] // change per page values here
                    ],
                    // set the initial value
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#tablePage")) {
                        $('#tablePage').dataTable().fnDestroy();
                        $('#divtablePage').html('<table class="table border rounded w-100" id="tablePage"></table>');
                    }
                    initTable1();
                }
            };
            }();

            function BuildSearchCriteria() {
                try {
                    var param = {};

                    return addRequestVerificationToken(param);
                } catch (e) { }
            }

            function addRequestVerificationToken(data) {
                data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
                return data;
            }

    </script>
}