﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;
@Html.AntiForgeryToken()

@{
    if (ViewBag.RId > 0)
    {
        ViewBag.Title = "Edit GoodRatingSuggetions";

    }
    else
    {
        ViewBag.Title = "Create GoodRatingSuggetions";
    }
}

<style>
    .error {
        color: red
    }
</style>

<div class="content container-fluid">
    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.CustomerMaster)" style="color: #0596F8;">Customer Master</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
            <h3 class="fw-bold">@ViewBag.Title</h3>
        </div>

    </div>


    <div class="row">
        <div class="col-12">

            <div class="card-body p-0">
                <form id="frmgoodRatingSuggetions" name="frmgoodRatingSuggetions" method="post">
                    <div class="row">
                        <div class="col-12">
                            <label>Text</label>
                            <input type="hidden" id="GID" name="GID" value="@ViewBag.Id" />
                            <input type="text" id="Text" name="Text" class="form-control" placeholder="Please enter text" />
                        </div>
                        <div class="col-12">
                            <label>Status</label>
                            <select class="form-control" id="IsActive" name="IsActive">
                                <option value="true">Active</option>
                                <option value="false">In-Active</option>
                            </select>
                        </div>
                        <div class="col-12 text-right p-4">
                            <input type="submit" value="Save" class="btn btn-primary saveBtn" />
                            <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Saving...
                            </button>
                            <a href="@Url.Action(Actions.Index,Controllers.CustomerMaster)" class="btn btn-danger closeBtn">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(() => {

            $("#frmgoodRatingSuggetions").validate({
                rules: {
                    Text: "required"
                    //Answer: "required",
                    //IsActive: "required"
                    //MediaUrl: "required"
                },
                messages: {
                    Text: {
                        required: "Text is required"
                    }
                    //Answer: {
                    //    required: "Answer is required",
                    //},
                    //IsActive: {
                    //    required: "Please select the status",
                    //}
                    //MediaUrl: {
                    //    required: "Media Url is required",
                    //}
                },

                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents(".form-group"));
                    } else {
                        // This is the default behavior
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    SaveTrendingSearchData();
                }
            });


            if (@ViewBag.Id > 0) {
                BindData();
            }
        });

        function BindData()
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetGoodRatingSuggetions, Controllers.CustomerMaster)',
                data: {Id : @ViewBag.Id},
                dataType: 'json',
                async: true,

                success: function (response) {
                    if (response.Code == 200) {
                        
                        $("#Text").val(response.Item.Text);
                        //$("#Answer").val(response.Item.Answer);
                        //$("#MediaUrl").val(response.Item.MediaUrl);
                        $("#IsActive").val(response.Item.IsActive.toString());
                    } else {
                        toastr["error"](response.Message);
                    }
                    },
                    error: function (error) {
                        toastr["error"]("Something went wrong");
                    }
                });
        }

        function SaveTrendingSearchData()
        {
            $(".saveBtn").hide();
            $(".loading").show();
            $(".closeBtn").hide();

            var formdata = {
                Id: $("#GID").val(),
                Text: $("#Text").val(),
                //Answer: $("#Answer").val(),
                //MediaUrl: $("#MediaUrl").val(),
                IsActive: $("#IsActive").val()
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.SaveGoodRatingSuggetions, Controllers.CustomerMaster)',
                data: formdata,
                dataType: 'json',
                success: function (response) {

                    if (response.Code == 200) {
                        toastr["success"](response.Message);
                        window.location.href = "@Url.Action(Actions.Index,Controllers.CustomerMaster)";
                    } else {
                        toastr["error"](response.Message);
                    }
                    $(".saveBtn").show();
                    $(".loading").hide();
                    $(".closeBtn").show();
                    },
                    error: function (error) {
                        toastr["error"]("Something went wrong");
                        $(".saveBtn").show();
                        $(".loading").hide();
                        $(".closeBtn").show();
                    }
                });
        }
    </script>
}