﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Customer Master";
}

<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="content container-fluid">

    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Customer Master</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="card mb-4 mt-3">
        <div class="card-header">
            <h6 class="mb-0">Home Page Shop Order Factors</h6>
        </div>
        <div class="card-body pt-0 pb-0">
            <div class="row fs-14">

                <div class="col-lg-12 p-0 border-b-1">
                    <div class="row m-0">

                        <div class="col-lg-6 border-r-1">
                            <form id="frmCategory" name="frmCategory" method="post">
                                <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                    <div class="col-lg-6 p-0 mb-0 d-flex align-items-start justify-content-between">
                                        <p class="text-muted mb-0">
                                            Offer/Discount Announcement
                                        </p>
                                    </div>
                                    <div class="col-lg-6 p-0 mb-0 d-flex align-items-start justify-content-between">
                                        @*<input type="hidden" id="FactorId" name="FactorId" value='@ViewBag.Id' />*@
                                        <input type="number" id="Offer_Discount_Announcement" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                    <div class="col-lg-6 p-0 mb-0 d-flex align-items-start justify-content-between">
                                        <p class="text-muted mb-0">
                                            Shop Busy/Shop Available/Shop Offline
                                        </p>
                                    </div>
                                    <div class="col-lg-6 p-0 mb-0 d-flex align-items-start justify-content-between">
                                        <input type="number" id="ShopBusy_ShopAvailable_ShopOffline" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                    <div class="col-lg-6 p-0 mb-0 d-flex align-items-start justify-content-between">
                                        <p class="text-muted mb-0">
                                            Shop Call No Receive Ratio
                                        </p>
                                    </div>
                                    <div class="col-lg-6 p-0 mb-0 d-flex align-items-start justify-content-between">
                                        <input type="number" id="ShopCallNo_ReceiveRatio" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                    <div class="col-lg-6 p-0 mb-0 d-flex align-items-start justify-content-between">
                                        <p class="text-muted mb-0">
                                            Shop Video Call to Order Ratio in the category
                                        </p>
                                    </div>
                                    <div class="col-lg-6 p-0 mb-0 d-flex align-items-start justify-content-between">
                                        <input type="number" id="ShopVideoCalltoOrderRatiointhecategory" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                    <div class="col-lg-6 p-0 mb-0 d-flex align-items-start justify-content-between">
                                        <p class="text-muted mb-0">
                                            Shop View to Video Call Ratio in the category
                                        </p>
                                    </div>
                                    <div class="col-lg-6 p-0 mb-0 d-flex align-items-start justify-content-between">
                                        <input type="number" id="ShopViewtoVideoCallRatiointhecategory" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                    <div class="col-lg-6 p-0 mb-0 d-flex align-items-start justify-content-between">
                                        <p class="text-muted mb-0">
                                            Shop Rating, Order Rating
                                        </p>
                                    </div>
                                    <div class="col-lg-6 p-0 mb-0 d-flex align-items-start justify-content-between">
                                        <input type="number" id="ShopRating_OrderRating" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                    <div class="col-lg-6 p-0 mb-0 d-flex align-items-start justify-content-between">
                                        <p class="text-muted mb-0">
                                            Return Ratio
                                        </p>
                                    </div>
                                    <div class="col-lg-6 p-0 mb-0 d-flex align-items-start justify-content-between">
                                        <input type="number" id="ReturnRatio" class="form-control" />
                                    </div>
                                </div>
                                <div class="float-right mt-2 mb-2">
                                    <input type="submit" value="Save" class="btn btn-primary saveButn" />
                                    <button class="btn btn-primary loading1" type="button" disabled style="display:none;float:right;">
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        Saving...
                                    </button>
                                </div>

                            </form>
                        </div>



                        <div class="col-lg-6 border-r-1">
                            <form id="frmCategoryRight" name="frmCategoryRight" method="post" onsubmit="return SaveFactorRightData()">
                                <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                    <div class="col-lg-6 p-0 mb-0 d-flex align-items-start justify-content-between">
                                        <p class="text-muted mb-0">
                                            Keyword Search Relevancy Weigtage
                                        </p>
                                    </div>
                                    <div class="col-lg-6 p-0 mb-0 d-flex align-items-start justify-content-between">
                                        <input type="hidden" id="RId" name="RId" value="@ViewBag.Id"/>
                                        <input type="number" id="KeywordSearchRelevancyWeigtage" class="form-control" /> Factor &nbsp;&nbsp;
                                    </div>
                                </div>
                                <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                    <div class="col-lg-6 p-0 mb-0 d-flex align-items-start justify-content-between">
                                        <p class="text-muted mb-0">
                                            Customer VC Ringing Time
                                        </p>
                                    </div>
                                    <div class="col-lg-6 p-0 mb-0 d-flex align-items-start justify-content-between">
                                        <input type="number" id="CustomerVCRingingTime" class="form-control" /> Seconds

                                    </div>
                                </div>
                                <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                    <div class="col-lg-6 p-0 mb-0 d-flex align-items-start justify-content-between">
                                        <p class="text-muted mb-0">
                                            Visit Similar Shops Button Appear Time
                                        </p>
                                    </div>
                                    <div class="col-lg-6 p-0 mb-0 d-flex align-items-start justify-content-between">
                                        <input type="number" id="VisitSimilarShopsButtonAppearTime" class="form-control" /> Seconds
                                    </div>
                                </div>
                                <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                    <div class="col-lg-6 p-0 mb-0 d-flex align-items-start justify-content-between">
                                        <p class="text-muted mb-0">
                                            Request CallBack Button Appear Time
                                        </p>
                                    </div>
                                    <div class="col-lg-6 p-0 mb-0 d-flex align-items-start justify-content-between">
                                        <input type="number" id="RequestCallBackButtonAppearTime" class="form-control" /> Seconds
                                    </div>
                                </div>
                                <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                    <div class="col-lg-6 p-0 mb-0 d-flex align-items-start justify-content-between">
                                        <p class="text-muted mb-0">
                                            Help Page Call Timing
                                        </p>
                                    </div>
                                    <div class="col-lg-6 p-0 mb-0 d-flex align-items-start justify-content-between">
                                        <input type="time" id="HelpPageCallTimingStart" class="form-control" />
                                        <input type="time" id="HelpPageCallTimingEnd" class="form-control" />
                                    </div>
                                </div>

                                <div class="float-right mt-2 mb-2">
                                    <input type="submit" value="Save" class="btn btn-primary saveBtn" />
                                    <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        Saving...
                                    </button>
                                </div>

                                <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                    <div class="col-lg-6 p-0 mb-0 d-flex align-items-start justify-content-between">
                                        <label for="customSwitch1"> Customer App Rating</label>
                                        <div class="col-lg-6 p-0 mb-0 d-flex align-items-start justify-content-between">
                                            <label class="switch mb-0">
                                                <input type="checkbox" id="IsCustomerRatingAct" onclick="CustomerRatingActInAct(this);" value="Customer App Rating" @*disabled="disabled"*@>
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br />
    <h3>Users FAQ</h3><br />
    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            @*<button role="button" class="btn btn-primary btn-wide m-1" onclick="showSearchmodal();"><i class="tio-filter-outlined"></i> Filter</button>
                                <button role="button" class="btn btn-outline-secondary m-1" onclick="SearchReset(true);">Clear filters</button>*@
                        </div>
                    </div>
                    <div class="table-responsive" id="divusersFAQ">

                        <table class="table border rounded w-100" id="usersFAQ"></table>
                    </div>

                </div>
            </div>
        </div>
    </div><br />
    <h3>Trending Search</h3><br />
    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            @*<button role="button" class="btn btn-primary btn-wide m-1" onclick="showSearchmodal();"><i class="tio-filter-outlined"></i> Filter</button>
                                <button role="button" class="btn btn-outline-secondary m-1" onclick="SearchReset(true);">Clear filters</button>*@
                        </div>
                    </div>
                    <div class="table-responsive" id="divtrendingSearch">

                        <table class="table border rounded w-100" id="trendingSearch"></table>
                    </div>

                </div>
            </div>
        </div>
    </div><br />
    <h3>Good Rating Suggestions</h3><br />
    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            @*<button role="button" class="btn btn-primary btn-wide m-1" onclick="showSearchmodal();"><i class="tio-filter-outlined"></i> Filter</button>
                                <button role="button" class="btn btn-outline-secondary m-1" onclick="SearchReset(true);">Clear filters</button>*@
                        </div>
                    </div>
                    <div class="table-responsive" id="divgoodRatingSuggestions">

                        <table class="table border rounded w-100" id="goodRatingSuggestions"></table>
                    </div>

                </div>
            </div>
        </div>
    </div><br />
    <h3>Bad Rating Suggetions</h3>
    <br />
    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            @*<button role="button" class="btn btn-primary btn-wide m-1" onclick="showSearchmodal();"><i class="tio-filter-outlined"></i> Filter</button>
                                <button role="button" class="btn btn-outline-secondary m-1" onclick="SearchReset(true);">Clear filters</button>*@
                        </div>
                    </div>
                    <div class="table-responsive" id="divbadRatingSuggestions">

                        <table class="table border rounded w-100" id="badRatingSuggestions"></table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            BindFactorData();
            BindFactorRightData()
            UsersFAQDataTable.init();
            TrendingSearchDataTable.init();
            GoodRatingSuggestionsDataTable.init();
            BadRatingSuggestionsDataTable.init();
            //BannerDataTable.init();
            //OffersDataTable.init();
            $("#frmCategory").validate({

                submitHandler: function (form) {
                    SaveFactorData();
                }
            });


            //$("#frmCategoryRight").validate({
            //    submitHandler: function (form) {
            //        SaveFactorRightData();
            //    }
            //});
        });

        @*function CustomerRatingActInAct() {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.Shop_ActInAct, Controllers.ShopOverview)',
                data: { Id: $('#idName').val() },
                success: function (response) {
                    toastr["success"](response.Message);
                },
                error: function (error) {
                    toastr["error"]("Something went wrong")
                    console.log('Error', error);
                }
            })
        }*@
       
        
        function CustomerRatingActInAct(Checkbox) {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.ShopOwner_IsRating, Controllers.Shop)',
                data: { IsRating: Checkbox.checked },
                success: function (response) {
                    toastr["success"](response.Message);
                },
                error: function (error) {
                    toastr["error"]("Something went wrong")
                    console.log('Error', error);
                }
            })
        }

        function SaveFactorRightData()
        {

            $(".saveBtn").hide();
            $(".loading").show();

            let strtdate = $("#HelpPageCallTimingStart").val(); //08:42:00
            let enddate = $("#HelpPageCallTimingEnd").val();

            if (strtdate !== "" && enddate !== "") {
                strtdate = moment(strtdate, "HH:mm:ss").format('YYYY-MM-DD HH:mm:ss'); //2022-03-26 10:57:07.000
                var demo = strtdate.toString();
                enddate = moment(enddate, "HH:mm:ss").format('YYYY-MM-DD HH:mm:ss');
            }

            var formdata = new FormData();

            formdata.append("Id",2);
            formdata.append("KeywordSearchRelevancyWeigtage", $("#KeywordSearchRelevancyWeigtage").val());
            formdata.append("CustomerVCRingingTime", $("#CustomerVCRingingTime").val());
            formdata.append("VisitSimilarShopsButtonAppearTime", $("#VisitSimilarShopsButtonAppearTime").val());
            formdata.append("RequestCallBackButtonAppearTime", $("#RequestCallBackButtonAppearTime").val());
            formdata.append("HelpPageCallTimingStart", strtdate); //$("#HelpPageCallTimingStart").val());
            formdata.append("HelpPageCallTimingEnd", enddate); //$("#HelpPageCallTimingEnd").val());

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.SaveFactorRight, Controllers.CustomerMaster)',
                data: formdata,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {

                    if (response.Code == 200) {
                        toastr["success"](response.Message);
                        $(".saveBtn").show();

                        $(".loading").hide();

                    } else {
                        $(".saveBtn").show();
                        $(".loading").hide();
                    }
                 },
                    error: function (error) {

                        toastr["error"]("Something went wrong");
                        $(".saveBtn").show();
                        $(".loading").hide();
                    }
                });



        }

        function BindFactorRightData()
        {

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetFactorRightData, Controllers.CustomerMaster)',
                data: {Id : 2},
                dataType: 'json',
                async: true,

                success: function (response) {
                    if (response.Code == 200) {
                        
                        $("#Id").val(response.Item.Id);
                        $("#KeywordSearchRelevancyWeigtage").val(response.Item.KeywordSearchRelevancyWeigtage);
                        $("#CustomerVCRingingTime").val(response.Item.CustomerVCRingingTime);
                        $("#VisitSimilarShopsButtonAppearTime").val(response.Item.VisitSimilarShopsButtonAppearTime);
                        $("#RequestCallBackButtonAppearTime").val(response.Item.RequestCallBackButtonAppearTime);
                        $("#HelpPageCallTimingStart").val(response.Item.HelpPageCallTimingStartStr);
                        $("#HelpPageCallTimingEnd").val(response.Item.HelpPageCallTimingEndStr);
                        $("#IsCustomerRatingAct").prop("checked", response.Item.IsRating == 0 ? false : true);
                    } else {

                        toastr["error"](response.Message);
                    }
                    },
                    error: function (error) {
                        toastr["error"]("Something went wrong");
                    }
                });
        }

        function BindFactorData()
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetFactorData, Controllers.CustomerMaster)',
                data: {Id : 1},
                dataType: 'json',
                async: true,

                success: function (response) {

                    if (response.Code == 200) {
                        $("#FactorId").val(response.Item.Id);
                        $("#Offer_Discount_Announcement").val(response.Item.Offer_Discount_Announcement);
                        $("#ShopBusy_ShopAvailable_ShopOffline").val(response.Item.ShopBusy_ShopAvailable_ShopOffline);
                        $("#ShopCallNo_ReceiveRatio").val(response.Item.ShopCallNo_ReceiveRatio);
                        $("#ShopVideoCalltoOrderRatiointhecategory").val(response.Item.ShopVideoCalltoOrderRatiointhecategory);
                        $("#ShopViewtoVideoCallRatiointhecategory").val(response.Item.ShopViewtoVideoCallRatiointhecategory);
                        $("#ShopRating_OrderRating").val(response.Item.ShopRating_OrderRating);
                        $("#ReturnRatio").val(response.Item.ReturnRatio);
                    } else {

                        toastr["error"](response.Message);
                    }
                    },
                    error: function (error) {
                        toastr["error"]("Something went wrong");
                    }
                });
        }

        function SaveFactorData()
        {
            $(".saveButn").hide();
            $(".loading1").show();
            debugger;

            var formdata = new FormData();
            formdata.append("Id", parseInt('1'));
            formdata.append("Offer_Discount_Announcement", $("#Offer_Discount_Announcement").val());
            formdata.append("ShopBusy_ShopAvailable_ShopOffline", $("#ShopBusy_ShopAvailable_ShopOffline").val());
            formdata.append("ShopCallNo_ReceiveRatio", $("#ShopCallNo_ReceiveRatio").val());
            formdata.append("ShopVideoCalltoOrderRatiointhecategory", $("#ShopVideoCalltoOrderRatiointhecategory").val());
            formdata.append("ShopViewtoVideoCallRatiointhecategory", $("#ShopViewtoVideoCallRatiointhecategory").val());
            formdata.append("ShopRating_OrderRating", $("#ShopRating_OrderRating").val());
            formdata.append("ReturnRatio", $("#ReturnRatio").val());
            var totalfactor = parseFloat($("#Offer_Discount_Announcement").val()) +
                parseFloat($("#ShopBusy_ShopAvailable_ShopOffline").val()) +
                parseFloat($("#ShopCallNo_ReceiveRatio").val()) +
                parseFloat($("#ShopVideoCalltoOrderRatiointhecategory").val()) +
                parseFloat($("#ShopViewtoVideoCallRatiointhecategory").val()) +
                parseFloat($("#ShopRating_OrderRating").val()) +
                parseFloat($("#ReturnRatio").val());

            if (totalfactor == 100.00) {
                $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.SaveFactor, Controllers.CustomerMaster)',
                data: formdata,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    debugger; 
                    if (response.Code == 200) {
                        toastr["success"](response.Message);
                        //window.location.href = "@Url.Action(Actions.Index,Controllers.CustomerMaster)";
                        $(".saveButn").show();
                        $(".loading1").hide();

                    } else {
                        toastr["error"](response.Message);
                        $(".saveButn").show();
                        $(".loading1").hide();
                    }
                 },
                    error: function (error) {
                        toastr["error"]("Something went wrong");
                        $(".saveButn").show();
                        $(".loading1").hide();
                    }
                });
            }
            else {
                toastr["error"]("Shop Order Factor Not 100 %");
                $(".saveButn").show();
                $(".loading1").hide();
                }

         }

        //BadRatingSuggestions DataTable Bind
        var BadRatingSuggestionsDataTable = function () {
            let initTable1 = function () {
                let table = $('#badRatingSuggestions');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.GetAllBadRating, Controllers.CustomerMaster)',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                "columns": [
                    {
                        "title": "Text", "data": "Text",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["Text"] == "" || row["Text"] == null ? '-' : row["Text"]}</p>`;
                            return htmlData;
                       Url}
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Shift Up", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a title="Shift Up" onclick="deBadRatingShifting(${row["Id"]},true);" class="btn btn-outline-secondary btn-sm"><span class="fa fa-arrow-up"></span></a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Shift Down", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a title="Shift Down" onclick="UpdateBadRatingShifting(${row["Id"]},false);" class="btn btn-outline-secondary btn-sm"><span class="fa fa-arrow-down"></span></a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },

                    {
                        "title": "Action", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a title="Edit Banner" href="@Url.Action(Actions.BadRatingManage, Controllers.CustomerMaster)?ri=${btoa(row["Id"])}" class="btn btn-outline-secondary btn-sm mr-2"><span class="fa fa-pencil"></span></a>`;
                            htmlData += `<a title="Delete Banner" class="btn btn-outline-secondary btn-sm" onclick="ConfirmDeleteBadRatingSuggestions(${row["Id"]})"><span class="fa fa-trash"></span></a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                ],
                // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                        //{
                        //    text: 'Fillter',
                        //    className: 'them-primary',
                        //    action: function (e, dt, node, config) {
                        //        OpenAddNewOrderStatusPopup();
                        //    }
                        //},
                        //{
                        //    text: 'Reset',
                        //    className: 'them-btn',
                        //    action: function (e, dt, node, config) {
                        //        OpenAddNewOrderStatusPopup();
                        //    }
                        //},
                        {
                            text: "Add ",
                            className: "them-btn btn-primary tbtn",
                            action: function (e, dt, node, config) {
                                window.location.href = "@Url.Action(Actions.BadRatingManage,Controllers.CustomerMaster)";
                            }
                        },
                        //{
                        //    "extend": 'csv',
                        //    className: 'them-btn btn-info tbtn1',
                        //    "action": newexportaction
                        //},

                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500] // change per page values here
                    ],
                    // set the initial value
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#badRatingSuggestions")) {
                        $('#badRatingSuggestions').dataTable().fnDestroy();
                        $('#divbadRatingSuggestions').html('<table class="table border rounded w-100" id="badRatingSuggestions"></table>');
                    }
                    initTable1();
                }
            };
        }();

        function ConfirmDeleteBadRatingSuggestions(id)
        {
            id = parseInt(id);
            let confirmBox = confirm("Are You Sure You want to Delete this BaddRatingSuggestions?");
            if (confirmBox) {
                DeleteBadRatingSuggestions(id);
            }
        }

        function DeleteBadRatingSuggestions(id)
        {
            $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.DeleteBadRatingSuggetions, Controllers.CustomerMaster)',
                data: { Id: id },
                    dataType: 'json',
                    async: false,
                success: function (response) {
                    BadRatingSuggestionsDataTable.init();
                    toastr["success"](response.Message);
                    },
                    error: function (error) {
                        toastr["error"]("Something Went Wrong");
                    }
                });
        }

        //GoodRatingSuggestions DataTable Bind
        var GoodRatingSuggestionsDataTable = function () {
            let initTable1 = function () {
                let table = $('#goodRatingSuggestions');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.GetAllGoodRating, Controllers.CustomerMaster)',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                "columns": [
                    {
                        "title": "Text", "data": "Text",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["Text"] == "" || row["Text"] == null ? '-' : row["Text"]}</p>`;
                            return htmlData;
                       Url}
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Shift Up", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a title="Shift Up" onclick="UpdateGoodRatingShifting(${row["Id"]},true);" class="btn btn-outline-secondary btn-sm"><span class="fa fa-arrow-up"></span></a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Shift Down", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a title="Shift Down" onclick="UpdateGoodRatingShifting(${row["Id"]},false);" class="btn btn-outline-secondary btn-sm"><span class="fa fa-arrow-down"></span></a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },

                    {
                        "title": "Action", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a title="Edit Banner" href="@Url.Action(Actions.GoodRatingManage,Controllers.CustomerMaster)?ri=${btoa(row["Id"])}" class="btn btn-outline-secondary btn-sm mr-2"><span class="fa fa-pencil"></span></a>`;
                            htmlData += `<a title="Delete Banner" class="btn btn-outline-secondary btn-sm" onclick="ConfirmDeleteGoodRatingSuggestions(${row["Id"]})"><span class="fa fa-trash"></span></a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                ],
                // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                        //{
                        //    text: 'Fillter',
                        //    className: 'them-primary',
                        //    action: function (e, dt, node, config) {
                        //        OpenAddNewOrderStatusPopup();
                        //    }
                        //},
                        //{
                        //    text: 'Reset',
                        //    className: 'them-btn',
                        //    action: function (e, dt, node, config) {
                        //        OpenAddNewOrderStatusPopup();
                        //    }
                        //},
                        {
                            text: "Add ",
                            className: "them-btn btn-primary tbtn",
                            action: function (e, dt, node, config) {
                                window.location.href = "@Url.Action(Actions.GoodRatingManage,Controllers.CustomerMaster)";
                            }
                        },
                        //{
                        //    "extend": 'csv',
                        //    className: 'them-btn btn-info tbtn1',
                        //    "action": newexportaction
                        //},

                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500] // change per page values here
                    ],
                    // set the initial value
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#goodRatingSuggestions")) {
                        $('#goodRatingSuggestions').dataTable().fnDestroy();
                        $('#divgoodRatingSuggestions').html('<table class="table border rounded w-100" id="goodRatingSuggestions"></table>');
                    }
                    initTable1();
                }
            };
        }();

        function ConfirmDeleteGoodRatingSuggestions(id)
        {
            id = parseInt(id);
            let confirmBox = confirm("Are You Sure You want to Delete this GoodRatingSuggestions?");
            if (confirmBox) {
                DeleteGoodRatingSuggestions(id);
            }
        }

        function DeleteGoodRatingSuggestions(id)
        {
            $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.DeleteGoodRatingSuggetions, Controllers.CustomerMaster)',
                data: { Id: id },
                    dataType: 'json',
                    async: false,
                success: function (response) {
                    GoodRatingSuggestionsDataTable.init();
                    toastr["success"](response.Message);

                    },
                    error: function (error) {
                        toastr["error"]("Something Went Wrong");
                    }
                });
        }

        //Trending Search DataTable Bind
        var TrendingSearchDataTable = function () {
            let initTable1 = function () {
                let table = $('#trendingSearch');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.GetAllTrendingSearch, Controllers.CustomerMaster)',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                "columns": [
                    {
                        "title": "Text", "data": "Text",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["Text"] == "" || row["Text"] == null ? '-' : row["Text"]}</p>`;
                            return htmlData;
                       Url}
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Shift Up", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a title="Shift Up" onclick="UpdateTradingShifting(${row["Id"]},true);" class="btn btn-outline-secondary btn-sm"><span class="fa fa-arrow-up"></span></a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Shift Down", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a title="Shift Down" onclick="UpdateTradingShifting(${row["Id"]},false);" class="btn btn-outline-secondary btn-sm"><span class="fa fa-arrow-down"></span></a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },

                    {
                        "title": "Action", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a title="Edit " href="@Url.Action(Actions.TrendingSearchManage, Controllers.CustomerMaster)?ri=${btoa(row["Id"])}" class="btn btn-outline-secondary btn-sm mr-2"><span class="fa fa-pencil"></span></a>`;
                            htmlData += `<a title="Delete " class="btn btn-outline-secondary btn-sm" onclick="ConfirmDeleteTrendingSearch(${row["Id"]})"><span class="fa fa-trash"></span></a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                ],
                // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                        //{
                        //    text: 'Fillter',
                        //    className: 'them-primary',
                        //    action: function (e, dt, node, config) {
                        //        OpenAddNewOrderStatusPopup();
                        //    }
                        //},
                        //{
                        //    text: 'Reset',
                        //    className: 'them-btn',
                        //    action: function (e, dt, node, config) {
                        //        OpenAddNewOrderStatusPopup();
                        //    }
                        //},
                        {
                            text: "Add Search",
                            className: "them-btn btn-primary tbtn",
                            action: function (e, dt, node, config) {
                                window.location.href = "@Url.Action(Actions.TrendingSearchManage, Controllers.CustomerMaster)";
                            }
                        },
                        //{
                        //    "extend": 'csv',
                        //    className: 'them-btn btn-info tbtn1',
                        //    "action": newexportaction
                        //},

                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500] // change per page values here
                    ],
                    // set the initial value
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#trendingSearch")) {
                        $('#trendingSearch').dataTable().fnDestroy();
                        $('#divtrendingSearch').html('<table class="table border rounded w-100" id="trendingSearch"></table>');
                    }
                    initTable1();
                }
            };
        }();

        function ConfirmDeleteTrendingSearch(id)
        {
            id = parseInt(id);
            let confirmBox = confirm("Are You Sure You want to Delete this TrendingSearch?");
            if (confirmBox) {
                DeleteTrendingSearch(id);
            }
        }

        function DeleteTrendingSearch(id)
        {
            $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.DeleteTrendingSearch, Controllers.CustomerMaster)',
                data: { Id: id },
                    dataType: 'json',
                    async: false,
                success: function (response) {
                    TrendingSearchDataTable.init();
                    toastr["success"](response.Message);
                    },
                    error: function (error) {
                        toastr["error"]("Something Went Wrong");
                    }
                });
        }

        //FAQ DataTable Bind
        var UsersFAQDataTable = function () {
            let initTable1 = function () {
                let table = $('#usersFAQ');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.GetAllUsersFaq, Controllers.CustomerMaster)',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                "columns": [
                    {
                        "title": "Question", "data": "Question",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["Question"] == "" || row["Question"] == null ? '-' : row["Question"]}</p>`;
                            return htmlData;
                       Url}
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Answer", "data": "Answer",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["Answer"] == "" || row["Answer"] == null ? '-' : row["Answer"]}</p>`;
                            return htmlData;
                            Url
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Link", "data": "MediaUrl",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["MediaUrl"] == "" || row["MediaUrl"] == null ? '-' : row["MediaUrl"]}</p>`;
                            //htmlData = `<img src="${row["MediaUrl"]}" height="50px" class="img" />`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Active", "data": "IsActive",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            if (row["IsActive"] == true) {
                                htmlData = `<div onclick="InActiveMessage(${row["Id"]});" style="cursor:pointer;" class="badge badge-soft-info">Active</div>`;
                            }
                            else {
                                htmlData = `<div onclick="ActiveMessage(${row["Id"]});" style="cursor:pointer;" class="badge badge-soft-danger">In-Active</div>`;
                            }
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },

                    {
                        "title": "Action", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a title="Edit" href="@Url.Action(Actions.UsersFaqManage,Controllers.CustomerMaster)?ri=${btoa(row["Id"])}" class="btn btn-outline-secondary btn-sm mr-2"><span class="fa fa-pencil"></span></a>`;
                            htmlData += `<a title="Delete" class="btn btn-outline-secondary btn-sm" onclick="ConfirmDeleteUsersFAQ(${row["Id"]})"><span class="fa fa-trash"></span></a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                ],
                // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                        //{
                        //    text: 'Fillter',
                        //    className: 'them-primary',
                        //    action: function (e, dt, node, config) {
                        //        OpenAddNewOrderStatusPopup();
                        //    }
                        //},
                        //{
                        //    text: 'Reset',
                        //    className: 'them-btn',
                        //    action: function (e, dt, node, config) {
                        //        OpenAddNewOrderStatusPopup();
                        //    }
                        //},
                        {
                            text: "Add FAQ",
                            className: "them-btn btn-primary tbtn",
                            action: function (e, dt, node, config) {
                                window.location.href = "@Url.Action(Actions.UsersFaqManage,Controllers.CustomerMaster)";
                            }
                        },
                        //{
                        //    "extend": 'csv',
                        //    className: 'them-btn btn-info tbtn1',
                        //    "action": newexportaction
                        //},

                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500] // change per page values here
                    ],
                    // set the initial value
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#usersFAQ")) {
                        $('#usersFAQ').dataTable().fnDestroy();
                        $('#divusersFAQ').html('<table class="table border rounded w-100" id="usersFAQ"></table>');
                    }
                    initTable1();
                }
            };
        }();

        function ActiveMessage(id) {
            let confirmBox = confirm("Are You Sure You want to Active this UsersFAQ ?");
            if (confirmBox) {
                UpdateStatus(id);
            }
        }

        function InActiveMessage(id) {
            let confirmBox = confirm("Are You Sure You want to InActive this UsersFAQ ?");
            if (confirmBox) {
                UpdateStatus(id);
            }
        }

        function UpdateStatus(id)
           {
               id = parseInt(id);
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.UpdateStatus, Controllers.CustomerMaster)',
                data: { Id: id },
                    dataType: 'json',
                    async: false,
                    success: function (response) {
                        UsersFAQDataTable.init();
                        toastr["success"](response.Message);

                    },
                    error: function (error) {
                        toastr["error"]("Something Went wrong");
                    }
             });
           }

        function ConfirmDeleteUsersFAQ(id)
        {
            id = parseInt(id);
            let confirmBox = confirm("Are You Sure You want to Delete this UsersFAQ?");
            if (confirmBox) {
                DeleteUsersFAQ(id);
            }
        }

        function DeleteUsersFAQ(id)
        {
            $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.DeleteUsersFaq, Controllers.CustomerMaster)',
                data: { Id: id },
                    dataType: 'json',
                    async: false,
                success: function (response) {
                    UsersFAQDataTable.init();
                    toastr["success"](response.Message);
                    },
                    error: function (error) {
                        toastr["error"]("Something Went Wrong");
                    }
                });
        }

        function UpdateGoodRatingShifting(id, isUp)
         {
             id = parseInt(id);
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GoodRatingUpdateDisplayOrder, Controllers.CustomerMaster)',
                data: { Id: id, IsUp: isUp },
                dataType: 'json',
                async: false,
                success: function (response) {
                    GoodRatingSuggestionsDataTable.init();
                },
                error: function (error) {
                    toastr["error"]("Something Wen Wrong");
                }
            });
        }
        function UpdateBadRatingShifting(id, isUp)
         {
             id = parseInt(id);
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.BadRatingUpdateDisplayOrder, Controllers.CustomerMaster)',
                data: { Id: id, IsUp: isUp },
                dataType: 'json',
                async: false,
                success: function (response) {
                    BadRatingSuggestionsDataTable.init();
                },
                error: function (error) {
                    toastr["error"]("Something Wen Wrong");
                }
            });
        }
       @* function UpdateBadRatingShifting(id, isUp)
         {
             id = parseInt(id);
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.BadRatingUpdateDisplayOrder, Controllers.CustomerMaster)',
                data: { Id: id, IsUp: isUp },
                dataType: 'json',
                async: false,
                success: function (response) {
                    BadRatingSuggestionsDataTable.init();
                },
                error: function (error) {
                    toastr["error"]("Something Wen Wrong");
                }
            });
        }*@

        function UpdateTradingShifting(id, isUp)
         {
             id = parseInt(id);
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.TrendingSearchUpdateDisplayOrder, Controllers.CustomerMaster)',
                data: { Id: id, IsUp: isUp },
                dataType: 'json',
                async: false,
                success: function (response) {
                    TrendingSearchDataTable.init();
                },
                error: function (error) {
                    toastr["error"]("Something Wen Wrong");
                }
            });
        }

        //Data fillter function
        function BuildSearchCriteria() {
            try {
                var param = {};

                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

    </script>
}
