﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Shop Overview";
}

<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>

<div class="content container-fluid">


    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Shop Overview </li>
                </ol>
            </nav>
            <h3 class="fw-bold">Shop Overview</h3>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="row justify-content-start align-items-end">
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <div class="form-group mb-0">
                        <label for="emailAddress">Shop Id</label>
                        <input type="hidden" id="ShopId1">
                        <input type="number" class="form-control" placeholder="Shop Id" id="ShopId">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <div class="form-group mb-0">
                        <label for="emailAddress">Shop Owner Phone Number</label>
                        <input type="number" class="form-control" placeholder="Shop Owner Phone Number" id="OwnerPhoneNumber">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <div class="form-group mb-0">
                        <label for="FilterBy">Filter By</label>
                        <select class="form-control" id="FilterBy">
                            <option value="All" selected>All</option>
                            <option value="Weekly">Weekly</option>
                            <option value="Monthly">Monthly</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12 d-flex">
                    <button role="button" class="btn btn-primary btn-wide w-100" id="SearchButton" onclick="SearchShopOverviewData();"><i class="tio-search"></i> Search</button>
                    <button style="display:none;" class="btn btn-primary loading btn-wide w-100" type="button" id="SearchLoading" disabled="">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Searching...
                    </button>
                    <button role="button" class="btn btn-outline-secondary btn-wide w-100 ml-1" id="ClearButton" onclick="SearchReset();">Clear filters</button>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12" id="hideShopStatus">
                    <div class="form-group mb-0">
                        <label for="emailAddress">Shop Status</label>
                        <div>
                            <label class="switch mb-0">
                                <input type="checkbox" id="IsShopAct" onclick="ShopActInAct();" disabled="disabled">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
                
                @*<div class="col-xl-3 col-lg-4 col-md-6 col-12">
                <div class="col-xl-3 col-lg-4 col-md-6 col-12" id="hideSelectStatus">
                    <div class="form-group mb-0">
                        <label for="emailAddress">Select Status</label>
                        <div>
                            
                            <button role="button" class="btn btn-primary" id="accept" onclick="UpdateStatus(2);">Accept</button>&nbsp;&nbsp;&nbsp;
                            <button role="button" class="btn btn-danger" id="reject" onclick="UpdateStatus(3);">Reject</button>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-3 col-lg-4 col-md-6 col-12" id="hideCurerentStatus">
                    <div class="form-group mb-0">
                        <label for="emailAddress">Curerent Status</label>
                        <div>
                            <label id="currentStatus"></label>
                        </div>
                    </div>
                </div>*@
               @*<button role="button" class="btn btn-outline-secondary m-1" onclick="SearchReset(true);">Clear filters</button>*@
            </div>
        </div>
    </div>


    <div class="card mb-4 mt-3">
        <div class="card-header">
            <h6 class="mb-0">Basic Details</h6>
        </div>
        <div class="card-body">
            <div class="row fs-14">
                @*<div class="col">
                        <p class="text-muted mb-0">Shop ID</p>
                        <div class="fw-semibold" id="shopIdval">-</div>
                    </div>*@
                <div class="col">
                    <p class="text-muted mb-0">Shop Name</p>
                    <div class="fw-semibold" id="shopNameval">-</div>
                </div>
                <div class="col">
                    <p class="text-muted mb-0">Owner Name</p>
                    <div class="fw-semibold" id="ownerNameval">-</div>
                </div>
                <div class="col">
                    <p class="text-muted mb-0">Shop Owner Phone Number</p>
                    <div class="fw-semibold" id="shopPhonenumberval">-</div>
                </div>
                <div class="col">
                    <p class="text-muted mb-0">City</p>
                    <div class="fw-semibold" id="cityVal">-</div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4 mt-3">
        <div class="card-header">
            <h6 class="mb-0">
                Overview
            </h6>
        </div>
        <div class="card-body pt-0 pb-0">
            <div class="row fs-14">

                <div class="col-lg-12 p-0 border-b-1">
                    <div class="row m-0">
                        <div class="col-lg-6 border-r-1">
                            <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                <p class="text-muted mb-0">Total Successful Orders</p>
                                <div class="fw-semibold" id="TotalSuccOrder">0</div>
                            </div>
                            <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                <p class="text-muted mb-0">Total Value of Successful Orders</p>
                                <div class="fw-semibold" id="TotalValOfSuccOrder">0</div>
                            </div>
                            @*<div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between mt-3">
                                <p class="text-muted mb-0">Successful Orders (1 month)</p>
                                <div class="fw-semibold" id="SuccessfulOrder">0</div>
                            </div>
                            <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                <p class="text-muted mb-0">Value of Successful Orders (1 month)</p>
                                <div class="fw-semibold" id="ValueOfSuccessfulOrders">0</div>
                            </div>*@
                        </div>
                        <div class="col-lg-6 mb-2">
                            <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                <p class="text-muted mb-0">Shop Rating (last 20)</p>
                                <div class="fw-semibold" id="ShopRating">0</div>
                            </div>
                            <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                <p class="text-muted mb-0">Shop Rating (overall)</p>
                                <div class="fw-semibold" id="ShopRatingOverall">0</div>
                            </div>
                            <div class="col-lg-12 p-0 mt-3">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                            <p class="text-muted mb-0">Positives</p>
                                            @*<div class="fw-semibold" id="Positives">0</div>*@
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                            <p class="mb-0 text-danger">GoodQuality</p>
                                            <div class="fw-semibold text-danger" id="GoodQuality">0</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                            <p class="text-danger mb-0">Variety</p>
                                            <div class="fw-semibold text-danger" id="Variety">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 p-0">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                            <p class="text-muted mb-0">Negatives</p>
                                            @*<div class="fw-semibold" id="Negatives">0</div>*@
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                            <p class="text-danger mb-0">HighPrice</p>
                                            <div class="fw-semibold text-danger" id="HighPrice">0</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                            <p class="text-danger mb-0">RudeBehaviour</p>
                                            <div class="fw-semibold text-danger" id="RudeBehaviour">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 p-0">
                    <div class="row m-0">
                        <div class="col-lg-6 border-r-1">
                            <div class="col-lg-12 p-0 mt-2 mb-0 d-flex align-items-center justify-content-between">
                                <p class="text-muted mb-0">Display to open %</p>
                                <div class="fw-semibold" id="SearchToViewRatio">0</div>
                            </div>
                            <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                <p class="text-muted mb-0">View to VC %</p>
                                <div class="fw-semibold" id="ViewToVCRatio">0</div>
                            </div>
                            <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                <p class="text-muted mb-0">VC to Purchase %</p>
                                <div class="fw-semibold" id="VCToPurchaseRatio">0</div>
                            </div>
                            <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                <p class="text-muted mb-0">Purchase to Success %</p>
                                <div class="fw-semibold" id="PurchaseToSuccessRatio">0</div>
                            </div>

                        </div>
                        <div class="col-lg-6 mt-2">
                            <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                <p class="text-muted mb-0">Call Not Received % </p>
                                <div class="fw-semibold" id="CallNotReceived">0</div>
                            </div>
                            @*<div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                <p class="text-muted mb-0">Call-backs Non attempted %</p>
                                <div class="fw-semibold" id="CallbacksNonAttempted">0</div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>

    <div class="row">

        <div class="content container-fluid">
            <div class="row align-items-center justify-content-between mb-4">
                <div class="col-auto">
                    <h3 class="fw-bold">Shop Orders</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card table-responsive">
                        <div class="card-body">
                            <div class="col-12 mb-3">
                                <div class="table-responsive">
                                    <div class="portlet-body table-responsive" id="divShopOrdersTable">
                                        <table class="table text-black w-100" id="ShopOrdersTable"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content container-fluid">
            <div class="row align-items-center justify-content-between mb-4">
                <div class="col-auto">
                    <h3 class="fw-bold">Shop Employees</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card table-responsive">
                        <div class="card-body">
                            <div class="col-12 mb-3">
                                <div class="table-responsive">
                                    <div class="portlet-body table-responsive" id="divShopEmployeesTable">
                                        <table class="table text-black w-100" id="ShopEmployeesTable"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script>
        var url = window.location.href.split('/')[5];
        $(document).ready(function () {
            $('#hideShopStatus').hide();
            $('#hideSelectStatus').hide();
            $('#hideCurerentStatus').hide();
            //ShopOrdersDataTable.init();
            if (url != undefined && url != "") {
                $('#ShopId').val(url);
            }
            //$('#OwnerPhoneNumber').val("");
            $('#FilterBy').val("All")
            SearchShopOverviewData();
            
        });



        function SearchShopOverviewData() {

            $('#SearchButton').hide();
            $('#SearchLoading').show();
            $("#ClearButton").hide();

            //var shopid = $('#ShopId').val();
            //var ownerphonenumber = $('#OwnerPhoneNumber').val();
            if ($('#ShopId').val() != "0" && $('#ShopId').val() != "") {
                $("#OwnerPhoneNumber").val("");
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.ShopOverviewDataGet, Controllers.ShopOverview)',
                data: ({ ShopId: parseInt($('#ShopId').val()), OwnerPhoneNo: $('#OwnerPhoneNumber').val(), FilterBy: $('#FilterBy').val()}),
                dataType: 'json',
                success: function (response) {
                    if (response.Code == 200) {
                        if (response.Item != null) {
                            debugger;
                            if (ShopId == 0) {
                                $('#hideShopStatus').hide();
                                $('#hideSelectStatus').hide();
                                $('#hideCurerentStatus').hide();
                            }
                            else {
                                $('#hideShopStatus').show();
                                $('#hideSelectStatus').show();
                                $('#hideCurerentStatus').show();
                            }
                            $('#ShopId1').val(response.Item.Id);
                            $('#shopNameval').text(response.Item.ShopName == "" || response.Item.ShopName == null ? '-' : response.Item.ShopName);
                            $('#ownerNameval').text(response.Item.ShopOwnerName == "" || response.Item.ShopOwnerName == null ? '-' : response.Item.ShopOwnerName);
                            $('#OwnerPhoneNumber').val(response.Item.MobileNumber == "" || response.Item.MobileNumber == null ? '-' : response.Item.MobileNumber);
                            $('#shopPhonenumberval').text(response.Item.MobileNumber == "" || response.Item.MobileNumber == null ? '-' : response.Item.MobileNumber);
                            $('#cityVal').text(response.Item.CityName == "" || response.Item.CityName == null ? '-' : response.Item.CityName);
                            $('#TotalSuccOrder').text(response.Item.TotalSuccessfulOrders == "" || response.Item.TotalSuccessfulOrders == null ? '0' : response.Item.TotalSuccessfulOrders);
                            $('#TotalValOfSuccOrder').text(response.Item.TotalValueOfSuccessfulOrders == "" || response.Item.TotalValueOfSuccessfulOrders == null ? '0' : response.Item.TotalValueOfSuccessfulOrders);
                            $('#SuccessfulOrder').text(response.Item.SuccessfulOrdersLastMonth == "" || response.Item.SuccessfulOrdersLastMonth == null ? '0' : response.Item.SuccessfulOrdersLastMonth);
                            //$('#SearchToViewRatio').text(response.Item.SearchToViewRatio == "" || response.Item.SearchToViewRatio == null ? '0' : response.Item.SearchToViewRatio);
                            $('#SearchToViewRatio').text("-");
                            $('#Positives').text(response.Item.Positives == "" || response.Item.Positives == null ? '0' : response.Item.Positives);
                            $('#GoodQuality').text(response.Item.GoodQuality == "" || response.Item.GoodQuality == null ? '0' : response.Item.GoodQuality);
                            $('#Variety').text(response.Item.Variety == "" || response.Item.Variety == null ? '0' : response.Item.Variety);
                            $('#Negatives').text(response.Item.Negatives == "" || response.Item.Negatives == null ? '0' : response.Item.Negatives);
                            $('#HighPrice').text(response.Item.HighPrice == "" || response.Item.HighPrice == null ? '0' : response.Item.HighPrice);
                            $('#RudeBehaviour').text(response.Item.RudeBehaviour == "" || response.Item.RudeBehaviour == null ? '0' : response.Item.RudeBehaviour);
                            $('#ViewToVCRatio').text("-");
                            //$('#ViewToVCRatio').text(response.Item.ViewToVCRatio == "" || response.Item.ViewToVCRatio == null ? '0' : response.Item.ViewToVCRatio);
                            $('#VCToPurchaseRatio').text(response.Item.VCToPurchaseRatio == "" || response.Item.VCToPurchaseRatio == null ? '0' : response.Item.VCToPurchaseRatio);
                            $('#ShopRating').text(response.Item.ShopRatingLastTwenty == "" || response.Item.ShopRatingLastTwenty == null ? '0' : response.Item.ShopRatingLastTwenty);
                            $('#ShopRatingOverall').text(response.Item.ShopRatingLastOverall == "" || response.Item.ShopRatingLastOverall == null ? '0' : response.Item.ShopRatingLastOverall);
                            $('#ValueOfSuccessfulOrders').text(response.Item.ValueOfSuccessfulOrdersLastMonth == "" || response.Item.ValueOfSuccessfulOrdersLastMonth == null ? '0' : response.Item.ValueOfSuccessfulOrdersLastMonth);
                            $('#CallNotReceived').text(response.Item.CallNotReceivedPerLastMonth == "" || response.Item.CallNotReceivedPerLastMonth == null ? '0' : response.Item.CallNotReceivedPerLastMonth);
                            $('#PurchaseToSuccessRatio').text(response.Item.PurchaseToSuccessRatio == "" || response.Item.PurchaseToSuccessRatio == null ? '0' : response.Item.PurchaseToSuccessRatio);
                            $('#CallbacksNonAttempted').text(response.Item.CallBacksNonAttemptedPerLastMonth == "" || response.Item.CallBacksNonAttemptedPerLastMonth == null ? '0' : response.Item.CallBacksNonAttemptedPerLastMonth);
                            ShopOrdersDataTable.init();
                            ShopEmployeesDataTable.init();
                            $("#IsShopAct").removeAttr("disabled");

                            if (response.Item.IsActive == true) {
                                $("#IsShopAct").prop("checked", response.Item.IsActive);
                            } else {
                                $("#IsShopAct").prop("unchecked", response.Item.IsActive);
                            }

                            if (response.Item.IsApprovedByAdmin == 1) {
                                $('#currentStatus').text("Pending");
                            }
                            else if (response.Item.IsApprovedByAdmin == 2) {
                                $('#currentStatus').text("Approved");
                            }
                            else if (response.Item.IsApprovedByAdmin == 3) {
                                $('#currentStatus').text("Failier");
                            }
                            else {
                                $('#currentStatus').text("NA");
                            }

                            toastr["success"](response.Message)
                        } else {
                            $("#IsShopAct").attr("disabled", true);                            
                            $('#shopNameval').text('-')
                            $('#ownerNameval').text('-')
                            $('#shopPhonenumberval').text('-')
                            $('#cityVal').text('-')
                            $('#TotalSuccOrder').text('0')
                            $('#TotalValOfSuccOrder').text('0')
                            $('#SuccessfulOrder').text('0')
                            $('#SearchToViewRatio').text('0')
                            $('#Positives').text('0')
                            $('#GoodQuality').text('0')
                            $('#Variety').text('0')
                            $('#Negatives').text('0')
                            $('#HighPrice').text('0')
                            $('#RudeBehaviour').text('0')
                            $('#ViewToVCRatio').text('0')
                            $('#VCToPurchaseRatio').text('0')
                            $('#ShopRating').text('0')
                            $('#ShopRatingOverall').text('0')
                            $('#ValueOfSuccessfulOrders').text('0')
                            $('#CallNotReceived').text('0')
                            $('#PurchaseToSuccessRatio').text('0')
                            $('#CallbacksNonAttempted').text('0')
                            ShopOrdersDataTable.init();
                            ShopEmployeesDataTable.init();
                            $("#IsShopAct").attr("disabled", true);
                            $("#IsShopAct").prop("checked", false);
                        }
                    }
                    else {
                        debugger;
                        $("#IsShopAct").attr("disabled", true);
                        $("#IsShopAct").prop("checked", false);
                        $('#shopNameval').text('-');
                        $('#ownerNameval').text('-');
                        $('#shopPhonenumberval').text('-');
                        $('#cityVal').text('-');
                        $('#TotalSuccOrder').text('0');
                        $('#TotalValOfSuccOrder').text('0');
                        $('#SuccessfulOrder').text('0');
                        $('#SearchToViewRatio').text('0');
                        $('#Positives').text('0');
                        $('#GoodQuality').text('0');
                        $('#Variety').text('0');
                        $('#Negatives').text('0');
                        $('#HighPrice').text('0');
                        $('#RudeBehaviour').text('0');
                        $('#ViewToVCRatio').text('0');
                        $('#VCToPurchaseRatio').text('0');
                        $('#ShopRating').text('0');
                        $('#ShopRatingOverall').text('0');
                        $('#ValueOfSuccessfulOrders').text('0');
                        $('#CallNotReceived').text('0');
                        $('#PurchaseToSuccessRatio').text('0');
                        $('#CallbacksNonAttempted').text('0');
                        ShopOrdersDataTable.init();
                        ShopEmployeesDataTable.init();
                        toastr["error"](response.Message);
                    }

                    $('#SearchButton').show();
                    $('#SearchLoading').hide();
                    $("#ClearButton").show();
                },
                error: function (error) {
                    toastr["error"]("Something went wrong !");
                    $('#SearchButton').show();
                    $('#SearchLoading').hide();
                    $("#ClearButton").show();
                    ShopOrdersDataTable.init();
                    ShopEmployeesDataTable.init();
                }
            });
        };

        var ShopOrdersDataTable = function () {
            let initTable1 = function () {
                let table = $('#ShopOrdersTable');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    "searching": false,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from MAX total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action("Shop_Orders", "ShopOverview")',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                    "columns": [
                        {
                            "title": "Order ID", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                //htmlData = `${row["OrderId"]}`;
                                htmlData = `<a href="@Url.Action("OrderDetails", Controllers.Orders)?orderId=${row["OrderId"]}">${row["OrderId"]}</a> `;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },

                        {
                            "title": "Item Name", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                //htmlData = `${row["ItemName"]}`;
                                htmlData = `<p class="mb-0">${row["ItemName"] == "" || row["ItemName"] == null ? '-' : row["ItemName"]}</p>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Date Of Order", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                //htmlData = `${row["CreatedDate"]}`;
                                htmlData = `<p class="mb-0">${row["CreatedDate"] == "" || row["CreatedDate"] == null ? '-' : moment.utc(`${row["CreatedDate"]}`).format('DD-MM-YYYY')}</p>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Order Status", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                //htmlData = `${row["OrderName"]}`;
                                htmlData = `<p class="mb-0">${row["OrderName"] == "" || row["OrderName"] == null ? '-' : row["OrderName"]}</p>`;
                                return htmlData;
                            }
                        , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Seller Payment Status", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                //htmlData = `${row["PaymentStatus"]}`;
                                htmlData = `<p class="mb-0">${row["PaymentStatus"] == "" || row["PaymentStatus"] == null ? '-' : row["PaymentStatus"]}</p>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "CUSTOMER PHONE NUMBER", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                //htmlData = `${row["CustomerMobileNumber"]}`;
                                htmlData = `<p class="mb-0">${row["CustomerMobileNumber"] == "" || row["CustomerMobileNumber"] == null ? '-' : `<a href="tel:${row["CustomerMobileNumber"]}">${row["CustomerMobileNumber"]}</a>`}</p>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "CUSTOMER NAME", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                //htmlData = `${row["CustomerName"]}`;
                                htmlData = `<p class="mb-0">${row["CustomerName"] == "" || row["CustomerName"] == null ? '-' : row["CustomerName"]}</p>`;
                                return htmlData;
                            }
                        , "orderable": false, "width": "3%"
                        },
                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    "buttons": [
                        {
                            "extend": 'csv',
                            className: 'them-btn btn-info tbtn1',
                            "action": newexportaction
                        },
                    ],
                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500]
                    ],

                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                 });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#ShopOrdersTable")) {
                        $('#ShopOrdersTable').dataTable().fnDestroy();
                        $('#divShopOrdersTable').html('<table class="table table-striped" width="100%" id="ShopOrdersTable"></table>');
                    }
                    initTable1();
                }
            };
        }();

        //Data fillter function
        function BuildSearchCriteria() {
            try {
                var param = {};
                param["ShopMobileNumber"] = $("#OwnerPhoneNumber").val();
                param["ShopId"] = parseInt($('#ShopId').val());
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        // Shop Employees
        var ShopEmployeesDataTable = function () {
            let initTable1 = function () {
                let table = $('#ShopEmployeesTable');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    "searching": false,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from MAX total entries)",
                        "lengthMenu": "_MENU_ entries",
                        //"search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action("ShopEmployees_All", "ShopOverview")',
                        type: "post",
                        data: BuildSearchCriteria1(),
                    },
                    "columns": [
                        {
                            "title": "Employee Name", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                //htmlData = `${row["EmpPhoneNumber"]}`;
                                htmlData = `<p class="mb-0">${row["ShopOwnerName"] == "" || row["ShopOwnerName"] == null ? '-' : row["ShopOwnerName"]}</p>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "User Phone Number", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                //htmlData = `${row["EmpPhoneNumber"]}`;
                                htmlData = `<p class="mb-0">${row["MobileNumber"] == 0 || row["MobileNumber"] == null ? '-' : `<a href="tel:${row["MobileNumber"]}">${row["MobileNumber"]}</a>`}</p>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Which Access Given", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = "-";
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Access", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = "-";
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Status", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                //htmlData = `${row["IsActive"]}`;
                                htmlData = `<p class="mb-0">${row["IsActive"] == 0 ? '<div class="badge badge-soft-danger">Suspend</div>' : row["IsActive"] == 1 ? '<div class="badge badge-soft-success" >Active</div>' : '<div class="badge badge-soft-danger">Deleted</div>' }</p>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    "buttons": [
                        {
                            "extend": 'csv',
                            className: 'them-btn btn-info tbtn1',
                            "action": newexportaction
                        },
                    ],
                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500]
                    ],

                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                 });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#ShopEmployeesTable")) {
                        $('#ShopEmployeesTable').dataTable().fnDestroy();
                        $('#divShopEmployeesTable').html('<table class="table table-striped" width="100%" id="ShopEmployeesTable"></table>');
                    }
                    initTable1();
                }
            };
        }();

        //Data fillter function
        function BuildSearchCriteria1() {
            try {
                var param = {};
                param["ShopId"] = parseInt($('#ShopId').val());
                return addRequestVerificationToken1(param);
            } catch (e) { }
        }

        function addRequestVerificationToken1(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        function SearchReset(){
            $('#ShopId').val("");
            $('#OwnerPhoneNumber').val("");
            $('#FilterBy').val("All")
            SearchShopOverviewData();
        }

        function ShopActInAct() {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.Shop_ActInAct, Controllers.ShopOverview)',
                data: { Id: $('#ShopId1').val() },
                success: function (response) {
                    toastr["success"](response.Message);
                },
                error: function (error) {
                    toastr["error"]("Something went wrong")
                    console.log('Error', error);
                }
            })
        }

       
        function UpdateStatus(Id) {

            //var sts = 0;
            //if ($("#accept").prop("checked") == true) {
            //    sts = 2;
            //} else {
            //    sts = 0;
            //}
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.Shop_IsApprovedByAdmin, Controllers.ShopOverview)',
                data: { Id: $('#ShopId1').val(), Status: Id },
                success: function (response) {
                    SearchShopOverviewData();
                    toastr["success"](response.Message);
                },
                error: function (error) {
                    toastr["error"]("Something went wrong")
                    console.log('Error', error);
                }
            })
        } 



    </script>

}
