﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;
@Html.AntiForgeryToken()

@{
    if (ViewBag.RId > 0)
    {
        ViewBag.Title = "Edit FAQ";

    }
    else
    {
        ViewBag.Title = "Create FAQ";
    }
}

<style>
    .error {
        color:  red
    }
</style>

<div class="content container-fluid">
    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.ShopkeeperSupport)" style="color: #0596F8;">Shopkeeper Support</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
            <h3 class="fw-bold">@ViewBag.Title</h3>
        </div>

    </div>


    <div class="row">
        <div class="col-12">

            <div class="card-body p-0">
                <form id="frmFAQ" name="frmFAQ" method="post">
                    <div class="row">
                        <div class="col-12">
                            <label>Question</label>
                            <input type="hidden" id="FID" name="FID" value="@ViewBag.RId" />
                            <input type="text" id="FaqHeading" name="FaqHeading" class="form-control" placeholder="Please enter question" />
                        </div>
                        <div class="col-12">
                            <label>Answer</label>
                            <textarea class="form-control" id="Description" name="Description" placeholder="Please enter answer"></textarea>
                        </div>
                        <div class="col-12">
                            <label>Status</label>
                            <select class="form-control" id="IsActive" name="IsActive">
                                <option value="true">Active</option>
                                <option value="false">In-Active</option>
                            </select>
                        </div>
                        <div class="col-12 text-right p-4">
                            <input type="submit" value="Save" class="btn btn-primary saveBtn" />
                            <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Saving...
                            </button>
                            <a href="@Url.Action(Actions.Index,Controllers.ShopkeeperSupport)" class="btn btn-danger closeBtn">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(() => {

            $("#frmFAQ").validate({
                rules: {
                    FaqHeading: "required",
                    Description: "required",
                    IsActive: "required"
                },
                messages: {
                    FaqHeading: {
                        required: "Question is required",
                    },
                    Description: {
                        required: "Answer is required",
                    },
                    IsActive: {
                        required: "Please select the status",
                    }
                },

                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents(".form-group"));
                    } else {
                        // This is the default behavior
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    SaveFAQData();
                }
            });


            if (@ViewBag.RId > 0) {
                BindData();
            }
        });

        function BindData()
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetFaqs, Controllers.ShopkeeperSupport)',
                data: {Id : @ViewBag.RId},
                dataType: 'json',
                async: true,

                success: function (response) {
                    if (response.Code == 200) {
                        
                        $("#FaqHeading").val(response.Item.FaqHeading);
                        $("#Description").val(response.Item.Description);
                        $("#IsActive").val(response.Item.IsActive.toString());
                    } else {
                        toastr["error"](response.Message);
                    }
                    },
                    error: function (error) {
                        toastr["error"]("Something went wrong");
                    }
                });
        }

        function SaveFAQData()
        {
            $(".saveBtn").hide();
            $(".loading").show();
            $(".closeBtn").hide();

            var formdata = {
                Id: $("#FID").val(),
                FaqHeading: $("#FaqHeading").val(),
                Description: $("#Description").val(),
                IsActive: $("#IsActive").val()
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.SaveFaqs, Controllers.ShopkeeperSupport)',
                data: formdata,
                dataType: 'json',
                success: function (response) {

                    if (response.Code == 200) {
                        toastr["success"](response.Message);
                        window.location.href = "@Url.Action(Actions.Index,Controllers.ShopkeeperSupport)";
                    } else {
                        toastr["error"](response.Message);
                    }
                    $(".saveBtn").show();
                    $(".loading").hide();
                    $(".closeBtn").show();
                    },
                    error: function (error) {
                        toastr["error"]("Something went wrong");
                        $(".saveBtn").show();
                        $(".loading").hide();
                        $(".closeBtn").show();
                    }
                });
        }
    </script>
}