﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;
@Html.AntiForgeryToken()

@{
    if (ViewBag.Id > 0)
    {
        ViewBag.Title = "Edit Video";

    }
    else
    {
        ViewBag.Title = "Create Video";
    }
}

<div class="content container-fluid">


    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.ShopkeeperSupport)" style="color: #0596F8;">Manage Shopkeeper Support</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
            <h3 class="fw-bold">@ViewBag.Title</h3>
        </div>

    </div>


    <div class="row">
        <div class="col-12">
            <div class="card-body p-0">
                <form id="frmVideo" name="frmVideo" method="post" enctype="multipart/form-data" >
                    <div class="row">
                        <div class="col-12">
                            <label>Video Title</label>
                            <input type="hidden" id="VideoId" name="VideoId" value="@ViewBag.Id" />
                            <input type="text" id="VideoHeading" name="VideoHeading" class="form-control" placeholder="Please enter video title" />
                        </div>
                        <div class="col-12">
                            <label>Video Description</label>
                            <textarea class="form-control" id="Description" name="Description" placeholder="Please enter video description"></textarea>
                        </div>
                        <div class="col-12">
                            <label>Thumbnail Image</label>
                            @{ if (ViewBag.Id > 0)
                                {
                                    <br /><img src="" id="fAQImage" height="50px" class="mt-2">
                                }
                            }
                            <input type="file" class="form-control" id="ImageFiles" name="ImageFiles" accept="image/*" />
                        </div>
                        <div class="col-12">
                            <label>Select Video</label>
                            @{ if (ViewBag.Id > 0)
                                {
                                    <br />@*<video controls><source class="mb-1 mt-2" id="VideoURL" type="video/mp4"></video>*@
                                    <video style="height: 200px; width: 300px" class="mb-1" controls="controls" id="VideoURL">
                                        Your browser does not support the video tag
                                    </video>
                                }
                            }
                            <input type="file" class="form-control" id="VideoFiles" name="VideoFiles" placeholder="Please select a file" accept="video/*" />
                        </div>
                        <div class="col-12">
                            <label>Status</label>
                            <select id="IsActive" name="IsActive" class="form-control" required>
                                <option value="true">Active</option>
                                <option value="false">In-Active</option>
                            </select>
                        </div>
                        <div class="col-12 text-right p-4">
                            <input type="submit" value="Save" class="btn btn-primary saveBtn" />
                            <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Saving...
                            </button>
                            <a href="@Url.Action(Actions.Index,Controllers.ShopkeeperSupport)" class="btn btn-danger closeBtn">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(() => {

            $.validator.addMethod('filesize', function (value, element, param) {
                return this.optional(element) || (element.files[0].size <= param * 1000000)
            }, 'File size must be less than {0} MB');

            if (@ViewBag.Id == 0) {
                $("#frmVideo").validate({
                    rules: {
                        VideoFiles: { required: true, filesize: 10, },
                        VideoHeading: "required",
                        ImageFiles: "required",
                        Description: "required",
                        IsActive: "required"
                    },
                    messages: {
                        VideoFiles: {
                            required: "Please select the video",
                        },
                        VideoHeading: {
                            required: "Video title is required",
                        },
                        ImageFiles: {
                            required: "Please select the image",
                        },
                        Description: {
                            required: "Video description is required",
                        },
                        IsActive: {
                            required: "Please select the status",
                        }
                    },
                    errorPlacement: function (error, element) {
                        if (element.is(":radio")) {
                            error.appendTo(element.parents(".form-group"));
                        } else {
                            // This is the default behavior
                            error.insertAfter(element);
                        }
                    },
                    submitHandler: function (form) {
                        SaveVideoData();
                    }
                });
            } else {

                $("#frmVideo").validate({
                    rules: {
                        VideoHeading: "required",
                        ImageFiles: {
                            filesize: 2,
                        },
                        Description: "required",
                        IsActive: "required",
                        VideoFiles: {
                            filesize: 10,
                        },
                    },
                    messages: {
                        VideoHeading: {
                            required: "Video title is required",
                        },
                        Description: {
                            required: "Video description is required",
                        },
                        IsActive: {
                            required: "Please select the status",
                        }
                    },

                    errorPlacement: function (error, element) {
                        if (element.is(":radio")) {
                            error.appendTo(element.parents(".form-group"));
                        } else {
                            // This is the default behavior
                            error.insertAfter(element);
                        }
                    },
                    submitHandler: function (form) {
                        SaveVideoData();
                    }
                });
            }

            


            if (@ViewBag.Id > 0) {
                BindData();
            }
        });

        function BindData()
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetFaqVideos, Controllers.ShopkeeperSupport)',
                data: { Id: @ViewBag.Id },
                dataType: 'json',
                async: true,

                success: function (response) {
                    if (response.Code == 200) {
                        $("#VideoHeading").val(response.Item.VideoHeading);
                        $("#fAQImage").attr('src', response.Item.ThumbnailImageUrlStr);
                        $("#Description").val(response.Item.Description);
                        $("#IsActive").val(response.Item.IsActive.toString());
                        //$("#VideoFiles").get(0).files[response.Item.VideoUrl];
                        $("#VideoURL").attr('src', response.Item.VideoUrlStr);
                    } else {
                        toastr["error"](response.Message);
                    }
                    },
                    error: function (error) {
                        toastr["error"]("Something went wrong");
                    }
                });
        }
        function SaveVideoData()
        {
            $(".saveBtn").hide();
            $(".loading").show();
            $(".closeBtn").hide();

            var formdata = new FormData();
            formdata.append("Id", $("#VideoId").val());
            formdata.append("VideoHeading", $("#VideoHeading").val());
            formdata.append("Imagefiles", $("#ImageFiles").get(0).files[0]);
            formdata.append("Description", $("#Description").val());
            formdata.append("files", $("#VideoFiles").get(0).files[0]);
            formdata.append("IsActive", $("#IsActive").val());
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.SaveFaqVideos, Controllers.ShopkeeperSupport)',
                data: formdata,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.Code == 200) {
                        toastr["success"](response.Message);
                        window.location.href = "@Url.Action(Actions.Index,Controllers.ShopkeeperSupport)";
                    } else {
                        toastr["error"](response.Message);
                    }
                    $(".saveBtn").show();
                    $(".loading").hide();
                    $(".closeBtn").show();
                },
                error: function (error) {
                    toastr["error"]("Something went wrong");
                    $(".saveBtn").show();
                    $(".loading").hide();
                    $(".closeBtn").show();
                }
            });
        }
    </script>
}