﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage FAQS";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="content container-fluid">


    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">ShopKeeper Support</li>
                </ol>
            </nav>
        </div>
    </div>
    <h3 class="fw-bold">Videos</h3>
    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            @*<button role="button" class="btn btn-primary btn-wide m-1" onclick="showSearchmodal();"><i class="tio-filter-outlined"></i> Filter</button>
                                <button role="button" class="btn btn-outline-secondary m-1" onclick="SearchReset(true);">Clear filters</button>*@
                        </div>
                    </div>
                    <div class="table-responsive" id="divtableFaqVideos">
                        <table class="table border rounded w-100" id="tableFaqVideos"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h3 class="fw-bold">FAQS</h3>
    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            @*<button role="button" class="btn btn-primary btn-wide m-1" onclick="showSearchmodal();"><i class="tio-filter-outlined"></i> Filter</button>
                                <button role="button" class="btn btn-outline-secondary m-1" onclick="SearchReset(true);">Clear filters</button>*@
                        </div>
                    </div>
                    <div class="table-responsive" id="divtableFaqs">
                        <table class="table border rounded w-100" id="tableFaqs"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            FaqVideosDataTable.init();
            FaqsDataTable.init();
        });


        //Orders DataTable Bind
        var FaqVideosDataTable = function () {
            let initTable1 = function () {
                let table = $('#tableFaqVideos');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.GetAllFaqVideos, Controllers.ShopkeeperSupport)',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                    "columns": [
                    {
                        "title": "Title", "data": "VideoHeading",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["VideoHeading"] == "" || row["VideoHeading"] == null ? '-' : row["VideoHeading"]}</p>`;
                            return htmlData;
                       Url}
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Description", "data": "Description",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["Description"] == "" || row["Description"] == null ? '-' : row["Description"]}</p>`;
                            return htmlData;
                            Url
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Status", "data": "IsActive",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            if (row["IsActive"] == 1) {
                                htmlData = `<div onclick="InActiveMessage1(${row["Id"]});" style="cursor:pointer;" class="badge badge-soft-info">Active</div>`;
                            }
                            else {
                                htmlData = `<div onclick="ActiveMessage1(${row["Id"]});" style="cursor:pointer;" class="badge badge-soft-danger">In-Active</div>`;
                            }
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Video Url", "data": "VideoUrl",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a href="/${row["VideoUrl"]}" title="View Video" class="btn btn-outline-secondary btn-sm" target="_blank"><i class="fa fa-eye"></i></a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Action", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData += `<a title="Edit Video" href="@Url.Action(Actions.FaqVideosManage, Controllers.ShopkeeperSupport)?ri=${btoa(row["Id"])}" class="btn btn-outline-secondary btn-sm mr-2"><span class="fa fa-pencil"></span></a>`;
                            htmlData += `<a title="Delete Video" class="btn btn-outline-secondary btn-sm" onclick="ConfirmDelete(${row["Id"]})"><span class="fa fa-trash"></span></a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                ],
                // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                        {
                            text: "Add Video",
                            className: "them-btn btn-primary tbtn",
                            action: function (e, dt, node, config) {
                                window.location.href = "@Url.Action(Actions.FaqVideosManage,Controllers.ShopkeeperSupport)";
                            }

                        },
                        {
                            "extend": 'csv',
                            className: 'them-btn btn-info tbtn1',
                            //"action": newexportaction
                        },

                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500] // change per page values here
                    ],
                    // set the initial value
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#tableFaqVideos")) {
                        $('#tableFaqVideos').dataTable().fnDestroy();
                        $('#divtableFaqVideos').html('<table class="table border rounded w-100" id="tableFaqVideos"></table>');
                    }
                    initTable1();
                }
            };
        }();


        function ConfirmDelete(id)
        {
            id = parseInt(id);
            let confirmBox = confirm("Are You Sure You want to Delete this Video ?");
            if (confirmBox) {
                DeleteFaqVideos(id);
            }
        }
        function DeleteFaqVideos(id)
        {
            $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.DeleteFaqVideos, Controllers.ShopkeeperSupport)',
                data: { Id: id },
                    dataType: 'json',
                    async: false,
                success: function (response) {
                    FaqVideosDataTable.init();
                    toastr["success"](response.Message);
                    },
                    error: function (error) {
                        toastr["error"]("Something Wen Wrong");
                    }
                });
        }

        //Data fillter function
        function BuildSearchCriteria() {
            try {
                var param = {};

                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        function ActiveMessage1(id) {
            let confirmBox = confirm("Are You Sure You want to Active this FAQ Video ?");
            if (confirmBox) {
                UpdateStatus1(id);
            }
        }
        function InActiveMessage1(id) {
            let confirmBox = confirm("Are You Sure You want to In-Active this FAQ Video ?");
            if (confirmBox) {
                UpdateStatus1(id);
            }
        }
        function UpdateStatus1(id)
        {
            id = parseInt(id);
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.UpdateStatus, Controllers.ShopkeeperSupport)',
                data: { Id: id },
                dataType: 'json',
                async: false,
                success: function (response) {
                    toastr["success"](response.Message);
                    FaqVideosDataTable.init();
                },
                error: function (error) {
                    toastr["error"]("Something Went wrong");
                }
            });
        }

        // FAQS


        var FaqsDataTable = function () {
            let initTable2 = function () {
                let table1 = $("#tableFaqs");

                let oTable = table1.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.GetAllFaqs, Controllers.ShopkeeperSupport)',
                        type: "post",
                        data: BuildSearchCriteria1(),
                    },
                    "columns": [
                    {
                        "title": "Question", "data": "FaqHeading",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["FaqHeading"] == "" || row["FaqHeading"] == null ? '-' : row["FaqHeading"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Answer", "data": "Description",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["Description"] == "" || row["Description"] == null ? '-' : row["Description"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Status", "data": "IsActive",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            if (row["IsActive"] == 1) {
                                htmlData = `<div onclick="InActiveMessage(${row["Id"]});" style="cursor:pointer;" class="badge badge-soft-info">Active</div>`;
                            }
                            else {
                                htmlData = `<div onclick="ActiveMessage(${row["Id"]});" style="cursor:pointer;" class="badge badge-soft-danger">In-Active</div>`;
                            }
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Action", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a title="Edit FAQ" href="@Url.Action(Actions.FaqsManage, Controllers.ShopkeeperSupport)?ri=${btoa(row["Id"])}" class="btn btn-outline-secondary btn-sm mr-2"><span class="fa fa-pencil"></span></a>`;
                            htmlData += `<a title="Delete FAQ" class="btn btn-outline-secondary btn-sm" onclick="ConfirmDeleteFAQ(${row["Id"]})"><span class="fa fa-trash"></span></a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                ],
                // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                        {
                            text: "Add FAQ",
                            className: "them-btn btn-primary tbtn",
                            action: function (e, dt, node, config) {
                                window.location.href = "@Url.Action(Actions.FaqsManage,Controllers.ShopkeeperSupport)";
                            }

                        },
                        {
                            "extend": 'csv',
                            className: 'them-btn btn-info tbtn1',
                            //"action": newexportaction
                        },

                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500] // change per page values here
                    ],
                    // set the initial value
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#tableFaqs")) {
                        $('#tableFaqs').dataTable().fnDestroy();
                        $('#divtableFaqs').html('<table class="table border rounded w-100" id="tableFaqs"></table>');
                    }
                    initTable2();
                }
            };
        }();

        function BuildSearchCriteria1() {
            try {
                var param = {};

                return addRequestVerificationToken1(param);
            } catch (e) { }
        }

        function addRequestVerificationToken1(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }


        function ConfirmDeleteFAQ(id)
        {
            id = parseInt(id);
            let confirmBox = confirm("Are You Sure You want to Delete this FAQ ?");
            if (confirmBox) {
                DeleteFaqs(id);
            }
        }
        function DeleteFaqs(id)
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.DeleteFaqs, Controllers.ShopkeeperSupport)',
                data: { Id: id },
                dataType: 'json',
                async: false,
                success: function (response) {
                    FaqsDataTable.init();
                    toastr["success"](response.Message);
                },
                error: function (error) {
                    toastr["error"]("Something Went Wrong");
                }
            });
        }

        function ActiveMessage(id) {
            let confirmBox = confirm("Are You Sure You want to Active this FAQ ?");
            if (confirmBox) {
                UpdateStatus(id);
            }
        }
        function InActiveMessage(id) {
            let confirmBox = confirm("Are You Sure You want to In-Active this FAQ ?");
            if (confirmBox) {
                UpdateStatus(id);
            }
        }
        function UpdateStatus(id)
        {
            id = parseInt(id);
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.UpdateStatusFAQ, Controllers.ShopkeeperSupport)',
                data: { Id: id },
                dataType: 'json',
                async: false,
                success: function (response) {
                    toastr["success"](response.Message);
                    FaqsDataTable.init();
                },
                error: function (error) {
                    toastr["error"]("Something Went wrong");
                }
            });
        }
    </script>
}
