﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Offer";
}
<style>
    .dt-buttons {
        float: right;
    }

    .tbtn {
        margin-right: 15px;
        border-radius: 5px !important;
        color: #fff;
        background-color: #0596F8;
        border-color: #0596F8;
    }

    .tbtn1 {
        margin-right: 15px;
        border-radius: 5px !important;
        color: #fff;
        background-color: #f0ad4e;
        border-color: #eea236;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="content container-fluid">


    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Offers</li>
                </ol>
            </nav>
        </div>
        @*<div class="col-auto">
                <button class="btn btn-primary" data-target="#addNewPlan" data-toggle="modal" role="button"><i class="tio-add"></i> Add new plan</button>
            </div>*@
    </div>

    <h3 class="fw-bold">Offer Approval</h3>
    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            @*<button role="button" class="btn btn-primary btn-wide m-1" onclick="showSearchmodal();"><i class="tio-filter-outlined"></i> Filter</button>
                                <button role="button" class="btn btn-outline-secondary m-1" onclick="SearchReset(true);">Clear filters</button>*@
                        </div>
                    </div>
                    <div class="table-responsive" id="divtableOffers">
                        <table class="table border rounded w-100" id="tableOffers"></table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br />
    <h3 class="fw-bold">Live Offers</h3>
    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            @*<button role="button" class="btn btn-primary btn-wide m-1" onclick="showSearchmodal();"><i class="tio-filter-outlined"></i> Filter</button>
                                <button role="button" class="btn btn-outline-secondary m-1" onclick="SearchReset(true);">Clear filters</button>*@
                        </div>
                    </div>
                    <div class="table-responsive" id="divtableBanner">
                        <table class="table border rounded w-100" id="tableBanner"></table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        var CurrentToday = (new Date()).toISOString();

        $(document).ready(function () {

            //alert(CurrentToday);
            OffersDataTable.init();
            ActiveOfferDataTable.init();
        });

        var OffersDataTable = function () {
            let initTable1 = function () {
                let table = $('#tableOffers');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.GetAllOffers, Controllers.Offer)',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                "columns": [
                    {
                        "title": "Shop Id", "data": "ShopId",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            /*htmlData = `${row["ShopId"]}`;*/
                            htmlData = `<a href="/ShopOverview/Index/${row["ShopId"]}">${row["ShopId"]}</a> `;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Shop Name", "data": "ShopName",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["ShopName"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Offer Text", "data": "OfferText",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["OfferText"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Start Date", "data": "StartDate",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["StartDateStr"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "End Date", "data": "EndDate",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["EndDateStr"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Change Status", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            let ids = "";
                            ids = `${row["Id"]}`;
                            if (moment(CurrentToday).diff(row["EndDate"]) > 0) {

                                htmlData += '<button disabled class="badge badge-soft-primary">Expire</button>';

                            } else {
                                /*if (row["IsActive"] == true) {*/
                                        htmlData = `<button onclick="UpdateOfferStatus(` + ids + `,1);" class="btn btn-success btn-sm" style='margin-right:16px'>Accept</button>`;
                                    htmlData += `<button onclick="UpdateOfferStatus(` + ids + `,2);" class="btn btn-danger btn-sm">Reject</button>`;
                                /*}*/
                            }


                            return htmlData;
                        }
                        , "orderable": false, "width": "12%"
                    },
                    {
                        "title": "Status", "data": "OfferStatus",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            let ids = "";
                            ids = `${row["Id"]}`;
                            if (moment(CurrentToday).diff(row["EndDate"]) > 0) {

                                htmlData +=  '<span>-</span>';

                            }
                            else if ((row["OfferStatus"] == 0) && (row["IsActive"] == true)) {

                                htmlData += '<button onclick="Reject(' + ids + ',0);" class="badge badge-soft-info">Active</button>';
                            } else if ((row["OfferStatus"] == 0) && (row["IsActive"] == false)) {
                                htmlData += '<button onclick="Approve(' + ids + ',1);" class="badge badge-soft-danger">In-Active</button>';
                            }
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Action", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a title="Edit Offers" href="@Url.Action(Actions.Manage,Controllers.Offer)?ri=${btoa(row["Id"])}" class="btn btn-outline-secondary btn-sm mr-2"><span class="fa fa-pencil"></span></a>`;
                            htmlData += `<a title="Delete Offers" class="btn btn-outline-secondary btn-sm" onclick="ConfirmDelete(${row["Id"]})"><span class="fa fa-trash"></span></a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },

                    @*{
                        "title": "Action", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData += `<a title="Edit Offers" href="@Url.Action(Actions.Manage,Controllers.Offer)?ri=${btoa(row["Id"])}" class="btn btn-outline-secondary btn-sm"><span class="fa fa-pencil"></span></a>`;
                            htmlData += `<a title="Delete Offers" class="btn btn-outline-secondary btn-sm" onclick="ConfirmDelete(${row["Id"]})"><span class="fa fa-trash"></span></a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    }*@
                    ],
                    "buttons": [
                        //{
                        //    text: 'Fillter',
                        //    className: 'them-primary',
                        //    action: function (e, dt, node, config) {
                        //        OpenAddNewOrderStatusPopup();
                        //    }
                        //},
                        //{
                        //    text: 'Reset',
                        //    className: 'them-btn',
                        //    action: function (e, dt, node, config) {
                        //        OpenAddNewOrderStatusPopup();
                        //    }
                        //},
                        {
                            text: "Add Offer",
                            className: "them-btn btn-primary tbtn",
                            action: function (e, dt, node, config) {
                                window.location.href = "@Url.Action(Actions.Manage,Controllers.Offer)";
                            }
                        },
                        {
                            "extend": 'csv',
                            className: 'them-btn btn-info tbtn1',
                            "action": newexportaction
                        },
                        //{ extend: 'excel', className: 'them-btn' }
                    ],

                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500] // change per page values here
                    ],
                    // set the initial value
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#tableOffers")) {
                        $('#tableOffers').dataTable().fnDestroy();
                        $('#divtableOffers').html('<table class="table border rounded w-100" id="tableOffers"></table>');
                    }
                    initTable1();
                }
            };
        }();

        //Orders DataTable Bind
        var ActiveOfferDataTable = function () {
            let initTable1 = function () {
                let table = $('#tableBanner');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.GetAllActiveOffers, Controllers.Offer)',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                "columns": [
                    {
                        "title": "Shop Id", "data": "ShopId",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            /*htmlData = `${row["ShopId"]}`;*/
                            htmlData = `<a href="/ShopOverview/Index/${row["ShopId"]}">${row["ShopId"]}</a> `;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Shop Name", "data": "ShopName",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["ShopName"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Offer Text", "data": "OfferText",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["OfferText"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Start Date", "data": "StartDate",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["StartDateStr"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "End Date", "data": "EndDate",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["EndDateStr"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Action", "data": "IsActive",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            let ids = "";
                            ids = `${row["Id"]}`;

                            //if (Date.parse(CurrentToday) > Date.parse(row["EndDateStr"])) {
                            //    InActiveCall(' + ids + ', 0);
                            //} else {
                            //    htmlData += '<button onclick="InActiveCall(' + ids + ',0);" class="badge badge-soft-danger">In-Active</button>';
                            //}

                            htmlData += '<button onclick="InActiveCall(' + ids + ',1);" class="badge badge-soft-danger">In-Active</button>';

                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                ],
                // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                        {
                            "extend": 'csv',
                            className: 'them-btn btn-info tbtn1',
                            "action": newexportaction
                        },
                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/

                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500] // change per page values here
                    ],
                    // set the initial value
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#tableBanner")) {
                        $('#tableBanner').dataTable().fnDestroy();
                        $('#divtableBanner').html('<table class="table border rounded w-100" id="tableBanner"></table>');
                    }
                    initTable1();
                }
            };
        }();


        function UpdateOfferStatus(Id, StatusId) {
            
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.OfferStatus_ChangeStatus, Controllers.Offer)',
                data: { Id:Id, Status: StatusId },
                success: function (response) {
                    
                    toastr["success"](response.Message);
                    ActiveOfferDataTable.init();
                    OffersDataTable.init();
                },
                error: function (error) {
                    
                    toastr["error"]("Something went wrong")
                    console.log('Error', error);
                }
            })
        }

        function Approve(id, isActive) {
            let confirmBox = confirm("Are You Sure You want to Active this Offer ?");
            if (confirmBox) {
                UpdateStatus(id, isActive );
            }
        }

        function Reject(id, isActive) {
            let confirmBox = confirm("Are You Sure You want to In-Active this Offer ?");
            if (confirmBox) {
                UpdateStatus(id, isActive );
            }
        }

        function InActiveCall(id, isActive) {
            let confirmBox = confirm("Are You Sure You want to In-Active this Offer ?");
            if (confirmBox) {
                UpdateStatus(id, isActive);
            }
        }

        function UpdateStatus(id, isActive)
           {
               if (isActive == 1) {
                   isActive = true;
               }
               else{
                   isActive = false;
               }
               id = parseInt(id);
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.Offers_ActInAct, Controllers.Offer)',
                data: { Id: id, IsActive : isActive },
                    dataType: 'json',
                    async: false,
                    success: function (response) {
                        //BannerDataTable.init();
                        toastr["success"](response.Message);
                        ActiveOfferDataTable.init();
                        OffersDataTable.init();
                    },
                    error: function (error) {
                        toastr["error"]("Something Went wrong");
                    }
                });
        }

        function ConfirmDelete(id)
        {
            id = parseInt(id);
            let confirmBox = confirm("Are You Sure You want to Delete this Offer ?");
            if (confirmBox) {
                DeleteOffer(id);
            }
        }

        function DeleteOffer(id)
        {
            $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.DeleteOffer, Controllers.Offer)',
                data: { Id: id },
                    dataType: 'json',
                    async: false,
                success: function (response) {
                    OffersDataTable.init();
                    toastr["success"](response.Message);
                    },
                    error: function (error) {
                        toastr["error"]("Something Went Wrong");
                    }
                });
        }

        function UpdateShifting(id, isUp)
         {
             id = parseInt(id);
            $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.UpdateDisplayOrder, Controllers.Banner)',
                data: { Id: id, IsUp: isUp },
                    dataType: 'json',
                    async: false,
                success: function (response) {
                    BannerDataTable.init();

                    },
                    error: function (error) {
                        toastr["error"]("Something Wen Wrong");
                    }
                });
        }

        //Data fillter function
        function BuildSearchCriteria() {
            try {
                var param = {};

                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

    </script>
}
