﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;
@Html.AntiForgeryToken()

@{
    if (ViewBag.Id > 0)
    {
        ViewBag.Title = "Edit Offer";

    }
    else
    {
        ViewBag.Title = "Create Offer";
    }
}

<style>
    .new-meows {
        width: 97%;
        display: flex;
    }

        .new-meows input {
            flex: 1
        }

        .new-meows button {
            width: 80px;
        }
</style>
<div class="content container-fluid">


    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Offer)" style="color: #0596F8;">Manage Offer</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
            <h3 class="fw-bold">@ViewBag.Title</h3>
        </div>

    </div>


    <div class="row">
        <div class="col-12">

            <div class="card-body p-0">
                <form id="frmBanner" name="frmBanner" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-12">
                            <label>ShopId</label>
                            <input type="hidden" id="OfferId" name="OfferId" value="@ViewBag.Id" />
                            <div class="">
                                <select id="ShopId" name="ShopId" class="form-control">
                                    <option selected>Select Shop Id</option>
                                    @foreach (var item in ViewBag.ShopOwnerData)
                                    {
                                        <option name="@item.ShopName" value="@item.Id">@item.Id</option>
                                    }
                                </select>

                                @*<input type="text" id="ShopId" name="ShopId" class="form-control" required style="width:200px" />*@
                                @*<button type="button" class="btn btn-primary btn-sm" onclick="FindShopNameById();">Go</button>*@
                            </div>
                        </div>

                        <div class="col-12">
                            <label>Shop Name</label>
                            <input type="text" id="ShopName" name="ShopName" placeholder="Shop Name" class="form-control" required readonly />
                        </div>
                        <div class="col-12">
                            <label>Offer Text</label>
                            <input type="text" class="form-control" placeholder="Offer Text" id="OfferText" name="OfferText" required />
                        </div>
                        @*<div class="col-12">
                                <label>StartDate</label>
                                <input type="datetime-local" class="form-control" id="StartDate" name="StartDate" required />
                            </div>*@
                        @*<div class="col-12">
                                <div class="form-group">
                                    <label>StartDate</label>
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>*@
                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <div class="form-group">
                                <label for="startDate">Start date</label>
                                <input type="date" class="form-control" placeholder="Start Date" id="StartDate" name="StartDate" />
                            </div>
                        </div>

                        <div class="form-group" id="ShowEndDate">
                            <label for="endDate">End date</label>
                            <input type="date" class="form-control" placeholder="End Date" id="EndDate" name="EndDate" />
                        </div>

                        @*<div class="col-12">
                                <label>EndDate</label>
                                <input type="datetime-local" class="form-control" id="EndDate" name="EndDate" required />
                            </div>*@
                        <div class="col-12">
                            <label>Status</label>
                            <select id="IsActive" name="IsActive" class="form-control">
                                <option value="true">Active</option>
                                <option value="false">InActive</option>
                            </select>
                        </div>

                        <div class="col-12 text-right p-4">
                            <input type="submit" value="Save" class="btn btn-primary saveBtn" />
                            <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Saving...
                            </button>
                            <a href="@Url.Action(Actions.Index,Controllers.Offer)" class="btn btn-danger closeBtn">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script>

    var CurrentToday = (new Date()).toISOString();

        $(document).ready(() => {


            if (@ViewBag.Id > 0) {
                BindData();

                
            }

            document.getElementById("StartDate").onchange = function () {
                var input = document.getElementById("EndDate");
                input.setAttribute("min", this.value);
            }

            document.getElementById("EndDate").onchange = function () {
                var input = document.getElementById("EndDate");
                input.setAttribute("min", document.getElementById("StartDate").value);
            }

            $("#frmBanner").validate({
                rules: {
                    ShopId: "required",
                    ShopName: "required",
                    OfferText: "required",
                    StartDate: "required",
                    EndDate: "required"
                },
                messages: {
                    ShopId: {
                        required: "Shop Id is required",
                    },
                    ShopName: {
                        required: "Shop Name is required",
                    },
                    OfferText: {
                        required: "Offer Text is required",
                    },
                    StartDate: {
                        required: "Start Date is required",
                    },
                    EndDate: {
                        required: "End Date is required",
                    }
                },

                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents(".form-group"));
                    } else {
                        // This is the default behavior
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    SaveOfferData();
                }
            });
        });

        function BindData()
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetData, Controllers.Offer)',
                data: {Id : @ViewBag.Id},
                dataType: 'json',
                async: true,

                success: function (response) {

                    if (response.Code == 200) {
                        $("#ShopId").val(response.Item.ShopId);
                        $("#ShopName").val(response.Item.ShopName);
                        $("#OfferText").val(response.Item.OfferText);
                        $("#StartDate").val(moment(response.Item.StartDate).format("YYYY-MM-DD"));
                        $("#EndDate").val(moment(response.Item.EndDate).format("YYYY-MM-DD"));
                        $("#IsActive").val(response.Item.IsActive.toString());
                        if (moment(CurrentToday).diff(response.Item.EndDate) > 0) {
                            $("#IsActive").attr('disabled', 'disabled');
                        }
                    } else {

                        toastr["error"](response.Message);
                    }
                    },
                    error: function (error) {
                        toastr["error"]("Something went wrong");
                    }
                });
        }

        function SaveOfferData()
        {

            $(".saveBtn").hide();
            $(".loading").show();
            $(".closeBtn").hide();

            var formdata = new FormData();
            formdata.append("Id", $("#OfferId").val());
            formdata.append("ShopId", $("#ShopId").val());
            formdata.append("ShopName", $("#ShopName").val());
            formdata.append("OfferText", $("#OfferText").val());
            formdata.append("StartDate", $("#StartDate").val());
            formdata.append("EndDate", $("#EndDate").val());
            formdata.append("IsActive", $("#IsActive").val());
            $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.SaveBanner, Controllers.Offer)',
                data: formdata,
                    dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {

                    if (response.Code == 200) {
                        toastr["success"](response.Message);
                        window.location.href = "@Url.Action(Actions.Index,Controllers.Offer)";
                        $(".saveBtn").show();
                        $(".loading").hide();
                        $(".closeBtn").show();
                    } else {
                        toastr["error"](response.Message);
                        $(".saveBtn").show();
                        $(".loading").hide();
                        $(".closeBtn").show();
                    }
                    },
                    error: function (error) {
                        toastr["error"]("Something went wrong");
                        $(".saveBtn").show();
                        $(".loading").hide();
                        $(".closeBtn").show();
                    }
                });
        }


        $('#ShopId').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            $("#ShopName").val(optionSelected[0].getAttribute("name"));
});

        function FindShopNameById(name) {
            $("#ShopName").val(name);

             @*$.ajax({
                type: "POST",
                url: '@Url.Action(Actions.findShopNameById, Controllers.Offer)',
                data: { Id: parseInt($("#ShopId").val())},
                dataType: 'json',
                async: true,

                success: function (response) {

                    if (response.Code == 200) {
                        $("#ShopName").val(response.Item.ShopName);
                    } else {

                        toastr["error"](response.Message);
                    }
                    },
                    error: function (error) {
                        toastr["error"]("Something went wrong");
                    }
             });*@
        }
    </script>
}