﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;
@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Notification";
}


<style>
    .error {
        color: red
    }
</style>

<div class="content container">
    <div class="row mb-4">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Send Notification </li>
                </ol>
            </nav>
            <h3 class="fw-bold">Send Notification</h3>
        </div>
    </div>

    <div class="row justify-content-center" style="min-height: 85vh; align-items: center; ">
        <div class="col-xxl-3 col-lg-4 col-md-6 col-12 mb-4">
            <div class="card">
                <div class="card-body py-5">
                    <div class="text-center">
                        <h3 class="fw-bold">Notification</h3>
                        <p>Create a notification</p>
                    </div>
                    <form action="" method="post" id="signin_form" novalidate="novalidate" class="row align-items-center">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                            <div class="form-group mb-3">
                                <label for="emailAddress">Description</label>
                                <textarea class="form-control" id="Description" name="Description"></textarea>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                            <div class="form-group mb-3">
                                <label for="emailAddress">Select Group</label>
                                <select class="form-control" id="Notifications" name="Notifications">
                                    <option value="">Select a group type</option>
                                    <option value="3">Users</option>
                                    <option value="2">Seller</option>
                                    <option value="1">Both</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-12 mt-2">
                            <input class="btn btn-primary w-100" type="submit" @*onclick="SaveOfferData();"*@ name="submit" id="sendNotification" value="Send">
                            <button class="btn btn-primary w-100 loading" type="button" disabled style="display:none;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Sending...
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
         $(document).ready(() => {
             $("#signin_form").validate({
                rules: {
                    Description: "required",
                    Notifications: "required"
                },
                messages: {
                    Description: {
                        required: "Description is required",
                    },
                    Notifications: {
                        required: "Please select the Group",
                    }
                },

                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents(".form-group"));
                    } else {
                        // This is the default behavior
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    SaveOfferData();
                }
             });

             $('select[name="Notifications"]').on('change', function () {
                 if ($(this).val() == 0) {
                     $('input[name="Description"]').rules('add', {
                         messages: {
                             required: "Description is required"
                         }
                     });
                 }
             });
        });


        function SaveOfferData()
        {
            
            $("#sendNotification").hide();
            $(".loading").show();

            var formdata = new FormData();
            formdata.append("Type", $("#Notifications").val());
            formdata.append("Description", $("#Description").val());
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.SaveBanner, Controllers.SendNotification)',
                data: formdata,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.Code == 200) {
                        toastr["success"](response.Message);
                        //window.location.href = "@Url.Action(Actions.Index,Controllers.Offer)";
                        $("#sendNotification").show();
                        $(".loading").hide();
                    } else {
                        toastr["error"](response.Message);
                        $("#sendNotification").show();
                        $(".loading").hide();
                        $(".closeBtn").show();
                    }
                },
                error: function (error) {
                    toastr["error"]("Something went wrong");
                    $("#sendNotification").show();
                    $(".loading").hide();
                    $(".closeBtn").show();
                }
            });
        }

    </script>
}
