﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Orders";
}
<style>
    .dt-buttons {
        float: right;
    }

    .tbtn {
        margin-right: 15px;
        border-radius: 5px !important;
        color: #fff;
        background-color: #0596F8;
        border-color: #0596F8;
    }

    .tbtn1 {
        margin-right: 15px;
        border-radius: 5px !important;
        color: #fff;
        background-color: #f0ad4e;
        border-color: #eea236;
    }
</style>
<div class="content container-fluid">


    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Orders </li>
                </ol>
            </nav>
            <h3 class="fw-bold">Orders</h3>
        </div>
    </div>

    <div class="row align-items-end justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-6 col-12">
            <div class="form-group mb-3">
                <label for="OrderStatus">Order Status</label>
                @Html.Raw(Html.DropDownList("OrderStatus", (IEnumerable<SelectListItem>)ViewBag.MasterOrderStatusDrp, "Select a status", new { @Id = "OrderStatus", @class = "form-control" }))
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-12">
            <div class="form-group mb-3">
                <label for="planName">Customer Payment Status</label>
                @Html.Raw(Html.DropDownList("CustPaymentStatus", (IEnumerable<SelectListItem>)ViewBag.MasterPaymentDrp, "Select a Payment Status", new { @Id = "CustPaymentStatus", @class = "form-control" }))

            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-12">
            <div class="form-group mb-3">
                <label for="planName">Amount</label>
                <input type="text" class="form-control" id="CustomerPaymentAmount" placeholder="Enter amount">
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-12">
            <div class="form-group mb-3 row m-0">
                <button type="button" class="btn btn-primary c-w-49 saveBtn" onclick="SearchReset(false);"><i class="tio-search"></i> Search</button>
                <button type="button" class="btn btn-primary c-w-49 loading" disabled style="display:none;float:right;">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Searching...
                </button>
                <button role="button" class="btn btn-outline-secondary w-50 ml-1" onclick="SearchReset(true);">Clear filters</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    @*<div class="row justify-content-end">
                            <div class="col-auto">
                                <button role="button" class="btn btn-primary btn-wide m-1" onclick="showSearchmodal();"><i class="tio-filter-outlined"></i> Filter</button>
                                <button role="button" class="btn btn-outline-secondary m-1" onclick="SearchReset(true);">Clear filters</button>
                            </div>
                        </div>*@
                    <div class="table-responsive" id="OrderDataDiv">
                        <table class="table border rounded w-100" id="OrderData"></table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    @*Order status modal*@
    <!-- Modal -->
    <div class="modal fade" id="OrderStatusChangeModal" tabindex="-1" role="dialog" aria-labelledby="OrderStatusChangeModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="OrderStatusChangeModal">Order Change Status</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/" method="post">
                        <div class="form-group">
                            <label>Status</label>
                            @Html.Raw(Html.DropDownList("OrderStatusDrp", (IEnumerable<SelectListItem>)ViewBag.MasterOrderStatusDrp, "Select a status", new { @Id = "OrderStatusDrp", @class = "form-control" }))
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="SaveOrderStatus();">Save changes</button>
                </div>
            </div>
        </div>
    </div>




</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            OrdersDataShow.init();
        });

        function showSearchmodal() {
            $('#OrderAdvanceFillter').modal('show');
        }

        //Orders DataTable Bind
        var OrdersDataShow = function () {
            let initTable1 = function () {
                let table = $('#OrderData');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.ViewAllDataOrders, Controllers.Orders)',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                "columns": [
                    {
                        "title": "Order ID", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a href="@Url.Action("OrderDetails", Controllers.Orders)?orderId=${row["Id"]}">${row["Id"]}</a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Order Status", "data": "OrderStatusName",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<div class="badge badge-soft-success"style="cursor:pointer;">${row["OrderStatusName"]}</div>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Customer Payment Status", "data": "PaymentStatus",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["PaymentStatus"] == "" || row["PaymentStatus"] == null ? '<span>-</span>' : `<div class="badge badge-soft-info" style="cursor:pointer;">${row["PaymentStatus"]}</div>`}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    //{
                    //    "title": "Seller Payment Status", "data": "Id",
                    //    "render": function (data, type, row) {
                    //        let htmlData = "";
                    //        htmlData = `<a href="">${row["Id"]}</a>`;
                    //        return htmlData;
                    //    }
                    //    , "orderable": false, "width": "3%"
                    //},
                    {
                        "title": "Shop ID", "data": "ShopId",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a href="/ShopOverview/Index/${row["ShopId"]}">${row["ShopId"]}</a> `;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Shop Name", "data": "ShopName",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p>${row["ShopName"] == "" || row["ShopName"] == null ? '-' : row["ShopName"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    //{
                    //    "title": "Shop City", "data": "Id",
                    //    "render": function (data, type, row) {
                    //        let htmlData = "";
                    //        htmlData = `<p>${row["CityName"] == "" || row["CityName"] == null ? '-' : row["CityName"]}</p>`;
                    //        return htmlData;
                    //    }
                    //    , "orderable": false, "width": "3%"
                    //},
                    {
                        "title": "Customer Phone Number", "data": "UserMobileNumber",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p>${row["UserMobileNumber"] == "" || row["UserMobileNumber"] == null ? '-' : `<a href="tel:${row["UserMobileNumber"]}">${row["UserMobileNumber"]}</a>`}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Customer Name", "data": "UserName",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p>${row["UserName"] == "" || row["UserName"] == null ? '-' : row["UserName"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Customer Payment Amount", "data": "AmountPaid",
                        "render": function (data, type, row) {

                            var TotalAmountDec = row["AmountPaid"] + row["PaymentCharge"] + row["DeliveryCharge"];

                            let htmlData = "";
                            htmlData = `<p>${TotalAmountDec.toFixed(2)}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "VideoCall Link", "data": "VideoCallLink",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a href="${row["VideoCallLink"]}" target="_blank">View</a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Action", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            let OrdId = row["Id"];
                            let OrderStatusId = row["OrderStatus"];


                            if ("@ProjectSession.AdminTypeId" == 1) {
                                htmlData += `<button role="button" class="btn btn-outline-secondary small m-1 closeBtn" onclick="OrderStatusChange(${OrdId}, ${OrderStatusId});" style="padding: 2px 10px;">Edit</button>`;
                            }
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                ],
                // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                        {
                            "extend": 'csv',
                            className: 'them-btn btn-info tbtn1',
                            "action": newexportaction
                        },
                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500] // change per page values here
                    ],
                    // set the initial value
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });


            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#OrderData")) {
                        $('#OrderData').dataTable().fnDestroy();
                        $('#OrderDataDiv').html('<table class="table border rounded w-100" id="OrderData"></table>');
                    }
                    initTable1();
                    OrderDataTable.init();

                }
            };



        }();

        //Data fillter function
        function BuildSearchCriteria() {
            try {
                var param = {};
                param["OrderStatus"] = $('#OrderStatus').val();
                param["PaymentStatus"] = $('#CustPaymentStatus').val();
                //param["CityId"] = $('#ShopCity').val();
                param["Amount"] = $('#CustomerPaymentAmount').val();

                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        const SearchReset = (isReset = false) => {

            $(".saveBtn").hide();
            $(".loading").show();

            if (isReset == true) {
                $("#OrderStatus").val(null);
                $("#CustPaymentStatus").val("");
                //$("#ShopCity").val(null);
                $("#CustomerPaymentAmount").val("");
            }
            $('#OrderAdvanceFillter').modal('hide');

            setTimeout(() => {
                $(".saveBtn").show();
                $(".loading").hide();
                OrdersDataShow.init();
            }, 1000);
        }

        var OId = 0;
        function OrderStatusChange(OrderId, OrderStatusId) {
            debugger;
            OId = OrderId;
            $("#OrderStatusDrp").val(OrderStatusId)
            $("#OrderStatusChangeModal").modal('show');
        }

        function SaveOrderStatus() {
            debugger;
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.UserOrderStatus, Controllers.Orders)',
                data: { Id: OId, StatusId: $("#OrderStatusDrp").val()},
                dataType: 'json',
                async: false,
                success: function (response) {
                    $("#OrderStatusChangeModal").modal('hide');
                    toastr["success"](response.Message);
                    OrdersDataShow.init();
                },
                error: function (error) {
                    toastr["error"]("Something Went wrong");
                }
            });
        }

    </script>
}
