﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Order Details";
}
<style>
    .dt-buttons {
        float: right;
        margin-bottom: 0 !important
    }

    .tbtn {
        margin-right: 15px;
        border-radius: 5px !important;
        color: #fff;
        background-color: #0596F8;
        border-color: #0596F8;
    }

    .tbtn1 {
        margin-right: 15px;
        border-radius: 5px !important;
        color: #fff;
        background-color: #f0ad4e;
        border-color: #eea236;
    }
</style>
<div class="content container-fluid">


    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Order Details </li>
                </ol>
            </nav>
            <h3 class="fw-bold">Order Details</h3>
        </div>
        @*<div class="col-auto">
                <button class="btn btn-primary" data-target="#addNewPlan" data-toggle="modal" role="button"><i class="tio-add"></i> Add new plan</button>
            </div>*@
    </div>

    <div class="row">
        <div class="col-12">
            <div class="row justify-content-start align-items-end">
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <div class="form-group mb-0">
                        <label for="emailAddress">Order ID</label>
                        <input type="text" class="form-control" placeholder="Enter order id" id="OrderId">
                    </div>
                </div>



                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <button role="button" class="btn btn-primary btn-wide" id="SearchButton" onclick="SearchOrderDetailData();"><i class="tio-search"></i> Search</button>
                    <button style="display:none;" class="btn btn-primary loading btn-wide" type="button" id="SearchLoading" disabled="">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Searching...
                    </button>
                    <button role="button" class="btn btn-outline-secondary m-1 closeBtn" onclick="SearchReset();">Reset</button>
                    @*<button role="button" class="btn btn-outline-secondary m-1" onclick="SearchReset(true);">Clear filters</button>*@
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <div class="form-group mb-0">
                        <label for="emailAddress">Delivery Rating</label>
                        <input type="text" class="form-control" placeholder="Enter Delivery Rating" id="DeliveryRating">
                    </div>
                </div>


                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <button role="button" class="btn btn-primary btn-wide" id="SaveButton" onclick="SaveData();">Save</button>
                    <button style="display:none;" class="btn btn-primary loading btn-wide" type="button" id="SaveLoading" disabled="">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Updating...
                    </button>
                    @* <button role="button" class="btn btn-outline-secondary m-1 closeBtn" onclick="SaveReset();">Reset</button>*@
                    @*<button role="button" class="btn btn-outline-secondary m-1" onclick="SearchReset(true);">Clear filters</button>*@
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4 mt-3">
        <div class="card-header">
            <h6 class="mb-0">Order Details</h6>
        </div>
        <div class="card-body">
            <div class="row row-cols-xl-4 row-cols-sm-4 row-cols-1 fs-14">
                <div class="col">
                    <p class="text-muted mb-0">Order Id</p>
                    <div class="fw-semibold" id="OrderIdDiv">-</div>
                </div>
                <div class="col">
                    <p class="text-muted mb-0">Order Status</p>
                    <div class="fw-semibold" id="OrderStatusDiv">-</div>
                </div>
                <div class="col">
                    <p class="text-muted mb-0">Shop Id</p>
                    <div class="fw-semibold" id="ShopIdDiv">-</div>
                </div>
                <div class="col">
                    <p class="text-muted mb-0">Shop Name</p>
                    <div class="fw-semibold" id="ShopNameDiv">-</div>
                </div>
                <div class="col mt-3">
                    <p class="text-muted mb-0">Payment Status</p>
                    <div class="fw-semibold" id="PaymentStatusDiv">-</div>
                </div>
                <div class="col mt-3">
                    <p class="text-muted mb-0">Shopkeeper Payment Status</p>
                    <div class="fw-semibold" id="cityVal">-</div>
                </div>
                <div class="col mt-3">
                    <p class="text-muted mb-0">Customer Phone No</p>
                    <div class="fw-semibold" id="CustomerPhoneDiv">-</div>
                </div>
                <div class="col mt-3">
                    <p class="text-muted mb-0">Customer Name</p>
                    <div class="fw-semibold" id="CustomerNameDiv">-</div>
                </div>
            </div>
        </div>
    </div>
    <div class="content container-fluid">
        <div class="row align-items-center justify-content-between mb-4">
            <div class="col-auto p-0">
                <h3 class="fw-bold">Order Details</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12 p-0">
                <div class="card table-responsive">
                    <div class="card-body">
                        <div class="col-12 mb-3">
                            <div class="table-responsive">
                                <div class="portlet-body table-responsive" id="divOrderDetailTable">
                                    <table class="table border text-black w-100" id="OrderDetailTable"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="amount-area">
        <div class="row m-0">
            <div class="col-lg-12 p-0 mt-2">
                <div class="row m-0 justify-content-between">
                    <p class="text-muted mb-0">Total Order Price</p>
                    <div class="fw-semibold" id="TotalPaymentMadeByCustomerDiv"></div>
                </div>
            </div>
            <div class="col-lg-12 p-0 mb-1">
                <div class="row m-0 justify-content-between">
                    <p class="text-muted mb-0">Delivery Charge</p>
                    <div class="fw-semibold" id="DeliveryChargeDiv"></div>
                </div>
            </div>
            <div class="col-lg-12 p-0 mb-1">
                <div class="row m-0 justify-content-between">
                    <p class="text-muted mb-0">Payment Charge</p>
                    <div class="fw-semibold" id="PaymentChargeDiv"></div>
                </div>
            </div>
            <div style="border-top:2px solid #000; width:100%;"></div>
            <div class="col-lg-12 p-0 mb-1">
                <div class="row m-0 justify-content-between">
                    <p class="text-muted mb-0">Total TotalAmount</p>
                    <div class="fw-semibold" id="TotalAmount"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content container-fluid mt-3">
        <div class="row align-items-center justify-content-between mb-4">
            <div class="col-auto p-0">
                <h3 class="fw-bold">CallLogs Details</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12 p-0">
                <div class="card table-responsive">
                    <div class="card-body">
                        <div class="col-12 mb-3">
                            <div class="table-responsive">
                                <div class="portlet-body table-responsive" id="divUserShopCallLogsTable">
                                    <table class="table border text-black w-100" id="UserShopCallLogsTable"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content container-fluid mt-3">
        <div class="row align-items-center justify-content-between mb-4">
            <div class="col-auto p-0">
                <h3 class="fw-bold">User Order Amount Bifurcation</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12 p-0">
                <div class="card table-responsive">
                    <div class="card-body">
                        <div class="col-12 mb-3">
                            <div class="table-responsive">
                                <div class="portlet-body table-responsive" id="divUserOrderAmountBifurcationTable">
                                    <table class="table border text-black w-100" id="UserOrderAmountBifurcationTable"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="OrderItemStatusChangeModal" tabindex="-1" role="dialog" aria-labelledby="OrderItemStatusChangeModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Product Change Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/" method="post">
                    <div class="form-group">
                        <label>Status</label>
                        @Html.Raw(Html.DropDownList("OrderStatusDrp", (IEnumerable<SelectListItem>)ViewBag.MasterOrderStatusDrp, "Select a status", new { @Id = "OrderStatusDrp", @class = "form-control" }))
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="OrderStatusModalClose();">Close</button>
                <button type="button" class="btn btn-primary" onclick="SaveProductStatus();">Save changes</button>
            </div>
        </div>
    </div>
</div>


@*<div class="row">
                <div class="col-12 p-0">
                    <div class="card table-responsive">
                        <div class="card-body">
                            <div class="col-12 mb-3">
                                <div class="table-responsive">
                                    <div class="portlet-body table-responsive" id="divUserOrderAmountBifurcationTable">
                                        <table class="table border text-black w-100" id="UserOrderAmountBifurcationTable"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@section Scripts{
    <script>
        $(document).ready(function () {
            //OrderDataTable.init();
            var url = window.location.href.split('=')[1];
            if (url != undefined && url != "") {
                $('#OrderId').val(url);
                SearchOrderDetailData();
            }
        });

        function SearchOrderDetailData() {

            $('#SearchButton').hide();
            $('#SearchLoading').show();
            $('.closeBtn').hide();
            var orderId = $('#OrderId').val();


            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.OderDetailsDataGet, Controllers.Orders)',
                data: { OrderId: orderId},
                dataType: 'json',
                success: function (response) {
                     
                    //$('#OrderId').val('')
                    if (response.Item != null) {
                        $('#OrderIdDiv').text(response.Item.OrderId == "" || response.Item.OrderId == null ? '-' : response.Item.OrderId);
                        $('#OrderStatusDiv').text(response.Item.OrderStatus == "" || response.Item.OrderStatus == null ? '-' : response.Item.OrderStatus);
                        $('#ShopIdDiv').text(response.Item.ShopId == "" || response.Item.ShopId == null ? '-' : response.Item.ShopId);
                        $('#ShopNameDiv').text(response.Item.ShopName == "" || response.Item.ShopName == null ? '-' : response.Item.ShopName);
                        $('#PaymentStatusDiv').text(response.Item.PaymentStatus == "" || response.Item.PaymentStatus == null ? '-' : response.Item.PaymentStatus);
                        $('#CustomerPhoneDiv').text(response.Item.CustomePhoneNumber == "" || response.Item.CustomePhoneNumber == null ? '-' : response.Item.CustomePhoneNumber);
                        $('#CustomerNameDiv').text(response.Item.CustomerName == "" || response.Item.CustomerName == null ? '-' : response.Item.CustomerName);

                        $('#DeliveryChargeDiv').text(response.Item.DeliveryCharge == "" || response.Item.DeliveryCharge == null ? '0' : response.Item.DeliveryCharge);
                        $('#PaymentChargeDiv').text(response.Item.PaymentCharge == "" || response.Item.PaymentCharge == null ? '0' : response.Item.PaymentCharge);
                        $('#TotalPaymentMadeByCustomerDiv').text(response.Item.TotalPaymentMadeByCustomer == "" || response.Item.TotalPaymentMadeByCustomer == null ? '0' : response.Item.TotalPaymentMadeByCustomer);

                        var TotalAmountDec = response.Item.TotalPaymentMadeByCustomer + response.Item.DeliveryCharge + response.Item.PaymentCharge;

                        $('#TotalAmount').text(TotalAmountDec.toFixed(2));

                        OrderDataTable.init();
                        UserShopCallLogsTable.init();
                        UserOrderAmountBifurcationTable.init();
                        console.log('Response', response);
                    } else {
                        $('#OrderIdDiv').text("-");
                        $('#OrderStatusDiv').text("-");
                        $('#ShopIdDiv').text("-");
                        $('#ShopNameDiv').text("-");
                        $('#PaymentStatusDiv').text("-");
                        $('#CustomerPhoneDiv').text("-");
                        $('#CustomerNameDiv').text("-");

                        $('#DeliveryChargeDiv').text(0);
                        $('#PaymentChargeDiv').text(0);
                        $('#TotalPaymentMadeByCustomerDiv').text(0);
                        OrderDataTable.init();
                        UserShopCallLogsTable.init();
                        UserOrderAmountBifurcationTable.init();
                        toastr["error"]("No Record Found")
                    }

                    $('#SearchButton').show();
                    $('#SearchLoading').hide();
                    $('.closeBtn').show();
                },
                error: function (error) {
                    toastr["error"]("Something Went Wrong")
                    $('#SearchButton').show();
                    $('#SearchLoading').hide();
                    $('.closeBtn').show();
                }
            });
        }

        function SaveData() {


            var ObjectAddDevice = {
                Id: $("#OrderId").val(),
                DeliveryRating: $("#DeliveryRating").val(),
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.SaveRatings, Controllers.Orders)',
                data: ObjectAddDevice,
                dataType: 'json',
                success: function (response) {
                    if ($("#OrderId").val() == "" && $("#OrderId").val() == null)
                    {
                                toastr["error"]("Order ID is Required");
                    }
                    else {
                        toastr["error"](response.Message);
                    }

                },
                @*error: function (error) {
                    toastr["error"]("Something went wrong");
                    $(".loading").hide();
                    $(".closeBtn").show();
                    $(".saveBtn").show();
                }*@
            });
        }

        var OrderDataTable = function () {
            let initTable1 = function () {
                let table = $('#OrderDetailTable');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    "searching": false,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from MAX total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,

                    "ajax": {
                        async: true,
                        url: '@Url.Action("UserOrderItems_ByOrderId", "Orders")',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                    "columns": [
                        {
                            "title": "Product Id", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["Id"]}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "1%"
                        },

                        {
                            "title": "Item Name", "data": "ItemName",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["ItemName"]}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "1%"
                        },
                        {
                            "title": "Quantity", "data": "Qty",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["Qty"]}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "1%"
                        },
                        {
                            "title": "Price", "data": "Price",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["Price"]}`;
                                return htmlData;
                            }
                        , "orderable": false, "width": "1%"
                        },
                        {
                            "title": "Total Price", "data": "Price",
                            "render": function (data, type, row) {
                                var PriceQtyCount = row["Price"] * row["Qty"];
                                let htmlData = "";
                                htmlData = PriceQtyCount;
                                return htmlData;
                            }
                        , "orderable": false, "width": "1%"
                        },
                        {
                            "title": "Product Image", "data": "ProductImage",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["ProductImage"] == null || row["ProductImage"] == "" ? '-' : `<img src="${row["ProductImageStr"]}" alt="Image " width="60" height="60">`}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "1%"
                        },
                        {
                            "title": "Product Status", "data": "StatusName",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["StatusName"] == null || row["StatusName"] == "" ? '-' : row["StatusName"]}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "1%"
                        },
                        {
                            "title": "Paymemt Status", "data": "PaymentStatus",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["PaymentStatus"] == null || row["PaymentStatus"] == "" ? '<span>-</span>' : `<div class="badge badge-soft-info" style="cursor:pointer;">${row["PaymentStatus"]}</div>`}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "1%"
                        },
                        {
                            "title": "OrderDate And Time", "data": "OrderDateAndTimeStr",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["OrderDateAndTimeStr"] == null || row["OrderDateAndTimeStr"] == "" ? '-' : row["OrderDateAndTimeStr"]}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "1%"
                        },
                        {
                            "title": "Action", "data": "ItemStatusId",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                let ids = "";
                                ids = `${row["Id"]}`;
                                if ("@ProjectSession.AdminTypeId" == 1) {

                                    if (row["ItemStatusId"] != 6 && row["ItemStatusId"] != 7 && row["ItemStatusId"] != 9) {
                                        htmlData += '<div class="badge badge-soft-info" style="cursor:pointer;">NA</div>';
                                    }
                                    if (row["ItemStatusId"] == 15) {
                                        htmlData += '<button onclick="Approve(' + ids + ',16,' + ids + ');" class="badge badge-soft-info">Accept </button>&nbsp&nbsp';

                                        htmlData += '<button onclick="Reject(' + ids + ',20,' + ids + ');" class="badge badge-soft-danger">Reject</button>';
                                    }
                                    if (row["ItemStatusId"] == 16) {
                                        htmlData += '<button onclick="GiveRefund(' + ids + ',19,' + ids + ');" class="badge badge-soft-info">Give Refund </button>&nbsp&nbsp';
                                        if (row["ItemStatusId"] == 19) {
                                            htmlData += '<div class="badge badge-soft-info" style="cursor:pointer;">NA</div>';
                                        }
                                    }
                                    if (row["ItemStatusId"] == 6 || row["ItemStatusId"] == 7) {
                                        htmlData += '<button class="badge badge-soft-info">Return Request</button>&nbsp&nbsp';
                                    }
                                    if (row["ItemStatusId"] == 9) {
                                        htmlData += '<button class="badge badge-soft-info">Return Accepted</button>&nbsp&nbsp';
                                    }

                                    htmlData += `<button role="button" class="btn btn-outline-secondary small m-1 closeBtn" onclick="OrderItemStatusChange(${ids},${row["ItemStatusId"]});" style="padding: 2px 10px;">Edit</button>`;

                                } else if ("@ProjectSession.AdminTypeId" == 2) {
                                    htmlData += '<button class="badge badge-soft-info" disabled>NA</button>';
                                }
                              
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        }
                    ],

                    "buttons": [
                        {
                            "extend": 'csv',
                            className: 'them-btn btn-info tbtn1',
                            "action": newexportaction
                        },
                    ],
                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500]
                    ],

                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                 });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#OrderDetailTable")) {
                        $('#OrderDetailTable').dataTable().fnDestroy();
                        $('#divOrderDetailTable').html('<table class="table border table-striped" width="100%" id="OrderDetailTable"></table>');
                    }
                    initTable1();
                }
            };
        }();

       //OrderItemStatusChange modal open
        var GlobalProductId = 0;
        function OrderItemStatusChange(OrderProductId , StatusId) {
            debugger;
            GlobalProductId = OrderProductId;
            $("#OrderStatusDrp").val(StatusId);
            $("#OrderItemStatusChangeModal").modal('show');
        }

        function OrderStatusModalClose() {
            GlobalProductId = 0;
            $("#OrderStatusDrp").val("");
        }

        function SaveProductStatus() {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.UserOrderItemsStatus, Controllers.Orders)',
                data: { Id: GlobalProductId, StatusId: $("#OrderStatusDrp").val()},
                dataType: 'json',
                async: false,
                success: function (response) {
                    $("#OrderItemStatusChangeModal").modal('hide');
                    toastr["success"](response.Message);
                    OrderDataTable.init();
                },
                error: function (error) {
                    toastr["error"]("Something Went wrong");
                }
            });
        }

        function SearchReset() {
            $("#OrderId").val("");
            window.location.href = "/Orders/OrderDetails";
        }

        //UserShopCallLogs_ByOrderId Datatable
        var UserShopCallLogsTable = function () {
            let initTable1 = function () {
                let table = $('#UserShopCallLogsTable');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    "searching": false,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from MAX total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,

                    "ajax": {
                        async: true,
                        url: '@Url.Action("GetDataUserShopCallLogs", "Orders")',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                    "columns": [
                        {
                            "title": "Date", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["CallDateTimeeStr"] == null || row["CallDateTimeeStr"] == "" ? '-' : row["CallDateTimeeStr"]}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Duration","data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["Durationtime"] == null || row["Durationtime"] == "" ? '-' : row["Durationtime"]}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Initiated By", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["WhoInitiated"] == null || row["WhoInitiated"] == "" ? '-' : row["WhoInitiated"]}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "VC SHOP USER PHONE NUMBER", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["UserMobileNumber"] == null || row["UserMobileNumber"] == "" ? '-' : `<a href="tel:${row["UserMobileNumber"]}">${row["UserMobileNumber"]}</a>`}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Type", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `<p>${row["CallStatusName"] == null || row["CallStatusName"] == "" ? '-' : row["CallStatusName"]}</p>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "View video", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `<a href="${row["VideoCallLink"]}" target="_blank">View</a>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },


                    ],

                    "buttons": [
                        {
                            "extend": 'csv',
                            className: 'them-btn btn-info tbtn1',
                            "action": newexportaction
                        },
                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500]
                    ],

                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                 });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#UserShopCallLogsTable")) {
                        $('#UserShopCallLogsTable').dataTable().fnDestroy();
                        $('#divUserShopCallLogsTable').html('<table class="table border table-striped" width="100%" id="UserShopCallLogsTable"></table>');
                    }
                    initTable1();
                }
            };
        }();

        var UserOrderAmountBifurcationTable = function () {
            let initTable1 = function () {
                let table = $('#UserOrderAmountBifurcationTable');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    "searching": false,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from MAX total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,

                    "ajax": {
                        async: true,
                        url: '@Url.Action("GetDataUserOrderAmountBifurcation_byOrderId", "Orders")',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                    "columns": [
                        {
                            "title": "Order Id", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["OrderId"] == null || row["OrderId"] == "" ? '-' : row["OrderId"]}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "User Details", "data": "Name",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData += `<div class="ml-2">`
                                htmlData += `<p class="mb-0"><b>Name:</b> ${row["Name"]}</p>`;
                                htmlData += `<p class="mb-0"><b>Email:</b> <a class="c-text-primary" href="mailto:${row["UserEmail"]}"> ${row["UserEmail"] == "" || row["UserEmail"] == null ? '-' : row["UserEmail"]}</a></p>`;
                                htmlData += `<p class="mb-0"><b>PhoneNumber: </b> <a href="tel:${row["UserMobileNumber"]}">${row["UserMobileNumber"]}</a></p>`;
                                htmlData += `</div>`

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Shop Details", "data": "ShopName",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData += `<div class="ml-2">`
                                htmlData += `<p class="mb-0"><b>ShopName:</b> ${row["ShopName"]}</p>`;
                                htmlData += `<p class="mb-0"><b>ShopOwnername: </b>${row["ShopOwnername"]}</p>`;
                                htmlData += `<p class="mb-0"><b>ShopMobileNumber: </b><a href="tel:${row["ShopMobileNumber"]}">${row["ShopMobileNumber"]}</a></p>`;
                                htmlData += `<p class="mb-0"><b>GstNumber: </b>${row["GstNumber"]}</p>`;
                                htmlData += `<p class="mb-0"><b>PersonalPanNumber: </b> ${row["PersonalPanNumber"]}</p>`;
                                htmlData += `<p class="mb-0"><b>CompanyPanNumber: </b> ${row["CompanyPanNumber"]}</p>`;

                                htmlData += `</div>`

                                return htmlData;
                            }
                            , "orderable": false, "width": "5%"
                        },
                        {
                            "title": "Order Date", "data": "OrderCreatedDateStr",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["OrderCreatedDateStr"] == null || row["OrderCreatedDateStr"] == "" ? '-' : row["OrderCreatedDateStr"]}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Type", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["Type"] == null || row["Type"] == "" ? '-' : row["Type"]}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Amount", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["Amount"] == null || row["Amount"] == "" ? '0' : row["Amount"]}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Paid Status", "data": "IsPaid",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                if (row["IsPaid"] == 1) {
                                    htmlData = `<div class="badge badge-soft-info">Yes</div>`;
                                }
                                else {
                                    htmlData = `<div class="badge badge-soft-danger">No</div>`;
                                }
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Payment Date", "data": "PaymentDateStr",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["PaymentDateStr"] == null || row["PaymentDateStr"] == "" ? '-' : row["PaymentDateStr"]}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                    ],

                    "buttons": [
                        {
                            "extend": 'csv',
                            className: 'them-btn btn-info tbtn1',
                            "action": newexportaction
                        },
                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500]
                    ],

                    //"dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                    "dom": "<'table-scrollable't>",
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#UserOrderAmountBifurcationTable")) {
                        $('#UserOrderAmountBifurcationTable').dataTable().fnDestroy();
                        $('#divUserOrderAmountBifurcationTable').html('<table class="table border table-striped" width="100%" id="UserOrderAmountBifurcationTable"></table>');
                    }
                    initTable1();
                }
            };
        }();

        //Data fillter function
        function BuildSearchCriteria() {
            try {
                var param = {};
                param["OrderId"] = parseInt($("#OrderId").val());
                return addRequestVerificationToken(param);
            } catch (e) { }
        }
        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }
        function Approve(id, ItemStatusId, UpdatedBy) {
            let confirmBox = confirm("Are You Sure You want to Accept Return Order?");
            if (confirmBox) {
                UpdateStatus(id, ItemStatusId, UpdatedBy);
            }
        }
        function Reject(id, ItemStatusId, UpdatedBy) {
            let confirmBox = confirm("Are You Sure You want to Reject Return Order ?");
            if (confirmBox) {
                UpdateStatus(id, ItemStatusId, UpdatedBy);
            }
        }
        function GiveRefund(id, ItemStatusId, UpdatedBy) {
            let confirmBox = confirm("Are You Sure You want to Give Refund  Return Order ?");
            if (confirmBox) {
                UpdateStatus(id, ItemStatusId, UpdatedBy);
            }
        }
        function UpdateStatus(id, ItemStatusId, UpdatedBy)
           {

               id = parseInt(id);
            ItemStatusId = parseInt(ItemStatusId);
            UpdatedBy = parseInt(UpdatedBy);
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.UserOrderItems_StatusChange, Controllers.Orders)',
                data: { Id: id, ItemStatusId: ItemStatusId, UpdatedBy: UpdatedBy },
                    dataType: 'json',
                    async: false,
                    success: function (response) {
                        //BannerDataTable.init();
                        toastr["success"](response.Message);
                        OrderDataTable.init();

                    },
                    error: function (error) {
                        toastr["error"]("Something Went wrong");
                    }
                });
        }
    </script>
}
