﻿@{
    ViewBag.Title = "Home Page";
}

@using(Html.BeginForm("Upload", "Home", FormMethod.Post, new {enctype = "multipart/form-data"}))  
{  
  
    <table>  
        <tr>  
            <td>File:</td>  
            <td>  
                <input type="file" name="UploadedFile" style="margin:10px 0;" />  
            </td>  
        </tr>  
        <tr>  
            <td colspan="2">  
                <input type="submit" name="Submit" value="Submit" />  
            </td>  
        </tr>  
    </table>  
}  