﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Shop";
}

<div class="content container-fluid">


    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Shop</li>
                </ol>
            </nav>
            <h3 class="fw-bold">Shop</h3>
        </div>
        @*<div class="col-auto">
                <button class="btn btn-primary" data-target="#addNewPlan" data-toggle="modal" role="button"><i class="tio-add"></i> Add new plan</button>
            </div>*@
    </div>
   

    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button role="button" class="btn btn-primary btn-wide m-1" onclick="showSearchmodal();"><i class="tio-filter-outlined"></i> Filter</button>
                            <button role="button" class="btn btn-outline-secondary m-1" onclick="SearchReset(true);">Clear filters</button>
                        </div>
                    </div>
                    <div class="table-responsive" id="ShopDataDiv">
                        <table class="table border rounded w-100" id="ShopData"></table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    @*Fillter modal*@

    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="ShopAdvanceFillter" tabindex="-1" aria-labelledby="ShopAdvanceFillterLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-md-down modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-gray-50">
                    <h5 class="modal-title" id="ShopAdvanceFillterLabel">Shop Fillter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="fillter-div mb-3">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                <div class="form-group mb-3">
                                    <label for="planName">Shop ID</label>
                                    <input type="text" class="form-control" id="ShopId" placeholder="Enter shop id">
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                <div class="form-group mb-3">
                                    <label for="planName">Shop Name</label>
                                    <input type="text" class="form-control" id="ShopName" placeholder="Enter shop name">
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                <div class="form-group mb-3">
                                    <label for="planName">Owner Name</label>
                                    <input type="text" class="form-control" id="OwnerName" placeholder="Enter owner name">
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                <div class="form-group mb-3">
                                    <label for="planName">Phone Number</label>
                                    <input type="text" class="form-control" id="PhoneNumber" placeholder="Enter phone number">
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                <div class="form-group mb-3">
                                    <label for="ShopCity">City</label>
                                    @Html.Raw(Html.DropDownList("ShopCity", (IEnumerable<SelectListItem>)ViewBag.MasterCityDrp, "Select a city", new { @Id = "ShopCity", @class = "form-control" }))

                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                <div class="form-group mb-3">
                                    <label for="planName">Primary Category</label>
                                    <input type="text" class="form-control" id="PrimaryCategory" placeholder="Enter primary category">
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                <div class="form-group mb-3">
                                    <label for="planName">All Category</label>
                                    <input type="text" class="form-control" id="AllCategory" placeholder="Enter all category">
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                <div class="form-group mb-3">
                                    <label for="planName">Shop Rating</label>
                                    <input type="text" class="form-control" id="ShopRating" placeholder="Enter shop rating">
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                <div class="form-group mb-3">
                                    <label for="planName">Shop OB Status</label>
                                    <input type="text" class="form-control" id="ShopOBStatus" placeholder="Enter shop OB status">
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                <div class="form-group mb-3">
                                    <label for="planName">Draft Status</label>
                                    <input type="text" class="form-control" id="DraftStatus" placeholder="Enter draft status">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button role="button" class="btn btn-primary btn-wide m-1" onclick="SearchReset(false);">Search</button>
                </div>
            </div>
        </div>
    </div>


</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            ShopDataShow.init();
        });

        function showSearchmodal() {
            $('#ShopAdvanceFillter').modal('show');
        }

        //Orders DataTable Bind
        var ShopDataShow = function () {
            let initTable1 = function () {
                let table = $('#ShopData');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.ViewAllDataShop, Controllers.Shop)',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                "columns": [
                    {
                        "title": "Shop ID", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a href="javascript:void(0)">${row["Id"]}</a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Shop Name", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["ShopName"] == "" || row["ShopName"] == null ? '-' : row["ShopName"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Owner Name", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["ShopOwnerName"] == "" || row["ShopOwnerName"] == null ? '-' : row["ShopOwnerName"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Ph No", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["MobileNumber"] == "" || row["MobileNumber"] == null ? '-' : `<a href="${row["MobileNumber"]}">${row["MobileNumber"]}</a>`}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "City", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["CityName"] == "" || row["CityName"] == null ? '-' : row["CityName"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Primary Category", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["CategoryName"] == "" || row["CategoryName"] == null ? '-' : row["CategoryName"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "All Category", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["SubCategoryName"] == "" || row["SubCategoryName"] == null ? '-' : row["SubCategoryName"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Shop Rating", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData += `${row["Rating"] = "" || row["Rating"] == null ? `<button class="btn btn-primary d-flex align-items-center pl-2 pr-2 m-1 p-0 btn-sm"><i class="tio-star mr-1" style="color:#fdba2b;"></i> 0 </button>` : `<button class="btn btn-primary d-flex align-items-center pl-2 pr-2 m-1 p-0 btn-sm"><i class="tio-star mr-1" style="color:#fdba2b;"></i> ${row["Rating"]} </button>`}`;
                          
                           return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "No Of Users", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["NoOfUsers"] == "" || row["NoOfUsers"] == null ? '0' : row["NoOfUsers"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Shop OB Status", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["ShopOBStatus"] == "" || row["ShopOBStatus"] == null ? '-' : row["ShopOBStatus"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Draf Status", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["DraftStatus"] == "" || row["DraftStatus"] == null ? '-' : row["DraftStatus"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    
                ],
                // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                        //{
                        //    text: 'Fillter',
                        //    className: 'them-primary',
                        //    action: function (e, dt, node, config) {
                        //        OpenAddNewOrderStatusPopup();
                        //    }
                        //},
                        //{
                        //    text: 'Reset',
                        //    className: 'them-btn',
                        //    action: function (e, dt, node, config) {
                        //        OpenAddNewOrderStatusPopup();
                        //    }
                        //},

                        //{ extend: 'excel', className: 'them-btn' }
                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [5, 10, 15, 20, 1000],
                        [5, 10, 15, 20, 1000] // change per page values here
                    ],
                    // set the initial value
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#ShopData")) {
                        $('#ShopData').dataTable().fnDestroy();
                        $('#ShopDataDiv').html('<table class="table border rounded w-100" id="ShopData"></table>');
                    }
                    initTable1();
                }
            };
        }();

        //Data fillter function
        function BuildSearchCriteria() {
            try {
                var param = {};
                param["Id"] = $("#ShopId").val();
                param["ShopName"] = $("#ShopName").val();
                param["ShopOwnerName"] = $("#OwnerName").val();
                param["MobileNumber"] = $("#PhoneNumber").val();
                param["CityId"] = $("#ShopCity").val();
                param["CategoryId"] = $("#PrimaryCategory").val();
                param["SubCategoryId"] = $("#AllCategory").val();
                param["ShopRatingsId"] = $("#ShopRating").val();
                param["ShopStatus"] = $("#ShopOBStatus").val();
                param["DraftStatus"] = $("#DraftStatus").val();
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        const SearchReset = (isReset = false) => {
            if (isReset == true) {
                $("#ShopId").val("");
                $("#ShopName").val("");
                $("#OwnerName").val("");
                $("#PhoneNumber").val("");
                $("#ShopCity").val(null);
                $("#PrimaryCategory").val("");
                $("#AllCategory").val("");
                $("#ShopRating").val("");
                $("#ShopOBStatus").val("");
                $("#DraftStatus").val("");
            }
            ShopDataShow.init();
            $('#ShopAdvanceFillter').modal('hide');
        }

    </script>
}
