@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;

@Html.AntiForgeryToken()
@{
    ViewBag.Title = "View Shop Onboard Detail";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link href="~/assets/mdtimepicker/css/mdtimepicker.css" rel="stylesheet" />
<link href="~/assets/css/fine-uploader.min.css" rel="stylesheet" />

<style>
    .select2-container {
        width: 100% !important;
    }

    .json-tag-editor {
        display: block;
        width: 100%;
        height: calc(1.6em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.6;
        color: #111827;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #D1D5DB;
        border-radius: 0.375rem;
        box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 5%);
        transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    }

        .json-tag-editor li {
            margin: 7px 0 !important;
        }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    .json-tag-editor {
        height: 100px !important;
    }
</style>

<div class="content container-fluid">


    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.ShopOnboardDetail)" style="color: #0596F8;">Manage Shop Onboard Detail</a></li>
                    <li class="breadcrumb-item active" aria-current="page">View Shop Onboard Detail</li>
                </ol>
            </nav>
            <h3 class="fw-bold">View Shop Onboard Detail</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    <div class="row row-cols-xl-3 row-cols-sm-3 row-cols-1 fs-14">
                        <div class="col mb-4">
                            <p class="text-muted mb-0">Shop Id</p>
                            <div class="fw-semibold" id="ShopId"></div>
                        </div>
                        <div class="col mb-4">
                            <p class="text-muted mb-0">Shop Name</p>
                            <div class="fw-semibold" id="ShopName"></div>
                        </div>
                        <div class="col mb-4">
                            <p class="text-muted mb-0">Shopkeeper Name</p>
                            <div class="fw-semibold" id="ShopkeeperNumber"></div>
                        </div>
                        <div class="col mb-4">
                            <p class="text-muted mb-0">Shopkeeper Phone No</p>
                            <div class="fw-semibold" id="ShopkeeperPhoneNo"></div>
                        </div>
                        <div class="col mb-4">
                            <p class="text-muted mb-0">Company GST No</p>
                            <div class="fw-semibold" id="CompanyGSTNo"></div>
                        </div>
                        <div class="col mb-4">
                            <p class="text-muted mb-0">Company PAN No</p>
                            <div class="fw-semibold" id="CompanyPANNo"></div>
                        </div>
                        <div class="col mb-4">
                            <p class="text-muted mb-0">Company Registered Address</p>
                            <div class="fw-semibold" id="CompanyRegisteredAddress"></div>
                        </div>
                        <div class="col mb-4">
                            <p class="text-muted mb-0">Personal PAN No</p>
                            <div class="fw-semibold" id="PersonalPANNo"></div>
                        </div>
                        <div class="col mb-4">
                            <p class="text-muted mb-0">Account Number</p>
                            <div class="fw-semibold" id="AccountNumber"></div>
                        </div>
                        <div class="col mb-4">
                            <p class="text-muted mb-0">IFSC Code</p>
                            <div class="fw-semibold" id="IFSCCode"></div>
                        </div>
                        <div class="col mb-4">
                            <p class="text-muted mb-0">Bank Name</p>
                            <div class="fw-semibold" id="BankName"></div>
                        </div>
                        <div class="col mb-4">
                            <p class="text-muted mb-0">Account Holder Name</p>
                            <div class="fw-semibold" id="AccountHolderName"></div>
                        </div>
                        <div class="col mb-4">
                            <p class="text-muted mb-0">Shop OB Status</p>
                            <div class="fw-semibold" id="ShopOBStatus">

                            </div>
                        </div>
                        <div class="col mb-4">
                            <p class="text-muted mb-0">T&C</p>
                            <div class="fw-semibold" id="TandC"></div>
                        </div>
                        <div class="col mb-4">
                            <p class="text-muted mb-0">Address</p>
                            <div class="fw-semibold" id="Address"></div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="card-header text-center" style="padding:5px;">
                            <h6 class="mb-0">Shop Timings</h6>
                        </div>
                        <div>
                            <br />
                            <input type="button" style="cursor:pointer;" id="BtnCopyTime" class="btn btn-primary" onclick="CopyTiming();" value="Copy All Timing" />
                        </div> <br />
                        <table class="table rounded-lg mb-0 shop-timgings">
                            <thead>
                                <tr>
                                    <th scope="col">Day</th>
                                    <th scope="col">From Time</th>
                                    <th scope="col">To Time</th>
                                    <th scope="col">BreakTime Start</th>
                                    <th scope="col">BreakTime End</th>
                                    <th scope="col" width="100px">Active/In-active</th>
                                    @*<td scope="col">Day</td>
                                        <td scope="col">From Time</td>
                                        <td scope="col">To Time</td>
                                        <td scope="col">BreakTime Start</td>
                                        <td scope="col">BreakTime End</td>
                                        <td scope="col" width="100px">Active/In-active</td>*@
                                </tr>
                            </thead>
                            <tbody id="ShopSchedule">
                            </tbody>
                        </table>
                    </div>
                    <hr />
                    <div class="card-body p-0">

                        <form id="frmBanner" name="frmBanner" method="post" enctype="multipart/form-data">
                            <div class="row fs-14">
                                <div class="col-lg-4 form-group mb-3">
                                    <label>Shop Name</label>
                                    <input type="text" name="ShopNameInput" id="ShopNameInput" class="w-100 form-control" />
                                </div>
                                <div class="col-lg-4 form-group mb-3">
                                    <label>Shop Name Gujarati</label>
                                    <input type="text" name="ShopNameGujarati" id="ShopNameGujarati" class="w-100 form-control" />
                                </div>
                                <div class="col-lg-4 form-group mb-3">
                                    <label>Shop Name Hindi</label>
                                    <input type="text" name="ShopNameHindi" id="ShopNameHindi" class="w-100 form-control" />
                                </div>
                                <div class="col-lg-4 form-group mb-3">
                                    <label>Description</label>
                                    <textarea class="form-control" name="Description" id="Description"></textarea>
                                </div>
                                <div class="col-lg-4 form-group mb-3">
                                    <label>Description Gujarati</label>
                                    <textarea class="form-control" name="DescriptionGujarati" id="DescriptionGujarati"></textarea>
                                </div>
                                <div class="col-lg-4 form-group mb-3">
                                    <label>Description Hindi</label>
                                    <textarea class="form-control" name="DescriptionHindi" id="DescriptionHindi"></textarea>
                                </div>
                                <div class="col-lg-4 form-group mb-3">
                                    <label>ShopOwner Name</label>
                                    <input type="text" name="ShopOwnerName" id="ShopOwnerName" class="w-100 form-control" />
                                </div>
                                <div class="col-lg-4 form-group mb-3">
                                    <label>GST No</label>
                                    <input type="text" name="GSTNo" id="GSTNo" class="w-100 form-control" />
                                </div>
                                <div class="col-lg-4 form-group mb-3">
                                    <label>Company Name</label>
                                    <input type="text" name="CompanyName" id="CompanyName" class="w-100 form-control" />
                                </div>
                                <div class="col-lg-4 form-group mb-3">
                                    <label>Personal PAN</label>
                                    <input type="text" name="PersonalPAN" id="PersonalPAN" class="w-100 form-control" />
                                </div>
                                <div class="col-lg-4 form-group mb-3">
                                    <label>Company PAN</label>
                                    <input type="text" name="CompanyPAN" id="CompanyPAN" class="w-100 form-control" />
                                </div>
                                <div class="col-lg-4 form-group mb-3">
                                    <label>Main Category</label>
                                    @Html.Raw(Html.DropDownList("PrimaryCategory", (IEnumerable<SelectListItem>)ViewBag.Category, "Select a Primary Category", new { @Id = "PrimaryCategory", @class = "form-control" }))
                                </div>
                                <div class="col-lg-4 form-group mb-3 w-100 dropdown bootstrap-select">
                                    <label for="planName">Other Category</label>
                                    @Html.Raw(Html.DropDownList("SubCategory", (IEnumerable<SelectListItem>)ViewBag.Category, new { @Id = "SubCategory", @multiple = "multiple", @class = "form-control selectpicker" }))
                                </div>
                                <div class="col-lg-4 form-group mb-3">
                                    <label>Specialities</label>
                                    @Html.Raw(Html.DropDownList("SpecialitiesList", (IEnumerable<SelectListItem>)ViewBag.MasterSpecialitiesListDrp, "Select a Specialities", new { @Id = "SpecialitiesList", @class = "form-control" }))
                                </div>
                                <div class="col-lg-4 form-group mb-3">
                                    <label>Commission Percentage</label>
                                    <div class="input-group mb-3">
                                        <input type="number" id="CommissionPercentage" class="form-control" />
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="startDateIcon">
                                                %
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 form-group">
                                    <label>Address</label>
                                    <textarea class="form-control" id="AddressLine1" name="AddressLine1"></textarea>
                                </div>
                                <div class="col-lg-3 form-group mb-3">
                                    <label>Flat Number</label>
                                    <input type="text" class="form-control" name="FlatNumber" id="FlatNumber" placeholder="X - XXXXX" value="" />
                                </div>
                                <div class="col-lg-3 form-group mb-3">
                                    <label>State</label>
                                    @Html.Raw(Html.DropDownList("StateId", (IEnumerable<SelectListItem>)ViewBag.StateDropdown, "Select a State", new { @onchange = "BindCityDrp();", @Id = "StateId", @class = "form-control" }))
                                </div>
                                <div class="col-lg-3 form-group mb-3">
                                    <label>City</label>
                                    <select class="form-control selectpicker" data-size="6" data-title="Select options" value="" name="cityid" id="cityid">
                                    </select>
                                </div>
                                <div class="col-lg-3 form-group mb-3">
                                    <label>Pin Code</label>
                                    <div class="input-group mb-3">
                                        <input type="number" id="pinCode" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-12 form-group mb-3">
                                    <label>Product Tags</label>
                                    @*<div id="ProductTags"></div>*@
                                    @*<input type="text" name="ProductTags" id="ProductTags" class="w-100 form-control" />*@
                                    <textarea class="form-control" name="ProductTags" id="ProductTags" rows="4"></textarea>
                                </div>
                                <div class="col-lg-4 form-group mb-3">
                                    <label>Full Length Video</label>
                                    @*<input type="file" class="form-control" onchange="VideoUpload(this);" id="FullLengthVideos" name="FullLengthVideos" accept="video/*" />*@
                                    <div id="fine-uploader">
                                    </div>
                                    <script type="text/template" id="qq-template">
                                        <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
                                            <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                                                <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
                                            </div>
                                            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                                                <span class="qq-upload-drop-area-text-selector"></span>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="qq-upload-button-selector qq-upload-button">
                                                    <div>Select Your Video File</div>
                                                </div>
                                            </div>
                                            <span class="qq-drop-processing-selector qq-drop-processing">
                                                <span>Processing selected video...</span>
                                                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
                                            </span>
                                            <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
                                                <li>
                                                    <div class="qq-progress-bar-container-selector">
                                                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                                                    </div>
                                                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                                                    <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                                                    <span class="qq-upload-file-selector qq-upload-file"></span>
                                                    <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                                                    <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                                                    <span class="qq-upload-size-selector qq-upload-size"></span>
                                                    <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                                                    <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                                                    <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                                                    <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                                                </li>
                                            </ul>

                                            <dialog class="qq-alert-dialog-selector">
                                                <div class="qq-dialog-message-selector"></div>
                                                <div class="qq-dialog-buttons">
                                                    <button type="button" class="qq-cancel-button-selector">Close</button>
                                                </div>
                                            </dialog>

                                            <dialog class="qq-confirm-dialog-selector">
                                                <div class="qq-dialog-message-selector"></div>
                                                <div class="qq-dialog-buttons">
                                                    <button type="button" class="qq-cancel-button-selector">No</button>
                                                    <button type="button" class="qq-ok-button-selector">Yes</button>
                                                </div>
                                            </dialog>

                                            <dialog class="qq-prompt-dialog-selector">
                                                <div class="qq-dialog-message-selector"></div>
                                                <input type="text">
                                                <div class="qq-dialog-buttons">
                                                    <button type="button" class="qq-cancel-button-selector">Cancel</button>
                                                    <button type="button" class="qq-ok-button-selector">Ok</button>
                                                </div>
                                            </dialog>
                                        </div>
                                    </script>
                                </div>
                                <div class="col-lg-4 form-group mb-3">
                                    <label>GIF Video</label>
                                    <input type="file" class="form-control" onchange="GIFVideoUpload();" id="GifVideos" name="GifVideos" accept=".gif" />
                                </div>
                                <div class="col-lg-4 form-group mb-3">
                                    <label>Images</label>
                                    <input type="file" class="form-control" multiple onchange="MultipalImageUpload(this);" id="ImageUrls" name="ImageUrls" accept="image/*" />
                                </div>
                                <div class="mt-2 col-lg-4">
                                    <input type="hidden" name="FullLengthVideo_hiddenurl" accept="video/*" id="FullLengthVideo_hiddenurl" value="" />
                                    <div class="row m-0" id="FullLengthVideo_Area">
                                    </div>
                                </div>
                                <div class="mt-2 col-lg-4">
                                    <input type="hidden" name="GIFVideo_Areaurl" id="GIFVideo_Areaurl" value="" />
                                    <div class="row m-0" id="GIFVideo_Area">

                                    </div>
                                </div>
                                <div class="mt-2 col-lg-4">
                                    <input type="hidden" name="Images_Areaurl" id="Images_Areaurl" value="" />
                                    <div class="row m-0" id="Images_Area">

                                    </div>
                                    <div class="row m-0" id="New_Images_Area">

                                    </div>
                                </div>
                            </div>
                            <div class="row row-cols-xl-3 row-cols-sm-3 row-cols-1 fs-14">
                                <div class="col mb-4">

                                </div>
                                <div class="col mb-4">

                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-12 float-none text-center">
                                        <button type="button" style="cursor:pointer;" class="btn btn-primary" onclick="PreNext(1);">Previous</button>
                                        <button type="button" style="cursor: pointer; background-color: #5cb85c; border-color: #5cb85c;" class="btn btn-success" id="btnsave" onclick="SendForApproval(true);">Save</button>
                                        <button style="display:none; background-color: #5cb85c; border-color: #5cb85c;" class="btn btn-success loading btn-wide" type="button" id="SaveLoading" disabled="">
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            Saving...
                                        </button>
                                        <button type="button" class="btn btn-success" @*type="submit"*@ id="ApproveButton" onclick="SendForApproval(false);">Send For Approval</button>
                                        <button style="display:none;" class="btn btn-success loading btn-wide" type="button" id="ApproveLoading" disabled="">
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            Sending For Approval...
                                        </button>
                                        <button type="button" style="cursor:pointer;" class="btn btn-primary" onclick="PreNext(0);">Next</button>
                                        <button type="button" style="cursor:pointer;" class="btn btn-warning" onclick="PreNext(2);">Back</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<button id="click">add tags</button>*@

</div>

@section Scripts{

    <script src="~/assets/vendors/jQuery-JSON-TagEditor-master/jquery.caret.min.js"></script>
    <link href="~/assets/vendors/jQuery-JSON-TagEditor-master/jquery.json-tag-editor.css" rel="stylesheet" />
    <script src="~/assets/vendors/jQuery-JSON-TagEditor-master/jquery.json-tag-editor.js"></script>
    <script src="~/assets/mdtimepicker/js/mdtimepicker.js"></script>
    <script src="~/assets/js/s3.fine-uploader.min.js" type="text/javascript"></script>

    <script>

    var url = window.location.href.split('=')[1];
    var filesToUpload = [];

    $(document).ready(function () {
        $("#StateId").selectpicker('val', '');
        $.validator.addMethod('filesize', function (value, element, param) {
            return this.optional(element) || (element.files[0].size <= param * 1000000)
        }, 'File size must be less than {0} MB');

        $("#frmBanner").validate({
            rules: {
                FullLengthVideos: {
                    filesize: 80,
                },
                GifVideos: {
                    filesize: 2,
                },
                ImageUrls: {
                    filesize: 2,
                },
            },

            errorPlacement: function (error, element) {
                if (element.is(":radio")) {
                    error.appendTo(element.parents(".form-group"));
                } else {
                    // This is the default behavior
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                SendForApproval(isNew);
            }
        });

        showShopDetails();

        //$('#ProductTags').jsonTagEditor({ placeholder: 'Enter tags ...' });
        });

        //onchange video preview
        function VideoUpload(id) {
            $('#FullLengthVideo_Area').html('');

            if (id.files.length > 0) {
                var size = FullLengthVideos.files[0].size;
                const file = Math.round((size / 1024));

                if (file >= 80000) {
                    toastr["error"]("Sorry!! Maximum allowed file size is 80 mb");
                    //alert("");
                    // Clear fileuload control selected file
                    document.getElementById("FullLengthVideos").value = "";
                } else if (file < 1024) {
                    toastr["error"]("Sorry!! Minimum allowed file size is 1 mb");
                    //alert("");
                    // Clear fileuload control selected file
                    document.getElementById("FullLengthVideos").value = "";
                } else {

                    const [file] = FullLengthVideos.files
                    objectUrl = URL.createObjectURL(file);
                    var vid = document.createElement('video');

                    var fileURL = URL.createObjectURL(id.files[0]);
                    vid.src = fileURL;
                    // wait for duration to change from NaN to the actual duration
                    vid.ondurationchange = function () {

                        //var seconds = this.duration;
                        //alert(this.duration);

                       if (this.duration <= 120) {
                           $('#FullLengthVideo_Area').append(`
                            <video class="w-100" id="myVideo" controls>
                            <source src="${URL.createObjectURL(file)}" type="video/mp4">
                            source src="${URL.createObjectURL(file)}" type="video/ogg">
                            Your browser does not support the video tag.
                            </video>
                            `)
                       }
                       else {
                           toastr["error"]("Please upload video less then 120 seconds");
                           //alert('');
                           // Clear fileuload control selected file
                           document.getElementById("FullLengthVideos").value = "";
                       }
                    };
                }
            }
            else if (id.files) {
                // Clear fileuload control selected file
                document.getElementById("FullLengthVideos").value = "";
            }
        }

        //onchange GIFVideo preview
        function GIFVideoUpload(){
            $('#GIFVideo_Area').html('');
            const [file] = GifVideos.files
            if (file) {
                $('#GIFVideo_Area').append(`<img class="w-100 " src="${URL.createObjectURL(file)}"/>`)
            }
        }

        //onchange MultipalImage preview
       function MultipalImageUpload(id) {

           if (id.files.length > 20) {
               toastr["error"]("20 files have to be selected at a time!");
               //alert('');
               document.getElementById("ImageUrls").value = "";

           } else {
               const [file] = ImageUrls.files
               if (file) {
                   for (var i = 0; i < ImageUrls.files.length; i++) {
                       $('#New_Images_Area').append(`<div class="col-lg-6 p-2 mb-2" id="imgCount" style="position:relative;">
                       <div class="badge badge-success pos-r-t">New</div><i class="tio-delete preview-image-delete-icon" onclick=DeleteNewImage(`+ i +`)></i>
                       <img class="w-100" src="${URL.createObjectURL(ImageUrls.files[i])}"/></div>`)
                   }
               }
           }
        }

        function DeleteNewImage(id) {

            let fileBuffer = Array.from(ImageUrls.files);
            fileBuffer.splice(id, 1);

            const dT = new ClipboardEvent('').clipboardData ||
                new DataTransfer();

            for (let file of fileBuffer) { dT.items.add(file); }
            ImageUrls.files = dT.files;

            $('#New_Images_Area').html("");
            const [file] = ImageUrls.files
            if (file) {
                for (var i = 0; i < ImageUrls.files.length; i++) {
                    $('#New_Images_Area').append(`<div class="col-lg-6 p-2 mb-2" id="imgCount" style="position:relative;">
                       <div class="badge badge-success pos-r-t">New</div><i class="tio-delete preview-image-delete-icon" onclick=DeleteNewImage(` + i + `)></i>
                       <img class="w-100" src="${URL.createObjectURL(ImageUrls.files[i])}"/></div>`)
                }
            }
        }

        var shopid = 0;
        function showShopDetails()
        {
            $('#ApproveButton').show();
            $('#btnsave').show();
            $('#GIFVideo_Area').html("");
            $('#Images_Area').html("");
            $('#FullLengthVideo_Area').html("");
            //$('#ProductTags tags').remove();
            $('#ProductTags').val("");

            $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.GetShopDetails, Controllers.ShopApproval)',
            data: { Id: @ViewBag.Id },
            dataType: 'json',
                success: function (response) {
                    let htmlData = "";

                    if (response.Item != null && response.Item != undefined) {

                        if (response.Item.IsNew == true && response.Item.IsApprovalPending == false && response.Item.DraftStatus == false) {
                            htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">New - not sent for approval</div>`;
                        }
                        else if (response.Item.IsNew == true && response.Item.IsApprovalPending == false && response.Item.DraftStatus == true)
                        {
                            htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">New - not sent for approval</div>`;
                        }
                        else if (response.Item.IsNew == true && response.Item.IsApprovalPending == true && response.Item.DraftStatus == false) {
                            htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">New - awaiting approval</div>`;
                        }
                        else if (response.Item.IsNew == true && response.Item.IsApprovalPending == true && response.Item.DraftStatus == true) {
                            htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">New - awaiting approval</div>`;
                        }
                        else if (response.Item.IsNew == false && response.Item.IsApprovalPending == false && response.Item.DraftStatus == false) {
                            htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">Approved - no pending approvals</div>`;
                        }
                        else if (response.Item.IsNew == false && response.Item.IsApprovalPending == true && response.Item.DraftStatus == false) {
                            htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">Approved - awaiting new approval</div>`;
                        }
                        else if (response.Item.IsNew == false && response.Item.IsApprovalPending == false && response.Item.DraftStatus == true) {
                            htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">Approved - no pending approvals</div>`;
                        }
                        else if (response.Item.IsNew == false && response.Item.IsApprovalPending == true && response.Item.DraftStatus == true) {
                            htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">Approved - awaiting new approval</div>`;
                        }
                        else {
                            htmlData += '';
                        }

                        if (response.Item.IsApprovalPending == true) {
                            $('#ApproveButton').hide();
                            $('#btnsave').hide();
                        }

                        //id = response.Item.Id;
                        shopid = response.Item.Id;
                        $("#ShopId").html(response.Item.Id);
                        $("#ShopName").html(response.Item.ShopName);
                        $("#ShopkeeperNumber").html(`${response.Item.ShopOwnerName == "" || response.Item.ShopOwnerName == null ? '-' : response.Item.ShopOwnerName}`);
                        $("#ShopkeeperPhoneNo").html(`${response.Item.MobileNumber == "" || response.Item.MobileNumber == null ? '-' : response.Item.MobileNumber}`);
                        $("#CompanyGSTNo").html(`${response.Item.GstNumber == "" || response.Item.GstNumber == null ? '-' : response.Item.GstNumber}`);
                        $("#CompanyPANNo").html(`${ response.Item.CompanyPanNumber == "" || response.Item.CompanyPanNumber == null ? '-' : response.Item.CompanyPanNumber }`);
                        $("#CompanyRegisteredAddress").html(`${response.Item.CompanyRegisterAddress == "" || response.Item.CompanyRegisterAddress == null ? '-' : response.Item.CompanyRegisterAddress}`);
                        $("#PersonalPANNo").html(`${response.Item.PersonalPanNumber == "" || response.Item.PersonalPanNumber == null ? '-' : response.Item.PersonalPanNumber}`);
                        $("#AccountNumber").html(`${response.Item.BankAccountNo == "" || response.Item.BankAccountNo == null ? '-' : response.Item.BankAccountNo}`);
                        $("#IFSCCode").html(`${response.Item.IFSCCode == "" || response.Item.IFSCCode == null ? '-' : response.Item.IFSCCode}`);
                        $("#BankName").html(`${response.Item.BankName == "" || response.Item.BankName == null ? '-' : response.Item.BankName}`);
                        $("#AccountHolderName").html(`${response.Item.AccountHolderName == "" || response.Item.AccountHolderName == null ? '-' : response.Item.AccountHolderName}`);
                        $("#ShopOBStatus").html(htmlData);
                        $("#TandC").html(`${response.Item.TermsAndConditions == "" || response.Item.TermsAndConditions == null ? '-' : response.Item.TermsAndConditions}`);
                        $("#Address").html(response.Item.Address == "" || response.Item.Address == null ? '-' : response.Item.FlatNumber == "" || response.Item.FlatNumber == null ? '' : response.Item.FlatNumber + " " + response.Item.Address);


                    var ShopTimging = "";
                    if (response.Item.ShopTimgings.length <= 0) {
                        ShopTimging += `<tr>
                                    <th scope="row" class="text-center" colspan="3">No Record found</th>
                                </tr>`
                    } else {
                        for (i = 0; i < response.Item.ShopTimgings.length; i++) {
                            //

                            ShopTimging += `<tr>
                                    <th scope="row" style='display:none'>${`<input type="hidden" id="Id" class="form-control" value="${response.Item.ShopTimgings[i].Id}">`}${response.Item.ShopTimgings[i].Id == null || response.Item.ShopTimgings[i].Id == "" ? '0' : response.Item.ShopTimgings[i].Id}</th>
                                    <th scope="row" style='display:none'>${`<input type="hidden" id="ShopId" class="form-control" value="${response.Item.ShopTimgings[i].ShopId}">`}${response.Item.ShopTimgings[i].ShopId == null || response.Item.ShopTimgings[i].ShopId == "" ? '0' : response.Item.ShopTimgings[i].ShopId}</th>
                                    <th scope="row">${`<input type="hidden"  id="Day" class="form-control"  value="${response.Item.ShopTimgings[i].Day}">`}${response.Item.ShopTimgings[i].Day == null || response.Item.ShopTimgings[i].Day == "" ? '0' : response.Item.ShopTimgings[i].Day}</th>
                                    <th scope="row">${`<input type="time" id="FromTime" class="form-control FromTime`+i+`" required value="${response.Item.ShopTimgings[i].FromTime24}">`}</th>
                                    <th scope="row">${`<input type="time" onchange="CheckValidTime(${i})" id="ToTime" class="form-control ToTime`+i+`" required value="${response.Item.ShopTimgings[i].ToTime24}">`}</th>
                                    <th scope="row">${`<input type="time" id="BreakStartTime" class="form-control BreakStartTime` + i + `" required value="${response.Item.ShopTimgings[i].BreaktimeStart24}">`}</th>
                                    <th scope="row">${`<input type="time" id="BreakEndTime" class="form-control BreakEndTime` + i + `" required value="${response.Item.ShopTimgings[i].BreakTimeEnd24}">`}</th>
                                    <th scope="row">${`<label class="switch mb-0"> <input type="checkbox" id="IsClosed" onclick="ShopTimgings_IsClosedIsopen(${response.Item.ShopTimgings[i].Id})"
                                    value="${response.Item.ShopTimgings[i].IsClosed}"
                                    ${response.Item.ShopTimgings[i].IsClosed == false ? "checked" : ""}>
                                    <span class="slider round"></span> </label>`}</th>
                                </tr>`

                        }
                    }

                        @*var ImageArry = []; $('#ProductTags').val("");
                        if (response.Item.ShopImagesandVideos.length > 0)
                        {
                            for (i = 0; i < response.Item.ShopImagesandVideos.length; i++)
                            {
                                if (response.Item.ShopImagesandVideos[i].IsVideo == true && response.Item.ShopImagesandVideos[i].IsCoverImage == false)
                                {
                                    if (response.Item.ShopImagesandVideos[i].MediaUrl != null && response.Item.ShopImagesandVideos[i].MediaUrl) {
                                        $('#FullLengthVideo_hiddenurl').val(response.Item.ShopImagesandVideos[i].MediaUrl);
                                        $("#FullLengthVideo_Area").append(`
                                            <div class="col-lg-12 p-2 mb-2 image-main" style="position:relative;"><i class="tio-delete preview-image-delete-icon" onclick="DeleteShopImages(${response.Item.ShopImagesandVideos[i].Id})"></i>
                                                 <video class="w-100" controls>
                                                      <source src="@Configurations.S3BaseUrl${response.Item.ShopImagesandVideos[i].MediaUrl}" type="video/mp4">
                                                      <source src="@Configurations.S3BaseUrl${response.Item.ShopImagesandVideos[i].MediaUrl}" type="video/ogg">
                                                      Your browser does not support the video tag.
                                                 </video>
                                            </div>
                                        `);
                                    }
                                }
                                if (response.Item.ShopImagesandVideos[i].IsVideo == true && response.Item.ShopImagesandVideos[i].IsCoverImage == true) {
                                    if (response.Item.ShopImagesandVideos[i].MediaUrl != null && response.Item.ShopImagesandVideos[i].MediaUrl) {
                                        $('#GIFVideo_Areaurl').val(response.Item.ShopImagesandVideos[i].MediaUrl);
                                        $("#GIFVideo_Area").append(`
                                            <div class="col-lg-12 p-2 mb-2 image-main" style="position:relative;"><i class="tio-delete preview-image-delete-icon" onclick="DeleteShopImages(${response.Item.ShopImagesandVideos[i].Id})"></i><img class="w-100" src="@Configurations.S3BaseUrl${response.Item.ShopImagesandVideos[i].MediaUrl}" alt="GIFVideo" /></div>
                                        `);
                                    }
                                }
                                if (response.Item.ShopImagesandVideos[i].IsVideo == false && response.Item.ShopImagesandVideos[i].IsCoverImage == false) {
                                    if (response.Item.ShopImagesandVideos[i].MediaUrl != null && response.Item.ShopImagesandVideos[i].MediaUrl) {
                                        ImageArry.push(response.Item.ShopImagesandVideos[i].MediaUrl);
                                        $('#Images_Areaurl').val(ImageArry.join(','));
                                        $("#Images_Area").append(`
                                            <div class="col-lg-6 p-2 mb-2 image-main" style="position:relative;"><i class="tio-delete preview-image-delete-icon" onclick="DeleteShopImages(${response.Item.ShopImagesandVideos[i].Id})"></i><img class="w-100" src="@Configurations.S3BaseUrl${response.Item.ShopImagesandVideos[i].MediaUrl}"/></div>
                                        `);
                                    }
                                }
                            }
                        }*@

                        @*if (response.Item.FullLengthVideo != null && response.Item.FullLengthVideo != "") {
                          $('#FullLengthVideo_hiddenurl').val(response.Item.FullLengthVideo);
                          $("#FullLengthVideo_Area").append(`
                                    <div class="col-lg-12 p-2 mb-2 image-main" style="position:relative;">
                                            <i class="tio-delete preview-image-delete-icon" onclick=DeleteShopImages('`+ encodeURIComponent(response.Item.FullLengthVideo.toString()) +`',`+ 1+`)></i>
                                            <video class="w-100" controls>
                                                <source src="@Configurations.S3BaseUrl${response.Item.FullLengthVideo}" type="video/mp4">
                                                <source src="@Configurations.S3BaseUrl${response.Item.FullLengthVideo}" type="video/ogg">
                                                Your browser does not support the video tag.
                                            </video>
                                    </div>
                                `);
                        }*@

                        if (response.Item.GifVideo != null && response.Item.GifVideo != "") {
                          $('#GIFVideo_Areaurl').val(response.Item.GifVideo);
                          $("#GIFVideo_Area").append(`
                                    <div class="col-lg-12 p-2 mb-2 image-main" style="position:relative;">
                                        <i class="tio-delete preview-image-delete-icon" onclick=DeleteShopImages('`+ encodeURIComponent(response.Item.GifVideo.toString()) + `',` + 2 +`)></i>
                                        <img class="w-100" src="@Configurations.S3BaseUrl${response.Item.GifVideo}" alt="GIFVideo" />
                                    </div>
                                `);
                        }

                      var ImageArry = [];
                      if (response.Item.ImageUrl != null && response.Item.ImageUrl != "") {

                          ImageArry = response.Item.ImageUrl.split(',');

                          if (ImageArry.length > 0) {
                              for (i = 0; i < ImageArry.length; i++) {
                                  if (ImageArry[i] != null && ImageArry[i] != "") {
                                        //ImageArry.push(ImageArry[i]);
                                      $('#Images_Areaurl').val(response.Item.ImageUrl);

                                        $("#Images_Area").append(`
                                            <div class="col-lg-6 p-2 mb-2 image-main" style="position:relative;">
                                                <i class="tio-delete preview-image-delete-icon" onclick=DeleteShopImages('`+ encodeURIComponent(ImageArry[i].toString()) + `',` + 3 +`)></i>
                                                <img class="w-100" src="@Configurations.S3BaseUrl${ImageArry[i]}"/>
                                            </div>
                                        `);
                                  }
                              }
                          }
                        }
                        $("#ShopNameInput").val(response.Item.ShopName == undefined || response.Item.ShopName == null || response.Item.ShopName == "" ? "" : response.Item.ShopName);
                        $("#ShopNameGujarati").val(response.Item.ShopNameGujarati == undefined || response.Item.ShopNameGujarati == null || response.Item.ShopNameGujarati == "" ? "" : response.Item.ShopNameGujarati);
                        $("#ShopNameHindi").val(response.Item.ShopNameHindi == undefined || response.Item.ShopNameHindi == null || response.Item.ShopNameHindi == "" ? "" : response.Item.ShopNameHindi);
                        $("#DescriptionGujarati").val(response.Item.DescriptionGujarati == undefined || response.Item.DescriptionGujarati == null || response.Item.DescriptionGujarati == "" ? "" : response.Item.DescriptionGujarati);
                        $("#DescriptionHindi").val(response.Item.DescriotionHindi == undefined || response.Item.DescriotionHindi == null || response.Item.DescriotionHindi == "" ? "" : response.Item.DescriotionHindi);
                        $("#ProductTags").val(response.Item.Tags == undefined || response.Item.Tags == null || response.Item.Tags == "" ? "" : response.Item.Tags);
                        $("#ShopOwnerName").val(response.Item.ShopOwnerName == undefined || response.Item.ShopOwnerName == null || response.Item.ShopOwnerName == "" ? "" : response.Item.ShopOwnerName);
                        $("#GSTNo").val(response.Item.GSTNo == undefined || response.Item.GSTNo == null || response.Item.GSTNo == "" ? "" : response.Item.GSTNo);
                        $("#CompanyName").val(response.Item.CompanyName == undefined || response.Item.CompanyName == null || response.Item.CompanyName == "" ? "" : response.Item.CompanyName);
                        $("#PersonalPAN").val(response.Item.PersonalPAN == undefined || response.Item.PersonalPAN == null || response.Item.PersonalPAN == "" ? "" : response.Item.PersonalPAN );
                        $("#CompanyPAN").val(response.Item.CompanyPAN == undefined || response.Item.CompanyPAN == null || response.Item.CompanyPAN == "" ? "" : response.Item.CompanyPAN);
                        $("#AddressLine1").val(response.Item.ShopAuditAddress == undefined || response.Item.ShopAuditAddress == null || response.Item.ShopAuditAddress == "" ? "" : response.Item.ShopAuditAddress);
                        $("#FlatNumber").val(response.Item.ShopAuditFlatNumber == undefined || response.Item.ShopAuditFlatNumber == null || response.Item.ShopAuditFlatNumber == "" ? "" : response.Item.ShopAuditFlatNumber);
                        $("#pinCode").val(response.Item.PinCode == undefined || response.Item.PinCode == null || response.Item.PinCode == "" ? "" : response.Item.PinCode);
                        $("#PrimaryCategory").val(response.Item.CategoryId);
                        //$("#SubCategory").val(response.Item.SubCategoryId);
                        $("#Description").val(response.Item.About == undefined || response.Item.About == null || response.Item.About == "" ? "" : response.Item.About);
                        $("#SpecialitiesList").val(response.Item.Specialities == undefined || response.Item.Specialities == null || response.Item.Specialities == "" ? "" : response.Item.Specialities);
                        $("#CommissionPercentage").val(response.Item.CommissionPercentage);
                        $("#StateId").val(response.Item.StateId).change();
                        setTimeout(function () {
                            if (response.Item.CityId != null && response.Item.CityId > 0) {
                                BindCityDrp(response.Item.CityId);
                            }
                        },60)
                        $("#ShopSchedule").html(ShopTimging);
                        $('.timepicker').mdtimepicker();

                        //if (response.Item.Tags != undefined && response.Item.Tags != null && response.Item.Tags != "") {
                        //    var str = response.Item.Tags;
                        //    var temp = new Array();
                        //    // This will return an array with strings "1", "2", etc.
                        //    temp = str.split(",");

                        //    for (var i = 0; i < temp.length; i++) {
                        //        $('#ProductTags').jsonTagEditor('addTag', temp[i]);
                        //    }
                        //}

                        if (response.Item.SubCategoryArray != null && response.Item.SubCategoryArray != undefined) {
                            if (response.Item.SubCategoryArray.split(',') != null && response.Item.SubCategoryArray != "" && response.Item.SubCategoryArray.split(',') != undefined) {
                                $('#SubCategory').selectpicker('val', response.Item.SubCategoryArray.split(',')).selected();
                            }
                        }
                    }

                    //$("#MediaUrl").html(MediaUrl);
                },
                error: function (error) {

                }
            });

        }

        function CopyTiming() {


            var mondayValFromTime = $(".FromTime0").val();
            var mondayValToTime = $(".ToTime0").val();
            var mondayValBreakStartTime = $(".BreakStartTime0").val();
            var mondayValBreakEndTime = $(".BreakEndTime0").val();

            $(".FromTime1").val(mondayValFromTime);
            $(".ToTime1").val(mondayValToTime);
            $(".BreakStartTime1").val(mondayValBreakStartTime);
            $(".BreakEndTime1").val(mondayValBreakEndTime);

            $(".FromTime2").val(mondayValFromTime);
            $(".ToTime2").val(mondayValToTime);
            $(".BreakStartTime2").val(mondayValBreakStartTime);
            $(".BreakEndTime2").val(mondayValBreakEndTime);

            $(".FromTime3").val(mondayValFromTime);
            $(".ToTime3").val(mondayValToTime);
            $(".BreakStartTime3").val(mondayValBreakStartTime);
            $(".BreakEndTime3").val(mondayValBreakEndTime);

            $(".FromTime4").val(mondayValFromTime);
            $(".ToTime4").val(mondayValToTime);
            $(".BreakStartTime4").val(mondayValBreakStartTime);
            $(".BreakEndTime4").val(mondayValBreakEndTime);

            $(".FromTime5").val(mondayValFromTime);
            $(".ToTime5").val(mondayValToTime);
            $(".BreakStartTime5").val(mondayValBreakStartTime);
            $(".BreakEndTime5").val(mondayValBreakEndTime);
        }

        function ShopTimgings_IsClosedIsopen(id) {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.ShopTimgings_IsClosedIsopen, Controllers.ShopOnboardDetail)',
                data: { Id: id /*$('#ShopId1').val()*/ },
                success: function (response) {
                    toastr["success"](response.Message);
                },
                error: function (error) {
                    toastr["error"]("Something went wrong")
                }
            })
        }

        function DeleteShopImages(ImgURL, Type) {
            ImgURL = decodeURIComponent(ImgURL);
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.DeleteShopImagesAndVideos, Controllers.ShopApproval)',
                data: { Url: ImgURL, Type: Type, ShopId: @ViewBag.Id},
                dataType: 'json',
                success: function (response) {
                    toastr["success"](response.Message);
                    setTimeout(showShopDetails(), 2000);
                    $('#Images_Areaurl').val(response.Item.ImageUrl);
                    //window.location.reload();
                },
                error: function (error) {

                }
            });
        }


        //Check selected time valid or not valid
        function CheckValidTime(TimeIndexKey) {
            debugger;
            var FromTime = $(".FromTime" + TimeIndexKey).val();
            var ToTime = $(".ToTime" + TimeIndexKey).val();
            var stt = new Date("November 13, 2013 " + FromTime);
            stt = stt.getTime();
            var endt = new Date("November 13, 2013 " + ToTime);
            endt = endt.getTime();

            if (stt < endt) {
                //Success code
            } else {
                $(".ToTime" + TimeIndexKey).val("00:00");
                toastr["error"]("Please select a valid time")
            }
        }



        function SendForApproval(isNew) {
            debugger;

            if ($("#AddressLine1").val() == "" || $("#AddressLine1").val() == null) {
                toastr["error"]("Address is required")
            } else if ($("#FlatNumber").val() == "" || $("#FlatNumber").val() == null) {
                toastr["error"]("Flat number is required")
            }
            else if ($("#StateId").val() == "" || $("#StateId").val() == 0 || $("#StateId").val() == null) {
                toastr["error"]("State is required")
            } else if ($("#cityid").val() == "" || $("#cityid").val() == 0 || $("#cityid").val() == null) {
                toastr["error"]("City is required")
            } else if ($("#pinCode").val() == "" || $("#pinCode").val() == null) {
                toastr["error"]("pinCode is required")
            } else {
                var flg = isNew;
                $('#ApproveButton').show();
                $('#btnsave').show();
                if (isNew == false) {
                    $('#ApproveButton').hide();
                    $('#ApproveLoading').show();
                } else if (isNew == true) {
                    $('#btnsave').hide();
                    $('#SaveLoading').show();
                }

                var ShopTimesArray = [];
                $('table tr').each(function () {
                    var fields = {};
                    $(this).find('input,checkbox').each(function () {
                        fields[$(this).attr('id')] = $(this).val();
                    });
                    ShopTimesArray.push(fields);
                });

                ShopTimesArray.shift();

                var TagArray = [];
                //var tags = $('#ProductTags').jsonTagEditor('getTags')[0].tags;
                //for (i = 0; i < tags.length; i++) {
                //    TagArray.push(tags[i].value);
                //}

                var formdata = new FormData();
                formdata.append("Id", shopid);
                formdata.append("IsSave", flg);
                formdata.append("Shopid", shopid);
                formdata.append("PrimaryCategoryId", $('#PrimaryCategory').val());
                formdata.append("SubCategoryId", $('#SubCategory').val().toString());
                formdata.append("ProductTag", $('#ProductTags').val());
                formdata.append("Description", $('#Description').val());
                formdata.append("Specialities", $('#SpecialitiesList').val());
                formdata.append("CommissionPercentage", $('#CommissionPercentage').val());
                formdata.append("ShopTime", JSON.stringify(ShopTimesArray));
                formdata.append("ShopName", $('#ShopNameInput').val());
                formdata.append("ShopNameGujarati", $('#ShopNameGujarati').val());
                formdata.append("ShopNameHindi", $('#ShopNameHindi').val());
                formdata.append("DescriotionHindi", $('#DescriptionHindi').val());
                formdata.append("DescriptionGujarati", $('#DescriptionGujarati').val());
                formdata.append("ShopOwnerName", $('#ShopOwnerName').val());
                formdata.append("GSTNo", $('#GSTNo').val());
                formdata.append("CompanyName", $('#CompanyName').val());
                formdata.append("PersonalPAN", $('#PersonalPAN').val());
                formdata.append("CompanyPAN", $('#CompanyPAN').val());
                formdata.append("PinCode", $('#pinCode').val());
                formdata.append("CityId", $('#cityid').val());
                formdata.append("StateId", $('#StateId').val());
                formdata.append("AddressLine1", $("#AddressLine1").val());
                formdata.append("FlatNumber", $("#FlatNumber").val())
                formdata.append("HiddenGifVideo", $('#GIFVideo_Areaurl').val());
                formdata.append("HiddenImage", $('#Images_Areaurl').val());
                formdata.append("gifVideos", $("#GifVideos").get(0).files[0]);

                var imageUrls = document.getElementById('ImageUrls');
                for (i = 0; i < imageUrls.files.length; i++)
                {
                    formdata.append("imageUrlsm", imageUrls.files[i]);
                }

                $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.ShopAuditDataInsert, Controllers.ShopOnboardDetail)',
                    data: formdata,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.Code == 200) {
                            filesToUpload = [];
                            toastr["success"](response.Message);
                            if (isNew == false) {
                                window.location.href = "/ShopOnboardDetail/Index";
                            }

                        } else if (response.Code == 400) {
                            toastr["error"](response.Message)
                        }
                        $('#ApproveButton').show();
                        $('#ApproveLoading').hide();
                        $('#btnsave').show();
                        $('#SaveLoading').hide();

                    },
                    error: function (error) {
                        $('#ApproveButton').show();
                        $('#ApproveLoading').hide();
                        $('#btnsave').show();
                        $('#SaveLoading').hide();
                    }
                });
            }
        }

        function PreNext(i) {
            if (i == 1) {
                url = parseInt(url) - 1;
                window.location.href = "/ShopOnboardDetail/ViewDetails?Id=" + url
            } else if (i == 0) {
                url = parseInt(url) + 1;
                window.location.href = "/ShopOnboardDetail/ViewDetails?Id=" + url
            } else {
                window.location.href = "/ShopOnboardDetail/Index"
            }

        }

        //Data fillter function
        function BuildSearchCriteria() {
            try {
                var param = {};
                param["Specialities"] = $('#SpecialitiesList').val();
                //param["PaymentStatus"] = $('#CustPaymentStatus').val();
                //param["CityId"] = $('#ShopCity').val();
                //param["Amount"] = $('#CustomerPaymentAmount').val();

                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }


    </script>


    <script>
        function BindCityDrp(StateId) {
            $("#cityid").html("");
             $('#cityid').attr('disabled', true);
            $.ajax({
                type: "POST",
                url: "@Url.Action("CityDrp", Controllers.ShopOnboardDetail)",
                dataType: "json",
                async:true,
                data: { StateId: $('#StateId :selected').val()},
                success: function (Result) {
                    for (var i = 0; i < Result.length; i++) {
                        if (Result.length > 0) {
                            $("#cityid").append($("<option></option>").val(Result[i].Id).html(Result[i].Name));
                            $('#cityid').removeAttr("disabled");
                        }
                    }

                    const myTimeout = setTimeout(myStopFunction, 1000);

                    function myStopFunction() {
                        $("#cityid").selectpicker('val', StateId);
                        $('.selectpicker').selectpicker('refresh');

                        clearTimeout(myTimeout);
                    }


                },
                error: function (Result) {

                }
            });
        }

        // chunk upload

        var uploader = new qq.s3.FineUploader({
            debug: true,
            element: document.getElementById('fine-uploader'),
            request: {
                endpoint: 'https://yudoo.s3.amazonaws.com',
                accessKey: 'AKIAQ2SUULUAGGL3ER77',
                version: 4,
                objectProperties: {
                    bucket: 'yudoo',
                    acl: 'public-read',
                    region: 'ap-south-1',
                    key: function (fileId) {
                        var keyRetrieval = new qq.Promise(),
                            filename = encodeURIComponent(uploader.getName(fileId)),
                            xhr = new XMLHttpRequest();

                        xhr.onreadystatechange = function () {
                            if (xhr.readyState === 4) {
                                var status = xhr.status,
                                    key = xhr.responseText;

                                if (status !== 200) {
                                    keyRetrieval.failure();
                                }
                                else {
                                    keyRetrieval.success(key);
                                }
                            }
                        }

                        xhr.open("POST", "createKey.html?filename=" + filename);
                        xhr.send();
                        return keyRetrieval;
                    }
                }
            },
            paste: {
                targetElement: document,
                promptForName: true
            },
            messages: {
                'onLeave': 'Files are still uploading, are you sure you want to leave this page and cancel the upload?',
                'sizeError': 'Free account are limited to: 29.297 GB, please login for more options',
                'emptyError': 'File is empty'
            },
            validation: {
                acceptFiles: ['video/mp4'],
                allowedExtensions: ['mp4']
            },
            signature: {
                endpoint: 'https://api.yudoo.co/api/ShopOwner/GetPresginedURLUpload',
                //endpoint: 'http://localhost:7071/api/ShopOwner/GetPresginedURLUpload',
                version: 4
            },
            uploadSuccess: {
                endpoint: '@Url.Action("OnSuccess", Controllers.ShopOnboardDetail, new { Id = ViewBag.Id })'
            },
            iframeSupport: {
                localBlankPagePath: '/success.html'
            },
            retry: {
                enableAuto: true, // defaults to false
                autoAttemptDelay: 5,
                maxAutoAttempts: 3
            },
            forceMultipart: {
                enabled: true
            },
            deleteFile: {
                enabled: true,
                endpoint: '/s3handler'
            },
            cors: {
                expected: true
            },
            chunking: {
                enabled: true,
                partSize: 5 * 1024 * 1024,
                //mandatory: true,
                concurrent: {
                    enabled: true
                },
                success: {
                    endpoint: "/chunksdone"
                }
            },
            resume: {
                enabled: true,
                recordsExpireIn: 1
            },
                callbacks: {
                    onComplete: function (id, name, response) {
                        window.location.reload();
                }
            }
        });

    </script>

}


