﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage MasterDate";
}
<style>
    .dt-buttons {
        float: right;
    }

    .tbtn {
        margin-right: 15px;
        border-radius: 5px !important;
        color: #fff;
        background-color: #0596F8;
        border-color: #0596F8;
    }

    .tbtn1 {
        margin-right: 15px;
        border-radius: 5px !important;
        color: #fff;
        background-color: #f0ad4e;
        border-color: #eea236;
    }

    .customnumber {
        width: 10%;
        padding: 8px 0px;
        margin: -5px 0;
        display: inline-block;
        border: 2px solid #0596f8;
        border-radius: 5px;
        box-sizing: border-box;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="content container-fluid">


    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Back-end Master</li>
                </ol>
            </nav>
        </div>
        @*<div class="col-auto">
                <button class="btn btn-primary" data-target="#addNewPlan" data-toggle="modal" role="button"><i class="tio-add"></i> Add new plan</button>
            </div>*@
    </div>

    <h3 class="fw-bold">Category</h3>
    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            @*<button role="button" class="btn btn-primary btn-wide m-1" onclick="showSearchmodal();"><i class="tio-filter-outlined"></i> Filter</button>
                                <button role="button" class="btn btn-outline-secondary m-1" onclick="SearchReset(true);">Clear filters</button>*@
                        </div>
                    </div>
                    <div class="table-responsive" id="divtableCategory">
                        <table class="table border rounded w-100" id="tableCategory"></table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br />
    <h3 class="fw-bold">Speciality</h3>
    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            @*<button role="button" class="btn btn-primary btn-wide m-1" onclick="showSearchmodal();"><i class="tio-filter-outlined"></i> Filter</button>
                                <button role="button" class="btn btn-outline-secondary m-1" onclick="SearchReset(true);">Clear filters</button>*@
                        </div>
                    </div>
                    <div class="table-responsive" id="divtableSpeciality">
                        <table class="table border rounded w-100" id="tableSpeciality"></table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br />
    <h3 class="fw-bold">City</h3>
    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            @*<button role="button" class="btn btn-primary btn-wide m-1" onclick="showSearchmodal();"><i class="tio-filter-outlined"></i> Filter</button>
                                <button role="button" class="btn btn-outline-secondary m-1" onclick="SearchReset(true);">Clear filters</button>*@
                        </div>
                    </div>
                    <div class="table-responsive" id="divtableCity">
                        <table class="table border rounded w-100" id="tableCity"></table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br />
    <h3 class="fw-bold">Cancellation allowed till :</h3>
    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    <!--<div class="row justify-content-end">
                        <div class="col-auto">-->
                    @*<button role="button" class="btn btn-primary btn-wide m-1" onclick="showSearchmodal();"><i class="tio-filter-outlined"></i> Filter</button>
                        <button role="button" class="btn btn-outline-secondary m-1" onclick="SearchReset(true);">Clear filters</button>*@
                    <!--</div>
                    </div>-->
                    <div class="table-responsive" id="divtableCity">
                        @*<table class="table border rounded w-100" id="tableCity"></table>*@
                        <table class="table border rounded w-100">
                            <tr>
                                <th>Option</th>&nbsp;&nbsp;&nbsp;
                                <th>Current Status</th>
                            </tr>

                            <tr>
                                <td>Pending for cust payment</td>&nbsp;&nbsp;&nbsp;
                                <td>Select</td>
                            </tr>

                            <tr>
                                <td>Shipping Req Not Made</td>&nbsp;&nbsp;&nbsp;
                                <td>select</td>
                            </tr>

                            <tr>
                                <td>Cancle Before payment</td>&nbsp;&nbsp;&nbsp;
                                <td>Currently Selected</td>
                            </tr>

                            <tr>
                                <td>Cancle Before Pickup Req Made</td>&nbsp;&nbsp;&nbsp;
                                <td>Select</td>
                            </tr>

                            <tr>
                                <td>Cancle Before Pickup done</td>&nbsp;&nbsp;&nbsp;
                                <td>Select</td>
                            </tr>

                            <tr>
                                <td>Cancle Before Delivery</td>&nbsp;&nbsp;&nbsp;
                                <td>Select</td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <h3 class="fw-bold">Shop Shorting Weightage : </h3>
    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    <div class="table-responsive" id="divtableCity">
                        <table class="table border rounded w-100">
                            <tr>
                                <th>No of Ratings</th>&nbsp;&nbsp;&nbsp;
                                <th>
                                    <input type="text" class="customnumber" id="rating" value="" />
                                </th>
                            </tr>
                            <tr>
                                <th>Offer Weight</th>&nbsp;&nbsp;&nbsp;
                                <th>
                                    <input type="text" class="customnumber" id="offerweight" value="" />
                                </th>
                            </tr>
                            <tr>
                                <th>Rating Weigth</th>&nbsp;&nbsp;&nbsp;
                                <th>
                                    <input type="text" class="customnumber" id="rateweight" value="" />
                                </th>
                            <tr>
                                <th>ShopOnline Weight</th>&nbsp;&nbsp;&nbsp;
                                <th>
                                    <input type="text" class="customnumber" id="shopweight" value="" />
                                </th>
                            </tr>
                        </table>
                    </div>
                    <button id="sendmessage" class="btn btn-secondary them-btn btn-primary tbtn">Submit Data</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            SpecialityDataTable.init();
            CategoryDataTable.init();
            CityDataTable.init();
        });


        //Orders DataTable Bind
        var SpecialityDataTable = function () {
            let initTable1 = function () {
                let table = $('#tableSpeciality');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.GetAllSpeciality, Controllers.MasterData)',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                "columns": [
                    {
                        "title": "Speciality Name", "data": "Name",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["Name"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "7%"
                    },
                    {
                        "title": "Action", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData += `<a title="Edit Speciality" href="@Url.Action(Actions.ManageSpeciality,Controllers.MasterData)?ri=${btoa(row["Id"])}" class="btn btn-outline-secondary btn-sm mr-2"><span class="fa fa-pencil"></span></a>`;
                            htmlData += `<a title="Delete Speciality" class="btn btn-outline-secondary btn-sm" onclick="ConfirmSpecialityDelete(${row["Id"]})"><span class="fa fa-trash"></span></a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    }
                ],
                // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                        {
                            text: "Add Speciality",
                            className: "them-btn btn-primary tbtn",
                            action: function (e, dt, node, config) {
                                window.location.href = "@Url.Action(Actions.ManageSpeciality,Controllers.MasterData)";
                            }
                        },
                        {
                            "extend": 'csv',
                            className: 'them-btn btn-info tbtn1',
                            "action": newexportaction
                        },
                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/

                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500] // change per page values here
                    ],
                    // set the initial value
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#tableSpeciality")) {
                        $('#tableSpeciality').dataTable().fnDestroy();
                        $('#divtableSpeciality').html('<table class="table border rounded w-100" id="tableSpeciality"></table>');
                    }
                    initTable1();
                }
            };
        }();

        var CategoryDataTable = function () {
            let initTable1 = function () {
                let table = $('#tableCategory');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.GetAllCategoryMaster, Controllers.MasterData)',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                "columns": [
                    {
                        "title": "Category Name", "data": "Name",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["Name"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Category Image", "data": "ImageUrl",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = '<img src="' + row["CategoryUrlStr"] +'" height="50px">';
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Default Charge", "data": "DefaultCharge",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["DefaultCharge"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Action", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData += `<a title="Edit Category" href="@Url.Action(Actions.Manage,Controllers.MasterData)?ri=${btoa(row["Id"])}" class="btn btn-outline-secondary btn-sm mr-2"><span class="fa fa-pencil"></span></a>`;
                            htmlData += `<a title="Delete category" class="btn btn-outline-secondary btn-sm" onclick="ConfirmDelete(${row["Id"]})"><span class="fa fa-trash"></span></a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    }
                    ],
                    "buttons": [

                        {
                            text: "Add Category",
                            className: "them-btn btn-primary tbtn",
                            action: function (e, dt, node, config) {
                                window.location.href = "@Url.Action(Actions.Manage,Controllers.MasterData)";
                            }
                        },
                        {
                            "extend": 'csv',
                            className: 'them-btn btn-info tbtn1',
                            "action": newexportaction
                        },
                        //{ extend: 'excel', className: 'them-btn' }
                    ],

                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500] // change per page values here
                    ],
                    // set the initial value
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#tableCategory")) {
                        $('#tableCategory').dataTable().fnDestroy();
                        $('#divtableCategory').html('<table class="table border rounded w-100" id="tableCategory"></table>');
                    }
                    initTable1();
                }
            };
        }();

        var CityDataTable = function () {
            let initTable1 = function () {
                let table = $('#tableCity');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.GetAllCity, Controllers.MasterData)',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                "columns": [
                    {
                        "title": "City Name", "data": "Name",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["Name"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "7%"
                    },
                    {
                        "title": "State Name", "data": "StateName",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["StateName"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "7%"
                    },
                    {
                        "title": "Action", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData += `<a title="Edit City" href="@Url.Action(Actions.ManageCity, Controllers.MasterData)?ri=${btoa(row["Id"])}" class="btn btn-outline-secondary btn-sm mr-2"><span class="fa fa-pencil"></span></a>`;
                            htmlData += `<a title="Delete City" class="btn btn-outline-secondary btn-sm" onclick="ConfirmCityDelete(${row["Id"]})"><span class="fa fa-trash"></span></a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    }
                ],
                // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                        {
                            text: "Add City",
                            className: "them-btn btn-primary tbtn",
                            action: function (e, dt, node, config) {
                                window.location.href = "@Url.Action(Actions.ManageCity, Controllers.MasterData)";
                            }
                        },
                        {
                            "extend": 'csv',
                            className: 'them-btn btn-info tbtn1',
                            "action": newexportaction
                        },
                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/

                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500] // change per page values here
                    ],
                    // set the initial value
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#tableCity")) {
                        $('#tableCity').dataTable().fnDestroy();
                        $('#divtableCity').html('<table class="table border rounded w-100" id="tableCity"></table>');
                    }
                    initTable1();
                }
            };
        }();
        function ConfirmDelete(id)
        {
            id = parseInt(id);
            let confirmBox = confirm("Are You Sure You want to Delete this Category ?");
            if (confirmBox) {
                DeleteCategory(id);
            }
        }
        function DeleteCategory(id)
        {
            $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.DeleteCategory, Controllers.MasterData)',
                data: { Id: id },
                    dataType: 'json',
                    async: false,
                success: function (response) {
                    CategoryDataTable.init();
                    toastr["success"](response.Message);
                    },
                    error: function (error) {
                        toastr["error"]("Something Wen Wrong");
                    }
                });
        }
        function ConfirmSpecialityDelete(id)
        {
            id = parseInt(id);
            let confirmBox = confirm("Are You Sure You want to Delete this Speciality ?");
            if (confirmBox) {
                DeleteSpecialityCategory(id);
            }
        }
        function DeleteSpecialityCategory(id)
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.DeleteSpeciality, Controllers.MasterData)',
                data: { Id: id },
                dataType: 'json',
                async: false,
                success: function (response) {
                    SpecialityDataTable.init();
                    toastr["success"](response.Message);
                },
                error: function (error) {
                    toastr["error"]("Something Went Wrong");
                }
            });
        }

        function ConfirmCityDelete(id)
        {
            id = parseInt(id);
            let confirmBox = confirm("Are You Sure You want to Delete this City ?");
            if (confirmBox) {
                DeleteCity(id);
            }
        }
        function DeleteCity(id)
        {
            $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.DeleteCity, Controllers.MasterData)',
                data: { Id: id },
                    dataType: 'json',
                    async: false,
                success: function (response) {
                    CityDataTable.init();
                    toastr["success"](response.Message);
                    },
                    error: function (error) {
                        toastr["error"]("Something Wen Wrong");
                    }
                });
        }

        //Data fillter function
        function BuildSearchCriteria() {
            try {
                var param = {};

                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

    </script>

    <script>
        $(document).ready(function () {
            LoadShopShortValue();
        });

        $("#sendmessage").click(function () {

            var shopShortingValues = {
                Id: 1,
                No_Ratings: $("#rating").val(),
                Rating_Weigth: $("#offerweight").val(),
                Offer_Weight: $("#rateweight").val(),
                ShopOnline_Weight: $("#shopweight").val()
            }

            $.ajax({
                type: "POST",
                url: '/MasterData/ShopShortValue',
                data: { shopShortingValues: shopShortingValues },
                success: function (data) {
                    debugger;
                    if (data.Code == 200) {
                        alert('Updated');
                    }
                    else {
                        alert('Faild');
                    }
                }
            });
        });

        function LoadShopShortValue() {

            var pageParam = {
                "Offset": 0,
                "Limit": 0,
                "IsOffsetProvided": true,
                "Page": 0,
                "PageSize": 0,
                "SortBy": "string",
                "TotalCount": 0,
                "SortDirection": "string",
                "IsPageProvided": true
            }

            $.ajax({
                type: "POST",
                url: '/MasterData/ShopShortingValues_All',
                data: { pageParam: pageParam },
                success: function (data) {

                    $("#rating").val(data.Values[0].No_Ratings),
                    $("#offerweight").val(data.Values[0].Rating_Weigth),
                    $("#rateweight").val(data.Values[0].Offer_Weight),
                    $("#shopweight").val(data.Values[0].ShopOnline_Weight)

                }
            });

        }

    </script>

}
