﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;
@Html.AntiForgeryToken()

@{
    if (ViewBag.Id > 0)
    {
        ViewBag.Title = "Edit Category";

    }
    else
    {
        ViewBag.Title = "Create Category";
    }
}

<style>
    .new-meows {
        
        width: 97%;
        display: flex;
    }

        .new-meows input {
            flex: 1
        }

        .new-meows button {
            width: 80px;
        }
</style>
<div class="content container-fluid">


    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.MasterData)" style="color: #0596F8;">Manage Category</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
            <h3 class="fw-bold">@ViewBag.Title</h3>
        </div>

    </div>


    <div class="row">
        <div class="col-12">

            <div class="card-body p-0">
                <form id="frmCategory" name="frmCategory" method="post" enctype="multipart/form-data">
                    <div class="row">

                        <div class="col-12">
                            <label>Category Name</label>
                            <input type="hidden" id="CategoryId" name="CategoryId" value='@ViewBag.Id' />
                            <input type="text" id="CategoryName" name="CategoryName" placeholder="Enter Category Name" class="form-control" required />
                        </div>
                        <div class="col-12">
                            <label>Category Name in Hindi</label>
                            <input type="hidden" id="CategoryId" name="CategoryId" value='@ViewBag.Id' />
                            <input type="text" id="CategoryNameH" name="CategoryNameH" placeholder="Enter Category Name in Hindi" class="form-control" required />
                        </div>
                        <div class="col-12">
                            <label>Category Name in Gujarati</label>
                            <input type="hidden" id="CategoryId" name="CategoryId" value='@ViewBag.Id' />
                            <input type="text" id="CategoryNameG" name="CategoryNameG" placeholder="Enter Category Name in Gujarati" class="form-control" required />
                        </div>
                        <div class="col-12">
                            <label>Category Image</label>
                            @{ if (ViewBag.Id > 0)
                                {
                                    <br /><img src="" id="ImageUrlSrc" height="50px" class="mt-2">
                                }
                            }
                            <input type="file" class="form-control" id="ImageUrl" name="ImageUrl" accept="image/*" />
                        </div>
                        <div class="col-12">
                            <label>Default Charge</label>
                            <input type="number" class="form-control" placeholder="Enter Default Charge" id="DefaultCharge" name="DefaultCharge" required />
                        </div>
                        <div class="col-12 text-right p-4">
                            <input type="submit" value="Save" class="btn btn-primary saveBtn" />
                            <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Saving...
                            </button>
                            <a href="@Url.Action(Actions.Index,Controllers.MasterData)" class="btn btn-danger closeBtn">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script>
        $.validator.addMethod('filesize', function (value, element, param) {
            return this.optional(element) || (element.files[0].size <= param * 1000000)
        }, 'File size must be less than {0} MB');

        $(document).ready(() => {
            if (@ViewBag.Id > 0) {
                BindCategoryData();

                $("#frmCategory").validate({
                    rules: {
                        CategoryName: "required",
                        CategoryNameH: "required",
                        CategoryNameG: "required",
                        ImageUrl: {
                            filesize: 2,
                        },
                        DefaultCharge: "required"
                    },
                    messages: {
                        CategoryName: {
                            required: "Category name is required",
                        },
                        CategoryNameH: {
                            required: "Category name in Hindi is required",
                        },
                        CategoryNameG: {
                            required: "Category name in Gujarati is required",
                        },
                        DefaultCharge: {
                            required: "Default charge is required",
                        }
                    },

                    errorPlacement: function (error, element) {
                        if (element.is(":radio")) {
                            error.appendTo(element.parents(".form-group"));
                        } else {
                            // This is the default behavior
                            error.insertAfter(element);
                        }
                    },
                    submitHandler: function (form) {
                        SaveCategoryData();
                    }
                });
            } else {
                $("#frmCategory").validate({
                    rules: {
                        CategoryName: "required",
                        CategoryNameH: "required",
                        CategoryNameG: "required",
                        ImageUrl: { required: true, filesize: 2, },
                        DefaultCharge: "required"
                    },
                    messages: {
                        CategoryName: {
                            required: "Category name is required",
                        },
                        CategoryNameH: {
                            required: "Category name in Hindi is required",
                        },
                        CategoryNameG: {
                            required: "Category name in Gujarati is required",
                        },
                        ImageUrl: {
                            required: "Please select a category image",
                        },
                        DefaultCharge: {
                            required: "Default charge is required",
                        }
                    },

                    errorPlacement: function (error, element) {
                        if (element.is(":radio")) {
                            error.appendTo(element.parents(".form-group"));
                        } else {
                            // This is the default behavior
                            error.insertAfter(element);
                        }
                    },
                    submitHandler: function (form) {
                        SaveCategoryData();
                    }
                });
            }
        });

        function BindCategoryData()
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetCategoryData, Controllers.MasterData)',
                data: {Id : @ViewBag.Id},
                dataType: 'json',
                async: true,

                success: function (response) {

                    if (response.Code == 200) {
                        $("#CategoryId").val(response.Item.Id);
                        $("#CategoryName").val(response.Item.Name);
                        $("#CategoryNameH").val(response.Item.NameHindi);
                        $("#CategoryNameG").val(response.Item.NameGujarati);
                        $("#ImageUrlSrc").attr('src', response.Item.CategoryUrlStr);
                        $("#DefaultCharge").val(response.Item.DefaultCharge);
                    } else {

                        toastr["error"](response.Message);
                    }
                    },
                    error: function (error) {
                        toastr["error"]("Something went wrong");
                    }
                });
        }

        function SaveCategoryData()
        {

            $(".saveBtn").hide();
            $(".loading").show();
            $(".closeBtn").hide();

            var formdata = new FormData();
            formdata.append("Id", $("#CategoryId").val());
            formdata.append("Name", $("#CategoryName").val());
            formdata.append("NameHindi", $("#CategoryNameH").val());
            formdata.append("NameGujarati", $("#CategoryNameG").val());
            formdata.append("files", $("#ImageUrl").get(0).files[0]);
            formdata.append("DefaultCharge", $("#DefaultCharge").val());

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.SaveCategoryMaster, Controllers.MasterData)',
                data: formdata,
                contentType: false,
                processData: false,
                success: function (response) {
                    
                    if (response.Code == 200) {
                        toastr["success"](response.Message);
                        window.location.href = "@Url.Action(Actions.Index,Controllers.MasterData)";
                        $(".saveBtn").show();
                        $(".loading").hide();
                        $(".closeBtn").show();
                    } else {
                        toastr["error"](response.Message);
                        $(".saveBtn").show();
                        $(".loading").hide();
                        $(".closeBtn").show();
                    }
                },
                error: function (error) {
                    toastr["error"]("Something went wrong");
                    $(".saveBtn").show();
                    $(".loading").hide();
                    $(".closeBtn").show();
                }
            });
        }
    </script>
}