﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;
@Html.AntiForgeryToken()

@{
    if (ViewBag.Id > 0)
    {
        ViewBag.Title = "Edit City";

    }
    else
    {
        ViewBag.Title = "Create City";
    }
}

<style>
    .new-meows {
        
        width: 97%;
        display: flex;
    }

        .new-meows input {
            flex: 1
        }

        .new-meows button {
            width: 80px;
        }
</style>
<div class="content container-fluid">


    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.MasterData)" style="color: #0596F8;">Manage City</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
            <h3 class="fw-bold">@ViewBag.Title</h3>
        </div>

    </div>


    <div class="row">
        <div class="col-12">

            <div class="card-body p-0">
                <form id="frmCity" name="frmCity" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-sm-12" id="CountryDiv">
                            <label>Country</label>
                            <div class="form-group">
                                <select class="form-control" id="CountryId" onchange="StateDetailsData();">
                                    <option>Please select a country</option>
                                    @*<option value="0">All</option>*@
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12" id="StateDiv">
                            <label>State</label>
                            <div class="form-group">
                                <select class="form-control" id="StateId">
                                    <option>Please select a state</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <label>City Name</label>
                            <input type="hidden" id="CityId" name="CityId" value='@ViewBag.Id' />
                            <input type="text" id="CityName" name="CityName" placeholder="City Name" class="form-control" required />
                        </div>
                        <div class="col-12 text-right p-4">
                            <input type="submit" value="Save" class="btn btn-primary saveBtn" />
                            <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Saving...
                            </button>
                            <a href="@Url.Action(Actions.Index,Controllers.MasterData)" class="btn btn-danger closeBtn">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(() => {


            $("#frmCity").validate({
                rules: {
                    CityName: "required",
                    StateId: "required",
                    CountryId: "required"
                },
                messages: {
                    CityName: {
                        required: "City name is required",
                    },
                    StateId: {
                        required: "Please select a state",
                    },
                    CountryId: {
                        required: "Please select a country",
                    }
                },
                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents(".form-group"));
                    } else {
                        // This is the default behavior
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    SaveCityData();
                }
            });

            BindCountry();
        });

        function StateDetailsData() {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetAllState, Controllers.MasterData)',
                data: { CountryId: $("#CountryId").val() },
                dataType: 'json',
                success: function (response) {
                    for (i = 0; i < response.Values.length; i++) {
                        $('#StateId').append(`<option value="${response.Values[i].Id}">${response.Values[i].Name}</option>`)
                    }
                },
                error: function (error) {
                    console.log('error', error);
                }
            });
        }


        function BindCityData()
        {
            //BindCountry();
            $("#CountryId").val('1');
            StateDetailsData();

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetCityData, Controllers.MasterData)',
                data: {Id : @ViewBag.Id},
                dataType: 'json',
                async: true,

                success: function (response) {
                    if (response.Code == 200) {
                        $("#CityId").val(response.Item.Id);
                        $("#CityName").val(response.Item.Name);
                        $("#StateId").val(response.Item.StateId);
                    } else {
                        toastr["error"](response.Message);
                    }
                },
                error: function (error) {
                    toastr["error"]("Something went wrong");
                }
            });
        }

        function SaveCityData()
        {

            $(".saveBtn").hide();
            $(".loading").show();
            $(".closeBtn").hide();

            var formdata = new FormData();
            formdata.append("Id", $("#CityId").val());
            formdata.append("Name", $("#CityName").val());
            formdata.append("StateId", $("#StateId").val());

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.SaveCity, Controllers.MasterData)',
                data: formdata,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {

                    if (response.Code == 200) {
                        toastr["success"](response.Message);
                        window.location.href = "@Url.Action(Actions.Index,Controllers.MasterData)";
                        $(".saveBtn").show();
                        $(".loading").hide();
                        $(".closeBtn").show();
                    } else {
                        toastr["error"](response.Message);
                        $(".saveBtn").show();
                        $(".loading").hide();
                        $(".closeBtn").show();
                    }
                    },
                    error: function (error) {
                        toastr["error"]("Something went wrong");
                        $(".saveBtn").show();
                        $(".loading").hide();
                        $(".closeBtn").show();
                    }
                });
        }

        function BindCountry() {

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetAllCountay, Controllers.MasterData)',
                dataType: 'json',
                success: function (response) {
                    for (i = 0; i < response.Values.length; i++) {
                        $('#CountryId').append(`<option value="${response.Values[i].Id}">${response.Values[i].Name}</option>`)
                    }
                    $("#CountryId").show();
                    if (@ViewBag.Id > 0) {
                        BindCityData();
                    }
                },
                error: function (error) {
                    console.log('error', error);
                }
            });
        }



    </script>
}