﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;
@Html.AntiForgeryToken()

@{
    if (ViewBag.Id > 0)
    {
        ViewBag.Title = "Edit Speciality";

    }
    else
    {
        ViewBag.Title = "Create Speciality";
    }
}

<style>
    .new-meows {
        
        width: 97%;
        display: flex;
    }

        .new-meows input {
            flex: 1
        }

        .new-meows button {
            width: 80px;
        }
</style>
<div class="content container-fluid">


    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.MasterData)" style="color: #0596F8;">Manage Speciality</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
            <h3 class="fw-bold">@ViewBag.Title</h3>
        </div>

    </div>


    <div class="row">
        <div class="col-12">

            <div class="card-body p-0">
                <form id="frmSpeciality" name="frmSpeciality" method="post" enctype="multipart/form-data">
                    <div class="row">
                        
                        <div class="col-12">
                            <label>Speciality Name</label>
                            <input type="hidden" id="SpecialityId" name="SpecialityId" value='@ViewBag.Id' />
                            <input type="text" id="SpecialityName" name="SpecialityName" placeholder="Speciality Name" class="form-control" required  />
                        </div>
                        
                        <div class="col-12 text-right p-4">
                            <input type="submit" value="Save" class="btn btn-primary saveBtn" />
                            <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Saving...
                            </button>
                            <a href="@Url.Action(Actions.Index,Controllers.MasterData)" class="btn btn-danger closeBtn">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(() => {
            if (@ViewBag.Id > 0) {
                BindSpecialityData();
            }
            $("#frmSpeciality").validate({
                rules: {
                    SpecialityName: "required"
                },
                messages: {
                    SpecialityName: {
                        required: "Speciality name is required",
                    }
                },
                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents(".form-group"));
                    } else {
                        // This is the default behavior
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    SaveSpecialityData();
                }
            });
            
        });

        function BindSpecialityData()
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetSpecialityData, Controllers.MasterData)',
                data: {Id : @ViewBag.Id},
                dataType: 'json',
                async: true,

                success: function (response) {

                    if (response.Code == 200) {
                        $("#SpecialityId").val(response.Item.Id);
                        $("#SpecialityName").val(response.Item.Name);
                    } else {
                        toastr["error"](response.Message);
                    }
                    },
                    error: function (error) {
                        toastr["error"]("Something went wrong");
                    }
                });
        }

        function SaveSpecialityData()
        {

            $(".saveBtn").hide();
            $(".loading").show();
            $(".closeBtn").hide();

            var formdata = new FormData();
            formdata.append("Id", $("#SpecialityId").val());
            formdata.append("Name", $("#SpecialityName").val());

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.SaveSpecialityMaster, Controllers.MasterData)',
                data: formdata,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {

                    if (response.Code == 200) {
                        toastr["success"](response.Message);
                        window.location.href = "@Url.Action(Actions.Index,Controllers.MasterData)";
                        $(".saveBtn").show();
                        $(".loading").hide();
                        $(".closeBtn").show();
                    } else {
                        toastr["error"](response.Message);
                        $(".saveBtn").show();
                        $(".loading").hide();
                        $(".closeBtn").show();
                    }
                    },
                    error: function (error) {
                        toastr["error"]("Something went wrong");
                        $(".saveBtn").show();
                        $(".loading").hide();
                        $(".closeBtn").show();
                    }
                });
        }


        

        
    </script>
}