﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "User Rights";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="content container-fluid">
    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">User Permissions </li>
                </ol>
            </nav>
            <h3 class="fw-bold">User Right</h3>
        </div>
    </div>
    <div class="row align-items-end">
        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
            <div class="form-group mb-3">
                <label for="ShopCity">Admin Type</label>
                @Html.Raw(Html.DropDownList("AdminType", (IEnumerable<SelectListItem>)ViewBag.AdminTypeDrp, new { @Id = "AdminType", @class = "form-control" }))
            </div>
            @*<div class="form-group mb-3">
                <button role="button" class="btn btn-primary c-w-49" onclick="SearchReset();"> <i class="tio-search"></i> Search</button>
            </div>*@
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="card table-responsive">
                                <div class="card-body">
                                    <div class="row justify-content-end">
                                        <div class="col-auto">
                                        </div>
                                    </div>
                                    <div class="table-responsive" id="divtablePage">
                                        <table class="table border rounded w-100" id="tablePage"></table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                <div class="form-group mb-3 row m-0">
                    <button role="button" type="submit" onclick="UpdateData();" class="btn btn-primary c-w-49"> <i class="tio-search"></i> Update</button>
                </div>
            </div>
        </div>

    </div>
    @section Scripts{
        <script>
        $(document).ready(function () {
            ActiveOfferDataTable.init();

        });


        //Orders DataTable Bind
        var ActiveOfferDataTable = function () {
            let initTable1 = function () {
                let table = $('#tablePage');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.GetAllUserPermissions, Controllers.UserPermissions)',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                "columns": [
                    {
                        "title": "Page Id", "data": "PageId",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["PageId"]}`;;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Name", "data": "PageName",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["PageName"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "13%"
                    },
                    {
                        "title": "Sub Page Action", "data": "SubPageAction",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["SubPageAction"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Action", "data": "Status",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            if (row["Status"] == true) {
                                htmlData += `<input type="checkbox" checked="checked">`;
                            }
                            else {
                                htmlData += `<input type="checkbox">`;
                            }
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
               ],
                // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                    ],
                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,
                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500] // change per page values here
                    ],
                    // set the initial value
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                //main function to initiate the module                
                init: function () {
                    if ($.fn.DataTable.isDataTable("#tablePage")) {
                        $('#tablePage').dataTable().fnDestroy();
                        $('#divtablePage').html('<table class="table border rounded w-100" id="tablePage"></table>');
                    }
                    initTable1();
                }
            };
            }();

            function BuildSearchCriteria() {      
                try {
                    var param = {};
                    param["AdminTypeId"] = $("#AdminType").val();
                    return addRequestVerificationToken(param);
                } catch (e) { }
            }

            function addRequestVerificationToken(data) {
                data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
                return data;
            }

            function UpdateData(){
                
                var TableData = new Array();
                var _adminTypeId = $("#AdminType").val();

                var dataList = [];

                $('#tablePage').find('tr').each(function () {
                    var row = $(this);
                    if (row.find('input[type="checkbox"]').is(':checked')) {
                        dataList.push({
                            Id: $(this).find('td').eq(0).text(),
                            IsActive: 1,
                            AdminTypeId: _adminTypeId
                        });
                    }
                    if (row.find('input[type="checkbox"]').is(':unchecked')) {
                        dataList.push({
                            Id: $(this).find('td').eq(0).text(),
                            IsActive: 0,
                            AdminTypeId: _adminTypeId
                        });
                    }
                });


                $('#tablePage tr').each(function (row, tr) {
                    TableData = TableData + $(tr).find('td:eq(0)').text();
                });
                var postData = { values: TableData };

                $.ajax({
                    async: true,
                    url: '@Url.Action(Actions.UserPermissionsInsert, Controllers.UserPermissions)',
                    type: "POST",
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(dataList),
                    success: function (result) {
                        toastr["success"]("User Rights updated");
                        submit();
                    },
                    error: function (error) {
                        toastr["error"]("Something went wrong");
                    }
                });
            }
        </script>
    }
