﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Banner";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="content container-fluid">


    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Banner</li>
                </ol>
            </nav>
        </div>
    </div>

    <h3 class="fw-bold">Banners</h3>
    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            @*<button role="button" class="btn btn-primary btn-wide m-1" onclick="showSearchmodal();"><i class="tio-filter-outlined"></i> Filter</button>
                                <button role="button" class="btn btn-outline-secondary m-1" onclick="SearchReset(true);">Clear filters</button>*@
                        </div>
                    </div>
                    <div class="table-responsive" id="divtableBanner">
                        <table class="table border rounded w-100" id="tableBanner"></table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            BannerDataTable.init();
            //OffersDataTable.init();
        });


        //Orders DataTable Bind
        var BannerDataTable = function () {
            let initTable1 = function () {
                let table = $('#tableBanner');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.GetAllBanners, Controllers.Banner)',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                "columns": [
                    {
                        "title": "Banner Name", "data": "BannerName",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["BannerName"] == "" || row["BannerName"] == null ? '-' : row["BannerName"]}</p>`;
                            return htmlData;
                       Url}
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Banner Image", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<img src="${row["BannerUrlStr"]}" height="50px" class="img" />`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Banner Type", "data": "BannerName",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["BannerType"] == "" || row["BannerType"] == null ? '-' : row["BannerType"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Status", "data": "IsActive",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            if (row["IsActive"] == true) {
                                htmlData = `<div onclick="InActiveMessage(${row["Id"]});" style="cursor:pointer;" class="badge badge-soft-info">Live</div>`;
                            }
                            else {
                                htmlData = `<div onclick="ActiveMessage(${row["Id"]});" style="cursor:pointer;" class="badge badge-soft-danger">Draft</div>`;
                            }
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Is Specialist", "data": "IsSpecialist",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            if (row["IsSpecialist"] == true) {
                                htmlData = `<div style="cursor:pointer;" class="badge badge-soft-info">Yes</div>`;
                            }
                            else {
                                htmlData = `<div style="cursor:pointer;" class="badge badge-soft-danger">No</div>`;
                            }
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Priority", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<b>${row["Priority"]}</b>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    //{
                    //    "title": "Shift Up", "data": "Id",
                    //    "render": function (data, type, row) {
                    //        let htmlData = "";
                    //        htmlData = `<a title="Shift Up" href="#" onclick="UpdateShifting(${row["Id"]},false);" class="btn btn-outline-secondary btn-sm"><span class="fa fa-arrow-up"></span></a>`;
                    //        return htmlData;
                    //    }
                    //    , "orderable": false, "width": "10%"
                    //},
                    //{
                    //    "title": "Shift Down", "data": "Id",
                    //    "render": function (data, type, row) {
                    //        let htmlData = "";
                    //        htmlData = `<a title="Shift Down" href="#" onclick="UpdateShifting(${row["Id"]},true);" class="btn btn-outline-secondary btn-sm"><span class="fa fa-arrow-down"></span></a>`;
                    //        return htmlData;
                    //    }
                    //    , "orderable": false, "width": "10%"
                    //},
                    {
                        "title": "Action", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a title="Edit Banner" href="@Url.Action(Actions.Manage,Controllers.Banner)?ri=${btoa(row["Id"])}" class="btn btn-outline-secondary btn-sm mr-2"><span class="fa fa-pencil"></span></a>`;
                            htmlData += `<a title="Delete Banner" class="btn btn-outline-secondary btn-sm" onclick="ConfirmDelete(${row["Id"]})"><span class="fa fa-trash"></span></a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                ],
                // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                        //{
                        //    text: 'Fillter',
                        //    className: 'them-primary',
                        //    action: function (e, dt, node, config) {
                        //        OpenAddNewOrderStatusPopup();
                        //    }
                        //},
                        //{
                        //    text: 'Reset',
                        //    className: 'them-btn',
                        //    action: function (e, dt, node, config) {
                        //        OpenAddNewOrderStatusPopup();
                        //    }
                        //},
                        {
                            text: "Add Banner",
                            className: "them-btn btn-primary tbtn",
                            action: function (e, dt, node, config) {
                                window.location.href = "@Url.Action(Actions.Manage,Controllers.Banner)";
                            }
                        },
                        {
                            "extend": 'csv',
                            className: 'them-btn btn-info tbtn1',
                            "action": newexportaction
                        },
                        
                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500] // change per page values here
                    ],
                    // set the initial value
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#tableBanner")) {
                        $('#tableBanner').dataTable().fnDestroy();
                        $('#divtableBanner').html('<table class="table border rounded w-100" id="tableBanner"></table>');
                    }
                    initTable1();
                }
            };
        }();

        var OffersDataTable = function () {
            let initTable1 = function () {
                let table = $('#tableOffers');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.GetAllOffers, Controllers.Banner)',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                "columns": [
                    {
                        "title": "Shop Id", "data": "ShopId",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["ShopId"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Shop Name", "data": "ShopName",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["ShopName"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Offer Text", "data": "OfferText",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["OfferText"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Start Date", "data": "StartDate",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["StartDateStr"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "End Date", "data": "EndDate",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["EndDateStr"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Action", "data": "IsActive",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData += `<div style="cursor:pointer;" class="badge badge-soft-info">Approve</div>`;
                            htmlData += `<div style="cursor:pointer;" class="badge badge-soft-danger">Reject</div>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                ],

                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500] // change per page values here
                    ],
                    // set the initial value
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#tableOffers")) {
                        $('#tableOffers').dataTable().fnDestroy();
                        $('#divtableOffers').html('<table class="table border rounded w-100" id="tableOffers"></table>');
                    }
                    initTable1();
                }
            };
        }();

        function ActiveMessage(id) {
            let confirmBox = confirm("Are You Sure You want to Live this Banner ?");
            if (confirmBox) {
                UpdateStatus(id);
            }
        }
        function InActiveMessage(id) {
            let confirmBox = confirm("Are You Sure You want to Draft this Banner ?");
            if (confirmBox) {
                UpdateStatus(id);
            }
        }
           function UpdateStatus(id)
           {
               id = parseInt(id);
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.UpdateStatus, Controllers.Banner)',
                data: { Id: id },
                    dataType: 'json',
                    async: false,
                    success: function (response) {
                        toastr["success"](response.Message);
                        BannerDataTable.init();
                    },
                    error: function (error) {
                        toastr["error"]("Something Went wrong");
                    }
                });
        }
        function ConfirmDelete(id)
        {
            id = parseInt(id);
            let confirmBox = confirm("Are You Sure You want to Delete this Banner ?");
            if (confirmBox) {
                DeleteBanner(id);
            }
        }
        function DeleteBanner(id)
        {
            $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.DeleteBanner, Controllers.Banner)',
                data: { Id: id },
                    dataType: 'json',
                    async: false,
                success: function (response) {
                    BannerDataTable.init();
                    toastr["success"](response.Message);
                    },
                    error: function (error) {
                        toastr["error"]("Something Wen Wrong");
                    }
                });
        }
         function UpdateShifting(id,isUp)
         {
             id = parseInt(id);
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.UpdateDisplayOrder, Controllers.Banner)',
                data: { Id: id, IsUp: isUp },
                dataType: 'json',
                async: false,
                success: function (response) {
                    BannerDataTable.init();
                },
                error: function (error) {
                    toastr["error"]("Something Wen Wrong");
                }
            });
        }
        //Data fillter function
        function BuildSearchCriteria() {
            try {
                var param = {};

                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

    </script>
}
