﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;
@Html.AntiForgeryToken()

@{
    if (ViewBag.Id > 0)
    {
        ViewBag.Title = "Edit Banner";

    }
    else
    {
        ViewBag.Title = "Create Banner";
    }
}

<div class="content container-fluid">
    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Banner)" style="color: #0596F8;">Manage Banner</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
            <h3 class="fw-bold">@ViewBag.Title</h3>
        </div>

    </div>


    <div class="row">
        <div class="col-12">

            <div class="card-body p-0">
                <form id="frmBanner" name="frmBanner" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-12">
                            <label>Banner Name</label>
                            <input type="hidden" id="BannerId" name="BannerId" value="@ViewBag.Id" />
                            <input type="text" id="BannerName" name="BannerName" class="form-control" placeholder="Please enter banner name" />
                        </div>

                        @*<div class="col-12">
            <label>Banner Type</label>
            <input type="text" id="BannerType" name="BannerType" class="form-control" placeholder="Please enter banner type" />
        </div>*@
                        <div class="col-12">
                            <label>Banner Type</label>
                            <select id="BannerType" name="BannerType" class="form-control">
                                <option value="web">Web</option>
                                <option value="shop">Shop</option>
                                <option value="tag">Tag</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <label>Banner Image</label>
                            @{ if (ViewBag.Id > 0)
                                {
                                    <br /><img src="" id="bannerImage" height="50px" class="mt-2">
                                }
                            }
                            <input type="file" class="form-control" id="BannerFiles" name="BannerFiles" accept="image/*" />
                        </div>
                        <div id="Url" class="col-12">
                            <label>Navigation URL</label>
                            <input type="text" id="NavigationURL" name="NavigationURL" class="form-control" placeholder="Please enter navigation url" />
                        </div>

                        <div id="Shop" class="col-12">
                            <label for="ShopList">Shop List </label>
                            @Html.Raw(Html.DropDownList("ShopList", (IEnumerable<SelectListItem>)ViewBag.MasterShopListDrp, new { @Id = "BannerShopId", @class = "form-control selectpicker select-search" }))
                        </div>
                        <div id="Curated" class="col-12">
                            <label for="CuratedList">Custom Shop List (Curated List)</label>
                            @Html.Raw(Html.DropDownList("CuratedShopList", (IEnumerable<SelectListItem>)ViewBag.MasterCuratedListDrp, new { @Id = "CuratedShopList", @class = "form-control selectpicker select-search" }))
                        </div>
                        <div class="col-12">
                            <label>Status</label>
                            <select id="IsActive" name="IsActive" class="form-control">
                                <option value="true">Live</option>
                                <option value="false">Draft</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <label>Description</label>
                            <textarea class="form-control" id="Description" name="Description" placeholder="Please enter description"></textarea>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="mb-0">Priority</label>
                                <input type="number" class="form-control" name="Priority" id="Priority" value="" />
                            </div>
                        </div>
                        <div class="col-12 mt-3 d-flex align-items-center">
                            <label class="mb-0">Is Specialist</label>
                            <input type="checkbox" class="ml-1" name="IsSpecialist" id="IsSpecialist" value="" />
                        </div>
                       
                        <div class="col-12 text-right p-4">
                            <input type="submit" value="Save" class="btn btn-primary saveBtn" />
                            <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Saving...
                            </button>
                            <a href="@Url.Action(Actions.Index,Controllers.Banner)" class="btn btn-danger closeBtn">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(() => {
            $("#Url").show();
            $("#Shop").hide();
            $("#Curated").hide();
            document.getElementById("BannerType").onchange = function () {
                console.log($("#BannerType").val());
                if ($("#BannerType").val() == 'web') {
                    $("#Url").show();
                    $("#Shop").hide();
                    $("#Curated").hide();
                } else if ($("#BannerType").val() == 'shop') {
                    $("#Url").hide();
                    $("#Shop").show();
                    $("#Curated").hide();
                } else {
                    $("#Url").hide();
                    $("#Shop").hide();
                    $("#Curated").show();
                }
            }

            $.validator.addMethod('filesize', function (value, element, param) {
                return this.optional(element) || (element.files[0].size <= param * 1000000)
            }, 'File size must be less than {0} MB');

            if (@ViewBag.Id > 0) {

                BindData();



                $("#frmBanner").validate({
                    rules: {
                        BannerName: "required",
                        BannerType: "required",
                        BannerFiles: {
                            filesize: 2, },
                        NavigationURL: "required",
                        Description: "required",
                        Priority : "required"
                    },
                    messages: {
                        BannerName: {
                            required: "Banner Name is required",
                        },
                        BannerType: {
                            required: "Banner Type is required",
                        },
                        NavigationURL: {
                            required: "Navigation URL is required",
                        },
                        Description: {
                            required: "Description is required",
                        },
                        Priority: {
                            required: "Priority is required",
                        }
                    },

                    errorPlacement: function (error, element) {
                        if (element.is(":radio")) {
                            error.appendTo(element.parents(".form-group"));
                        } else {
                            // This is the default behavior
                            error.insertAfter(element);
                        }
                    },
                    submitHandler: function (form) {
                        SaveBannerData();
                    }
                });
            } else {

                $("#frmBanner").validate({
                    rules: {
                        BannerName: "required",
                        BannerType: "required",
                        BannerFiles: { required: true, filesize: 2, },
                        NavigationURL: "required",
                        Description: "required",
                        Priority: "required"
                    },
                    messages: {
                        BannerName: {
                            required: "Banner Name is required",
                        },
                        BannerType: {
                            required: "Banner Type is required",
                        },
                        BannerFiles: {
                            required: "Please select the banner image",
                        },
                        NavigationURL: {
                            required: "Navigation URL is required",
                        },
                        Description: {
                            required: "Description is required",
                        },
                        Priority: {
                            required: "Priority is required",
                        }
                    },

                    errorPlacement: function (error, element) {
                        if (element.is(":radio")) {
                            error.appendTo(element.parents(".form-group"));
                        } else {
                            // This is the default behavior
                            error.insertAfter(element);
                        }
                    },
                    submitHandler: function (form) {
                        SaveBannerData();
                    }
                });
            }

        });


        function BindData()
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetData, Controllers.Banner)',
                data: {Id : @ViewBag.Id},
                dataType: 'json',
                async: true,
                success: function (response) {
                    debugger;
                    if (response.Code == 200) {
                        $("#BannerName").val(response.Item.BannerName);
                        $("#BannerType").val(response.Item.BannerType);
                        $("#IsActive").val(response.Item.IsActive.toString());
                        $("#Description").val(response.Item.Descriptions);
                        $("#IsSpecialist").prop('checked', response.Item.IsSpecialist);
                        $("#bannerImage").attr('src', response.Item.BannerUrlStr);
                        $("#Priority").val(response.Item.Priority);


                        if ($("#BannerType").val() == 'web') {
                            $("#Url").show();
                            $("#Shop").hide();
                            $("#Curated").hide();
                            $("#NavigationURL").val(response.Item.NavigationURL);
                        } else if ($("#BannerType").val() == 'shop') {
                            $("#Url").hide();
                            $("#Shop").show();
                            $("#Curated").hide();
                            $("#BannerShopId").selectpicker('val',response.Item.BannerShopId);
                        } else {
                            $("#Url").hide();
                            $("#Shop").hide();
                            $("#Curated").show();
                            $("#CuratedShopList").selectpicker('val', response.Item.CuratedShopList);
                        }

                    } else {
                        toastr["error"](response.Message);
                    }
                },
                error: function (error) {
                    toastr["error"]("Something went wrong");
                }
            });
        }


        ////CheckboxChecked value get and store
        //var checkboxBool = false;
        //function CheckboxChecked(checkbox) {
        //    checkboxBool = checkbox.checked;
        //}

        function SaveBannerData()
        {
            debugger;
            $(".saveBtn").hide();
            $(".loading").show();
            $(".closeBtn").hide();

            var IsSpecialistCheckBox = document.getElementById('IsSpecialist');

            var formdata = new FormData();
            formdata.append("Id", $("#BannerId").val());
            formdata.append("BannerName", $("#BannerName").val());
            formdata.append("BannerType", $("#BannerType").val());
            formdata.append("BannerShopId", $("#BannerShopId").val());
            formdata.append("files", $("#BannerFiles").get(0).files[0]);
            formdata.append("IsActive", $("#IsActive").val());
            formdata.append("Descriptions", $("#Description").val());
            formdata.append("IsSpecialist", IsSpecialistCheckBox.checked);
            formdata.append("Priority", $("#Priority").val());
            if ($('#NavigationURL').val().includes("http://")) {
            }
            else {
                $("#NavigationURL").val("http://" + $("#NavigationURL").val());
            }
            formdata.append("NavigationURL", $("#NavigationURL").val());
            formdata.append("CuratedShopList", $("#CuratedShopList").val());

            $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.SaveBanner, Controllers.Banner)',
                    data: formdata,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.Code == 200) {
                            toastr["success"](response.Message);
                            window.location.href = "@Url.Action(Actions.Index,Controllers.Banner)";
                            $(".saveBtn").show();
                            $(".loading").hide();
                            $(".closeBtn").show();
                        } else {
                            toastr["error"](response.Message);
                            $(".saveBtn").show();
                            $(".loading").hide();
                            $(".closeBtn").show();
                        }
                    },
                    error: function (error) {
                        toastr["error"]("Something went wrong");
                        $(".saveBtn").show();
                        $(".loading").hide();
                        $(".closeBtn").show();
                    }
                });
        }


        //Data fillter function
        function BuildSearchCriteria() {
            try {
                var param = {};
                param["CuratedList"] = $('#CuratedList').val();
                //param["PaymentStatus"] = $('#CustPaymentStatus').val();
                //param["CityId"] = $('#ShopCity').val();
                //param["Amount"] = $('#CustomerPaymentAmount').val();

                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }
    </script>
}