﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;

<style>
    a#drpchpwd:hover, a#drpchpwd:active {
        background-color: #c02b5d;
        color: #FFFFFF;
    }

    a#drplogout:hover, a#drplogout:active {
        background-color: #c02b5d;
        color: #FFFFFF;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>
<header>
    <div class="container-fluid">
        <div class="navbar pl-0">
            <button class="btn btn-hover-secondary btn-icon toggle-sidebar" type="button">
                <i class="tio-menu-hamburger fs-20"></i>
            </button>

            <ul class="nav align-items-center">
                <!-- Profile -->
                <li class="pr-5">
                    <div class="d-flex align-items-center">
                        <label class="mb-0 pr-2" for="customSwitch1"><b>Receive Calls</b></label>
                        <div class="p-0 mb-0 d-flex align-items-start justify-content-between">
                            <label class="switch mb-0">
                                <input type="checkbox" id="AdminCall" onclick="AdminVideoCall(this);" value="">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown dropdown-profile ml-2">
                        <!-- Dropdown Button -->
                        <button class="btn btn-hover-secondary btn-icon" type="button" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="avatar">
                                <img alt="avatar" src="@ProjectSession.AdminProfile" class="rounded-circle">
                            </span>
                        </button>

                        <!-- Dropdown Menu -->
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
                            <!-- Dropdown Head -->
                            <div class="dropdown-head justify-content-start">
                                <div class="avatar">
                                    <img alt="avatar" src="@ProjectSession.AdminProfile" class="rounded-circle">
                                </div>

                                <div class="text-truncate ml-2">
                                    <h6 class="mb-1">@ProjectSession.AdminName</h6>
                                    <p class="fs-13 mb-0 text-muted">Admin</p>
                                </div>
                            </div>

                            <!-- Dropdown Body -->
                            <div class="dropdown-body">
                                <ul class="list-unstyled py-2">
                                    <li><a class="dropdown-item fs-14" id="drpchpwd" href="@Url.Action(Actions.ChangePassword, Controllers.Account, new { Area = ""})">Change Password</a></li>
                                    <li><a class="dropdown-item fs-14" id="drplogout" href="@Url.Action(Actions.Logout, Controllers.Account, new { Area = ""})">Sign out</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</header>

<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        //debugger;
        $("#AdminCall").prop("checked", "@ProjectSession.IsAdminCall" == "True" ? true : false);
    });

    function AdminVideoCall(Checkbox) {
        //debugger;
        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.AdminIsVideoCall, Controllers.AdminTypes)',
            data: { CallStatus: Checkbox.checked },
            success: function (response) {
                window.location.reload();
            },
            error: function (error) {
                toastr["error"]("Something went wrong");
            }
        })
    }
</script>