﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using System.Web.Optimization;
@using yudooappAdmin.Infrastructure;

@{
    /**/

    var curController = Convert.ToString(ViewContext.RouteData.Values["Controller"]);
    var curAction = Convert.ToString(ViewContext.RouteData.Values["Action"]);
}

<!DOCTYPE html>
<html>
<head>
    <!-- SEO & Metatags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no" /> <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="subject" content="">
    <meta name="copyright" content="">
    <meta name=author content="">

    <title>Yudoo | @ViewBag.Title</title>



    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- Stylesheets -->

    <link rel="stylesheet" href="~/assets/fonts/style.css">
    <link rel="stylesheet" href="~/assets/vendors/simplebar/dist/simplebar.min.css">
    <link rel="stylesheet" href="~/assets/vendors/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-html5-1.7.1/b-print-1.7.1/r-2.2.9/datatables.min.css" />

    <link rel="stylesheet" href="~/assets/css/main.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link href="~/assets/css/tagify.css" rel="stylesheet" />

    <style>
        a {
            text-decoration: none !important;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .tagify__input {
            display: none;
        }

        .dt-buttons {
            margin-bottom: 20px !important;
        }

        .pos-r-t {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }

        .loader-text {
            position: relative;
            overflow: hidden;
        }

            .loader-text:before {
                position: absolute;
                content: "";
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                z-index: -1;
                background-filter: blur(1px);
                backdrop-filter: blur(10px);
                background-color: rgba(255, 255, 255, 0.5);
            }

        .loader-text {
            position: fixed;
            z-index: 9999;
            width: 100%;
            display: none;
        }

            .loader-text span {
                display: flex;
                justify-content: center;
                width: 100%;
                align-items: center;
                min-height: 100vh;
                color: #000;
            }

        .preview-image-delete-icon {
            position: absolute;
            z-index: 9;
            left: 8px;
            text-align: center;
            top: 8px;
            line-height: 30px;
            color: #ffffff;
            width: 30px;
            background: #948e97;
            height: 30px;
            cursor: pointer;
        }

        .c-w-49 {
            width: 48%;
        }

        .border-b-1 {
            border-bottom: 1px solid #ccc;
        }

        .border-r-1 {
            border-right: 1px solid #ccc;
        }

        .shop-timgings th, .table td {
            padding: 4px 10px;
        }

            .shop-timgings th:nth-child(2) {
                text-align: center;
            }

        @@media(max-width:425px) {
            .border-b-1 {
                border-bottom: none;
            }

            .border-r-1 {
                border-right: none;
            }
        }

        .dt-buttons {
            float: right;
        }

        .buttons-html5 {
            background-color: #047fd3;
            color: white;
        }

        .tbtn {
            margin-right: 15px;
            border-radius: 5px !important;
            color: #fff;
            background-color: #0596F8;
            border-color: #0596F8;
        }

        .tbtn1 {
            margin-right: 15px;
            border-radius: 5px !important;
            color: #fff;
            background-color: #f0ad4e;
            border-color: #eea236;
        }
    </style>
    <style>
        .btn-primary {
            color: #fff !important;
            background-color: #0596F8 !important;
            border-color: #0596F8 !important;
            box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%) !important;
        }

        div.dt-buttons {
            float: right !important;
        }

        .error {
            color: red;
        }

        .bootstrap-select .bs-ok-default:after {
            content: '';
            display: block;
            width: 0.5em;
            height: 1em;
            color: #0596f8;
            border-style: solid;
            border-width: 0 0.15em 0.15em 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .user-profile .image-text {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            object-fit: cover;
            background: #f6f6f6;
        }

        .user-call-details h3 {
            font-size: 20px;
        }

        .user-call-details p {
            color: #4B5563;
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 600;
        }

        .user-profile .user-recive-call {
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .user-profile .user-recive-call div {
                height: 60px;
                width: 60px;
                padding: 18px;
                border-radius: 50%;
                cursor: pointer;
            }

        .bg-c-success {
            background: #3fcc35;
        }

        .bg-c-danger {
            background: #ff4e2b;
        }

        .user-profile .user-recive-call div {
            margin: 5px;
        }

        .image-text {
            text-align: center;
            line-height: 100px;
            font-size: 35px;
            font-weight: 500;
            color: #000;
        }

        @@media (min-width: 1200px) {
            .video-call-join .modal-xl {
                max-width: 100% !important;
            }
        }

        .video-call-join .modal-dialog {
            margin: 0 !important;
        }
        /*.spinner-border {
            width: 2.5rem !important;
            height: 2.5rem !important;
        }*/

        /* width */
        ::-webkit-scrollbar {
            width: 7px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 10px;
        }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555;
            }
    </style>

</head>
<body class="aside-show">

    <p class="loader-text cmn-text"><span>Please Wait...</span></p>


    @Html.Partial("_Header")
    @Html.Partial("_LeftMenu")

    <!-- Main Content -->
<main>
    @RenderBody()

    <div class="modal fade" id="VideCallModal" tabindex="-1" role="dialog" aria-labelledby="VideCallModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="user-profile text-center">
                        @*<img src="https://vue.pixelstrap.com/chitchat/_nuxt/img/audiocall.a23fb96.jpg" alt="Alternate Text" />*@
                        <div class="d-flex justify-content-center">
                            <div class="image-text" id="ImageText" style="text-transform:uppercase;">

                            </div>
                        </div>
                        <div class="user-call-details mt-3" id="UserCallDetails">

                        </div>
                        <div class="pl-0 user-recive-call mb-3">
                            <div class="bg-c-success" id="btnjoinVideoCall">
                                <i class="tio-call text-white"></i>
                            </div>
                            <div data-dismiss="modal" class="bg-c-danger" style="transform: rotate(138deg);">
                                <i class="tio-call text-white"></i>
                            </div>
                            @*<div class="bg-c-danger" style="transform: rotate(138deg);" onclick="VideoCallCute();">
                                    <i class="tio-call text-white"></i>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade video-call-join" id="VideCallJoinModal" tabindex="-1" role="dialog" aria-labelledby="VideCallJoinModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <iframe allow="camera; microphone; autoplay; fullscreen" title="Video Call" id="videoiframe" scrolling="yes"
                            style="width:100%;height:100vh;">
                    </iframe>
                </div>
            </div>
        </div>
    </div>

    @*HelpSupport Call*@
    <div class="modal fade" id="HelpSupportCall" tabindex="-1" role="dialog" aria-labelledby="HelpSupportCallLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="user-profile text-center">
                        @*<img src="https://vue.pixelstrap.com/chitchat/_nuxt/img/audiocall.a23fb96.jpg" alt="Alternate Text" />*@
                        <div class="d-flex justify-content-center">
                            <div class="image-text" id="ImageText" style="text-transform:uppercase;">
                                SC
                            </div>
                        </div>
                        <div class="user-call-details mt-3">
                            <h3>Support Call <span id="sName"></span></h3>
                        </div>
                        <div class="pl-0 user-recive-call mb-3">
                            <div class="bg-c-success" onclick="UserCallCut(1);">
                                <i class="tio-call text-white"></i>
                            </div>
                            <div data-dismiss="modal" class="bg-c-danger" onclick="UserCallCut(2);" style="transform: rotate(138deg);">
                                <i class="tio-call text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>



    <!-- Javascript -->
    <!-- Menu Backdrop -->
    <div class="backdrop d-none"></div>

    <!-- Scripts -->
    <script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>
    <script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
    <script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/vendors/apexcharts/dist/apexcharts.min.js"></script>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-html5-1.7.1/b-print-1.7.1/r-2.2.9/datatables.min.js"></script>
    <script src="~/assets/js/tagify.min.js"></script>
    <!-- Main Js -->
    <script src="~/assets/js/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script>



        $(document).ready(function () {



            if ("@ProjectSession.IsAdminCall" == "True") {
                callTimeOut();
            }

            HelpSupportCallDataGet();

            $(".multiselect-button").attr("data-actions-box", "true")
            $(".multiselect-button").attr("multiple","")
            $('.select-search').attr('data-live-search', 'true');
            //$('ul[class="dropdown-menu inner show"]').attr("id", "dropdownbutton");
            //$("#dropdownbutton").prepend(
            //    "<div class='bs-actionsbox'><div class='btn-group btn-group-sm btn-block'><button type='button' class='actions-btn bs-select-all btn btn-light'>Select All</button><button type='button' class='actions-btn bs-deselect-all btn btn-light'>Deselect All</button></div></div>");
            //$('.selectpicker').selectpicker();
            setSelectedMenu();
        });

        //Help Support call
        var SetTimeHelpSupportCall = "";
        function HelpSupportCallDataGet() {
            SetTimeHelpSupportCall = window.setInterval(function () {
                HelpSupportCallData();
            }, 3000);
        }

        var SetTimeHelpSupportCallCut = "";
        function HelpSupportCallCut() {
            SetTimeHelpSupportCallCut = window.setInterval(function () {
                UserCallCut(2);
            }, 10000);
        }

        var SupportCallId = 0;
        function HelpSupportCallData() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("PendingHelpSupportCall", "Home")',
                data: {},
                dataType: 'json',
                success: function (response) {
                    debugger;
                    if (response.Values.length > 0) {
                        console.log('response', response);
                        for (var i = 0; i < response.Values.length; i++) {
                            SupportCallId = response.Values[i].Id;
                        }
                        $("#sName").text("- "+response.Values[0].UserName);
                        clearTimeout(SetTimeHelpSupportCall);
                        $("#HelpSupportCall").modal("show");
                        HelpSupportCallCut();
                    }
                },
                error: function (error) {
                    console.log('error', error);
                }
            });
        }

        //UserCallCut
        function UserCallCut(ActionType) {
            debugger;
            $.ajax({
                type: "POST",
                url: '@Url.Action("PendingHelpSupportCallAction", "Home")',
                data: ({
                    Id: SupportCallId,
                    StatusId: ActionType
                }),
                dataType: 'json',
                success: function (response) {
                    console.log('response call cut', response)
                    if (response.Item != null) {
                        debugger;
                        clearTimeout(SetTimeHelpSupportCallCut);
                        if (response.Item.Action == "Connect") {
                            window.open('https://video.yudoo.co/#/' + response.Item.VideoCallId, '_blank');
                            $("#HelpSupportCall").modal("hide");
                            HelpSupportCallDataGet();
                        } else if (response.Item.Action == "Cut") {
                            $("#HelpSupportCall").modal("hide");
                            HelpSupportCallDataGet();
                        }
                    }
                },
                error: function (error) {
                    console.log('error', error);
                }
            });
        }


        var timeout = "";
        function callTimeOut() {
            timeout = window.setInterval(function () {
                CheckWhoInitiated();
                clearTimeout(timeout);
            }, 3000);
        }

        var VideoCallCutetimeout = window.setInterval(function () {
            if ($('#VideCallModal.show').length > 0) {
                $("#VideCallModal").modal('hide');
                callTimeOut();
               // VideoCallCute();
            }
        }, 15000);

        var VideoCallResponseGet = "";

        function CheckWhoInitiated() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ReceivePendingVideoCall", "VideoCalls")',
                data: {},
                dataType: 'json',
                success: function (response) {
                    $("#UserCallDetails").html("");
                    $("#ImageText").html("");
                    if (response.Values.length > 0) {
                        clearTimeout(timeout);
                        if (response.Values[0].WhoInitiated != null) {
                            if ((response.Values[0].UserFirstName != "" || response.Values[0].UserFirstName != null) && (response.Values[0].UserLastName != "" || response.Values[0].UserLastName != null)) {
                                var Firstname = response.Values[0].UserFirstName.charAt(0);
                                var LastName = response.Values[0].UserLastName.charAt(0);

                                $('#ImageText').text(`${Firstname}${LastName}`);
                            }

                            $('#UserCallDetails').append(`
                                <div>
                                    <h3 class="mb-0" style="text-transform:capitalize;">${response.Values[0].UserFirstName} ${response.Values[0].UserLastName}</h3>
                                    <p>Users</p>
                                </div>
                            `);

                            $('#VideCallModal').modal('show');
                            //RingtonePlay();

                            VideoCallResponseGet = btoa(JSON.stringify(response.Values));

                            $("#btnjoinVideoCall").click("on", function () {
                                clearTimeout(VideoCallCutetimeout);

                                //Video Join Status change
                                $.ajax({
                                    type: "POST",
                                    url: '@Url.Action("CallBackManage", "VideoCalls")',
                                    data: ({
                                        ShopId: response.Values[0].ShopId,
                                        UserId: response.Values[0].UserId,
                                        VideoCallLink: response.Values[0].VideoCallLink,
                                        Type: 100,
                                        CallStatus: 11,
                                        WhoInitiated: response.Values[0].WhoInitiated
                                    }),
                                    dataType: 'json',
                                    success: function (response) {
                                        if (response.Code == 200) {
                                            //Success
                                        } else {
                                            window.location.reload();
                                        }
                                    },
                                    error: function (error) {
                                        window.location.reload();
                                    }
                                });

                                window.location.href = `@Url.Action("JoinVideoCallPage", "VideoCalls")?ShopId=${response.Values[0].ShopId}&Response=${btoa(JSON.stringify(response.Values))}`
                            })
                        }
                    }
                    else {
                        callTimeOut();
                    }
                },
                error: function (error) {
                    console.log('error', error);
                    //toastr["error"]("Something went wrong");
                }
            });
        }

        //function RingtonePlay() {
        //    var audio = new Audio('https://2u039f-a.akamaihd.net/downloads/ringtones/files/mp3/7120-download-iphone-6-original-ringtone-42676.mp3');
        //    audio.play();
        //}

        //function RingtonePause() {
        //    var audio = new Audio('https://2u039f-aJoinVideoCallPage.akamaihd.net/downloads/ringtones/files/mp3/7120-download-iphone-6-original-ringtone-42676.mp3');
        //    audio.pause();
        //}



        //Video Join Status change
        function VideoCallCute() {

            VideoCallResponse = atob(VideoCallResponseGet);
            VideoCallResponse = $.parseJSON(VideoCallResponse);
            var obj =
            {
                Id: VideoCallResponse[0].Id,
                ShopId: VideoCallResponse[0].ShopId,
                UserId: VideoCallResponse[0].UserId,
                VideoCallLink: VideoCallResponse[0].VideoCallLink,
                Type: 100,
                CallStatus: VideoCallResponse[0].CallStatus,
                WhoInitiated: 'WebAdmin'
            }
            console.log(obj);

            $.ajax({
                type: "POST",
                url: '@Url.Action("CallBackManage", "VideoCalls")',
                data: ({
                    Id: VideoCallResponse[0].Id,
                    ShopId: VideoCallResponse[0].ShopId,
                    UserId: VideoCallResponse[0].UserId,
                    VideoCallLink: VideoCallResponse[0].VideoCallLink,
                    Type: 100,
                    CallStatus: VideoCallResponse[0].CallStatus,
                    WhoInitiated: 'WebAdmin'
                }),
                dataType: 'json',
                success: function (response) {

                    console.log("cut call", response);
                    if (response.Code == 200) {
                        $("#VideCallModal").modal('hide');
                        callTimeOut();

                    } else {
                        window.location.reload();
                    }
                },
                error: function (error) {
                    window.location.reload();
                }
            });
        }

        function setSelectedMenu() {
            $(".main-menu").find("li.active").each(function () {
                $(this).removeClass("active");
            });
            switch ('@curController' + " " + '@curAction') {
                case '@Controllers.Home' + " " + '@Actions.Index':
                    setActiveLink($('#mnHome').attr('id'));
                    break;
                case '@Controllers.Customer' + " " + '@Actions.Index':
                    setActiveLink($('#mnCustomer').attr('id'));
                    break;
                case '@Controllers.AdminTypes' + " " + '@Actions.Index':
                    setActiveLink($('#mnAdminTypes').attr('id'));
                    break;
                case '@Controllers.Shop' + " " + '@Actions.Index':
                    setActiveLink($('#mnShop').attr('id'));
                    break;
                case '@Controllers.ShopOverview' + " " + '@Actions.Index':
                    setActiveLink($('#mnShopOverview').attr('id'));
                    break;
                case '@Controllers.ShopOnboardDetail' + " " + '@Actions.Index':
                    setActiveLink($('#mnShopOnboardDetail').attr('id'));
                    break;
                case '@Controllers.ShopOnboardDetail' + " " + '@Actions.ViewDetails':
                    setActiveLink($('#mnShopOnboardDetail').attr('id'));
                    break;
                case '@Controllers.ShopApproval' + " " + '@Actions.Index':
                    setActiveLink($('#mnShopApproval').attr('id'));
                    break;
                case '@Controllers.Banner' + " " + '@Actions.Index':
                    setActiveLink($('#mnBanner').attr('id'));
                    break;
                case '@Controllers.Banner' + " " + '@Actions.Manage':
                    setActiveLink($('#mnBanner').attr('id'));
                    break;
                case '@Controllers.Offer' + " " + '@Actions.Index':
                    setActiveLink($('#mnOffer').attr('id'));
                    break;
                case '@Controllers.Offer' + " " + '@Actions.Manage':
                    setActiveLink($('#mnOffer').attr('id'));
                    break;
                case '@Controllers.Orders' + " " + '@Actions.Index':
                    setActiveLink($('#mnOrdersIndex').attr('id'));
                    break;
                case '@Controllers.Orders' + " " + '@Actions.OrderDetails':
                    setActiveLink($('#mnOrdersIndex').attr('id'));
                    break;
                case '@Controllers.AmountBifurcation' + " " + '@Actions.Index':
                    setActiveLink($('#mnAmountBifurcation').attr('id'));
                    break;
                case '@Controllers.VideoCalls' + " " + '@Actions.Index':
                    setActiveLink($('#mnVideoCalls').attr('id'));
                    break;
                case '@Controllers.Pages' + " " + '@Actions.Index':
                    setActiveLink($('#mnPages').attr('id'));
                    break;
                case '@Controllers.Pages' + " " + '@Actions.Manage':
                    setActiveLink($('#mnPages').attr('id'));
                    break;
                case '@Controllers.Download' + " " + '@Actions.Index':
                    setActiveLink($('#mnDownload').attr('id'));
                    break;
                case '@Controllers.AdminUsers' + " " + '@Actions.Index':
                    setActiveLink($('#mnAdminUsers').attr('id'));
                    break;
                case '@Controllers.SendNotification' + " " + '@Actions.Index':
                    setActiveLink($('#mnSendNotification').attr('id'));
                    break;
                case '@Controllers.ShopkeeperSupport' + " " + '@Actions.Index':
                    setActiveLink($('#mnShopkeeperSupport').attr('id'));
                    break;
                case '@Controllers.ShopkeeperSupport' + " " + '@Actions.FaqsManage':
                    setActiveLink($('#mnShopkeeperSupport').attr('id'));
                    break;
                case '@Controllers.ShopkeeperSupport' + " " + '@Actions.FaqVideosManage':
                    setActiveLink($('#mnShopkeeperSupport').attr('id'));
                    break;
                case '@Controllers.CuratedList' + " " + '@Actions.Index':
                    setActiveLink($('#mnCuCuratedList').attr('id'));
                    break;
                 case '@Controllers.CuratedList' + " " + '@Actions.Manage':
                    setActiveLink($('#mnCuCuratedList').attr('id'));
                    break;
                case '@Controllers.ShopkeeperMaster' + " " + '@Actions.Index':
                    setActiveLink($('#mnShopkeeperMaster').attr('id'));
                    break;
                case '@Controllers.CustomerCategoryOrder' + " " + '@Actions.Index':
                    setActiveLink($('#mnCustomerCategoryOrder').attr('id'));
                    break;
                case '@Controllers.MasterData' + " " + '@Actions.Index':
                    setActiveLink($('#mnMasterData').attr('id'));
                    break;
                case '@Controllers.MasterData' + " " + '@Actions.Manage':
                    setActiveLink($('#mnMasterData').attr('id'));
                    break;
                case '@Controllers.MasterData' + " " + '@Actions.ManageCity':
                    setActiveLink($('#mnMasterData').attr('id'));
                    break;
                case '@Controllers.MasterData' + " " + '@Actions.ManageSpeciality':
                    setActiveLink($('#mnMasterData').attr('id'));
                    break;
                case '@Controllers.CustomerMaster' + " " + '@Actions.Index':
                    setActiveLink($('#mnCustomerMaster').attr('id'));
                    break;
                case '@Controllers.CustomerMaster' + " " + '@Actions.BadRatingManage':
                    setActiveLink($('#mnCustomerMaster').attr('id'));
                    break;
                case '@Controllers.CustomerMaster' + " " + '@Actions.GoodRatingManage':
                    setActiveLink($('#mnCustomerMaster').attr('id'));
                    break;
                case '@Controllers.CustomerMaster' + " " + '@Actions.TrendingSearchManage':
                    setActiveLink($('#mnCustomerMaster').attr('id'));
                    break;
                case '@Controllers.CustomerMaster' + " " + '@Actions.UsersFaqManage':
                    setActiveLink($('#mnCustomerMaster').attr('id'));
                    break;
                case '@Controllers.Request_CallBack_Admin' + " " + '@Actions.Index':
                    setActiveLink($('#mnRequestCallBackAdmin').attr('id'));
                    break;
            }
        }

        function setActiveLink(menuId) {
            $("#" + menuId).addClass("active");
        };

        function setSubActiveLink(menuId) {
            $(".custom").find("a[id='" + menuId + "']").parent("li").addClass("active");
            //$(".items").find("a[id='" + menuId + "']").parent("li").append("<span class='selected'></span>");
        };
    </script>


    <script>

        $(document).ready(function () {

            $('ul li a').click(function () {
                $('li a').removeClass("active");
                $(this).addClass("active");
            });

            // The DOM element you wish to replace with Tagify
            //$('[name=tags]').tagify();
            $(".single-date-picker").daterangepicker({
                locale: {
                    format: 'DD/MM/YYYY',
                    cancelLabel: 'Clear'
                },
                autoUpdateInput: false,
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 1940,
                maxYear: parseInt(moment().format("YYYY"), 10),
            });
            $(".single-date-picker").on("apply.daterangepicker", function (e, picker) {
                picker.element.val(picker.startDate.format(picker.locale.format));
            }), $('.single-date-picker').on('cancel.daterangepicker', function (ev, picker) {
                picker.element.val('');
            });

            $(".single-date-picker-formated").daterangepicker({
                locale: {
                    format: 'MM/DD/YYYY',
                    cancelLabManagegegenagenage: 'Clear'
                },
                autoUpdateInput: false,
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 1940,
                maxYear: parseInt(moment().format("YYYY"), 10),
            });
            $(".single-date-picker-formated").on("apply.daterangepicker", function (e, picker) {
                picker.element.val(picker.startDate.format(picker.locale.format));
            }), $('.single-date-picker-formated').on('cancel.daterangepicker', function (ev, picker) {
                picker.element.val('');
            });

        });

        //all data export with server side
        function newexportaction(e, dt, button, config) {
            var self = this;
            var oldStart = dt.settings()[0]._iDisplayStart;
            dt.one('preXhr', function (e, s, data) {
                data.start = 0;
                data.length = 2147483647;
                dt.one('preDraw', function (e, settings) {
                    if (button[0].className.indexOf('buttons-copy') >= 0) {
                        $.fn.dataTable.ext.buttons.copyHtml5.action.call(self, e, dt, button, config);
                    } else if (button[0].className.indexOf('buttons-excel') >= 0) {
                        $.fn.dataTable.ext.buttons.excelHtml5.available(dt, config) ?
                            $.fn.dataTable.ext.buttons.excelHtml5.action.call(self, e, dt, button, config) :
                            $.fn.dataTable.ext.buttons.excelFlash.action.call(self, e, dt, button, config);
                    } else if (button[0].className.indexOf('buttons-csv') >= 0) {
                        $.fn.dataTable.ext.buttons.csvHtml5.available(dt, config) ?
                            $.fn.dataTable.ext.buttons.csvHtml5.action.call(self, e, dt, button, config) :
                            $.fn.dataTable.ext.buttons.csvFlash.action.call(self, e, dt, button, config);
                    } else if (button[0].className.indexOf('buttons-pdf') >= 0) {
                        $.fn.dataTable.ext.buttons.pdfHtml5.available(dt, config) ?
                            $.fn.dataTable.ext.buttons.pdfHtml5.action.call(self, e, dt, button, config) :
                            $.fn.dataTable.ext.buttons.pdfFlash.action.call(self, e, dt, button, config);
                    } else if (button[0].className.indexOf('buttons-print') >= 0) {
                        $.fn.dataTable.ext.buttons.print.action(e, dt, button, config);
                    }
                    dt.one('preXhr', function (e, s, data) {
                        settings._iDisplayStart = oldStart;
                        data.start = oldStart;
                    });
                    setTimeout(dt.ajax.reload, 0);
                    return false;
                });
            });
            dt.ajax.reload();
        }


        if ($("#activeAccountChart").length) {
            var e = {
                chart: {
                    height: 60,
                    type: "area",
                    toolbar: {
                        show: !1
                    },
                    sparkline: {
                        enabled: !0
                    },
                    grid: {
                        show: !1,
                        padding: {
                            FaqVideosManageleft: 0,
                            right: 0
                        }
                    }
                },
                dataLabels: {
                    enabled: !1
                },
                stroke: {
                    curve: "smooth",
                    width: 2
                },
                fill: {
                    type: "gradient",
                    gradient: {
                        shadeIntensity: .9,
                        opacityFrom: .7,
                        opacityTo: .5,
                        stops: [0, 80, 100]
                    }
                },
                series: [{
                    name: "Account",
                    data: [28, 40, 36, 52, 38, 60, 55]
                }],
                xaxis: {
                    labels: {
                        show: !1
                    },
                    axisBorder: {
                        show: !1
                    }
                },
                yaxis: [{
                    y: 0,
                    offsetX: 0,
                    offsetY: 0,
                    padding: {
                        left: 0,
                        right: 0
                    }
                }],
                tooltip: {
                    x: {
                        show: !1
                    }
                }
            };
            new ApexCharts(document.querySelector("#activeAccountChart"), e).render()
        }

        if ($("#expiredPlanChart").length) {
            var e = {
                chart: {
                    height: 60,
                    type: "area",
                    toolbar: {
                        show: !1
                    },
                    sparkline: {
                        enabled: !0
                    },
                    grid: {
                        show: !1,
                        padding: {
                            left: 0,
                            right: 0
                        }
                    }
                },
                colors: ["#ff225f"],
                dataLabels: {
                    enabled: !1
                },
                stroke: {
                    curve: "smooth",
                    width: 2
                },
                fill: {
                    colors: "#ff225f",
                    type: "gradient",
                    gradient: {
                        shadeIntensity: .9,
                        opacityFrom: .7,
                        opacityTo: .5,
                        stops: [0, 80, 100]
                    }
                },
                series: [{
                    name: "Account",
                    data: [28, 40, 36, 52, 38, 60, 55]
                }],
                xaxis: {
                    labels: {
                        show: !1
                    },
                    axisBorder: {
                        show: !1
                    }
                },
                yaxis: [{
                    y: 0,
                    offsetY: 0,
                    padding: {
                        left: 0,
                        right: 0
                    }
                }],
                tooltip: {
                    x: {
                        show: !1
                    }
                }
            };
            new ApexCharts(document.querySelector("#expiredPlanChart"), e).render()
        }

        if ($("#newAccountChart").length) {
            var e = {
                chart: {
                    height: 60,
                    type: "area",
                    toolbar: {
                        show: !1
                    },
                    sparkline: {
                        enabled: !0
                    },
                    grid: {
                        show: !1,
                        padding: {
                            left: 0,
                            right: 0
                        }
                    }
                },
                colors: ["#19cb98"],
                dataLabels: {
                    enabled: !1
                },
                stroke: {
                    curve: "smooth",
                    width: 2
                },
                fill: {
                    colors: ["#19cb98"],
                    type: "gradient",
                    gradient: {
                        shadeIntensity: .9,
                        opacityFrom: .7,
                        opacityTo: .5,
                        stops: [0, 80, 100]
                    }
                },
                series: [{
                    name: "Account",
                    data: [28, 40, 36, 52, 38, 60, 55]
                }],
                xaxis: {
                    labels: {
                        show: !1
                    },
                    axisBorder: {
                        show: !1
                    }
                },
                yaxis: [{
                    y: 0,
                    offsetX: 0,
                    offsetY: 0,
                    padding: {
                        left: 0,
                        right: 0
                    }
                }],
                tooltip: {
                    x: {
                        show: !1
                    }
                }
            };
            new ApexCharts(document.querySelector("#newAccountChart"), e).render()
        }

        if ($("#expiredPlanChart2").length) {
            var e = {
                chart: {
                    height: 60,
                    type: "area",
                    toolbar: {
                        show: !1
                    },
                    sparkline: {
                        enabled: !0
                    },
                    grid: {
                        show: !1,
                        padding: {
                            left: 0,
                            right: 0
                        }
                    }
                },
                colors: ["#fb8c00"],
                dataLabels: {
                    enabled: !1
                },
                stroke: {
                    curve: "smooth",
                    width: 2
                },
                fill: {
                    colors: ["#fb8c00"],
                    type: "gradient",
                    gradient: {
                        shadeIntensity: .9,
                        opacityFrom: .7,
                        opacityTo: .5,
                        stops: [0, 80, 100]
                    }
                },
                series: [{
                    name: "Account",
                    data: [28, 40, 36, 52, 38, 60, 55]
                }],
                xaxis: {
                    labels: {
                        show: !1
                    },
                    axisBorder: {
                        show: !1
                    }
                },
                yaxis: [{
                    y: 0,
                    offsetX: 0,
                    offsetY: 0,
                    padding: {
                        left: 0,
                        right: 0
                    }
                }],
                tooltip: {
                    x: {
                        show: !1
                    }
                }
            };
            new ApexCharts(document.querySelector("#expiredPlanChart2"), e).render()
        }

        if ($("#sessionChart").length) {
            e = {
                series: [{
                    name: "Free Plan",
                    data: [600, 800, 400, 2e3, 500, 900, 2500, 1800, 3800],
                    colors: ["#754ffe"]
                }, {
                    name: "Single Plan",
                    data: [400, 1000, 500, 1200, 300, 600, 1200, 2e3, 1e1]
                }, {
                    name: "Family Plan",
                    data: [1e3, 1e3, 800, 1200, 300, 1900, 1600, 2e3, 1e3]
                }, {
                    name: "Village Plan",
                    data: [2200, 1e3, 3400, 900, 500, 2500, 3e3, 1e3, 2500]
                }],
                chart: {
                    toolbar: {
                        show: !1
                    },
                    height: 320,
                    type: "line",
                    zoom: {
                        enabled: !1
                    }
                },
                dataLabels: {
                    enabled: !1
                },
                stroke: {
                    width: [3, 3, 3, 3],
                    curve: "smooth",
                    dashArray: [0, 0, 0, 0]
                },
                // legend: {
                //     show: !1
                // },
                colors: ["#754ffe", "#19cb98", "#ffaa46", "#ff0a46"],
                markers: {
                    size: 0,
                    hover: {
                        sizeOffset: 6
                    }
                },
                xaxis: {
                    categories: ["01 Jan", "02 Jan", "03 Jan", "04 Jan", "05 Jan", "06 Jan", "07 Jan", "08 Jan", "09 Jan", "10 Jan", "11 Jan", "12 Jan"],
                    labels: {
                        style: {
                            colors: ["#5c5776"],
                            fontSize: "12px",
                            fontFamily: "Inter",
                            cssClass: "apexcharts-xaxis-label"
                        }
                    }
                },
                yaxis: {
                    labels: {
                        style: {
                            colors: ["#5c5776"],
                            fontSize: "12px",
                            fontFamily: "Inter",
                            cssClass: "apexcharts-xaxis-label"
                        },
                        offsetX: -12,
                        offsetY: 0
                    }
                },
                tooltip: {
                    y: [{
                        title: {
                            formatter: function (e) {
                                return e
                            }
                        }
                    }, {
                        title: {
                            formatter: function (e) {
                                return e
                            }
                        }
                    }, {
                        title: {
                            formatter: function (e) {
                                return e
                            }
                        }
                    }, {
                        title: {
                            formatter: function (e) {
                                return e
                            }
                        }
                    }]
                },
                grid: {
                    borderColor: "#f1f1f1"
                }
            };
            new ApexCharts(document.querySelector("#sessionChart"), e).render()
        }
    </script>

    @RenderSection("dashboardscripts", required: false)
    @RenderSection("Scripts", required: false)
    @Html.Raw(ViewBag.openPopup)

</body>

</html>