﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using System.Web.Optimization;
@using yudooappAdmin.Infrastructure;

@{
    /**/

    var curController = Convert.ToString(ViewContext.RouteData.Values["Controller"]);
    var curAction = Convert.ToString(ViewContext.RouteData.Values["Action"]);
}

<!-- Sidebar -->
<aside>
    <div class="navbar-vertical">
        <div class="navbar-brand-wrapper">
            <a href="" class="navbar-brand">
                <img src="~/assets/images/395005.png" style="width: 203px;height: 49px;" />
            </a>
        </div>

        <div class="navbar-vertical-content" data-simplebar>
            @if (ProjectSession.AdminTypeId == 1)
            {
                <ul class="navbar-vertical-nav">

                    <li class="navbar-vertical-item" id="liAdminTypes">
                        <a href="@Url.Action("Index", "AdminTypes")" id="mnAdminTypes" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-user"></i></div>
                            Admin Types
                        </a>
                    </li>

                    <li class="navbar-vertical-item" id="liHome">
                        <a href="@Url.Action("Index", "Home")" id="mnHome" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-dashboard"></i></div>
                            Dashboard
                        </a>
                    </li>
                    <li class="navbar-vertical-item" id="liCustomer">
                        <a href="@Url.Action("Index", "Customer")" id="mnCustomer" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-user-outlined"></i></div>
                            Customer
                        </a>
                    </li>
                    <li class="navbar-vertical-item">
                        <a href="@Url.Action("Index", "Offer")" id="mnOffer" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-security"></i></div>
                            Offers
                        </a>
                    </li>
                    <li class="navbar-vertical-item">
                        <a href="@Url.Action("Index", "AmountBifurcation")" id="mnAmountBifurcation" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-appointment"></i></div>
                            Amount Bifurcation
                        </a>
                    </li>

                    <li class="navbar-vertical-item">
                        <a href="@Url.Action("Index", "Orders")" id="mnOrdersIndex" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-shopping-basket-outlined"></i></div>
                            Orders
                        </a>
                    </li>
                    <li class="navbar-vertical-item">
                        <a href="@Url.Action("Index", "ShopApproval")" id="mnShopApproval" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-appointment"></i></div>
                            Shop Approval
                        </a>
                    </li>
                    <li class="navbar-vertical-item">
                        <a href="@Url.Action("Index", "ShopOnboardDetail")" id="mnShopOnboardDetail" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-devices-1"></i></div>
                            Shop Onboard Detail
                        </a>
                    </li>
                    <li class="navbar-vertical-item">
                        <a href="@Url.Action("Index", "VideoCalls")" id="mnVideoCalls" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-support"></i></div>
                            Video Calls
                        </a>
                    </li>
                    <li class="navbar-vertical-item">
                        <a href="@Url.Action("Index", "Shop")" id="mnShop" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-shop"></i></div>
                            Shops
                        </a>
                    </li>
                    <li class="navbar-vertical-item">
                        <a href="@Url.Action("Index", "ShopOverview")" id="mnShopOverview" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-shopping"></i></div>
                            Shop Overview
                        </a>
                    </li>
                    <li class="navbar-vertical-item">
                        <a href="@Url.Action("Index", "Banner")" id="mnBanner" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-podcast"></i></div>
                            Banner
                        </a>
                    </li>
                    @*<li class="navbar-vertical-item">
                        <a href="@Url.Action("Index", "Request_CallBack_Admin")" id="mnRequestCallBackAdmin" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-call"></i></div>
                            Request CallBack
                        </a>
                    </li>*@

                    @*       <li class="navbar-vertical-item">
                    <a href="@Url.Action("OrderDetails", "Orders")" id="mnOrdersOrderDetails" class="navbar-vertical-link">
                        <div class="navbar-vertical-icon"><i class="tio-receipt-outlined"></i></div>
                        Orders Details
                    </a>
                </li>
                    *@

                    @* <li class="navbar-vertical-item">
                    <a href="@Url.Action("Index","Pages")" id="mnPages" class="navbar-vertical-link">
                        <div class="navbar-vertical-icon"><i class="tio-route"></i></div>
                        Pages
                    </a>
                </li>*@
                    <li>
                        <small class="nav-subtitle"> Master Data</small>
                    </li>
                    <li class="navbar-vertical-item">
                        <a href="@Url.Action("Index", "CuratedList")" id="mnCuCuratedList" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-table"></i></div>
                            Curated List
                        </a>
                    </li>
                    <li class="navbar-vertical-item">
                        <a href="@Url.Action("Index", "CustomerCategoryOrder")" id="mnCustomerCategoryOrder" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-union"></i></div>
                            Customer Category Order
                        </a>
                    </li>
                    <li class="navbar-vertical-item">
                        <a href="@Url.Action("Index", "CustomerMaster")" id="mnCustomerMaster" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-users-switch"></i></div>
                            Customer Master
                        </a>
                    </li>
                    <li class="navbar-vertical-item">
                        <a href="@Url.Action("Index", "ShopkeeperSupport")" id="mnShopkeeperSupport" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-poi-user"></i></div>
                            Shopkeeper Support
                        </a>
                    </li>
                    <li class="navbar-vertical-item">
                        <a href="@Url.Action("Index", "ShopkeeperMaster")" id="mnShopkeeperMaster" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-sharpness"></i></div>
                            Shopkeeper Master
                        </a>
                    </li>
                    <li class="navbar-vertical-item">
                        <a href="@Url.Action("Index", "AdminUsers")" id="mnAdminUsers" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-user"></i></div>
                            Admin Users
                        </a>
                    </li>
                    <li class="navbar-vertical-item">
                        <a href="@Url.Action("Index", "SendNotification")" id="mnSendNotification" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-notifications"></i></div>
                            Send Notification Zone
                        </a>
                    </li>

                    <li class="navbar-vertical-item">
                        <a href="@Url.Action("Index", "MasterData")" id="mnMasterData" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-back-ui"></i></div>
                            Back-end Master
                        </a>
                    </li>

                    <li class="navbar-vertical-item">
                        <a href="@Url.Action("Index", "Download")" id="mnDownload" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-download"></i></div>
                            Downloads
                        </a>
                    </li>
                </ul>
            }
            @if (ProjectSession.AdminTypeId > 1)
            {
                <ul class="navbar-vertical-nav">
                    <li class="navbar-vertical-item" id="liHome">
                        <a href="@Url.Action("Index", "Home")" id="mnHome" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-dashboard"></i></div>
                            Dashboard
                        </a>
                    </li>
                    <li class="navbar-vertical-item" id="liCustomer">
                        <a href="@Url.Action("Index", "Customer")" id="mnCustomer" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-user-outlined"></i></div>
                            Customer
                        </a>
                    </li>

                    <li class="navbar-vertical-item">
                        <a href="@Url.Action("Index", "Orders")" id="mnOrdersIndex" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-shopping-basket-outlined"></i></div>
                            Orders
                        </a>
                    </li>
                    <li class="navbar-vertical-item">
                        <a href="@Url.Action("OrderDetails", "Orders")" id="mnOrdersOrderDetails" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-receipt-outlined"></i></div>
                            Orders Details
                        </a>
                    </li>
                    <li class="navbar-vertical-item">
                        <a href="@Url.Action("Index", "Shop")" id="mnShop" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-shop"></i></div>
                            Shops
                        </a>
                    </li>
                    <li class="navbar-vertical-item">
                        <a href="@Url.Action("Index", "ShopOverview")" id="mnShopOverview" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-shopping"></i></div>
                            Shop Overview
                        </a>
                    </li>
                    <li class="navbar-vertical-item">
                        <a href="@Url.Action("Index", "ShopOnboardDetail")" id="mnShopOnboardDetail" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-devices-1"></i></div>
                            Shop Onboard Detail
                        </a>
                    </li>
                    <li class="navbar-vertical-item">
                        <a href="@Url.Action("Index", "VideoCalls")" id="mnVideoCalls" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-support"></i></div>
                            Video Calls
                        </a>
                    </li>

                </ul>
            }
            @* <li class="navbar-vertical-item">
            <a href="@Url.Action("Index","AdminTypes")" id="mnAdminTypes" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="tio-table"></i></div>
                Admin Types
            </a>
        </li>
            *@
            @* <li class="navbar-vertical-item">
            <a href="./sos-type.html" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="tio-hot"></i></div>
                Onboarding & Shop Details
            </a>
        </li>

        <li class="navbar-vertical-item">
            <a href="./role-manager.html" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="tio-category-outlined"></i></div>
                Shop Approval
            </a>
        </li>


        <li class="navbar-vertical-item">
            <a href="@Url.Action("Index","Home")" id="mnHome" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="tio-dashboard-vs-outlined"></i></div>
                Dashboard
            </a>
        </li>
        <li class="navbar-vertical-item">
            <a href="@Url.Action("Index","Customer")" id="mnCustomer" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="tio-user-outlined"></i></div>
                Customer
            </a>
        </li>
        <li class="navbar-vertical-item">
            <a href="@Url.Action("Index","Shop")" id="mnShop" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="tio-shop"></i></div>
                Shops
            </a>
        </li>
        <li class="navbar-vertical-item">
            <a href="@Url.Action("Index","ShopOverview")" id="mnShopOverview" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="tio-shopping"></i></div>
                Shop Overview
            </a>
        </li>
        <li class="navbar-vertical-item">
            <a href="@Url.Action("Index","ShopOnboardDetail")" id="mnShopOnboardDetail" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="tio-devices-1"></i></div>
                Shop Onboard Details
            </a>
        </li>
        <li class="navbar-vertical-item">
            <a href="@Url.Action("Index","ShopApproval")" id="mnShopApproval" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="tio-appointment"></i></div>
                Shop Approval
            </a>
        </li>
        <li class="navbar-vertical-item">
            <a href="@Url.Action("Index","Banner")" id="mnBanner" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="tio-podcast"></i></div>
                Banner
            </a>
        </li>
        <li class="navbar-vertical-item">
            <a href="@Url.Action("Index","Offer")" id="mnOffer" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="tio-security"></i></div>
                Offers
            </a>
        </li>
        <li class="navbar-vertical-item">
            <a href="@Url.Action("Index","Orders")" id="mnOrdersIndex" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="tio-shopping-basket-outlined"></i></div>
                Orders
            </a>
        </li>
        <li class="navbar-vertical-item">
            <a href="@Url.Action("OrderDetails","Orders")" id="mnOrdersOrderDetails" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="tio-receipt-outlined"></i></div>
                Order Details
            </a>
        </li>
        <li class="navbar-vertical-item">
            <a href="@Url.Action("Index","VideoCalls")" id="mnVideoCalls" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="tio-support"></i></div>
                Video Calls
            </a>
        </li>
        <li class="navbar-vertical-item">
            <a href="@Url.Action("Index","Pages")" id="mnPages" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="tio-route"></i></div>
                Pages
            </a>
        </li>
        <li class="navbar-vertical-item">
            <a href="@Url.Action("Index","Download")" id="mnDownload" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="tio-route"></i></div>
                Download
            </a>
        </li>
        <li class="navbar-vertical-item">
            <a href="@Url.Action("Index","AdminUsers")" id="mnAdminUsers" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="tio-route"></i></div>
                Listing Page
            </a>
        </li>
        <li class="navbar-vertical-item">
            <a href="@Url.Action("Index","SendNotification")" id="mnSendNotification" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="tio-route"></i></div>
                Send NotificationZone
            </a>
        </li>
        <li>
            <small class="nav-subtitle"> Master Data</small>
        </li>
        <li class="navbar-vertical-item">
            <a href="@Url.Action("Index","ShopkeeperSupport")" id="mnShopkeeperSupport" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="tio-poi-user"></i></div>
                Shopkeeper Support
            </a>
        </li>
        <li class="navbar-vertical-item">
            <a href="@Url.Action("Index","ShopkeeperMaster")" id="mnShopkeeperMaster" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="tio-sharpness"></i></div>
                Shopkeeper Master
            </a>
        </li>
        <li class="navbar-vertical-item">
            <a href="@Url.Action("Index","CustomerCategoryOrder")" id="mnCustomerCategoryOrder" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="tio-union"></i></div>
                Customer Category Order
            </a>
        </li>
        <li class="navbar-vertical-item">
            <a href="@Url.Action("Index","CuratedList")" id="mnCuCuratedList" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="tio-table"></i></div>
                CuratedList
            </a>
        </li>
        <li class="navbar-vertical-item">
            <a href="@Url.Action("Index","MasterData")" id="mnMasterData" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="tio-back-ui"></i></div>
                Back-end Master
            </a>
        </li>
        <li class="navbar-vertical-item">
            <a href="@Url.Action("Index","CustomerMaster")" id="mnCustomerMaster" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="tio-users-switch"></i></div>
                Customer Master
            </a>
        </li>*@


        </div>
    </div>
</aside>
  @section Scripts{
      <script>
          $(document).ready(function () {
              document.getElementById("liCustomer").children[0].style.display = "none"
              $('#liCustomer').css('display', 'none');
              document.getElementById("ulMenu").children[1].style.display = "none"
          });
      </script>
  }