﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Request CallBack";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="content container-fluid">


    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Request CallBack</li>
                </ol>
            </nav>
        </div>
    </div>

    <h3 class="fw-bold">Request CallBack</h3>
    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    
                    <div class="table-responsive" id="divtablePage">
                        <table class="table border rounded w-100" id="tablePage"></table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


    @section Scripts{
        <script>
        $(document).ready(function () {
            RequestCallBackAdminDataTable.init();

        });


        //Orders DataTable Bind
        var RequestCallBackAdminDataTable = function () {
            let initTable1 = function () {
                let table = $('#tablePage');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.Request_CallBack_Admin, Controllers.Request_CallBack_Admin)',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                    "columns": [
                    {
                        "title": "Shop Name", "data": "ShopName",
                        "render": function (data, type, row) {
                            let htmlData = "";

                            htmlData = `<p class="mb-0">${row["ShopName"] == "" || row["ShopName"] == null ? "-" : row["ShopName"]}</p>`;

                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "No Answer Count", "data": "NoAnswerCount",
                        "render": function (data, type, row) {
                            let htmlData = "";

                            htmlData = `<b class="mb-0">${row["NoAnswerCount"] == "" || row["NoAnswerCount"] == null ? "-" : row["NoAnswerCount"]}</b>`;

                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    //{
                    //    "title": "Shop Id", "data": "ShopId",
                    //    "render": function (data, type, row) {
                    //        let htmlData = "";

                    //        htmlData = `<p class="mb-0">${row["ShopId"] == "" || row["ShopId"] == null ? "-" : row["ShopId"]}</p>`;

                    //        return htmlData;
                    //    }
                    //    , "orderable": false, "width": "10%"
                    //},

               ],
                // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                    ],
                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,
                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500] // change per page values here
                    ],
                    // set the initial value
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#tablePage")) {
                        $('#tablePage').dataTable().fnDestroy();
                        $('#divtablePage').html('<table class="table border rounded w-100" id="tablePage"></table>');
                    }
                    initTable1();
                }
            };
            }();

            function BuildSearchCriteria() {
                try {
                    var param = {};

                    return addRequestVerificationToken(param);
                } catch (e) { }
            }

            function addRequestVerificationToken(data) {
                data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
                return data;
            }

            
        </script>
    }
