﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Customer";
}

<div class="content container-fluid">
    @Html.AntiForgeryToken()
    <div class="row mb-4">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Customer </li>
                </ol>
            </nav>
            <h3 class="fw-bold">Customer</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="row justify-content-start align-items-end">
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <div class="form-group mb-0">
                        <label for="emailAddress">Customer Phone Number</label>
                        <input type="number" class="form-control" placeholder="Enter customer phone number" id="txtCustomerPhoneNumber">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <div class="form-group mb-0">
                        <label for="emailAddress">Order Id</label>
                        <input type="text" class="form-control" placeholder="Enter order id" id="txtOrderID">
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <button role="button" class="btn btn-primary btn-wide" id="SearchButton" onclick="SearchCustomerOverviewData();"><i class="tio-search"></i> Search</button>
                    <button style="display:none;" class="btn btn-primary loading btn-wide" type="button" id="SearchLoading" disabled="">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Searching...
                    </button>
                    <button role="button" class="btn btn-outline-secondary m-1" onclick="SearchReset();">Reset</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4 mt-3">
        <div class="card-header">
            <h6 class="mb-0">Basic Details</h6>
        </div>
        <div class="card-body">
            <div class="row row-cols-xl-5 row-cols-sm-5 row-cols-1 fs-14">
                <div class="col">
                    <p class="text-muted mb-0">Customer Name</p>
                    <div class="fw-semibold" id="lblCustomerName">{Customer Name}</div>
                </div>
                <div class="col">
                    <p class="text-muted mb-0">Customer Phone Number</p>
                    <div class="fw-semibold" id="lblCustomerPhoneNumber">{Customer Phone Number}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4 mt-3">
        <div class="card-header">
            <h6 class="mb-0">Overview</h6>
        </div>
        <div class="card-body pt-0 pb-0">
            <div class="row fs-14">

                <div class="col-lg-12 p-0 border-b-1">
                    <div class="row m-0">
                        <div class="col-lg-6 border-r-1">
                            <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                <p class="text-muted mb-0">Total Successful Orders</p>
                                <div class="fw-semibold" id="TotalSuccessfulOrders">0</div>
                            </div>
                            <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                <p class="text-muted mb-0">Total Value of Successful Orders</p>
                                <div class="fw-semibold" id="TotalValueofSuccessfulOrders">0</div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-2">
                            <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                <p class="text-muted mb-0">Returned Orders %</p>
                                <div class="fw-semibold" id="ReturnedOrders">0</div>
                            </div>
                            <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                <p class="text-muted mb-0">No of Returned Orders</p>
                                <div class="fw-semibold" id="NoofReturnedOrders">0</div>
                            </div>
                            <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between mt-3">
                                <p class="text-muted mb-0">Cancelled Orders %</p>
                                <div class="fw-semibold" id="CancelledOrders">0</div>
                            </div>
                            @*<div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                <p class="text-muted mb-0">Abandened Orders %</p>
                                <div class="fw-semibold" id="AbandenedOrders">0</div>
                            </div>*@
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 p-0">
                    <div class="row m-0">
                        <div class="col-lg-6 border-r-1">
                            <div class="col-lg-12 p-0 mt-2 mb-0 d-flex align-items-center justify-content-between">
                                <p class="text-muted mb-0">Shop Rating given by Customer</p>
                                <div class="fw-semibold" id="ShopRatinggivenbyCustomer">0</div>
                            </div>
                            <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                <p class="text-muted mb-0">Rating given to Customer</p>
                                <div class="fw-semibold" id="RatinggiventoCustomer">0</div>
                            </div>
                        </div>
                        <div class="col-lg-6 mt-2">
                            <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                <p class="text-muted mb-0">No of Purchase/ No of Visit %</p>
                                <div class="fw-semibold" id="NoofVisitRatio">0</div>
                            </div>
                            <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                <p class="text-muted mb-0">Avarge duration per purchase</p>
                                <div class="fw-semibold" id="TotalVideoMinuteRatio">0</div>
                            </div>
                            <div class="col-lg-12 p-0 mb-0 d-flex align-items-center justify-content-between">
                                <p class="text-muted mb-0">No of Unique Shops Visited</p>
                                <div class="fw-semibold" id="NoOfShopsTried">0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="row">
        <div class="col-12 text-center mb-2">
            <h3 class="fw-bold">Overview</h3>
        </div>
        <div class="col-xxl-3 col-lg-4 col-md-6 col-12 mb-4">
            <div class="card h-100">
                <div class="card-body py-5">
                    <h3 class="fw-bold" id="TotalSuccessfulOrders">0</h3>
                    <p class="fw-medium text-uppercase text-muted fs-12">Total Successful Orders</p>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-lg-4 col-md-6 col-12 mb-4">
            <div class="card h-100">
                <div class="card-body py-5">
                    <h3 class="fw-bold" id="TotalValueofSuccessfulOrders">0</h3>
                    <p class="fw-medium text-uppercase text-muted fs-12">Total Value of Successful Orders</p>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-lg-4 col-md-6 col-12 mb-4">
            <div class="card h-100">
                <div class="card-body py-5">
                    <h3 class="fw-bold" id="ShopRatinggivenbyCustomer">0</h3>
                    <p class="fw-medium text-uppercase text-muted fs-12">Shop Rating given by Customer</p>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-lg-4 col-md-6 col-12 mb-4">
            <div class="card h-100">
                <div class="card-body py-5">
                    <h3 class="fw-bold" id="RatinggiventoCustomer">0</h3>
                    <p class="fw-medium text-uppercase text-muted fs-12">Rating given to Customer</p>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-lg-4 col-md-6 col-12 mb-4">
            <div class="card h-100">
                <div class="card-body py-5">
                    <h3 class="fw-bold" id="ReturnedOrders">0</h3>
                    <p class="fw-medium text-uppercase text-muted fs-12">Returned Orders %</p>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-lg-4 col-md-6 col-12 mb-4">
            <div class="card h-100">
                <div class="card-body py-5">
                    <h3 class="fw-bold" id="NoofReturnedOrders">0</h3>
                    <p class="fw-medium text-uppercase text-muted fs-12">No of Returned Orders</p>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-lg-4 col-md-6 col-12 mb-4">
            <div class="card h-100">
                <div class="card-body py-5">
                    <h3 class="fw-bold" id="NoofVisitRatio">0</h3>
                    <p class="fw-medium text-uppercase text-muted fs-12">No of Purchase/ No of Visit Ratio</p>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-lg-4 col-md-6 col-12 mb-4">
            <div class="card h-100">
                <div class="card-body py-5">
                    <h3 class="fw-bold" id="TotalVideoMinuteRatio">0</h3>
                    <p class="fw-medium text-uppercase text-muted fs-12">No of Purchase/Total Video Minute Ratio</p>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-lg-4 col-md-6 col-12 mb-4">
            <div class="card h-100">
                <div class="card-body py-5">
                    <h3 class="fw-bold" id="CancelledOrders">0</h3>
                    <p class="fw-medium text-uppercase text-muted fs-12">Cancelled Orders %</p>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-lg-4 col-md-6 col-12 mb-4">
            <div class="card h-100">
                <div class="card-body py-5">
                    <h3 class="fw-bold" id="AbandenedOrders">0</h3>
                    <p class="fw-medium text-uppercase text-muted fs-12">Abandened Orders %</p>
                </div>
            </div>
        </div><div class="col-xxl-3 col-lg-4 col-md-6 col-12 mb-4">
            <div class="card h-100">
                <div class="card-body py-5">
                    <h3 class="fw-bold" id="NoOfShopsTried">0</h3>
                    <p class="fw-medium text-uppercase text-muted fs-12">No of Shops Tried</p>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-lg-4 col-md-6 col-12 mb-4">
            <div class="card h-100">
                <div class="card-body py-5">
                    <h3 class="fw-bold">0</h3>
                    <p class="fw-medium text-uppercase text-muted fs-12">-</p>
                </div>
            </div>
        </div>
    </div>*@

    <div class="content container-fluid">
        <div class="row align-items-center justify-content-between mb-4">
            <div class="col-auto">
                <h3 class="fw-bold">Customer Orders</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card table-responsive">
                    <div class="card-body">
                        @*<table id="transitionDetailsTable" class="table border rounded w-100">
                                <thead>
                                    <tr>
                                        <th>Order ID</th>
                                        <th>Item Name </th>
                                        <th>Date of Order</th>
                                        <th>Order Status</th>
                                        <th>Payment Status</th>
                                        <th>Shop ID</th>
                                        <th>Shop Name</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>*@
                        <div class="col-12 mb-3">
                            <div class="table-responsive">
                                <div class="portlet-body table-responsive" id="divOrderTable">
                                    <table class="table text-black w-100" id="OrderTable"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        $(document).ready(function () {
            $("#txtCustomerPhoneNumber").val("");
            $("#txtOrderID").val("");
            OrderDataTable.init();
        });


        var mobileNumber = 0;

        function SearchCustomerOverviewData() {
            $('#SearchButton').hide();
            $('#SearchLoading').show();

           $.ajax({
                type: "POST",
                url: '@Url.Action("Customer_Overview","Customer")',
                data: ({
                    CustomerPhoneNumber: $("#txtCustomerPhoneNumber").val(),
                    OrderID: $("#txtOrderID").val(),
                }),
                dataType: 'json',
                success: function (response) {

                    if (response.Code == 200) {
                        if (response.Item != null) {
                            $("#lblCustomerName").text(response.Item.CustomerName);
                            $("#lblCustomerPhoneNumber").text(response.Item.CustomerMobileNumber);
                            $("#TotalSuccessfulOrders").text(response.Item.TotalSuccessfulOrders);
                            $("#TotalValueofSuccessfulOrders").text(response.Item.TotalValueOfSuccessfulOrders);
                            $("#ShopRatinggivenbyCustomer").text(response.Item.ShopRatingGivenByCustomer);
                            //$("#RatinggiventoCustomer").text(response.Item.RatingGivenToCustomer);
                            $("#RatinggiventoCustomer").text("-");
                            $("#ReturnedOrders").text(response.Item.ReturnedOrdersInPer);
                            $("#NoofReturnedOrders").text(response.Item.ReturnedOrdersCount);
                            $("#NoofVisitRatio").text(response.Item.NoOfVisitRatio);
                            $("#TotalVideoMinuteRatio").text(response.Item.TotalVideoMinuteRatio.toFixed(2));
                            $("#CancelledOrders").text(response.Item.CanceledOrdersCount);
                            //$("#AbandenedOrders").text(response.Item.AbandenedOrdersCount);
                            $("#NoOfShopsTried").text(response.Item.NoOfShopsTried);
                            mobileNumber = response.Item.CustomerMobileNumber;
                            OrderDataTable.init();
                            toastr["success"](response.Message);
                            $('#SearchButton').show();
                            $('#SearchLoading').hide();                                                            
                        } else {
                            toastr["error"]("No record found");
                            $('#SearchButton').show();
                            $('#SearchLoading').hide()
                        }
                    } else {
                        toastr["error"](response.Message);
                        $('#SearchButton').show();
                        $('#SearchLoading').hide()
                    }


                },
                error: function (error) {
                    toastr["error"]("Something went wrong");
                    $('#SearchButton').show();
                    $('#SearchLoading').hide();
                }
            });
        }

        function SearchReset() {
            $("#txtCustomerPhoneNumber").val("");
            $("#txtOrderID").val("");
            window.location.reload();
        }

        @*var OrderDataTable = function () {
            let initTable1 = function () {
                let table = $('#OrderTable');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    "searching": false,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from MAX total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.Customer_Orders, Controllers.Customer)', //"Customer_Orders", "Customer"
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                    "columns": [
                        {
                            "title": "Order Id.", "data": "OrderId",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                //htmlData = `${row["OrderId"]}`;
                                htmlData = `<a href="@Url.Action("OrderDetails", Controllers.Orders)?orderId=${row["OrderId"]}">${row["OrderId"]}</a> `;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },

                        {
                            "title": "Item Name", "data": "ItemName",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = row["ItemName"] == null || row["ItemName"] == "" ? `-` : `${row["ItemName"]}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Date Of Order", "data": "DateOfOrder",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = row["DateOfOrder"] == null || row["DateOfOrder"] == "" ? `-` : `${row["DateOfOrder"]}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Order Status", "data": "OrderStatus",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = row["OrderStatus"] == null || row["OrderStatus"] == "" ? `-` : `${row["OrderStatus"]}`;
                                return htmlData;
                            }
                        , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Payment Status", "data": "PaymentStatus",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = row["PaymentStatus"] == null || row["PaymentStatus"] == "" ? `-`: `${row["PaymentStatus"]}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Shop Id", "data": "ShopId",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                //htmlData = `${row["ShopId"]}`;
                                if (row["ShopId"] != 0) {
                                    htmlData = `<a href="/ShopOverview/Index/${row["ShopId"]}">${row["ShopId"]}</a> `;
                                } else {
                                    htmlData = `-`;
                                }
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Shop Name", "data": "ShopName",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = row["ShopName"] == null || row["ShopName"] == "" ? `-` : `${row["ShopName"]}`;
                                return htmlData;
                            }
                        , "orderable": false, "width": "3%"
                        }

                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    "buttons": [
                        {
                            "extend": 'csv',
                            className: 'them-btn btn-info tbtn1',
                            "action": newexportaction
                        },
                    ],

                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500]
                    ],

                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                 });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#OrderTable")) {
                        $('#OrderTable').dataTable().fnDestroy();
                        $('#divOrderTable').html('<table class="table table-striped" width="100%" id="OrderTable"></table>');
                    }
                    initTable1();
                }
            };
        }();*@


        var OrderDataTable = function () {
            let initTable1 = function () {
                let table = $('#OrderTable');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    "searching": false,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from MAX total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,

                    "ajax": {
                        async: true,
                        url: '@Url.Action("UserOrderItems_ByMobileNumber", "Customer")',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                    "columns": [
                        {
                            "title": "Order Id", "data": "OrderId",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `<a href="@Url.Action("OrderDetails", Controllers.Orders)?orderId=${row["OrderId"]}">${row["OrderId"]}</a>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "1%"
                        },
                        {
                            "title": "Product Id", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["Id"]}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "1%"
                        },
                        {
                            "title": "Item Name", "data": "ItemName",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["ItemName"]}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "1%"
                        },
                        {
                            "title": "Quantity", "data": "Qty",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["Qty"]}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "1%"
                        },
                        {
                            "title": "Price", "data": "Price",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["Price"]}`;
                                return htmlData;
                            }
                        , "orderable": false, "width": "1%"
                        },
                        {
                            "title": "Total Price", "data": "Price",
                            "render": function (data, type, row) {
                                var PriceQtyCount = row["Price"] * row["Qty"];
                                let htmlData = "";
                                htmlData = PriceQtyCount;
                                return htmlData;
                            }
                        , "orderable": false, "width": "1%"
                        },
                        {
                            "title": "Product Image", "data": "ProductImage",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["ProductImage"] == null || row["ProductImage"] == "" ? '-' : `<img src="${row["ProductImageStr"]}" alt="Image " width="60" height="60">`}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "1%"
                        },
                        {
                            "title": "Product Status", "data": "StatusName",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["StatusName"] == null || row["StatusName"] == "" ? '-' : row["StatusName"]}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "1%"
                        },
                        {
                            "title": "Shop Id", "data": "ShopId",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `<a href="@Url.Action("Index", Controllers.ShopOverview)/${row["ShopId"]}">${row["ShopId"]}</a>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "1%"
                        },
                        {
                            "title": "Shop Name", "data": "ShopName",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["ShopName"] == null || row["ShopName"] == "" ? '-' : row["ShopName"]}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "1%"
                        },
                        {
                            "title": "Payment Status", "data": "PaymentStatus",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["PaymentStatus"] == null || row["PaymentStatus"] == "" ? '<span>-</span>' : `<div class="badge badge-soft-info" style="cursor:pointer;">${row["PaymentStatus"]}</div>`}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "1%"
                        },
                        {
                            "title": "Order Date & Time", "data": "CreatedDateStr",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["OrderDateAndTimeStr"] == null || row["OrderDateAndTimeStr"] == "" ? '-' : row["OrderDateAndTimeStr"]}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "5%"
                        },
                        {
                            "title": "Product Status", "data": "StatusName",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["StatusName"] == null || row["StatusName"] == "" ? '-' : row["StatusName"]}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "1%"
                        },
                        //{
                        //    "title": "Action", "data": "ItemStatusId",
                        //    "render": function (data, type, row) {
                        //        let htmlData = "";
                        //        let ids = "";
                        //        ids = `${row["Id"]}`;
                        //        if (row["ItemStatusId"] != 15 && row["ItemStatusId"] != 16 ) {
                        //            htmlData += '<div class="badge badge-soft-info" style="cursor:pointer;">NA</div>';
                        //        }
                        //        if (row["ItemStatusId"] == 15) {
                        //            htmlData += '<button onclick="Approve(' + ids + ',16,' + ids + ');" class="badge badge-soft-info">Accept </button>&nbsp&nbsp';

                        //            htmlData += '<button onclick="Reject(' + ids + ',20,' + ids + ');" class="badge badge-soft-danger">Reject</button>';
                        //        }
                        //        if (row["ItemStatusId"] == 16) {
                        //            htmlData += '<button onclick="GiveRefund(' + ids + ',19,' + ids + ');" class="badge badge-soft-info">Give Refund </button>&nbsp&nbsp';
                        //            if (row["ItemStatusId"] == 19) {
                        //                htmlData += '<div class="badge badge-soft-info" style="cursor:pointer;">NA</div>';
                        //            }
                        //        }
                        //        return htmlData;
                        //    }
                        //    , "orderable": false, "width": "3%"
                        //}
                    ],

                    "buttons": [
                        {
                            "extend": 'csv',
                            className: 'them-btn btn-info tbtn1',
                            "action": newexportaction
                        },
                    ],
                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500]
                    ],

                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                 });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#OrderTable")) {
                        $('#OrderTable').dataTable().fnDestroy();
                        $('#divOrderTable').html('<table class="table border table-striped" width="100%" id="OrderTable"></table>');
                    }
                    initTable1();
                }
            };
        }();
        //Data fillter function
        function BuildSearchCriteria() {
            try {
                var param = {};
                param["MobileNumber"] = parseInt(mobileNumber);
                param["OrderId"] = $("#txtOrderID").val();
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

    </script>

}
