﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Shop";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<style>
    .select2-container {
        width: 100% !important;
    }
</style>

<div class="content container-fluid">


    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Shops </li>
                </ol>
            </nav>
            <h3 class="fw-bold">Shop</h3>
        </div>
    </div>
    <div class="row align-items-end">
        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
            <div class="form-group mb-3">
                <label for="ShopCity">City</label>
                @Html.Raw(Html.DropDownList("ShopCity", (IEnumerable<SelectListItem>)ViewBag.MasterCityDrp, "Select a city", new { @Id = "ShopCity", @class = "form-control" }))
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
            <div class="form-group mb-3">
                <label for="planName">Primary Category</label>
                @Html.Raw(Html.DropDownList("PrimaryCategory", (IEnumerable<SelectListItem>)ViewBag.Category, "Select a Primary Category", new { @Id = "PrimaryCategory", @class = "form-control" }))
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
            <div class="form-group mb-3">
                <label for="planName">Shop Rating</label>
                <input type="number" class="form-control" id="ShopRating" placeholder="Enter shop rating">
            </div>
        </div>                                          
        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
            <div class="form-group mb-3">
                <label for="planName">Shop OB Status</label>
                @*<input type="text" class="form-control" id="ShopOBStatus" placeholder="Enter shop OB status">*@
                <select class="form-control" id="ShopOBStatus" >
                    <option value="0">Any</option>
                    <option value="1">New - Awaiting approval</option>
                    <option value="2">New - not sent for approval</option>
                    <option value="3">Approved - Awaiting new approval</option>
                    <option value="4">Approved - no pending approvals</option>
                </select>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
            <div class="form-group mb-3">
                <label for="planName">Draft Status</label>
                <select class="form-control" id="DraftStatus">
                    <option value="2">Select Status</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
            <div class="form-group dropdown bootstrap-select mb-3" id="aa">
                <label for="planName">All Category</label>
                @Html.Raw(Html.DropDownList("AllCategory", (IEnumerable<SelectListItem>)ViewBag.Category,  new { @Id = "AllCategory", @multiple = "multiple",@class = "form-control selectpicker multiselect-button"}))
            </div>
        </div>
        <!--<div class="col-xl-9 col-lg-4 col-md-6 col-12">
            <div class="form-group mb-3">
                <label for="planName">All Category</label>-->
                @*@Html.Raw(Html.DropDownList("AllCategory", (IEnumerable<SelectListItem>)ViewBag.SubCategory, "Select a all Category", new { @Id = "AllCategory", @class = "form-control" }))*@
                <!--<select id="AllCategory" class="form-control" multiple required name="AllCategory">
                    @if (ViewBag.SubCategory != null)
                    {
                        foreach (var item in ViewBag.SubCategory)
                        {
                            if (item.Text != null)
                            {
                                <option value="@item.Value">
                                    @item.Text
                                </option>
                            }
                        }
                    }
                </select>
            </div>
        </div>-->


        <div class="col-xl-4 col-lg-4 col-md-6 col-12">
            <div class="form-group mb-3 row m-0">
                <button role="button" class="btn btn-primary c-w-49 saveBtn" onclick="SearchReset(false);"> <i class="tio-search"></i> Search</button>
                <button type="button" class="btn btn-primary c-w-49 loading" disabled style="display:none;float:right;">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Searching...
                </button>
                <button role="button" class="btn btn-outline-secondary w-50 ml-1 closeBtn" onclick="SearchReset(true);">Clear filters</button>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    <div class="table-responsive" id="ShopDataDiv">
                        <table class="table border rounded w-100" id="ShopData"></table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        document.onreadystatechange = function () {
            $(".multiselect-button").attr("data-actions-box", "true")
            $(".multiselect-button").attr("multiple", "")
            $('.select-search').attr('data-live-search', 'true');
            $('ul[class="dropdown-menu inner show"]').attr("id", "dropdownbutton");
            $("#dropdownbutton").prepend(
                "<div class='bs-actionsbox'><div class='btn-group btn-group-sm btn-block'><button type='button' class='actions-btn bs-select-all btn btn-light'>Select All</button><button type='button' class='actions-btn bs-deselect-all btn btn-light'>Deselect All</button></div></div>");
           
        }
        $(document).ready(function () {
            $('ul[class="dropdown-menu inner show"]').attr("id", "dropdownbutton");
            $('#dropdownbutton').css({ 'max-height': '160px' });
            $('#dropdownbutton').css({ 'overflow:': 'auto' });
            ShopDataShow.init();
        });
       
       
        function showSearchmodal() {
            $('#ShopAdvanceFillter').modal('show');
        }

        //Orders DataTable Bind
        var ShopDataShow = function () {
            let initTable1 = function () {
                let table = $('#ShopData');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.ViewAllDataShop, Controllers.Shop)',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                "columns": [
                    {
                        "title": "Shop ID", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a href="/ShopOverview/Index/${row["Id"]}">${row["Id"]}</a> `;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Shop Name", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["ShopName"] == "" || row["ShopName"] == null ? '-' : row["ShopName"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Owner Name", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["ShopOwnerName"] == "" || row["ShopOwnerName"] == null ? '-' : row["ShopOwnerName"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Phone Number", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["MobileNumber"] == "" || row["MobileNumber"] == null ? '-' : `<a href="tel:${row["MobileNumber"]}">${row["MobileNumber"]}</a>`}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "City Name", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["CityName"] == "" || row["CityName"] == null ? '-' : row["CityName"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Primary Category", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["CategoryName"] == "" || row["CategoryName"] == null ? '-' : row["CategoryName"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "All Category", "data": "SubCategoryName",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["SubCategoryName"] == "" || row["SubCategoryName"] == null ? '-' : row["SubCategoryName"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Shop Rating", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            if (row["Rating"] == null || row["Rating"] == "") {
                                htmlData = '<button class="btn btn-primary d-flex align-items-center pl-2 pr-2 m-1 p-0 btn-sm"><i class="tio-star mr-1" style = "color:#fdba2b;" ></i> 0 </button >'
                            } else {
                                htmlData = '<button class="btn btn-primary d-flex align-items-center pl-2 pr-2 m-1 p-0 btn-sm"><i class="tio-star mr-1" style = "color:#fdba2b;" ></i> '+ row["Rating"] + '</button >'
                            }

                           return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "No Of Users", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["NoOfUsers"] == "" || row["NoOfUsers"] == null ? '0' : row["NoOfUsers"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Shop OB Status", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            if (row["IsNew"] == true && row["IsApprovalPending"] == false && row["DraftStatus"] == false) {
                                htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">New - not sent for approval</div>`;
                            }
                            else if (row["IsNew"] == true && row["IsApprovalPending"] == false && row["DraftStatus"] == true) {
                                htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">New - not sent for approval</div>`;
                            }
                            else if (row["IsNew"] == true && row["IsApprovalPending"] == true && row["DraftStatus"] == false) {
                                htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">New - awaiting approval</div>`;
                            }
                            else if (row["IsNew"] == true && row["IsApprovalPending"] == true && row["DraftStatus"] == true) {
                                htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">New - awaiting approval</div>`;
                            }
                            else if (row["IsNew"] == false && row["IsApprovalPending"] == false && row["DraftStatus"] == false) {
                                htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">Approved - no pending approvals</div>`;
                            }
                            else if (row["IsNew"] == false && row["IsApprovalPending"] == false && row["DraftStatus"] == true) {
                                htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">Approved - no pending approvals</div>`;
                            }
                            else if (row["IsNew"] == false && row["IsApprovalPending"] == true && row["DraftStatus"] == true) {
                                htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">Approved - awaiting new approval</div>`;
                            }
                            else if (row["IsNew"] == false && row["IsApprovalPending"] == true && row["DraftStatus"] == false) {
                                htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">Approved - awaiting new approval</div>`;
                            }
                            else {
                                htmlData += '';
                            }
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Draft Status", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            if (row["DraftStatus"] == true) {
                                htmlData = `<p class="mb-0">Yes</p>`;
                            }
                            else {
                                htmlData = `<p class="mb-0">No</p>`;
                            }
                            //htmlData = `<p class="mb-0">${row["DraftStatus"] == "" || row["DraftStatus"] == null ? '-' : row["DraftStatus"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },

                ],
                // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                        {
                            "extend": 'csv',
                            className: 'them-btn btn-info tbtn1',
                            "action": newexportaction
                        },
                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500] // change per page values here
                    ],
                    // set the initial value
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#ShopData")) {
                        $('#ShopData').dataTable().fnDestroy();
                        $('#ShopDataDiv').html('<table class="table border rounded w-100" id="ShopData"></table>');
                    }
                    initTable1();
                }
            };
        }();

        //Data fillter function
        function BuildSearchCriteria() {
            try {
                var param = {};

                param["CityId"] = $("#ShopCity").val();
                param["CategoryId"] = $("#PrimaryCategory").val();
                param["AllCategory"] = $("#AllCategory").val().toString();
                param["ShopRatingsId"] = $("#ShopRating").val();
                param["ShopStatus"] = $("#ShopOBStatus").val();
                param["DraftStatus"] = $("#DraftStatus").val();
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        const SearchReset = (isReset = false) => {
            $(".saveBtn").hide();
            $(".loading").show();
            $(".closeBtn").hide();

            if (isReset == true) {
                $("#ShopCity").val(null);
                $("#PrimaryCategory").val("");
                $('#AllCategory').val(null).trigger('change');
                $("#ShopRating").val("");
                $("#ShopOBStatus").val("0");
                $("#DraftStatus").val("2");
            }


            $('#ShopAdvanceFillter').modal('hide');

            setTimeout(() => {
                $(".closeBtn").show();
                $(".saveBtn").show();
                $(".loading").hide();
                ShopDataShow.init();
            }, 1000);
        }

    </script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        $("#AllCategory").select2({
            placeholder: " Select a multiple category",
            allowClear: true
        });
    </script>*@
}
