﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Shopkeeper Master";
}
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>
<div class="content container-fluid">


    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Shopkeeper Master</li>
                </ol>
            </nav><br />
            <h3 class="fw-bold">Shopkeeper Master</h3>
        </div>
    </div>
    <div class="card table-responsive">
        <div class="card-body">
            <form id="frmShopkeeper" name="frmShopkeeper" method="post">
                <div class="row">
                    <input type="hidden" id="Id" name="Id" />
                    <input type="hidden" id="KeywordSearchRelevancyWeigtage" class="form-control" />
                    <input type="hidden" id="CustomerVCRingingTime" class="form-control" />
                    <input type="hidden" id="VisitSimilarShopsButtonAppearTime" class="form-control" />
                    <input type="hidden" id="RequestCallBackButtonAppearTime" class="form-control" />
                    <input type="hidden" id="HelpPageCallTimingStart" class="form-control" />
                    <input type="hidden" id="HelpPageCallTimingEnd" class="form-control" />
                    <div class="col-3">
                        <h6 for="Callback">Call-back Button : </h6>
                    </div>
                    <div class="col-9">
                        <input type="radio" id="CallbackButton" name="CallBackButton" value="false">
                        <label for="CallbackUnhideButton">Show</label>
                        <input type="radio" id="CallbackButton" name="CallBackButton" value="true">
                        <label for="CallbackhideButton">Hide</label><br>
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-3">
                        <h6 for="VcringTime">Shopkeeper VC Ring Time Seconds :</h6>
                    </div>
                    <div class="col-9">
                        <input type="text" id="VcringTime" name="VcringTime" placeholder="Enter VC Ring Time Seconds">@*<span class="ml-2">Seconds</span>*@
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-3">
                        <h6 for="Deliveryop">Delivery Option : </h6>
                    </div>
                    <div class="col-9">
                        <input type="radio" id="DeliveryOp" name="DeliveryOption" value="false">
                        <label for="ShowDeliveryOp">Show</label>
                        <input type="radio" id="DeliveryOp" name="DeliveryOption" value="true">
                        <label for="HideDeliveryOp">Hide</label>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-3">
                        <h6 for="Deliveryop">Yudoo all shop on / Off : </h6>
                    </div>
                    <div class="col-lg-6 p-0 mb-0 d-flex align-items-start justify-content-between">
                        <label class="switch mb-0">
                            <input type="checkbox" id="ShopOwnerAccessAct" onclick="ShopOwnerAccess(this);" value="Customer App Rating" @*disabled="disabled"*@>
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>

                <div class="col-lg-6 p-0 mb-0 d-flex align-items-start justify-content-right">
                    <input type="submit" value="Save" class="btn btn-primary saveBtn" />
                    <button class="btn btn-primary loading" type="button" disabled style="display:none;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Saving...
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
@section Scripts{
    <script>
    $(document).ready(function () {
        BindShppKeeprData();
        $("#frmShopkeeper").validate({
            rules: {
                VcringTime: "required",
            },
            messages: {
                VcringTime: {
                    required: "VC Ringtime is required",
                },
            },

            errorPlacement: function (error, element) {
                if (element.is(":radio")) {
                    error.appendTo(element.parents(".form-group"));
                } else {
                    // This is the default behavior
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                SaveShppKeeprData();
            }
        });
    });

    function ShopOwnerAccess(Checkbox) {
            debugger;
        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.MasterShopOwnerAccess, Controllers.CustomerMaster)',
            data: { Status: Checkbox.checked },
            success: function (response) {

                toastr["success"]("Shop status change successfull");
            },
            error: function (error) {
                toastr["error"]("Something went wrong")
                console.log('Error', error);
            }
        })
    }

    function BindShppKeeprData()
        {
            //
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetFactorRightData, Controllers.CustomerMaster)',
                data: {Id : 1},
                dataType: 'json',
                async: true,

                success: function (response) {
                    if (response.Code == 200) {

                        $("#ShopOwnerAccessAct").prop("checked", response.Item.IsMasterOnline == 0 ? false : true);
                        $("#Id").val(response.Item.Id);
                        $("#CallBackButton").val($("input[name=CallBackButton][value=" + response.Item.CallBackButton + "]").prop('checked', true));
                        $("#VcringTime").val(response.Item.ShopKeeperVCRingTime);
                        $("#DeliveryOption").val($("input[name=DeliveryOption][value=" + response.Item.DeliveryOption + "]").prop('checked', true));
                        $("#KeywordSearchRelevancyWeigtage").val(response.Item.KeywordSearchRelevancyWeigtage);
                        $("#CustomerVCRingingTime").val(response.Item.CustomerVCRingingTime);
                        $("#VisitSimilarShopsButtonAppearTime").val(response.Item.VisitSimilarShopsButtonAppearTime);
                        $("#RequestCallBackButtonAppearTime").val(response.Item.RequestCallBackButtonAppearTime);
                        $("#HelpPageCallTimingStart").val(response.Item.HelpPageCallTimingStartStr);
                        $("#HelpPageCallTimingEnd").val(response.Item.HelpPageCallTimingEndStr);
                    } else {
                        toastr["error"](response.Message);
                    }
                },
                error: function (error) {
                    toastr["error"]("Something went wrong");
                }
            });
        }

    function SaveShppKeeprData() {
        $(".saveBtn").hide();
        $(".loading").show();

        var formdata = new FormData();

        var callBackbtn = $("input:radio[name=CallBackButton]:checked").val();
        var deliveryOp = $("input:radio[name=DeliveryOption]:checked").val();

        formdata.append("Id", $("#Id").val());
        formdata.append("KeywordSearchRelevancyWeigtage", $("#KeywordSearchRelevancyWeigtage").val());
        formdata.append("CustomerVCRingingTime", $("#CustomerVCRingingTime").val());
        formdata.append("VisitSimilarShopsButtonAppearTime", $("#VisitSimilarShopsButtonAppearTime").val());
        formdata.append("RequestCallBackButtonAppearTime", $("#RequestCallBackButtonAppearTime").val());
        formdata.append("HelpPageCallTimingStart", $("#HelpPageCallTimingStart").val());
        formdata.append("HelpPageCallTimingEnd", $("#HelpPageCallTimingEnd").val());
        formdata.append("CallBackButton", callBackbtn);
        formdata.append("ShopKeeperVCRingTime", $("#VcringTime").val());
        formdata.append("DeliveryOption", deliveryOp);

          $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.SaveFactor, Controllers.CustomerMaster)',
                data: formdata,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {

                    if (response.Code == 200) {
                        toastr["success"](response.Message);
                        $(".saveBtn").show();
                        $(".loading").hide();

                    } else {
                        toastr["error"](response.Message);
                        $(".saveBtn").show();
                        $(".loading").hide();
                    }
                 },
                    error: function (error) {
                        toastr["error"]("Something went wrong");
                        $(".saveBtn").show();
                        $(".loading").hide();
                    }
                });
    }

    </script>
}