﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Customer Category Order";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="content container-fluid">


    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Customer Category Order</li>
                </ol>
            </nav>
        </div>
    </div>

    <h3 class="fw-bold">Customer Category Order</h3>
    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            @*<button role="button" class="btn btn-primary btn-wide m-1" onclick="showSearchmodal();"><i class="tio-filter-outlined"></i> Filter</button>
                                <button role="button" class="btn btn-outline-secondary m-1" onclick="SearchReset(true);">Clear filters</button>*@
                        </div>
                    </div>
                    <div class="table-responsive" id="divtableCategory">
                        <table class="table border rounded w-100" id="tableCategory"></table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            CategoryDataTable.init();
            //OffersDataTable.init();
        });


        //Orders DataTable Bind
        var CategoryDataTable = function () {
            let initTable1 = function () {
                let table = $('#tableCategory');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.GetAllCategory, Controllers.CustomerCategoryOrder)',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                "columns": [
                    {
                        "title": "Category Title", "data": "Name",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["Name"] == "" || row["Name"] == null ? '-' : row["Name"]}</p>`;
                            return htmlData;
                       Url}
                        , "orderable": false, "width": "%"
                    },
                    {
                        "title": "Shift Up", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a title="Shift Up" onclick="UpdateShifting(${row["Id"]},true);" class="btn btn-outline-secondary btn-sm"><span class="fa fa-arrow-up"></span></a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Shift Down", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a title="Shift Down" onclick="UpdateShifting(${row["Id"]},false);" class="btn btn-outline-secondary btn-sm"><span class="fa fa-arrow-down"></span></a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    
                ],
                // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                        //{
                        //    text: 'Fillter',
                        //    className: 'them-primary',
                        //    action: function (e, dt, node, config) {
                        //        OpenAddNewOrderStatusPopup();
                        //    }
                        //},
                        //{
                        //    text: 'Reset',
                        //    className: 'them-btn',
                        //    action: function (e, dt, node, config) {
                        //        OpenAddNewOrderStatusPopup();
                        //    }
                        //},
                       
                        {
                            "extend": 'csv',
                            className: 'them-btn btn-info tbtn1',
                            "action": newexportaction
                        },
                        
                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500] // change per page values here
                    ],
                    // set the initial value
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#tableCategory")) {
                        $('#tableCategory').dataTable().fnDestroy();
                        $('#divtableCategory').html('<table class="table border rounded w-100" id="tableCategory"></table>');
                    }
                    initTable1();
                }
            };
        }();

        
         function UpdateShifting(id,isUp)
         {
             id = parseInt(id);
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.UpdateCategoryDisplayOrder, Controllers.CustomerCategoryOrder)',
                data: { Id: id, IsUp: isUp },
                dataType: 'json',
                async: false,
                success: function (response) {
                    CategoryDataTable.init();
                },
                error: function (error) {
                    toastr["error"]("Something Went Wrong");
                }
            });
        }

        //Data fillter function
        function BuildSearchCriteria() {
            try {
                var param = {};

                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

    </script>
}
