﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Video Call";
}



<div class="content container-fluid">


    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Video Calls </li>
                </ol>
            </nav>
            <h3 class="fw-bold">Video Calls</h3>
        </div>
        @*<div class="col-auto">
                <button class="btn btn-primary" data-target="#addNewPlan" data-toggle="modal" role="button"><i class="tio-add"></i> Add new plan</button>
            </div>*@
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button role="button" class="btn btn-primary btn-wide m-1" onclick="showSearchmodal();"><i class="tio-filter-outlined"></i> Filter</button>
                            <button role="button" class="btn btn-outline-secondary m-1" onclick="SearchReset(true);">Clear filters</button>
                        </div>
                    </div>
                    <div class="table-responsive" id="VideoLogsDataDiv">
                        <table class="table border rounded w-100" id="VideoLogsData"></table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    @*Fillter modal*@

    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="OrderAdvanceFillter" tabindex="-1" aria-labelledby="OrderAdvanceFillterLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-md-down modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-gray-50">
                    <h5 class="modal-title" id="OrderAdvanceFillterLabel">Video Call Logs Fillter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="fillter-div mb-3">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                <div class="form-group mb-3">
                                    <label for="planName">Order ID</label>
                                    <input type="text" class="form-control" id="OrderId" placeholder="Enter order id">
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                <div class="form-group mb-3">
                                    <label for="OrderStatus">Video Call ID</label>
                                    <input type="text" class="form-control" id="VideCallId" placeholder="Enter video call id">
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                <div class="form-group mb-3">
                                    <label for="planName">Customer Phone No</label>
                                    <input type="text" class="form-control" id="CustomerPhoneNumber" placeholder="Enter customer phone no">
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                <div class="form-group mb-3">
                                    <label for="planName">Shop ID</label>
                                    <input type="text" class="form-control" id="ShopId" placeholder="Enter shop id">
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                <div class="form-group mb-3">
                                    <label for="planName">Shop Name</label>
                                    <input type="text" class="form-control" id="ShopName" placeholder="Enter shop name">
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                <div class="form-group mb-3">
                                    <label for="planName">VC Shop User Phone No</label>
                                    <input type="text" class="form-control" id="VCShopUserPhNo" placeholder="Enter VC shop user phone no">
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                <div class="form-group mb-3">
                                    <label for="planName">Date Of Initiation</label>
                                    <input type="date" class="form-control" id="DateOfInitiation" placeholder="Enter date of initiation">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button role="button" class="btn btn-primary btn-wide m-1" onclick="SearchReset(false);"><i class="tio-search"></i> Search</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>


</div>

@section Scripts{

    <script type="text/javascript" src="~/assets/vendor/moment-datetime-format/moment-with-locales.js"></script>

    <script>

        //Filter using Date Of Initiation select date change formate required by Stored Procedure

        $(document).ready(function () {
            VideoCallLogsDataShow.init();
        });

        function showSearchmodal() {
            $('#OrderAdvanceFillter').modal('show');
        }

        //Orders DataTable Bind
        var VideoCallLogsDataShow = function () {
            let initTable1 = function () {
                let table = $('#VideoLogsData');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.ViewAllDataCallLogs, Controllers.VideoCalls)',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                "columns": [
                    //{
                    //    "title": "Video Call ID", "data": "Id",
                    //    "render": function (data, type, row) {
                    //        let htmlData = "";
                    //        htmlData = `${row["Id"]}`;
                    //        return htmlData;
                    //    }
                    //    , "orderable": false, "width": "3%"
                    //},
                    {
                        "title": "Order ID", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a href="@Url.Action("OrderDetails", Controllers.Orders)?orderId=${row["OrderId"]}">${row["OrderId"]}</a> `;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Customer Ph No", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p>${row["UserMobileNumber"] == "" || row["UserMobileNumber"] == null ? '-' : `<a href="tel:${row["UserMobileNumber"]}">${row["UserMobileNumber"]}</a>`}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Customer Name", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p>${row["UserName"] == "" || row["UserName"] == null ? '-' : row["UserName"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Shop ID", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            /*htmlData = `<p>${row["ShopId"] == "" || row["ShopId"] == null ? '-' : row["ShopId"]}</p>`;*/
                            htmlData = `<a href="/ShopOverview/Index/${row["ShopId"]}">${row["ShopId"]}</a> `;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Shop Name", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p>${row["ShopName"] == "" || row["ShopName"] == null ? '-' : row["ShopName"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "VC Shop User Ph No", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p>${row["ShopMobileNumber"] == "" || row["ShopMobileNumber"] == null ? '-' : `<a href="tel:${row["ShopMobileNumber"]}">${row["ShopMobileNumber"]}</a>`}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Date Of Initiation", "data": "CallDateTimeeStr",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p>${row["CallDateTimeeStr"] == "" || row["CallDateTimeeStr"] == null ? '-' : row["CallDateTimeeStr"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "VC Duration", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p>${row["VideoCallDurationMinute"] == "" || row["VideoCallDurationMinute"] == null ? '-' : row["VideoCallDurationMinute"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    //{
                    //    "title": "Who Initiation", "data": "Id",
                    //    "render": function (data, type, row) {
                    //        let htmlData = "";
                    //        htmlData = `<p>${row["WhoInitiated"] == "" || row["WhoInitiated"] == null ? '-' : row["WhoInitiated"]}</p>`;
                    //        return htmlData;
                    //    }
                    //    , "orderable": false, "width": "3%"
                    //},
                    {
                        "title": "View Video", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["VideoCallDurationMinute"] == null || row["VideoCallDurationMinute"] == "" || row["VideoCallDurationMinute"] == "00:00:00" ? "-" : `<a href="${row["VideoCallLink"]}" target="_blank">View</a>`}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },

                ],
                // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                        {
                            "extend": 'csv',
                            className: 'them-btn btn-info tbtn1',
                            "action": newexportaction,
                        },
                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500] // change per page values here
                    ],
                    // set the initial value
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#VideoLogsData")) {
                        $('#VideoLogsData').dataTable().fnDestroy();
                        $('#VideoLogsDataDiv').html('<table class="table border rounded w-100" id="VideoLogsData"></table>');
                    }
                    initTable1();
                }
            };
        }();

        //Data fillter function
        function BuildSearchCriteria() {
            try {
                var param = {};
                let date = $('#DateOfInitiation').val();
                //moment(new Date()).format('MMM dd yyyy');
                if (date !== "") {
                    date = moment(date, "YYYY-MM-DD").format('MMM DD yyyy');
                } else {
                    date;
                }

                param["Id"] = $('#VideCallId').val();
                param["OrderId"] = $('#OrderId').val();
                param["UserMobileNumber"] = $('#CustomerPhoneNumber').val();
                param["ShopId"] = $('#ShopId').val();
                param["ShopName"] = $('#ShopName').val();
                param["MobileNumber"] = $('#VCShopUserPhNo').val();
                param["CallDateTime"] = date;
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        const SearchReset = (isReset = false) => {
            if (isReset == true) {
                $("#OrderId").val("");
                $("#VideCallId").val("");
                $("#CustomerPhoneNumber").val("");
                $("#ShopId").val("");
                $("#ShopName").val("");
                $("#VCShopUserPhNo").val("");
                $("#DateOfInitiation").val("");
            }
            VideoCallLogsDataShow.init();
            $('#OrderAdvanceFillter').modal('hide');
        }

    </script>
}
