﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Video Call";
}

<div class="content container-fluid">


    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Video Calls </li>
                </ol>
            </nav>
            <h3 class="fw-bold">Video Calls</h3>
        </div>
        @*<div class="col-auto">
                <button class="btn btn-primary" data-target="#addNewPlan" data-toggle="modal" role="button"><i class="tio-add"></i> Add new plan</button>
            </div>*@
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <iframe allow="camera; microphone; autoplay; fullscreen" title="Video Call" width="100%" height="800px" id="videoiframe" scrolling="yes"></iframe>
                        </div>
                        <div class="col-lg-12 shop-details" id="ShopDetails">
                            <div class="row m-0">
                                <div class="col-lg-6 p-0">
                                    @Html.Raw(Html.DropDownList("ShopNameDrp", (IEnumerable<SelectListItem>)ViewBag.ShopNameDrp, "Select a shopname", new { @Id = "ShopNameDrp", @onchange= "ShopDetailsDataGet();", @class = "form-control" }))
                                </div>
                                <div class="col-lg-12 p-0">
                                    <div class="card mb-4 mt-3" id="ShopDetailsShow">

                                    </div>
                                    <div class="w-100 text-center loader" style="display:none;">
                                        <div class="spinner-border text-primary" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
@section Scripts{
    <script>

       
        $(document).ready(function () {
            if ("@ViewBag.VideoUserResponse" != "" && "@ViewBag.VideoUserResponse" != null) {
                CheckWhoInitiated();
                $("#videoCalling").hide();
            }
        })

        var VideoResponseData = "";
        function CheckWhoInitiated() {
            debugger;
            clearTimeout(timeout);
            VideoResponseData = atob("@ViewBag.VideoUserResponse");
            VideoResponseData = $.parseJSON(VideoResponseData);
            console.log('VideoResponseData', VideoResponseData);
            var ShopIdVal = VideoResponseData[0].ShopId;
            $("#ShopNameDrp").val(@ViewBag.ShopId);
            //AdminCallRecordCreate();
            $("#videoiframe").attr("src", 'https://video.yudoo.co/#/' + VideoResponseData[0].VideoCallLink);
         /*   $("#videoiframe").attr("src", 'https://video.yudoo.co/#/' + VideoResponseData[0].WhoInitiated + "_" + VideoResponseData[0].UserId + "_" + VideoResponseData[0].CallDateTime, '_blank');*/
            $("#ShopNameDrp").val(@ViewBag.ShopIdBag);

            ShopDetailsDataGet();
        }

        //Video Join Status change
        @*function AdminCallStatusUpdate() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ReceiveVideoCallInAdmin", "VideoCalls")',
                data: ({
                    UserId: VideoResponseData[0].UserId
                }),
                dataType: 'json',
                success: function (response) {
                    if (response.Code == 200) {
                        //Success
                    } else {
                        window.location.reload();
                    }
                },
                error: function (error) {
                    window.location.reload();
                }
            });
        }*@



        //Video Join Status change
        function AdminCallStatusUpdate() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("CallBackManage", "VideoCalls")',
                data: ({
                    Id: VideoResponseData[0].Id,
                    ShopId: VideoResponseData[0].ShopId,
                    UserId: VideoResponseData[0].UserId,
                    VideoCallLink: VideoResponseData[0].VideoCallLink,
                    Type: 100,
                    CallStatus: 0,
                    WhoInitiated: VideoResponseData[0].WhoInitiated
                }),
                dataType: 'json',
                success: function (response) {
                    if (response.Code == 200) {
                        //Success
                    } else {
                        //window.location.reload();
                    }
                },
                error: function (error) {
                    //window.location.reload();
                }
            });
        }

        function JoinVideoCall(JoinVideoCallShopId) {
            
            $('#videoJoincall').hide()
            $('#videoCalling').show();
             $.ajax({
                type: "POST",
                url: '@Url.Action("UserShopCallLogs", "VideoCalls")',
                data: ({
                    Id: 0,
                    ShopId: JoinVideoCallShopId,
                    UserId: VideoResponseData[0].UserId,
                    VideoCallLink: VideoResponseData[0].VideoCallLink,
                    Type: 100,
                    CallStatus: 0,
                    WhoInitiated: VideoResponseData[0].WhoInitiated
                }),
                dataType: 'json',
                 success: function (response) {
                    if (response.Code == 200) {
                        //Success
                        $('#videoJoincall').show()
                        $('#videoCalling').hide();
                    } else {
                        //window.location.reload();
                    }
                },
                error: function (error) {
                    //window.location.reload();
                }
            });
        }


        function ShopDetailsDataGet() {
            
            $(".loader").show();

            $('#ShopDetailsShow').html("");


            var ShopIdVar = $("#ShopNameDrp").val();

            $.ajax({
                type: "POST",
                url: '@Url.Action("ShopDetailsGet", "VideoCalls")',
                data: ({
                    ShopId: ShopIdVar
                }),
                dataType: 'json',
                success: function (response) {
                    
                    $('#ShopDetailsShow').append(`
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h6 class="mb-0">Shop Details</h6>
                            <button class="btn btn-primary" onclick="JoinVideoCall(${response.Item.Id});">
                                <span id="videoJoincall">Join Call</span> <span id="videoCalling" style="display:none;">Calling</span>
                            </button>
                        </div>
                        <div class="card-body">
                            <div class="row row-cols-xl-4 row-cols-sm-4 row-cols-1 fs-14">
                                <div class="col mb-2">
                                    <p class="text-muted mb-0">Shop Name</p>
                                    <div class="fw-semibold" id="ShopNames">${response.Item.ShopName == null || response.Item.ShopName == "" ? "-" : response.Item.ShopName}</div>
                                </div>
                                <div class="col mb-2">
                                    <p class="text-muted mb-0">ShopOwner Name</p>
                                    <div class="fw-semibold" id="ShopOwnerName">${response.Item.ShopOwnerName == null || response.Item.ShopOwnerName == "" ? "-" : response.Item.ShopOwnerName}</div>
                                </div>
                                <div class="col mb-2">
                                    <p class="text-muted mb-0">Address Line1</p>
                                    <div class="fw-semibold" id="AddressLine1">${response.Item.AddressLine1 == null || response.Item.AddressLine1 == "" ? "-" : response.Item.AddressLine1}</div>
                                </div>
                                <div class="col mb-2">
                                    <p class="text-muted mb-0">Address Line2</p>
                                    <div class="fw-semibold" id="AddressLine2">${response.Item.AddressLine2 == null || response.Item.AddressLine2 == "" ? "-" : response.Item.AddressLine2}</div>
                                </div>
                                <div class="col mb-2">
                                    <p class="text-muted mb-0">Land Mark</p>
                                    <div class="fw-semibold" id="LandMark">${response.Item.LandMark == null || response.Item.LandMark == "" ? "-" : response.Item.LandMark}</div>
                                </div>
                                <div class="col mb-2">
                                    <p class="text-muted mb-0">Mobile Number</p>
                                    <div class="fw-semibold" id="MobileNumber">${response.Item.MobileNumber == null || response.Item.MobileNumber == "" ? "-" : response.Item.MobileNumber}</div>
                                </div>
                                <div class="col mb-2">
                                    <p class="text-muted mb-0">Personal Pan Number</p>
                                    <div class="fw-semibold" id="PersonalPanNumber">${response.Item.PersonalPanNumber == null || response.Item.PersonalPanNumber == "" ? "-" : response.Item.PersonalPanNumber}</div>
                                </div>
                                <div class="col mb-2">
                                    <p class="text-muted mb-0">Company Pan Number</p>
                                    <div class="fw-semibold" id="CompanyPanNumber">${response.Item.CompanyPanNumber == null || response.Item.CompanyPanNumber == "" ? "-" : response.Item.CompanyPanNumber}</div>
                                </div>
                            </div>
                        </div>
                    `);
                    $(".loader").hide();
                },
                error: function (error) {
                    $(".loader").hide();
                }
            });
        }

    </script>
}
