﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Video Call";
}

<div class="content container-fluid">


    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Video Calls</li>
                </ol>
            </nav>
            <h3 class="fw-bold">Video Calls</h3>
        </div>
        @*<div class="col-auto">
                <button class="btn btn-primary" data-target="#addNewPlan" data-toggle="modal" role="button"><i class="tio-add"></i> Add new plan</button>
            </div>*@
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Select User Type</label>
                                <select id="UserType" class="form-control">
                                    <option selected>Select</option>
                                    <option value="1">Users</option>
                                    <option value="2">Seller</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Enter Id</label>
                                <input type="text" name="Ids" id="Ids" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Call Actions </label>
                                <button type="button" class="btn btn-success btn-sm form-control" onclick="CallStart()"> Start Call</button>
                                <button type="button" class="btn btn-danger btn-sm form-control" onclick="CallEnd()"> End Call</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <iframe allow="camera; microphone" title="Video Call" width="100%" height="800px" id="videoiframe" scrolling="yes"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        function CallStart() {

            var formdata = new FormData();
            formdata.append("id", $("#Ids").val());
            formdata.append("type", $("#UserType").val());

            $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.CallStart, Controllers.VideoCalls)',
                    data: formdata,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.Code == 200) {
                            
                            toastr["success"](response.Message);
                            $("#videoiframe").attr("src", 'https://video.yudoo.co/#/' + $("#UserType option:selected").text() + "_" + $("#Ids").val());
                            $("#joinButton").click()
                            $(".saveBtn").show();
                            $(".loading").hide();
                            $(".closeBtn").show();
                        } else {
                            toastr["error"](response.Message);
                            $(".saveBtn").show();
                            $(".loading").hide();
                            $(".closeBtn").show();
                        }
                    },
                    error: function (error) {
                        toastr["error"]("Something went wrong");
                        $(".saveBtn").show();
                        $(".loading").hide();
                        $(".closeBtn").show();
                    }
                });
        }

        function CallEnd() {

            var formdata = new FormData();
            formdata.append("id", $("#Ids").val());
            formdata.append("type", $("#UserType").val());


            $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.CallEnd, Controllers.VideoCalls)',
                    data: formdata,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.Code == 200) {
                            toastr["success"](response.Message);
                            $("#navLeaveButton").click()
                            //window.location.href = "@Url.Action(Actions.Index,Controllers.VideoCalls)";
                            $(".saveBtn").show();
                            $(".loading").hide();
                            $(".closeBtn").show();
                        } else {
                            toastr["error"](response.Message);
                            $(".saveBtn").show();
                            $(".loading").hide();
                            $(".closeBtn").show();
                        }
                    },
                    error: function (error) {
                        toastr["error"]("Something went wrong");
                        $(".saveBtn").show();
                        $(".loading").hide();
                        $(".closeBtn").show();
                    }
                });
        }

        function ReciveCall() {
            $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.ReciveCall, Controllers.VideoCalls)',
                    data: formdata,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.Code == 200) {
                            toastr["success"](response.Message);

                        } else {
                            toastr["error"](response.Message);

                        }
                    },
                    error: function (error) {
                        toastr["error"]("Something went wrong");
                    }
                });
        }

    </script>
}
