﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Shop Approval";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<style>
    .select2-container {
        width: 100% !important;
    }
</style>

<input type="hidden" id="DetailsShopId" />
<div class="content container-fluid">


    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Shop Approval </li>
                </ol>
            </nav>
            <h3 class="fw-bold">Shop Approval</h3>
        </div>
        @*<div class="col-auto">
                <button class="btn btn-primary" data-target="#addNewPlan" data-toggle="modal" role="button"><i class="tio-add"></i> Add new plan</button>
            </div>*@
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button role="button" class="btn btn-primary btn-wide m-1" onclick="showSearchmodal();"><i class="tio-filter-outlined"></i> Filter</button>
                            <button role="button" class="btn btn-outline-secondary m-1" onclick="SearchReset(true);">Clear filters</button>
                        </div>
                    </div>
                    <div class="table-responsive" id="AdminShopDataDiv">
                        <table class="table border rounded w-100" id="AdminShopData"></table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    @*Fillter modal*@

    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="ShopAdvanceFillter" tabindex="-1" aria-labelledby="ShopAdvanceFillterLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-md-down modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-gray-50">
                    <h5 class="modal-title" id="ShopAdvanceFillterLabel">Shop Approvel Fillter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="fillter-div mb-4">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                                <div class="form-group mb-4">
                                    <label for="planName">Shop OB Status</label>
                                    <select class="form-control mb-4" id="ShopOBStatus">
                                        <option value="0">Any</option>
                                        <option value="1">New - Awaiting approval</option>
                                        <option value="3">Approved - Awaiting new approval</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                                <div class="form-group mb-4">
                                    <label for="planName">Shop Id</label>
                                    <input type="text" class="form-control" id="ShopId" placeholder="Enter shop id">
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                                <div class="form-group mb-4">
                                    <label for="planName">Shop Name</label>
                                    <input type="text" class="form-control" id="ShopName" placeholder="Enter shop name">
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                                <div class="form-group mb-4">
                                    <label for="planName">Phone Number</label>
                                    <input type="number" class="form-control" id="PhoneNumber" placeholder="Enter phone number">
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                                <div class="form-group mb-4">
                                    <label for="ShopCity">City</label>
                                    @Html.Raw(Html.DropDownList("ShopCity", (IEnumerable<SelectListItem>)ViewBag.MasterCityDrp, "Select a city", new { @Id = "ShopCity", @class = "form-control" }))

                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                                <div class="form-group mb-4">
                                    <label for="planName">Primary Category</label>
                                    @Html.Raw(Html.DropDownList("PrimaryCategory", (IEnumerable<SelectListItem>)ViewBag.Category, "Select a primary category", new { @Id = "PrimaryCategory", @class = "form-control" }))
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                                <div class="form-group dropdown  bootstrap-select mb-4">
                                    <label for="planName">All Category</label>
                                    @Html.Raw(Html.DropDownList("AllCategory", (IEnumerable<SelectListItem>)ViewBag.Category, "Select a all category", new { @Id = "AllCategory", @multiple = "multiple", onclick = "democheck();", @class = "form-control selectpicker" }))
                                </div>
                            </div>
                        </div>
                        @*<label for="planName">All Category</label>*@
                        @*<input type="text" class="form-control" id="AllCategory" placeholder="Enter all category">*@
                        @*@Html.Raw(Html.DropDownList("AllCategory", (IEnumerable<SelectListItem>)ViewBag.Category, "Select an all Category", new { @Id = "AllCategory", @class = "form-control" }))*@
                        @*<select id="AllCategory" class="form-control" multiple required name="AllCategory">
                                @if (ViewBag.Category != null)
                                {
                                    foreach (var item in ViewBag.Category)
                                    {
                                        if (item.Text != null)
                                        {
                                            <option value="@item.Value">
                                                @item.Text
                                            </option>
                                        }
                                    }
                                }
                            </select>*@
                    </div>
                </div>

                <div class="modal-footer">
                    <button role="button" class="btn btn-primary btn-wide m-1" onclick="SearchReset(false);"><i class="tio-search"></i>Search</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="ShopDetails" tabindex="-1" aria-labelledby="ShopDetailsLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-md-down modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-gray-50">
                    <h5 class="modal-title" id="ShopDetailsLabel">Shop Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="card-body" id="shopDetails_area">

                    </div>

                </div>

                <div class="modal-footer">
                    <div class="row">
                        <div class="col-12 float-none text-center">
                            <button role="button" class="btn btn-primary" id="ApproveButton" onclick="UpdateStatus(1);">Approve</button>
                            <button style="display:none;" class="btn btn-primary loading btn-wide" type="button" id="ApproveLoading" disabled="">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Approving...
                            </button>
                            <button role="button" class="btn btn-warning" id="MakechangeButton" onclick="UpdateStatus(2);">Rejected & Make Changes</button>
                            <button style="display:none;" class="btn btn-warning loading btn-wide" type="button" id="MakechangesLoading" disabled="">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Rejecting  & Making Changes...
                            </button>
                            <button role="button" class="btn btn-danger" id="RejectButton" onclick="UpdateStatus(3);">Reject</button>
                            <button style="display:none;" class="btn btn-danger loading btn-wide" type="button" id="RejectLoading" disabled="">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Rejecting...
                            </button>
                        </div>
                    </div>
                    @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                </div>
            </div>
        </div>
    </div>


</div>

@section Scripts{
    <script>
    $(document).ready(function () {
        AdminShopDataShow.init();
    });

    function showSearchmodal() {
            $('#ShopAdvanceFillter').modal('show');
    }
    function democheck() {

    }
    //Orders DataTable Bind
    var AdminShopDataShow = function () {
            let initTable1 = function () {
                let table = $('#AdminShopData');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.ViewAllDataAdminShop, Controllers.ShopApproval)',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                "columns": [
                    {
                        "title": "Shop OB Status", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            if (row["IsNew"] == true && row["IsApprovalPending"] == false && row["DraftStatus"] == false) {
                                htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">New - not sent for approval</div>`;
                            }
                            //for reject Shop Status 3 displ Rejected badge in Shop Approval Table
                            else if (row["ShopStatus"] == 3 && row["IsNew"] == false && row["IsApprovalPending"] == true && row["DraftStatus"] == true) {
                                htmlData += `<div class="badge badge-soft-danger" style="cursor:pointer;">Approvel Rejected</div>`;
                            }
                            else if (row["IsNew"] == true && row["IsApprovalPending"] == false && row["DraftStatus"] == true) {
                                htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">New - not sent for approval</div>`;
                            }
                            else if (row["IsNew"] == true && row["IsApprovalPending"] == true && row["DraftStatus"] == false) {
                                htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">New - awaiting approval</div>`;
                            }
                            else if (row["IsNew"] == true && row["IsApprovalPending"] == true && row["DraftStatus"] == true) {
                                htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">New - awaiting approval</div>`;
                            }
                            else if (row["IsNew"] == false && row["IsApprovalPending"] == false && row["DraftStatus"] == false) {
                                htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">Approved - no pending approvals</div>`;
                            }
                            else if (row["IsNew"] == false && row["IsApprovalPending"] == true && row["DraftStatus"] == false) {
                                htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">Approved - awaiting new approval</div>`;
                            }
                            else if (row["IsNew"] == false && row["IsApprovalPending"] == false && row["DraftStatus"] == true) {
                                htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">Approved - no pending approvals</div>`;
                            }
                            else if (row["IsNew"] == false && row["IsApprovalPending"] == true && row["DraftStatus"] == true) {
                                htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">Approved - awaiting new approval</div>`;
                            }
                            else {
                                htmlData += '';
                            }

                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Date Of Apply", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p>${row["RegisteredDateStr"] == "" || row["RegisteredDateStr"] == null ? '-' : row["RegisteredDateStr"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Shop ID", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<a onclick="showShopDetails(${row["Id"]})" href="javascript:void(0)">${row["Id"]}</a>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Shop name", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p>${row["ShopName"] == "" || row["ShopName"] == null ? '-' : row["ShopName"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Phone No", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["MobileNumber"] == "" || row["MobileNumber"] == null ? '-' : `<a href="tel:${row["MobileNumber"]}">${row["MobileNumber"]}</a>`}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "City Name", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p>${row["CityName"] == "" || row["CityName"] == null ? '-' : row["CityName"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Primary Category", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p>${row["PrimaryCategory"] == "" || row["PrimaryCategory"] == null ? '-' : row["PrimaryCategory"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "All Category", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p>${row["AllCategory"] == "" || row["AllCategory"] == null ? '-' : row["AllCategory"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },

                ],
                // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                        {
                            "extend": 'csv',
                            className: 'them-btn btn-info tbtn1',
                            "action": newexportaction
                        },
                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500] // change per page values here
                    ],
                    // set the initial value
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#AdminShopData")) {
                        $('#AdminShopData').dataTable().fnDestroy();
                        $('#AdminShopDataDiv').html('<table class="table border rounded w-100" id="AdminShopData"></table>');
                    }
                    initTable1();
                }
            };
        }();

    //Data fillter function
    function BuildSearchCriteria() {
            try {
                var param = {};
                param["ShopOBStatus"] = $("#ShopOBStatus").val();
                param["ShopId"] = $("#ShopId").val();
                param["ShopName"] = $("#ShopName").val();
                param["MobileNumber"] = $("#PhoneNumber").val();
                param["CityId"] = $("#ShopCity").val();
                //param["CityId"] = $("#CityName").val();
                param["AllCategory"] = $("#AllCategory").val().toString();
                if ($("#PrimaryCategory").val() != null && $("#PrimaryCategory").val() > 0) {
                    param["PrimaryCategory"] = $("#PrimaryCategory option:selected").text();
                }
                else {
                    param["PrimaryCategory"] = "";
                }
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

    function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

    const SearchReset = (isReset = false) => {
            if (isReset == true) {
                $("#ShopOBStatus").val(0);
                $("#ShopId").val("");
                $("#ShopName").val("");
                $("#PhoneNumber").val("");
                $("#ShopCity").val(null);
                $("#PrimaryCategory").val("");
                $('#AllCategory').val(null).trigger('change');
            }
            $('#ShopAdvanceFillter').modal('hide');
            AdminShopDataShow.init();
        }

    const UpdateStatus = (ShopStatusId) => {
            if (ShopStatusId == 1) {
                $('#ApproveButton').hide();
                $('#ApproveLoading').show();
            } else if (ShopStatusId == 2) {
                $('#MakechangeButton').hide();
                $('#MakechangesLoading').show();
            } else {
                $('#RejectButton').hide();
                $('#RejectLoading').show();
            }


            let Id = parseInt($("#DetailsShopId").val());
            let ShopStatus = parseInt(ShopStatusId);

            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateShopStatus", Controllers.ShopApproval)',
                data: { Id: Id, StatusId: ShopStatus},
                dataType: 'json',
                success: function (response) {
                    try {
                        if (response.Code == 200) {

                            toastr["success"](response.Message);
                            AdminShopDataShow.init();

                            if (ShopStatus == 2) {
                                location.href = "/ShopOnboardDetail/ViewDetails?Id=" + Id;
                            }

                        } else {
                            toastr["error"](response.Message);
                            AdminShopDataShow.init();
                        }
                    } catch (e) {

                    }
                    $('#ApproveButton').show();
                    $('#ApproveLoading').hide();
                    $('#MakechangeButton').show();
                    $('#MakechangesLoading').hide();
                    $('#RejectButton').show();
                    $('#RejectLoading').hide();


                    $('#ShopDetails').modal('hide');


                },
                error: function (error) {
                    console.log("Status Change Error", error);
                    $('#ApproveButton').show();
                    $('#ApproveLoading').hide();
                    $('#MakechangeButton').show();
                    $('#MakechangesLoading').hide();
                    $('#RejectButton').show();
                    $('#RejectLoading').hide();
                }
            });
        }
    function showShopDetails(ShopDetailsId)
    {
            $('.loader-text').show();

            $('#shopDetails_area').html('');
              $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetShopDetails, Controllers.ShopApproval)',
                data: { Id: ShopDetailsId},
                dataType: 'json',
                  success: function (response) {
                      console.log('GetShopDetails', response)
                    $("#DetailsShopId").val(ShopDetailsId);
                    var ShopTimging = "";

                      if (response.Item.ShopTimgings.length <= 0) {
                        ShopTimging += `<tr>
                                    <th scope="row" class="text-center" colspan="3">No Record found</th>
                                  </tr>`
                    } else {
                        for (i = 0; i < response.Item.ShopTimgings.length; i++) {
                            ShopTimging += `<tr>
                                    <th scope="row">${response.Item.ShopTimgings[i].Day == null || response.Item.ShopTimgings[i].Day == "" ? '0' : response.Item.ShopTimgings[i].Day}</th>
                                    <th scope="row">${response.Item.ShopTimgings[i].FromTimeStr == null || response.Item.ShopTimgings[i].FromTimeStr == "" ? '0' : response.Item.ShopTimgings[i].FromTimeStr}</th>
                                    <th scope="row">${response.Item.ShopTimgings[i].ToTimeStr == null || response.Item.ShopTimgings[i].ToTimeStr == "" ? '0' : response.Item.ShopTimgings[i].ToTimeStr}</th>
                                    <th scope="row">${response.Item.ShopTimgings[i].BreaktimeStartStr == null || response.Item.ShopTimgings[i].BreaktimeStartStr == "" ? '0' : response.Item.ShopTimgings[i].BreaktimeStartStr}</th>
                                    <th scope="row">${response.Item.ShopTimgings[i].BreakTimeEndStr == null || response.Item.ShopTimgings[i].BreakTimeEndStr == "" ? '0' : response.Item.ShopTimgings[i].BreakTimeEndStr}</th>
                                  </tr>`
                        }
                    }


                    let htmlData = "";
                    if (response.Item.IsNew == true && response.Item.IsApprovalPending == false && response.Item.DraftStatus == false) {
                        htmlData += `<div class="badge badge-soft-success" style="cursor:pointer;">New - not sent for approval</div>`;
                        $('#ApproveButton').show();
                        $('#MakechangeButton').show();
                        $('#RejectButton').show();
                    } else if (response.Item.IsNew == true && response.Item.IsApprovalPending == false && response.Item.DraftStatus == true) {
                        htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">New - not sent for approval</div>`;
                        $('#ApproveButton').show();
                        $('#MakechangeButton').show();
                        $('#RejectButton').show();
                    }
                    else if (response.Item.IsNew == true && response.Item.IsApprovalPending == true && response.Item.DraftStatus == false) {
                        htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">New - awaiting approval</div>`;
                        $('#ApproveButton').show();
                        $('#MakechangeButton').show();
                        $('#RejectButton').show();
                    }
                    else if (response.Item.IsNew == true && response.Item.IsApprovalPending == true && response.Item.DraftStatus == true) {
                        htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">New - awaiting approval</div>`;
                        $('#ApproveButton').show();
                        $('#MakechangeButton').show();
                        $('#RejectButton').show();
                    }
                    else if (response.Item.IsNew == false && response.Item.IsApprovalPending == false && response.Item.DraftStatus == false) {
                        htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">Approved - no pending approvals</div>`;
                        $('#ApproveButton').hide();
                        $('#MakechangeButton').hide();
                        $('#RejectButton').hide();
                    }
                    else if (response.Item.IsNew == false && response.Item.IsApprovalPending == true && response.Item.DraftStatus == false) {
                        htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">Approved - awaiting new approval</div>`;
                        $('#ApproveButton').show();
                        $('#MakechangeButton').show();
                        $('#RejectButton').show();
                    }
                    else if (response.Item.IsNew == false && response.Item.IsApprovalPending == false && response.Item.DraftStatus == true) {
                        htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">Approved - no pending approvals</div>`;
                        $('#ApproveButton').show();
                        $('#MakechangeButton').show();
                        $('#RejectButton').show();
                    }
                    else if (response.Item.IsNew == false && response.Item.IsApprovalPending == true && response.Item.DraftStatus == true) {
                        htmlData += `<div class="badge badge-soft-info" style="cursor:pointer;">Approved - awaiting new approval</div>`;
                        $('#ApproveButton').show();
                        $('#MakechangeButton').show();
                        $('#RejectButton').show();
                    }
                    else if (response.Item.ShopStatus == 3 ) {
                        $('#ApproveButton').hide();
                        $('#MakechangeButton').hide();
                        $('#RejectButton').hide();
                    }
                    else {
                        htmlData += '';
                    }
                    $('#shopDetails_area').append(`
                        <div class="row row-cols-xl-3 row-cols-sm-3 row-cols-1 fs-14">
                            <div class="col mb-4">
                                <p class="text-muted mb-0">Shop Id</p>
                                <div class="fw-semibold" id="ShopId">${response.Item.Id}</div>
                            </div>
                            <div class="col mb-4">
                                <p class="text-muted mb-0">Shop Name</p>
                                <a class="fw-semibold" href="javascript:void(0)" id="ShopName">${response.Item.ShopName == "" || response.Item.ShopName == null ? '-' : response.Item.ShopName }</a>
                            </div>
                            <div class="col mb-4">
                                <p class="text-muted mb-0">Shopkeeper Name</p>
                                <div class="fw-semibold" id="ShopkeeperNumber">${response.Item.ShopOwnerName == "" || response.Item.ShopOwnerName == null ? '-' : response.Item.ShopOwnerName}</div>
                            </div>
                            <div class="col mb-4">
                                <p class="text-muted mb-0">Shopkeeper Phone No</p>
                                <div class="fw-semibold" id="ShopkeeperPhoneNo">${response.Item.MobileNumber == "" || response.Item.MobileNumber == null ? '-' : response.Item.MobileNumber}</div>
                            </div>
                            <div class="col mb-4">
                                <p class="text-muted mb-0">Company GST No</p>
                                <div class="fw-semibold" id="CompanyGSTNo">${response.Item.GstNumber == "" || response.Item.GstNumber == null ? '-' : response.Item.GstNumber}</div>
                            </div>
                            <div class="col mb-4">
                                <p class="text-muted mb-0">Company PAN No</p>
                                <div class="fw-semibold" id="CompanyPANNo">${response.Item.CompanyPanNumber == "" || response.Item.CompanyPanNumber == null ? '-' : response.Item.CompanyPanNumber }</div>
                            </div>
                            <div class="col mb-4">
                                <p class="text-muted mb-0">Company Registered Address</p>
                                <div class="fw-semibold" id="CompanyRegisteredAddress">${response.Item.CompanyRegisterAddress == "" || response.Item.CompanyRegisterAddress == null ? '-' : response.Item.CompanyRegisterAddress}</div>
                            </div>
                            <div class="col mb-4">
                                <p class="text-muted mb-0">Personal PAN No</p>
                                <div class="fw-semibold" id="PersonalPANNo">${response.Item.PersonalPanNumber == "" || response.Item.PersonalPanNumber == null ? '-' : response.Item.PersonalPanNumber}</div>
                            </div>
                            <div class="col mb-4">
                                <p class="text-muted mb-0">Account Number</p>
                                <div class="fw-semibold" id="AccountNumber">${response.Item.BankAccountNo == "" || response.Item.BankAccountNo == null ? '-' : response.Item.BankAccountNo}</div>
                            </div>
                            <div class="col mb-4">
                                <p class="text-muted mb-0">IFSC Code</p>
                                <div class="fw-semibold" id="IFSCCode">${response.Item.IFSCCode == "" || response.Item.IFSCCode == null ? '-' : response.Item.IFSCCode}</div>
                            </div>
                            <div class="col mb-4">
                                <p class="text-muted mb-0">Bank Name</p>
                                <div class="fw-semibold" id="BankName">${response.Item.BankName == "" || response.Item.BankName == null ? '-' : response.Item.BankName}</div>
                            </div>
                            <div class="col mb-4">
                                <p class="text-muted mb-0">Account Holder Name</p>
                                <div class="fw-semibold" id="AccountHolderName">${response.Item.AccountHolderName == "" || response.Item.AccountHolderName == null ? '-' : response.Item.AccountHolderName}</div>
                            </div>
                            <div class="col mb-4">
                                <p class="text-muted mb-0">Shop OB Status</p>
                                <div class="fw-semibold" id="ShopOBStatus">
                                    ${htmlData == "" || htmlData == null ? '-' : htmlData}</div>
                            </div>
                            <div class="col mb-4">
                                <p class="text-muted mb-0">T&C</p>
                                <div class="fw-semibold" id="TandC">${response.Item.TermsAndConditions == "" || response.Item.TermsAndConditions == null ? '-' : response.Item.TermsAndConditions}</div>
                            </div>
                            <div class="col mb-4">
                                <p class="text-muted mb-0">Address</p>
                                <div class="fw-semibold" id="Address"><a href="javascript:void(0)">${response.Item.Address == "" || response.Item.Address == null ? '-' : response.Item.FlatNumber == "" || response.Item.FlatNumber == null ? '' : response.Item.FlatNumber +" "+ response.Item.Address}</a></div>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <table class="table rounded-lg mb-0 shop-timgings">
                            <div class="card-header text-center" style="padding:5px;">
                                <h6 class="mb-0">Shop Timings</h6>
                            </div>
                            <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>From Time</th>
                                    <th>To Time</th>
                                    <th>BreakTime Start</th>
                                    <th>BreakTime End</th>
                                </tr>
                            </thead>
                            <tbody>
                                ${ShopTimging}
                            </tbody>
                            </table>
                        </div>
                        <div class="row mt-4 fs-14">
                                <div class="col-lg-4 mb-4">
                                    <p class="text-muted mb-0">Shop Name</p>
                                    <div class="fw-semibold" id="ShopName">${response.Item.ShopName == "" || response.Item.ShopName == null ? '-' : response.Item.ShopName}</div>
                                </div>
                                <div class="col-lg-4 mb-4">
                                    <p class="text-muted mb-0">Shop Name Gujarati</p>
                                    <div class="fw-semibold" id="ShopName">${response.Item.ShopNameGujarati == "" || response.Item.ShopNameGujarati == null ? '-' : response.Item.ShopNameGujarati}</div>
                                </div>
                                <div class="col-lg-4 mb-4">
                                    <p class="text-muted mb-0">Shop Name Hindi</p>
                                    <div class="fw-semibold" id="ShopName">${response.Item.ShopNameHindi == "" || response.Item.ShopNameHindi == null ? '-' : response.Item.ShopNameHindi}</div>
                                </div>
                                <div class="col-lg-4 mb-4">
                                    <p class="text-muted mb-0">Description</p>
                                    <div class="fw-semibold" id="ShopName">${response.Item.About == "" || response.Item.About == null ? '-' : response.Item.About}</div>
                                </div>
                                <div class="col-lg-4 mb-4">
                                    <p class="text-muted mb-0">Description Gujarati</p>
                                    <div class="fw-semibold" id="ShopName">${response.Item.DescriptionGujarati == "" || response.Item.DescriptionGujarati == null ? '-' : response.Item.DescriptionGujarati}</div>
                                </div>
                                <div class="col-lg-4 mb-4">
                                    <p class="text-muted mb-0">Description Hindi</p>
                                    <div class="fw-semibold" id="ShopName">${response.Item.DescriotionHindi == "" || response.Item.DescriotionHindi == null ? '-' : response.Item.DescriotionHindi}</div>
                                </div>
                                <div class="col-lg-4 mb-4">
                                    <p class="text-muted mb-0">ShopOwner Name</p>
                                    <div class="fw-semibold" id="ShopName">${response.Item.ShopOwnerName == "" || response.Item.ShopOwnerName == null ? '-' : response.Item.ShopOwnerName}</div>
                                </div>
                                <div class="col-lg-4 mb-4">
                                    <p class="text-muted mb-0">GST No</p>
                                    <div class="fw-semibold" id="ShopName">${response.Item.GSTNo == "" || response.Item.GSTNo == null ? '-' : response.Item.GSTNo}</div>
                                </div>
                                <div class="col-lg-4 mb-4">
                                    <p class="text-muted mb-0">Company Name</p>
                                    <div class="fw-semibold" id="ShopName">${response.Item.CompanyName == "" || response.Item.CompanyName == null ? '-' : response.Item.CompanyName}</div>
                                </div>
                                <div class="col-lg-4 mb-4">
                                    <p class="text-muted mb-0">Personal PAN</p>
                                    <div class="fw-semibold" id="ShopName">${response.Item.PersonalPAN == "" || response.Item.PersonalPAN == null ? '-' : response.Item.PersonalPAN}</div>
                                </div>
                                <div class="col-lg-4 mb-4">
                                    <p class="text-muted mb-0">Company PAN</p>
                                    <div class="fw-semibold" id="ShopName">${response.Item.CompanyPAN == "" || response.Item.CompanyPAN == null ? '-' : response.Item.CompanyPAN}</div>
                                </div>

                                <div class="col-lg-4 mb-4">
                                    <p class="text-muted mb-0">Primary Category</p>
                                    <div class="fw-semibold" id="PrimaryCategory">${response.Item.Category == "" || response.Item.Category == null ? '-' : response.Item.Category}</div>
                                </div>
                                <div class="col-lg-4 mb-4">
                                    <p class="text-muted mb-0">Other Category</p>
                                    <div class="fw-semibold" id="OtherCategory">${response.Item.SubCategory == "" || response.Item.SubCategory == null ? '-' : response.Item.SubCategory}</div>
                                </div>
                                <div class="col-lg-4 mb-4">
	                                <p class="text-muted mb-0">Commission Percentage</p>
	                                <div class="fw-semibold" id="CommissionPercentage">${response.Item.CommissionPercentage == "" || response.Item.CommissionPercentage == null ? '0' : response.Item.CommissionPercentage}</div>
	                            </div>
                                <div class="col-lg-4 mb-4">
	                                <p class="text-muted mb-0">Specialities</p>
	                                <div class="fw-semibold" id="CommissionPercentage">${response.Item.SpecialitiesName == "" || response.Item.SpecialitiesName == null ? '-' : response.Item.SpecialitiesName}</div>
	                            </div>

                                 <div class="col-lg-4 mb-4">
                                    <p class="text-muted mb-0">Product Tags</p>
                                    <div class="fw-semibold" id="ProductTags" style="max-height: 200px;overflow: auto;">
                                        ${response.Item.Tags == "" || response.Item.Tags == null ? '-' : response.Item.Tags}
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-4">
                                    <p class="text-muted mb-0">State</p>
                                    <div class="fw-semibold" id="State" style="max-height: 200px;overflow: auto;">
                                        ${response.Item.StateName == "" || response.Item.StateName == null ? '-' : response.Item.StateName}
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-4">
                                    <p class="text-muted mb-0">City</p>
                                    <div class="fw-semibold" id="City" style="max-height: 200px;overflow: auto;">
                                        ${response.Item.CityName == "" || response.Item.CityName == null ? '-' : response.Item.CityName}
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-4">
                                    <p class="text-muted mb-0">Address</p>
                                    <div class="fw-semibold" id="ShopAuditAddress" style="max-height: 200px;overflow: auto;">
                                        ${response.Item.ShopAuditAddress == "" || response.Item.ShopAuditAddress == null ? '-' : response.Item.ShopAuditAddress}
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-4">
                                    <p class="text-muted mb-0">Flat Number</p>
                                    <div class="fw-semibold" id="City" style="max-height: 200px;overflow: auto;">
                                        ${response.Item.ShopAuditFlatNumber == "" || response.Item.ShopAuditFlatNumber == null ? '-' : response.Item.ShopAuditFlatNumber}
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-4" style="overflow-wrap: break-word;">
                                    <p class="text-muted mb-0">Pin Code</p>
                                    <div class="fw-semibold" id="pinCode" style="max-height: 200px;overflow: auto;">
                                        ${response.Item.PinCode == "" || response.Item.PinCode == null ? '-' : response.Item.PinCode}
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="row m-0" id="FullLengthVideo_Area">

                                    </div>
                                </div>
                                <div class="mt-2 col-lg-4">
                                    <div class="row m-0" id="GIFVideo_Area">

                                    </div>
                                </div>
                                <div class="mt-2 col-lg-4">
                                    <div class="row m-0" id="Images_Area">

                                    </div>
                                </div>
                        </div>
                    `);

                    @*if (response.Item.ShopImagesandVideos.length > 0) {
                        for (i = 0; i < response.Item.ShopImagesandVideos.length; i++) {
                            if (response.Item.ShopImagesandVideos[i].IsVideo == true && response.Item.ShopImagesandVideos[i].IsCoverImage == false) {
                                $("#FullLengthVideo_Area").append(`
                                    <div class="col-lg-12 p-2 mb-2 image-main" style="position:relative;">
                                            <video class="w-100" controls>
                                                <source src="@Configurations.S3BaseUrl${response.Item.ShopImagesandVideos[i].MediaUrl}" type="video/mp4">
                                                <source src="@Configurations.S3BaseUrl${response.Item.ShopImagesandVideos[i].MediaUrl}" type="video/ogg">
                                                Your browser does not support the video tag.
                                            </video>
                                    </div>
                                `);
                            }
                            if (response.Item.ShopImagesandVideos[i].IsVideo == true && response.Item.ShopImagesandVideos[i].IsCoverImage == true) {
                                $("#GIFVideo_Area").append(`
                                    <div class="col-lg-12 p-2 mb-2 image-main" style="position:relative;">
                                        <img class="w-100" src="@Configurations.S3BaseUrl${response.Item.ShopImagesandVideos[i].MediaUrl}" alt="GIFVideo" />
                                    </div>
                                `);
                            }
                            if (response.Item.ShopImagesandVideos[i].IsVideo == false && response.Item.ShopImagesandVideos[i].IsCoverImage == false) {
                                $("#Images_Area").append(`
                                    <div class="col-lg-12 p-2 mb-2 image-main" style="position:relative;">
                                        <img class="w-100" src="@Configurations.S3BaseUrl${response.Item.ShopImagesandVideos[i].MediaUrl}"/>
                                    </div>
                                `);
                            }
                    }
                    } else {
                        //$("#FullLengthVideo_Area").append('Video not found');
                        //$("#GIFVideo_Area").append('GIF Video not found');
                        //$("#Images_Area").append('Image not found');
                    }*@

                      if (response.Item.FullLengthVideo != null && response.Item.FullLengthVideo != "") {
                          $("#FullLengthVideo_Area").append(`
                                    <div class="col-lg-12 p-2 mb-2 image-main" style="position:relative;">
                                            <video class="w-100" controls>
                                                <source src="@Configurations.S3BaseUrl${response.Item.FullLengthVideo}" type="video/mp4">
                                                <source src="@Configurations.S3BaseUrl${response.Item.FullLengthVideo}" type="video/ogg">
                                                Your browser does not support the video tag.
                                            </video>
                                    </div>
                                `);
                      }


                      if (response.Item.GifVideo != null && response.Item.GifVideo != "") {
                          $("#GIFVideo_Area").append(`
                                    <div class="col-lg-12 p-2 mb-2 image-main" style="position:relative;">
                                        <img class="w-100" src="@Configurations.S3BaseUrl${response.Item.GifVideo}" alt="GIFVideo" />
                                    </div>
                                `);
                      }
                      var ImageUrlArray = [];
                      if (response.Item.ImageUrl != null && response.Item.ImageUrl != "") {

                          ImageUrlArray = response.Item.ImageUrl.split(',');

                          if (ImageUrlArray.length > 0) {
                              for (i = 0; i < ImageUrlArray.length; i++) {
                                  if (ImageUrlArray[i] != null && ImageUrlArray[i] != "") {
                                      $("#Images_Area").append(`
                                        <div class="col-lg-12 p-2 mb-2 image-main" style="position:relative;">
                                            <img class="w-100" src="@Configurations.S3BaseUrl${ImageUrlArray[i]}"/>
                                        </div>
                                    `);
                                  }
                              }
                          }
                      }


                    $('#ShopDetails').modal('show');
                    $('.loader-text').hide();
                    $('#SearchButton').show();
                    $('#SearchLoading').hide();

                },
                error: function (error) {
                    $('.loader-text').hide();
                    console.log('Error', error);
                    $('#SearchButton').show();
                    $('#SearchLoading').hide();

                }
            });
        }

    </script>
}