﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;

@{
    ViewBag.Title = "Admin Users";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="content container-fluid">
    @Html.AntiForgeryToken()

    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Admin Users</li>
                </ol>
            </nav>
        </div>
    </div>

    <h3 class="fw-bold">Admin Users</h3>
    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            @*<button role="button" class="btn btn-primary btn-wide m-1" onclick="showSearchmodal();"><i class="tio-filter-outlined"></i> Filter</button>
                                <button role="button" class="btn btn-outline-secondary m-1" onclick="SearchReset(true);">Clear filters</button>*@
                        </div>
                    </div>
                    <div class="table-responsive" id="divtableAdminUsers">
                        <table class="table border rounded w-100" id="tableAdminUsers"></table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            AdminUsersDataTable.init();
            //OffersDataTable.init();
        });


        //Orders DataTable Bind
        var AdminUsersDataTable = function () {
            let initTable1 = function () {
                let table = $('#tableAdminUsers');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.GetAllAdminUsers, Controllers.AdminUsers)',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                "columns": [
                    {
                        "title": "Name", "data": "AdminUsersName",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `<p class="mb-0">${row["AdminUsersName"] == "" || row["AdminUsersName"] == null ? '-' : row["AdminUsersName"]}</p>`;
                            return htmlData;
                       Url}
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Mobile No", "data": "MobileNumber",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["MobileNumber"] == "" || row["MobileNumber"] == null ? '-' : row["MobileNumber"]}`;

                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Email Id", "data": "Email",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["Email"] == "" || row["Email"] == null ? '-' : row["Email"]}`;

                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },

                    {
                        "title": "Role", "data": "AdminTypesName",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["AdminTypesName"] == "" || row["AdminTypesName"] == null ? '-' : row["AdminTypesName"]}`;

                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Status", "data": "IsActive",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            if (row["Id"] == @ProjectSession.AdminId) {
                                if (row["IsActive"] == true) {
                                    htmlData = `<div  style="cursor:pointer;" class="badge badge-soft-info">Active</div>`;
                                }
                                else {
                                    htmlData = `<div  style="cursor:pointer;" class="badge badge-soft-danger">In-Active</div>`;
                                }
                            }
                            else {
                                if (row["IsActive"] == true) {
                                    htmlData = `<div onclick="InActiveMessage(${row["Id"]});" style="cursor:pointer;" class="badge badge-soft-info">Active</div>`;
                                }
                                else {
                                    htmlData = `<div onclick="ActiveMessage(${row["Id"]});" style="cursor:pointer;" class="badge badge-soft-danger">In-Active</div>`;
                                }
                            }

                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Action", "data": "Id",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            if (row["Id"] == @ProjectSession.AdminId) {
                                htmlData = `<button class="btn btn-outline-secondary btn-sm mr-2 disabled"><a title="Edit " ><span class="fa fa-pencil"></span></a></button>`;
                                htmlData += `<button class="btn btn-outline-secondary btn-sm mr-2 disabled"><a title="Delete " ><span class="fa fa-trash"></span></a></button>`;
                            }
                            else {
                                htmlData = `<a title="Edit " href="@Url.Action(Actions.Manage,Controllers.AdminUsers)?ri=${btoa(row["Id"])}" class="btn btn-outline-secondary btn-sm mr-2"><span class="fa fa-pencil"></span></a>`;
                                htmlData += `<a title="Delete " class="btn btn-outline-secondary btn-sm" onclick="ConfirmDelete(${row["Id"]})"><span class="fa fa-trash"></span></a>`;
                            }
                                return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                ],
                // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                        //{
                        //    text: 'Fillter',
                        //    className: 'them-primary',
                        //    action: function (e, dt, node, config) {
                        //        OpenAddNewOrderStatusPopup();
                        //    }
                        //},
                        //{
                        //    text: 'Reset',
                        //    className: 'them-btn',
                        //    action: function (e, dt, node, config) {
                        //        OpenAddNewOrderStatusPopup();
                        //    }
                        //},
                        {
                            text: "Add Admin Users",
                            className: "them-btn btn-primary tbtn",
                            action: function (e, dt, node, config) {
                                window.location.href = "@Url.Action(Actions.Manage,Controllers.AdminUsers)";
                            }
                        },
                        //{
                        //    "extend": 'csv',
                        //    className: 'them-btn btn-info tbtn1',
                        //    "action": newexportaction
                        //},

                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500] // change per page values here
                    ],
                    // set the initial value
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#tableAdminUsers")) {
                        $('#tableAdminUsers').dataTable().fnDestroy();
                        $('#divtableAdminUsers').html('<table class="table border rounded w-100" id="tableAdminUsers"></table>');
                    }
                    initTable1();
                }
            };
        }();

        @*var OffersDataTable = function () {
            let initTable1 = function () {
                let table = $('#tableOffers');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.GetAllOffers, Controllers.Banner)',
                        type: "post",
                        data: BuildSearchCriteria(),
                    },
                "columns": [
                    {
                        "title": "Shop Id", "data": "ShopId",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["ShopId"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Shop Name", "data": "ShopName",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["ShopName"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Offer Text", "data": "OfferText",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["OfferText"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Start Date", "data": "StartDate",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["StartDateStr"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "End Date", "data": "EndDate",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["EndDateStr"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                    {
                        "title": "Action", "data": "IsActive",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData += `<div style="cursor:pointer;" class="badge badge-soft-info">Approve</div>`;
                            htmlData += `<div style="cursor:pointer;" class="badge badge-soft-danger">Reject</div>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "10%"
                    },
                ],

                    responsive: true,

                    "lengthMenu": [
                        [10, 50, 100, 500],
                        [10, 50, 100, 500] // change per page values here
                    ],
                    // set the initial value
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#tableOffers")) {
                        $('#tableOffers').dataTable().fnDestroy();
                        $('#divtableOffers').html('<table class="table border rounded w-100" id="tableOffers"></table>');
                    }
                    initTable1();
                }
            };
        }();*@

        function ActiveMessage(id) {
            let confirmBox = confirm("Are You Sure You Want To Active This Admin Users ?");
            if (confirmBox) {
                UpdateStatus(id);
            }
        }
        function InActiveMessage(id) {
            let confirmBox = confirm("Are You Sure You Want To In-Active This Admin Users ?");
            if (confirmBox) {
                UpdateStatus(id);
            }
        }
           function UpdateStatus(id)
           {
               id = parseInt(id);
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.UpdateStatusAdminUsers, Controllers.AdminUsers)',
                data: { Id: id },
                    dataType: 'json',
                    async: false,
                    success: function (response) {
                        toastr["success"](response.Message);
                        AdminUsersDataTable.init();
                    },
                    error: function (error) {
                        toastr["error"]("Something Went wrong");
                    }
                });
        }
        function ConfirmDelete(id)
        {
            id = parseInt(id);
            let confirmBox = confirm("Are You Sure You want to Delete this Admin Users ?");
            if (confirmBox) {
                DeleteAdminUsers(id);
            }
        }
        function DeleteAdminUsers(id)
        {
            $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.DeleteAdminUsers, Controllers.AdminUsers)',
                data: { Id: id },
                    dataType: 'json',
                    async: false,
                success: function (response) {
                    AdminUsersDataTable.init();
                    toastr["success"](response.Message);
                    },
                    error: function (error) {
                        toastr["error"]("Something Went Wrong");
                    }
                });
        }

        //Data fillter function
        function BuildSearchCriteria() {
            try {
                var param = {};

                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

    </script>
}
