﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;

@{
    if (ViewBag.Id > 0)
    {
        ViewBag.Title = "Edit Admin Users";

    }
    else
    {
        ViewBag.Title = "Create Admin Users";
    }
}

<div class="content container-fluid">
    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index, Controllers.AdminUsers)" style="color: #0596F8;">Admin Users</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
            <h3 class="fw-bold">@ViewBag.Title</h3>
        </div>

    </div>


    <div class="row">
        <div class="col-12">

            <div class="card-body p-0">
                <form id="frmAdminUsers" name="frmAdminUsers" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-12">
                            <label>First Name</label>
                            <input type="hidden" id="AdminUsersId" name="AdminUsersId" value="@ViewBag.Id" />
                            <input type="text" id="FirstName" name="FirstName" class="form-control" placeholder="Please enter first name" />
                        </div>

                        <div class="col-12">
                            <label>Last Name</label>
                            <input type="text" id="LastName" name="LastName" class="form-control" placeholder="Please enter last name" />
                        </div>
                        
                        <div class="col-12">
                                <label for="DOB">Date Of Birth</label>
                                <input type="date" class="form-control" placeholder="Please enter dob" id="DOB" name="DOB" max="<?= date('Y-m-d'); ?>" />
                            </div>

                        <div class="col-12">
                            <label>Mobile Number</label>
                            <input type="text" id="MobileNumber" name="MobileNumber" class="form-control" placeholder="Please enter mobile number" />
                        </div>
                        <div class="col-12">
                            <label>Email</label>
                            <input type="email" id="Email" name="Email" class="form-control" placeholder="Please enter email" />
                        </div>
                        <div class="col-12">
                            <label>Password</label>
                            <input type="password" id="Password" name="Password" class="form-control" placeholder="Please enter password" />
                        </div>
                        <div class="col-12">
                            <label>Status</label>
                            <select id="IsActive" name="IsActive" class="form-control">
                                <option value="true">Active</option>
                                <option value="false">InActive</option>
                            </select>
                        </div>
                        <div class="col-12">
                                <label for="AdminTypes">Admin Users Type</label>
                                @Html.Raw(Html.DropDownList("AdminTypesId", (IEnumerable<SelectListItem>)ViewBag.MasterAdminTypeListDrp, "Select Admin Type", new { @Id = "AdminTypesId", @class = "form-control" }))

                            </div>
                        <div class="col-12">
                            <label>User Image</label>
                            @{ if (ViewBag.Id > 0)
                                {
                                    <br /><img src="" id="UserImages" height="50px" class="mt-2">
                                }
                            }
                            <input type="file" class="form-control" id="UserFiles" name="UserFiles" accept="image/*" />
                        </div>

                        <div class="col-12 text-right p-4">
                            <input type="submit" value="Save"  class="btn btn-primary saveBtn" />
                            <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Saving...
                            </button>
                            <a href="@Url.Action(Actions.Index,Controllers.AdminUsers)" class="btn btn-danger closeBtn">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script>

        var CurrentToday = (new Date()).toISOString();
        $(document).ready(() => {


            //var todaysDate = new Date();
            //var year = todaysDate.getFullYear();
            //var month = ("0" + (todaysDate.getMonth() + 1)).slice(-2);
            //var day = ("0" + todaysDate.getDate()).slice(-2);
            //var maxDate = (year + "-" + month + "-" + day);
            //$('#DOB').attr('min', maxDate);

        //var today = new Date();
        //var dd = String(today.getDate()).padStart(2, '0');
        //var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        //var yyyy = today.getFullYear();
        //today = dd + '/' + mm + '/' + yyyy;
        //console.log(today);

        //document.getElementById("DOB").onchange = function () {
        //    var input = document.getElementById("DOB");
        //    input.setAttribute("max", this.value);
        //    }

            

            $.validator.addMethod('filesize', function (value, element, param) {
                return this.optional(element) || (element.files[0].size <= param * 1000000)
            }, 'File size must be less than {0} MB');


            if (@ViewBag.Id > 0) {
                BindData();



                $("#frmAdminUsers").validate({
                    rules: {
                        FirstName: "required",
                        LastName: "required",                        
                        DOB: "required",
                        MobileNumber: "required",
                        Email: "required",
                        Password: "required",
                        IsActive: "required",
                        UserFiles: {
                            filesize: 2,
                        },
                       
                    },
                    messages: {
                        FirstName: {
                            required: "First Name is required",
                        },
                        LastName: {
                            required: "Last Name Type is required",
                        },
                        DOB: {
                            required: "DOB  is required",
                        },
                        MobileNumber: {
                            required: "Mobile Number is required",
                        },
                        Email: {
                            required: "Email is required",
                        },
                        Password: {
                            required: "Password is required",
                        },
                        IsActive: {
                            required: "IsActive is required",
                        }
                    },

                    errorPlacement: function (error, element) {
                        if (element.is(":radio")) {
                            error.appendTo(element.parents(".form-group"));
                        } else {
                            // This is the default behavior
                            error.insertAfter(element);
                        }
                    },
                    submitHandler: function (form) {
                        SaveAdminUsersData();
                    }
                });
            } else {

                $("#frmAdminUsers").validate({
                    rules: {
                        FirstName: "required",
                        LastName: "required",
                        DOB: "required",
                        MobileNumber: "required",
                        Email: "required",
                        Password: "required",
                        IsActive: "required",
                        UserFiles: { required: true, filesize: 2, },
                    },
                    messages: {
                        FirstName: {
                            required: "First Name is required",
                        },
                        LastName: {
                            required: "Last Name Type is required",
                        },
                        DOB: {
                            required: "DOB  is required",
                        },
                        MobileNumber: {
                            required: "Mobile Number is required",
                        },
                        Email: {
                            required: "Email is required",
                        },
                        Password: {
                            required: "Password is required",
                        },
                        IsActive: {
                            required: "IsActive is required",
                        },
                        UserFiles: {
                            required: "Please select the profile picture",
                        },
                    },

                    errorPlacement: function (error, element) {
                        if (element.is(":radio")) {
                            error.appendTo(element.parents(".form-group"));
                        } else {
                            // This is the default behavior
                            error.insertAfter(element);
                        }
                    },
                    submitHandler: function (form) {
                        SaveAdminUsersData();
                    }
                });
            }

        });

        function BindData()
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetAdminUsersData, Controllers.AdminUsers)',
                data: {Id : @ViewBag.Id},
                dataType: 'json',
                async: true,
                success: function (response) {
                    if (response.Code == 200) {
                        $("#FirstName").val(response.Item.FirstName);
                        $("#LastName").val(response.Item.LastName);
                        //$("#DOB").val(response.Item.DOB);
                        $("#DOB").val(moment(response.Item.DOB).format("YYYY-MM-DD"));
                        $("#MobileNumber").val(response.Item.MobileNumber);
                        $("#Email").val(response.Item.Email);
                        $("#Password").val(response.Item.Password);
                        $("#IsActive").val(response.Item.IsActive.toString());
                        $("#AdminTypesId").val(response.Item.AdminTypesId.toString());
                        $("#UserImages").attr('src', response.Item.UserUrlStr);
                        

                    } else {
                        toastr["error"](response.Message);
                    }
                },
                error: function (error) {
                    toastr["error"]("Something went wrong");
                }
            });
        }
        function SaveAdminUsersData()
        {

            $(".saveBtn").hide();
            $(".loading").show();
            $(".closeBtn").hide();

            var formdata = new FormData();
            formdata.append("Id", $("#AdminUsersId").val());
            formdata.append("FirstName", $("#FirstName").val());
            formdata.append("LastName", $("#LastName").val());
            formdata.append("DOB", $("#DOB").val());
            formdata.append("IsActive", $("#IsActive").val());
            formdata.append("MobileNumber", $("#MobileNumber").val());
            formdata.append("Email", $("#Email").val());
            formdata.append("Password", $("#Password").val());
            formdata.append("AdminTypesId", parseInt($("#AdminTypesId").val()));
            formdata.append("files", $("#UserFiles").get(0).files[0]);

            $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.SaveAdminUsersList, Controllers.AdminUsers)',
                    data: formdata,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.Code == 200) {
                            toastr["success"](response.Message);
                            window.location.href = "@Url.Action(Actions.Index,Controllers.AdminUsers)";
                            $(".saveBtn").show();
                            $(".loading").hide();
                            $(".closeBtn").show();
                        } else {
                            toastr["error"](response.Message);
                            $(".saveBtn").show();
                            $(".loading").hide();
                            $(".closeBtn").show();
                        }
                    },
                    error: function (error) {
                        toastr["error"]("Something went wrong");
                        $(".saveBtn").show();
                        $(".loading").hide();
                        $(".closeBtn").show();
                    }
                });
        }
        
    </script>
}