﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;
@using yudooapp.Entities.V1;
@model AdminType
@{
    ViewBag.Title = "Manage Admin Types";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="content container-fluid">
   

    <div class="row align-items-center justify-content-between mb-4">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Admin Types</li>
                </ol>
            </nav>
        </div>
    </div>

    <h3 class="fw-bold">Admin Types</h3>
   
    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    <div class="row justify-content-end mb-3">
                        <div class="col-auto">
                            <button role="button" class="btn btn-primary btn-wide m-1" onclick="CreateAdminTypeDetails();">Create New type</button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="AdminType" class="table border rounded display nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Is Active</th>
                                    <th>CreatedDate</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int Count = 1;
                                }

                                @for (int i = 0; i < ViewBag.AdminType.Count; i++)
                                {
                                    <tr>
                                        <td>@Count</td>
                                        <td>@ViewBag.AdminType[i].Name</td>
                                        <td>
                                            @if (@ViewBag.AdminType[i].IsActive == true)
                                            {
                                                <div style="cursor:pointer;" onclick="CircularsReportsInActive(@ViewBag.AdminType[i].Id);" class="badge badge-soft-info">Active</div>
                                            }
                                            else if (@ViewBag.AdminType[i].IsActive == false)
                                            {
                                                <div style="cursor:pointer;" onclick="CircularsReportsActive(@ViewBag.AdminType[i].Id);" class="badge badge-soft-danger">In Active</div>
                                            }
                                        </td>
                                        <td>@ViewBag.AdminType[i].CreatedDateStr</td>
                                        <td>
                                            <a title="Edit Banner" onclick="AdminTypeEdit(@ViewBag.AdminType[i].Id)" class="btn btn-outline-secondary btn-sm mr-2"><span class="fa fa-pencil"></span></a>
                                            <a title="Delete Banner" class="btn btn-outline-secondary btn-sm" onclick="ConfirmSwalDelete(@ViewBag.AdminType[i].Id)"><span class="fa fa-trash"></span></a>
                                        </td>
                                    </tr>

                                    Count = Count + 1;

                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="CreateAdminType" tabindex="-1" aria-labelledby="CreateAdminTypeLabel" style="display: none; padding-right: 17px;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-md-down modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-gray-50">
                <h5 class="modal-title" id="ShopAdvanceFillterLabel">Admin Type Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            @using (Html.BeginForm(Actions.CreateAdminType, Controllers.AdminTypes, new { Area = "" }, FormMethod.Post, new { id = "frmEvent", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @Html.HiddenFor(model => model.Id)

                <div class="modal-body">
                    <div class="fillter-div mb-4">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                <div class="form-group mb-4">
                                    <label for="planName">Admin Type</label>
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Enter a admin type" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="savebtn">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('#AdminType').DataTable({
            responsive: true
        });

        if ("@ViewBag.openPopupSuc" != "") {
            toastr["success"]("@ViewBag.openPopupSuc");
        } else if ("@ViewBag.openPopupEror" != "") {
            $('#CreateAdminType').modal('show');
            toastr["error"]("@ViewBag.openPopupEror")
            
        }


        function CreateAdminTypeDetails() {
            $('#Name').val("");
            $('#Id').val(0);
            $('#CreateAdminType').modal('show');
        }

        function CircularsReportsActive(Id) {
            if (confirm('Are you sure you want to active this record?')) {
                CircularsReportsActiveInActive(Id);
            } else {
                // Do nothing!
            }
        }
        function CircularsReportsInActive(Id) {
            if (confirm('Are you sure you want to in active this record?')) {
                CircularsReportsActiveInActive(Id);
            } else {
                // Do nothing!
            }
        }

        function CircularsReportsActiveInActive(id) {
            
            $.ajax({
                url: '@Url.Action(Actions.AdminTypeActiveInActive, Controllers.AdminTypes, new { area = "" })',
                data: {
                    Id: id
                },
                type: 'GET',
                datatype: 'json',
                success: function (data) {
                    window.location.reload();
                },
                error: function () { }
            });
        }

        //Delete all function
        function ConfirmSwalDelete(Id) {
            if (confirm('Are you sure you want to in delete this record?')) {
                DeleteAdminType(Id);
            } else {
                // Do nothing!
            }
        }

        function DeleteAdminType(id) {
            
            $.ajax({
                url: '@Url.Action(Actions.DeletedAdminType, Controllers.AdminTypes, new { area = "" })',
                data: {
                    Id: id
                },
                type: 'GET',
                datatype: 'json',
                success: function (data) {
                    window.location.reload();
                },
                error: function () { }
            });
        }

        //edit admin type
        function AdminTypeEdit(Id) {
            
            $.ajax({
                url: '@Url.Action(Actions.AdminTypeGetData, Controllers.AdminTypes, new { area = "" })',
                data: {
                    Id: Id
                },
                type: 'GET',
                datatype: 'json',
                success: function (data) {
                    $('#Name').val(data.Item.Name);
                    $('#Id').val(data.Item.Id);
                    $('#CreateAdminType').modal('show');
                },
                error: function () { 

                }
            });
        }

    </script>
}
