﻿@using yudooapp.Common;
@using yudooappAdmin.Pages;
@using yudooappAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage AmountBifurcation";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="content container-fluid">


    <div class="row align-items-center justify-content-between mb-2">
        <div class="col-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home)" style="color: #0596F8;">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Amount Bifurcation </li>
                </ol>
            </nav>
        </div>

        @*<div class="col-auto">
                <button class="btn btn-primary" data-target="#addNewPage" data-toggle="modal" role="button" onclick="AddPageCode();"><i class="tio-add"></i> Add new Page</button>
            </div>*@

    </div>

    <h3 class="fw-bold">Amount Bifurcation</h3>
    <div class="row">
        <div class="col-12">
            <div class="card table-responsive">
                <div class="card-body">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button role="button" style="background-color=" #5cb85c" class="btn btn-success btn-wide m-1" onclick="PayModal();"><i class="fa fa-credit-card"></i> Pay</button>
                            <button role="button" class="btn btn-primary btn-wide m-1" onclick="UsersFeedbackFillter();"><i class="tio-filter-outlined"></i> Filter</button>
                            <button role="button" class="btn btn-outline-secondary m-1" onclick="SearchReset(true);">Clear filters</button>
                        </div>
                    </div>
                    <div class="table-responsive mt-3">
                        <table class="table border rounded w-100">
                            <thead>
                                <tr>
                                    <th scope="col" style="padding-left: 12px !important;"><input type='checkbox' id='CheckUncheckAll'/></th>
                                    <th scope="col">Order Id</th>
                                    <th scope="col">User Details</th>
                                    <th scope="col">Shop Details</th>
                                    <th scope="col">Order Date</th>
                                    <th scope="col">Order Amount</th>
                                    <th scope="col">Amount Bifurcation</th>
                                </tr>
                            </thead>
                            <tbody id="UserAmountDataTable">
                                
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="UsersFeedbackFillter" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="title" id="defaultModalLabel">Users Feedback Filters</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <label>Order Id</label>
                            <div class="form-group">
                                <input type="number" class="form-control" name="OrderId" id="OrderId">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label>Order From Date</label>
                            <div class="form-group">
                                <input type="date" class="form-control" name="FromDate" id="FromDate">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label>Order To Date</label>
                            <div class="form-group">
                                <input type="date" class="form-control" name="ToDate" id="ToDate">
                            </div>
                        </div>
                        @*<div class="col-sm-12">
                            <label for="planName">Type</label>
                            <select class="form-control mb-4" id="type">
                                <option value="">Any</option>
                                <option value="Product(s) Price (Seller Charges Inclusive, Logistics Exclusive)">Product(s) Price (Seller Charges Inclusive, Logistics Exclusive)</option>
                                <option value="Shipping Charge from API (GST Inclusive)">Shipping Charge from API (GST Inclusive)</option>
                                <option value="COD Charge from API (GST Inclusive)">COD Charge from API (GST Inclusive)</option>
                                <option value="Total Invoice Value (GST Inclusive)">Total Invoice Value (GST Inclusive)</option>
                                <option value="Virgit Service Charge (GST Inclusive)">Virgit Service Charge (GST Inclusive)</option>
                                <option value="GST TCS 1% (Under Seller GST No)">GST TCS 1% (Under Seller GST No)</option>
                                <option value="IT TDS 1% (Under Seller PAN)">IT TDS 1% (Under Seller PAN)</option>
                                <option value="Seller Component">Seller Component</option>
                                <option value="GST Component on Charges">GST Component on Charges</option>
                                <option value="Created Successfully">Created Successfully</option>
                            </select>
                        </div>
                        <div class="col-sm-12" ">
                            <label for="planName">PAID STATUS</label>
                            <select class="form-control mb-4" id="ispaid">
                                <option value="2">All</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>*@

                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnSearch" type="button" class="btn btn-primary saveBtn" onclick="SearchReset(false)">Search</button>
                    <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Searching...
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-secondary closeBtn">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="PayModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form id="frmPay" name="frmPay" method="post" enctype="multipart/form-data">

                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="title" id="defaultModalLabel">Pay</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <label>Payment Date</label>
                                <div class="form-group">
                                    <input type="date" class="form-control" name="PaymentDate" id="PaymentDate">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label>Note</label>
                                <div class="form-group">
                                    <textarea class="form-control" name="Note" id="Note" rows="4"></textarea>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" id="addNewproducttypebtn" class="btn btn-primary saveBtn" value="Save" />
                        <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Searching...
                        </button>
                        <button type="button" data-dismiss="modal" class="btn btn-secondary closeBtn" onclick="EmptyValue();">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


@section Scripts{
    <script>
        $(document).ready(function () {

            $('#PaymentDate').val("");
            $('#Note').val("");

            $('#FromDate').val("");
            $('#ToDate').val("");
            $('#type').val("");
            $('#ispaid').val(2);
            $('#OrderId').val("");

            UserOrderAmount();
            //ActiveOfferDataTable.init();

            document.getElementById("FromDate").onchange = function () {
                document.getElementById("ToDate").setAttribute("min", this.value);
                if ($("#ToDate").val() < $("#FromDate").val()) {
                    $("#ToDate").val('');
                }
            }

            $("#frmPay").validate({
                rules: {
                    PaymentDate: "required",
                    Note: "required",
                },
                messages: {
                    PaymentDate: {
                        required: "Please Select Payment Date",
                    },
                    Note: {
                        required: "Please Enter Note",
                    },

                },

                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents(".form-group"));
                    } else {
                        // This is the default behavior
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    EditPageCode();
                }
            });
        });

        $('#CheckUncheckAll').click(function () {
            $('.Paycheckbox').prop('checked', this.checked);
        });

        function PaycheckboxCng() {
            var check = ($('.Paycheckbox').filter(":checked").length == $('.Paycheckbox').length);
            $('#CheckUncheckAll').prop("checked", check);
        }

        //Data fillter function
        function SearchCriteria() {
            try {

                var param = {};
                param["FromDate"] = $('#FromDate').val();
                param["ToDate"] = $('#ToDate').val();
                param["Type"] = $('#type').val();
                param["ispaid"] = $('#ispaid').val();
                param["OrderId"] = $('#OrderId').val();
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function UsersFeedbackFillter() {
            $('#UsersFeedbackFillter').modal('show');
        }

        function PayModal() {
            var $alertas = $('#frmPay');
            $alertas.validate().resetForm();
            $alertas.find('.error').removeClass('error');
            $('#PayModal').modal('show');
        }

        function EmptyValue() {
            $('#PaymentDate').val("");
            $('#Note').val("");
        }

        //Fillter date reset function

        function SearchReset(isReset) {

            $(".saveBtn").hide();
            $(".loading").show();
            $(".closeBtn").hide();

            if (isReset == true) {
                $('#FromDate').val("");
                $('#ToDate').val("");
                $('#type').val("");
                $('#ispaid').val(2);
                $('#OrderId').val("");
            }

            UserOrderAmount();
            $('#UsersFeedbackFillter').modal('hide');

            $(".saveBtn").show();
            $(".loading").hide();
            $(".closeBtn").show();
        }
        function EditPageCode() {

            $(".loading").show();
            $(".saveBtn").hide();
            $(".closeBtn").hide();

            var sel = $('input:checked').map(function (i, e) { return e.value }).toArray();
            $('#PayModal').modal('hide');

            var ObjectAddDevice = {
                Ids: sel.toString(),
                Note: $("#Note").val(),
                PaymentDate: $("#PaymentDate").val()
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.PayAdd, Controllers.AmountBifurcation)',
                data: ObjectAddDevice,
                dataType: 'json',
                success: function (response) {
                    if (response.Code == 200) {
                        toastr["success"](response.Message);
                        $(':checkbox').prop('checked', false).removeAttr('checked');
                        $('#PaymentDate').val("");
                        $('#Note').val("");
                        $(".loading").hide();
                        $(".closeBtn").show();
                        $(".saveBtn").show();
                        //ActiveOfferDataTable.init();
                        UserOrderAmount();
                        $('#PayModal').modal('hide');
                    } else {
                        toastr["error"](response.Message);
                    }
                    

                },
                error: function (error) {
                    $('#PaymentDate').val("");
                    $('#Note').val("");
                    $(".loading").hide();
                    $(".closeBtn").show();
                    $(".saveBtn").show();
                }
            });
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        //normal
        function UserOrderAmount() {
            $('#UserAmountDataTable').html('');

             $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.UserOrderAmountData, Controllers.AmountBifurcation)',
                 data: ({
                     OrderId: $('#OrderId').val(),
                     FromDate: $('#FromDate').val(),
                     ToDate: $('#ToDate').val(),
                     Type: $('#type').val(),
                     ispaid: $('#ispaid').val(),
                 }),
                dataType: 'json',
                 success: function (response) {
                     var html = "";
                     if (response.Values.length > 0) {
                         for (i = 0; i < response.Values.length; i++) {
                             if (response.Values[i].AmountBifurcationString != null) {

                                 html += "<tr><td><input type='checkbox' value=" + response.Values[i].Id + " id='Paycheckbox' onclick='PaycheckboxCng();' class='md-checkchild2checkbox Paycheckbox'/></td>";

                                 html += "<td><a href='@Url.Action("OrderDetails", Controllers.Orders)?orderId=" + response.Values[i].Id + "'>" + response.Values[i].Id + "</td>";

                                 html += "<td><b>User Name: </b>" + response.Values[i].UserName + "<br/>";
                                 if (response.Values[i].UserEmail != null && response.Values[i].UserEmail != '') {
                                     html += "<b>User Email: </b> <a class='c-text-primary' href='mailto:" + response.Values[i].UserEmail + "'>" + response.Values[i].UserEmail + "</a><br/>";
                                 }
                                 if (response.Values[i].UserMobileNumber != null && response.Values[i].UserMobileNumber != '') {
                                     html += "<b>User Mobile Number: </b> <a class='c-text-primary' href='tel:" + response.Values[i].UserMobileNumber + "'>" + response.Values[i].UserMobileNumber + "</a><br/>";
                                 }
                                 html += "</td>";

                                 html += "<td>";
                                 if (response.Values[i].ShopName != null && response.Values[i].ShopName != '') {
                                     html += "<b>Shop Name:</b> " + response.Values[i].ShopName + " <br/> ";
                                 }
                                 if (response.Values[i].ShopOwnerName != null && response.Values[i].ShopOwnerName != '') {
                                     html += "<b>ShopOwner Name:</b> " + response.Values[i].ShopOwnerName + "<br/>";
                                 }
                                 if (response.Values[i].ShopMobileNumber != null && response.Values[i].ShopMobileNumber != '') {
                                     html += "<b>Shop Mobile Number: </b> <a class='c-text-primary' href='tel:" + response.Values[i].ShopMobileNumber + "'>" + response.Values[i].ShopMobileNumber + "</a><br/>";
                                 }
                                 if (response.Values[i].GstNumber != null && response.Values[i].GstNumber != '') {
                                     html += "<b>GstNumber: </b>" + response.Values[i].GstNumber + "<br/>";
                                 }
                                 if (response.Values[i].PersonalPanNumber != null && response.Values[i].PersonalPanNumber != '') {
                                     html += "<b>PersonalPanNumber: </b>" + response.Values[i].PersonalPanNumber + "<br/>";
                                 }
                                 if (response.Values[i].CompanyPanNumber != null && response.Values[i].CompanyPanNumber != '') {
                                     html += "<b>CompanyPanNumber: </b>" + response.Values[i].CompanyPanNumber + "<br/>";
                                 }
                                 html += "</td>";

                                 html += "<td>" + response.Values[i].CreatedDateStr + "</td>";
                                 html += "<td>" + response.Values[i].AmountPaid + "</td>";
                                 html += "<td>" + response.Values[i].AmountBifurcationStringStr + "</td></tr>";
                             }
                         }
                     } else {
                         html += "<td colspan='6'><p class='mt-4 text-center'><b>No Record Found</b></p></td>"
                     }

                     $('#UserAmountDataTable').html(html);
                },
                 error: function (error) {
                }
            });
        }

    </script>
}
